<div class="elearingnewui project_management">
  <div class="toolbar-header-main"></div>
  <div class="tab-content">
    <div
      role="tabpanel"
      class="tab-pane fade show active"
      id="first"
      *ngIf="mainTab === 'gamearena'"
    >
      <!-- For Language -->
      <!-- <nav class="headerbreadcrumb">
    <ul class="breadcrumb" role="tablist">
        <li role="presentation " class="breadcrumb-item active" data-bs-target="#Introduction"
            aria-controls="Introduction" role="tab" data-bs-toggle="tab" aria-selected="true"
            [ngClass]="{ 'active':activeTab==='introduction'}" (click)="search('introduction')">
            <div><span class="octicon octicon-diff-added"></span>{{headingarray[0]}}</div>
        </li>

        <li role="presentation" class="breadcrumb-item" data-bs-target="#Market" aria-controls="market"
            role="tab" data-bs-toggle="tab" aria-selected="false"
            [ngClass]="{ 'active':activeTab==='market'}" (click)="search('market')">
            <div><span class="octicon octicon-diff-added"></span>{{headingarray[1]}}</div>
        </li>

        <li role="presentation" class="breadcrumb-item" data-bs-target="#Information"
            aria-controls="information" role="tab" data-bs-toggle="tab" aria-selected="false"
            (click)="search('information')" [ngClass]="{ 'active':activeTab==='information'}">
            <div>
                <span class="octicon octicon-comment-discussion"></span>{{headingarray[2]}}
            </div>
        </li>

        <li role="presentation" class="breadcrumb-item" data-bs-target="#Lead" aria-controls="lead"
            role="tab" data-bs-toggle="tab" aria-selected="false" (click)="search('lead')"
            [ngClass]="{ 'active ':activeTab==='lead'}">
            <div><span class="octicon octicon-verified"></span>{{headingarray[3]}}
            </div>
        </li>

        <li role="presentation" class="breadcrumb-item" data-bs-target="#Communication"
            aria-controls="communication" role="tab" data-bs-toggle="tab" aria-selected="false"
            (click)="search('communication')" [ngClass]="{ 'active':activeTab==='communication'}">
            <div>
                <span class="octicon octicon-comment-discussion"></span>{{headingarray[4]}}
            </div>
        </li>

        <li role="presentation" class="breadcrumb-item" data-bs-target="#Process" aria-controls="process"
            role="tab" data-bs-toggle="tab" aria-selected="false" (click)="search('process')"
            [ngClass]="{ 'active ':activeTab==='process'}">
            <div><span class="octicon octicon-verified"></span>{{headingarray[5]}}</div>
        </li>

        <li role="presentation" class="breadcrumb-item" data-bs-target="#DecisionChecklist"
            aria-controls="DecisionChecklist" role="tab" data-bs-toggle="tab" aria-selected="false"
            (click)="search('decisionchecklist')" [ngClass]="{ 'active':activeTab==='decisionchecklist'}">
            <div><span class="octicon octicon-tools"></span>{{headingarray[6]}}</div>
        </li>

        <li role="presentation" class="breadcrumb-item" data-bs-target="#Report" aria-controls="report"
            role="tab" data-bs-toggle="tab" aria-selected="false" (click)="search('report')"
            [ngClass]="{ 'active':activeTab==='report'}" [ngClass]="{ 'disabled': tabDisabled }">
            <div><span class="octicon octicon-tools"></span>{{headingarray[7]}}</div>
        </li>

        <li role="presentation" class="breadcrumb-item" data-bs-target="#Feedback" aria-controls="feedback"
            role="tab" data-bs-toggle="tab" aria-selected="false" (click)="search('feedback')"
            [ngClass]="{ 'active':activeTab==='feedback'}" [ngClass]="{ 'disabled': tabDisabled }">
            <div><span class="octicon octicon-tools"></span>{{headingarray[8]}}</div>
        </li>
    </ul>
</nav> -->

      <nav class="headerbreadcrumb">
        <ul class="breadcrumb" role="tablist">
          <li
            role="presentation "
            class="breadcrumb-item active"
            data-bs-target="#Introduction"
            aria-controls="Introduction"
            role="tab"
            data-bs-toggle="tab"
            aria-selected="true"
            [ngClass]="{ active: activeTab === 'introduction' }"
            (click)="search('introduction')"
          >
            <div>
              <span class="octicon octicon-diff-added"></span>Introduction
            </div>
          </li>
          <li
            role="presentation"
            class="breadcrumb-item"
            data-bs-target="#Memo"
            aria-controls="memo"
            role="tab"
            data-bs-toggle="tab"
            aria-selected="false"
            [ngClass]="{ active: activeTab === 'memo' }"
            (click)="search('memo')"
          >
            <div><span class="octicon octicon-diff-added"></span>Memo</div>
          </li>
          <li
            role="presentation"
            class="breadcrumb-item"
            data-bs-target="#ProjectMap"
            aria-controls="projectmap"
            role="tab"
            data-bs-toggle="tab"
            aria-selected="false"
            (click)="search('projectmap')"
            [ngClass]="{ active: activeTab === 'projectmap' }"
          >
            <div>
              <span class="octicon octicon-comment-discussion"></span>Project
              Map
            </div>
          </li>
          <li
            role="presentation"
            class="breadcrumb-item"
            data-bs-target="#Planning"
            aria-controls="planning"
            role="tab"
            data-bs-toggle="tab"
            aria-selected="false"
            (click)="search('planning')"
            [ngClass]="{ 'active ': activeTab === 'planning' }"
            [ngClass]="{ active: activeTab === 'planning' }"
          >
            <div><span class="octicon octicon-verified"></span>Planning</div>
          </li>
          <li
            role="presentation"
            class="breadcrumb-item"
            data-bs-target="#Tracking"
            aria-controls="tracking"
            role="tab"
            data-bs-toggle="tab"
            aria-selected="false"
            (click)="search('tracking')"
            [ngClass]="{ 'active ': activeTab === 'tracking' }"
            [ngClass]="{ active: activeTab === 'tracking' }"
          >
            <div><span class="octicon octicon-tools"></span>Tracking</div>
          </li>
          <li
            role="presentation"
            class="breadcrumb-item"
            data-bs-target="#DecisionChecklist"
            aria-controls="DecisionChecklist"
            role="tab"
            data-bs-toggle="tab"
            aria-selected="false"
            (click)="search('decisionchecklist')"
            [ngClass]="{ active: activeTab === 'decisionchecklist' }"
          >
            <div>
              <span class="octicon octicon-tools"></span>Decision Checklist
            </div>
          </li>
          <li
            role="presentation"
            class="breadcrumb-item"
            data-bs-target="#Report"
            aria-controls="report"
            role="tab"
            data-bs-toggle="tab"
            aria-selected="false"
            (click)="search('report')"
            [ngClass]="{ active: activeTab === 'report' }"
            [ngClass]="{ disabled: tabDisabled }"
          >
            <div><span class="octicon octicon-tools"></span>Report</div>
          </li>
          <li
            role="presentation"
            class="breadcrumb-item"
            data-bs-target="#Feedback"
            aria-controls="feedback"
            role="tab"
            data-bs-toggle="tab"
            aria-selected="false"
            (click)="search('feedback')"
            [ngClass]="{ active: activeTab === 'feedback' }"
            [ngClass]="{ disabled: tabDisabled }"
          >
            <div><span class="octicon octicon-tools"></span>Synopsis</div>
          </li>
        </ul>
      </nav>

      <div class="tab-content">
        <div
          role="tabpanel"
          class="tab-pane fade show active"
          id="Introduction"
          [ngClass]="{ active: activeTab === 'introduction' }"
        >
          <app-projectmanagementintroduction
            *ngIf="activeTab === 'introduction'"
          ></app-projectmanagementintroduction>
        </div>

        <div
          role="tabpanel"
          class="tab-pane fade"
          id="Memo"
          [ngClass]="{ 'active show': activeTab === 'memo' }"
        >
          <app-projectmanagementmemo
            *ngIf="activeTab === 'memo'"
          ></app-projectmanagementmemo>
        </div>
        <div
          role="tabpanel"
          class="tab-pane fade"
          id="ProjectMap"
          [ngClass]="{ 'active show': activeTab === 'projectmap' }"
        >
          <app-projectmanagementprojectmap
            *ngIf="activeTab === 'projectmap'"
          ></app-projectmanagementprojectmap>
        </div>
        <div
          role="tabpanel"
          class="tab-pane fade"
          id="Planning"
          [ngClass]="{ 'active show': activeTab === 'planning' }"
        >
          <app-projectmanagementplanning
            *ngIf="activeTab === 'planning'"
          ></app-projectmanagementplanning>
        </div>
        <div
          role="tabpanel"
          class="tab-pane fade"
          id="Tracking"
          [ngClass]="{ 'active show': activeTab === 'tracking' }"
        >
          <app-projectmanagementtracking
            *ngIf="activeTab === 'tracking'"
          ></app-projectmanagementtracking>
        </div>
        <div
          role="tabpanel"
          class="tab-pane fade"
          id="DecisionChecklist"
          [ngClass]="{ active: activeTab === 'decisionchecklist' }"
        >
          <app-projectmanagementdecisionchecklist
            *ngIf="activeTab === 'decisionchecklist'"
          ></app-projectmanagementdecisionchecklist>
        </div>
        <div
          role="tabpanel"
          class="tab-pane fade"
          id="Report"
          [ngClass]="{ 'active show': activeTab === 'report' }"
        >
          <app-projectmanagementreport
            *ngIf="activeTab === 'report'"
          ></app-projectmanagementreport>
        </div>
        <div
          role="tabpanel"
          class="tab-pane fade"
          id="Feedback"
          [ngClass]="{ active: activeTab === 'feedback' }"
        >
          <app-projectmanagementsynopsis
            *ngIf="activeTab === 'feedback'"
          ></app-projectmanagementsynopsis>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade show" id="second">
      <app-reading
        *ngIf="toolbartab === 'reading'"
        [gamename]="gametitle"
      ></app-reading>
    </div>

    <div role="tabpanel" class="tab-pane fade show" id="third">
      <nav class="headerbreadcrumb">
        <ul class="breadcrumb" role="tablist">
          <li
            role="presentation "
            class="breadcrumb-item active"
            data-bs-target="#Individual"
            aria-controls="Individual"
            role="tab"
            data-bs-toggle="tab"
            aria-selected="true"
            [ngClass]="{ active: forumTab === 'individual' }"
            (click)="forum('individual')"
          >
            <div>
              <span class="octicon octicon-diff-added"></span>Individual
            </div>
          </li>
          <li
            role="presentation"
            class="breadcrumb-item"
            data-bs-target="#Course"
            aria-controls="Course"
            role="tab"
            data-bs-toggle="tab"
            aria-selected="false"
            (click)="forum('course')"
          >
            <div><span class="octicon octicon-diff-added"></span>Course</div>
          </li>
        </ul>
      </nav>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade show active" id="Individual">
          <app-forumindividual
            *ngIf="forumTab === 'individual'"
          ></app-forumindividual>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="Course">
          <app-forumcourse
            *ngIf="forumTab === 'course'"
          ></app-forumcourse>
        </div>
      </div>
    </div>

    <div
      role="tabpanel"
      class="tab-pane fade show"
      id="fourth"
      style="width: 90%; margin: 0 auto; height: 100vh; padding-top: 1.5rem"
    >
      <app-microsimleaderboardgeneral
        *ngIf="toolbartab === 'leaderboard'"
      ></app-microsimleaderboardgeneral>
    </div>
  </div>
</div>
