<div class="card p-4 primarygamepopup">
    <div>
        <span>
            <img src="assets/icons/question-mark20.png">&nbsp; &nbsp; Are you sure to change your assigned case ? 
        </span>
    </div>
   
    <div class="primarygamepopup-btn-cls pt-4 ">
        <div>
            <button class="primarygamepopup-btn-n" type="button" mat-dialog-close>No</button>
        </div>
        <div>
            <button class="primarygamepopup-btn-y" type="button" (click)="primaryselect()">Yes</button>
        </div>
    </div>
</div>