.foodrforthought {
    thead {
        text-align: center;
    }

    tbody {
        border-top: none;

        td {
            text-align: -webkit-center;
            textarea{
                resize: none;
                padding: 5px;
            }
            input {
                margin: 2rem;
                text-align: right;
            }
        }
        td:last-child{
            text-align: -webkit-center;
        }


    }
}