.bus_iness {
    .newinstructor {
        .newinstructor-card-first {
            padding: 0;
            border: 0;

            .newinstructor-card-header-first {
                padding: 0;
                background: transparent;
                font-size: 14px;
                font-weight: 500;
                border: 0;

                .tab_pane-first {
                    .nav_bar {
                        padding: 0rem 1rem;
                        background-color: lightgrey;

                        .nav_bar-li {
                            padding: 0.8rem 2rem 0.5rem 2rem;
                            border-right: 1px solid #b9b9b9b8;
                            color: #133587;
                            cursor: pointer;
                            span{
                                display: flex;
                                align-items: center;
                                .mat-icon{
                                    margin-right: 0.5rem;
                                }
                            }

                        }
                        .nav_bar-li:last-child{
                            border-right:none;
                        }

                        .nav_bar-li.active {
                            border-top: 2px solid #dd7c00;
                            background-color: #f3f3f3;
                            color:black;
                        }
                    }
                }

                .tab_pane-second {
                    .nav_bar {
                        padding:1rem 4rem 0rem 4rem;
                        background-color: #f3f3f3;

                        .nav_bar-li {
                            padding: 0.5rem 1.5rem;
                            cursor: pointer;
                        }

                        .nav_bar-li.active {
                            border-bottom: 2px solid #dd7c00;
                            // background-color: #f3f3f3;
                        }
                    }
                }
            }
        }








        .newinstructor-card {
            overflow: scroll;
            padding:0.5rem;

            .newinstructor-card-header {
                background: transparent;
                padding: 0.5rem;
                font-size: 14px;
                font-weight: 500;

                .nav_bar {
                    padding: 0.2rem 1rem;

                    .nav_bar-li {
                        padding: 0.5rem 0.8rem;
                        cursor: pointer;
                    }

                    .nav_bar-li.active {
                        border-bottom: 2px solid #dd7c00;
                        background-color: #f3f3f3;
                    }
                }
            }

            .newinstructor-card-body {
                width: 90%;
                margin: 0 auto;
               padding-top:2.5rem;
               

            }

        }
    }
}