.capital_budgeting {
  .container {
    .body-element {
      .element-first {
        justify-content: right;

        .marelegapfood {
          margin: 0rem 0rem 3rem 0rem;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
        }
      }
      // .input-img-card {
        
        // .input-no_box-drop_New {
        //   // width: 7rem;
        //   text-align: right;
        //   font-size: 19px;
        //   padding: 11px 5px;
        //   width: 10rem;
        // }
      // }

      .table-div {
        position: relative;
        height: 36rem;
        .rsl_tbl {
          .rsl_tbl-thead {
            position: sticky;
            top: 0;
            background-color: white;
            .rsl_tbl-thead-tr {
           
              .rsl_tbl-thead-th {
                font-size: 1.1rem;
                font-weight: 600;
                padding: 1rem 0.4rem;
                color: white;
                background-color: #266cc38a;
                text-align: right;
                vertical-align: middle;
                
                .head-icon {
                  display: flex;
                  align-items: center;
                  justify-content: end;
                  width: 10rem;

                  .hint-icon {
                    padding-left: 4px;
                  }
                }
              }
              .rsl_tbl-thead-th:first-child {
                text-align: left;
                .head-icon:first-child {
                  justify-content: left;
                  width: fit-content;
                }
              }
             
            }
          }

          .rsl_tbl-tbody {
            .rsl_tbl-tbody-tr {
              border: 1px solid lightgray;
              width: fit-content;

              td {
                font-size: 14px;
                font-weight: 500;
                text-align: right;
              }

              .input-no_box {
                width: 8rem;
                padding: 5px 10px;
              }
            }

            .rsl_tbl-tbody-tr td:first-child {
              text-align: center;
            }

            .rsl_tbl-tbody-tr td:last-child {
              text-align: right;
            }
          }
        }
      }
    }
  }
}
