.port_folio {
  .container {
    .body-element {
      .element-first {
        justify-content: right;

        .marpoint1st {
          margin: 0rem 0rem 3rem 0rem;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
        }
      }

      .intro_nd {
        // justify-content: space-between;
        // align-items: center;

        .intro {
          width: 50%;

          .intro-text {
            text-align: justify;
            font-size: 15px;

            .marketpage-p {
              padding-right: 2rem;
            }
          }
        }

        .table-data-inmarket {
          width: 100%;
          margin: 0px auto;
          padding: 0;
          border-radius: 5px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);

          table {

            thead {
              tr {
                th {
                  border-bottom: 4px solid blue;
                  font-size: 20px;
                  font-weight: 400;
                  padding: 10px 10px;
                  text-align: left;
                }

                td {
                  text-align: right;
                  font-weight: 600;
                  font-size: 14px;
                  background-color: #edf7f9;
                  padding: 10px 10px;
                  border-bottom: 1px solid black;
                }
              }
            }

            tbody {
              tr {
                border-bottom: 1px solid lightgray;
                padding: 10px 10px;

                td {
                  padding: 10px 10px;
                }

                td:last-child {
                  font-size: 13px;
                }

                //   th {
                //     margin: 0;
                //     font-weight: 600;
                //     border-bottom: 2px solid lightgray;
                //     font-size: 15px;
                //     padding: 10px 10px;
                //     background-color: #efefef;

                //   }
              }
            }

            tbody tr td:first-child {
              text-align: left;
            }
          }
        }
      }

      .img-col {
        // display: flex;
        // align-items: center;
        // justify-content: end;

        .img-fluid {
          width: 95%;
        }
      }
    }
  }
}