<!-- new -->
<div class="loadingscreen" *ngIf="checkloading">
    <span class="spinner-border spinner-border-sm loadingspinner" role="status" aria-hidden="true"></span>
    <p class="loadingspinnertxt">Loading... Brewing up some digital magic! </p>
</div>
<div class="elearingnewui change_management">
    <div class="container">
        <div class="body-element">
            <div class="row" class="element-first ">
                <div class="marpoint1st" (click)="openDialog()" *ngIf="foodforthought"
                    style="text-align: right;margin: 0rem 0rem 3rem 0rem;">
                    <span class="food-thought-span"><i class="bi bi-bar-chart-fill"></i>
                        <button class="food-thought-btn">Food For Thought</button></span>
                </div>
            </div>
            <div class="d-flex intro_nd">
                <div class="intro">
                    <div class="intro-text">
                        <p class="marketpage-p" [innerHTML]="contentvalue"></p>
                        <!-- <p class="marketpage-p">
                            We welcome you to address challenges arising from our recent acquisition of Eco Corporation,
                            a USD 2.1 billion real estate firm across multiple states in India. Your main task is to
                            seamlessly integrate Eco Corporation, navigating cultural and operational disparities with a
                            focus on overcoming resistance to change from employees on both sides, a challenge
                            particularly evident in our Human Resources department.<br><br>

                            To initiate the process, we recommend starting with a small group of six employees
                            representing various departments, with gathered personal data and preferences to expedite
                            analysis. Your expertise will be vital in addressing concerns expressed by employees
                            regarding job security and changes to the working environment, aiming to restore motivation
                            and performance levels.<br><br>

                            Acknowledging the complexity of the project, we appreciate your commitment to overcoming
                            challenges such as resistance to change, and cultural differences, and ensuring business
                            continuity during integration. Your understanding of employees, their motivators, and
                            working styles will be pivotal for a successful integration.

                        </p> -->
                    </div>
                </div>
                <div class="text-center">
                    <div>
                        <img src="assets/images/changemanagementnew/marketmemo.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>