<!-- new design........... -->
<div class="elearingnewui">
    <div class="container-fluid case-management-body">
        <div class="table-responsive mb-3 mt-3" >
            <table class=" table case-management-table" >
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="12">Jayanagar - Bengaluru University</th>

                    </tr>
                    <!-- </thead> -->
                <tbody >
                    <!-- <tr>
                            <th class="second-head"  colspan="12">Jayanagar - Bengaluru University</th>

                        </tr> -->
                    <tr >
                        <td>Total Population</td>
                        <td *ngFor="let demanddata of res.j6; let i = index">
                            <input [value]="res.j6[i]" [disabled]="defaultcase=='yes'" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeDemandValue('j6',i,inputElement.value)">
                        </td>

                    </tr>
                    <tr>
                        <td>Tea Drinker, %</td>
                        <td *ngFor="let demanddata of res.j7; let i = index">
                            <input [value]="res.j7[i]*100" [disabled]="defaultcase=='yes'" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeDemandValue('j7',i,inputElement.value)">
                        </td>

                    </tr>
                    <tr>
                        <td>Number of Cups a day</td>
                        <td *ngFor="let demanddata of res.j9; let i = index">
                            <input [value]="res.j9[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeDemandValue('j9',i,inputElement.value)">
                        </td>

                    </tr>

                    <tr>
                        <td>Competition</td>
                        <td *ngFor="let demanddata of res.j11; let i = index">
                            <input [value]="res.j11[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeDemandValue('j11',i,inputElement.value)">
                        </td>

                    </tr>

                    <tr>
                        <td>Days</td>
                        <td *ngFor="let demanddata of res.j13; let i = index">
                            <input [value]="res.j13[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeDemandValue('j13',i,inputElement.value)">
                        </td>

                    </tr>
                    <tr>
                        <th class="second-head" colspan="12">Whitefield - ITPL Corporate Park</th>
                    </tr>
                    <tr>
                        <td>Total Population</td>
                        <td *ngFor="let demanddata of res.k6; let i = index">
                            <input [value]="res.k6[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeDemandValue('k6',i,inputElement.value)">
                        </td>

                    </tr>
                    <tr>
                        <td>Tea Drinker, %</td>
                        <td *ngFor="let demanddata of res.k7; let i = index">
                            <input [value]="res.k7[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeDemandValue('k7',i,inputElement.value)">
                        </td>

                    </tr>
                    <tr>
                        <td>Number of Cups a day</td>
                        <td *ngFor="let demanddata of res.k9; let i = index">
                            <input [value]="res.k9[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeDemandValue('k9',i,inputElement.value)">
                        </td>

                    </tr>

                    <tr>
                        <td>Competition</td>
                        <td *ngFor="let demanddata of res.k11; let i = index">
                            <input [value]="res.k11[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeDemandValue('k11',i,inputElement.value)">
                        </td>

                    </tr>

                    <tr>
                        <td>Days</td>
                        <td *ngFor="let demanddata of res.k13; let i = index">
                            <input [value]="res.k13[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeDemandValue('k13',i,inputElement.value)">
                        </td>

                    </tr>
                </tbody>

            </table>
            <table class="table page-name">
                <thead>
                    <tr>
                        <th colspan="13">
                            <h2>Graph</h2>
                        </th>
                    </tr>
                </thead>
            </table>
            <table class=" table case-management-table">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="12">Jayanagar - Bengaluru University</th>
                    </tr>
                    <tr>
                        <td>January</td>
                        <td *ngFor="let demanddata of res.j22; let i = index">
                            <input [value]="res.j22[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeDemandValue('j22',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>February</td>
                        <td *ngFor="let demanddata of res.j23; let i = index">
                            <input [value]="res.j23[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeDemandValue('j23',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>March</td>
                        <td *ngFor="let demanddata of res.j24; let i = index">
                            <input [value]="res.j24[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeDemandValue('j24',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>April</td>
                        <td *ngFor="let demanddata of res.j25; let i = index">
                            <input [value]="res.j25[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeDemandValue('j25',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>May</td>
                        <td *ngFor="let demanddata of res.j26; let i = index">
                            <input [value]="res.j26[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeDemandValue('j26',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>June</td>
                        <td *ngFor="let demanddata of res.j27; let i = index">
                            <input [value]="res.j27[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeDemandValue('j27',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>July</td>
                        <td *ngFor="let demanddata of res.j28; let i = index">
                            <input [value]="res.j28[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeDemandValue('j28',i,inputElement.value)">
                        </td>
                    </tr><tr>
                        <td>August</td>
                        <td *ngFor="let demanddata of res.j29; let i = index">
                            <input [value]="res.j29[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeDemandValue('j29',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>September</td>
                        <td *ngFor="let demanddata of res.j30; let i = index">
                            <input [value]="res.j30[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeDemandValue('j30',i,inputElement.value)">
                        </td>
                    </tr><tr>
                        <td>October</td>
                        <td *ngFor="let demanddata of res.j31; let i = index">
                            <input [value]="res.j31[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeDemandValue('j31',i,inputElement.value)">
                        </td>
                    </tr><tr>
                        <td>November</td>
                        <td *ngFor="let demanddata of res.j32; let i = index">
                            <input [value]="res.j32[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeDemandValue('j32',i,inputElement.value)">
                        </td>
                    </tr><tr>
                        <td>December</td>
                        <td *ngFor="let demanddata of res.j33; let i = index">
                            <input [value]="res.j33[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeDemandValue('j33',i,inputElement.value)">
                        </td>
                    </tr>
                    <!-- <tr *ngFor="let name of months">
                        <td>{{name}}</td>
                        <td *ngFor="let i of getlist(2)">
                            <input type="number" value=""/>
                        </td>
                    </tr> -->
                    <tr>
                        <th class="second-head" colspan="12">Whitefield - ITPL Corporate Park</th>
                    </tr>
                    <!-- <tr *ngFor="let name of months">
                        <td>{{name}}</td>
                        <td *ngFor="let i of getlist(11)">
                            <input type="number" value="" />
                        </td>
                    </tr> -->
                    <tr>
                        <td>January</td>
                        <td *ngFor="let demanddata of res.k22; let i = index">
                            <input [value]="res.k22[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeDemandValue('k22',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>February</td>
                        <td *ngFor="let demanddata of res.k23; let i = index">
                            <input [value]="res.k23[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeDemandValue('k23',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>March</td>
                        <td *ngFor="let demanddata of res.k24; let i = index">
                            <input [value]="res.k24[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeDemandValue('k24',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>April</td>
                        <td *ngFor="let demanddata of res.k25; let i = index">
                            <input [value]="res.k25[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeDemandValue('k25',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>May</td>
                        <td *ngFor="let demanddata of res.k26; let i = index">
                            <input [value]="res.k26[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeDemandValue('k26',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>June</td>
                        <td *ngFor="let demanddata of res.k27; let i = index">
                            <input [value]="res.k27[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeDemandValue('k27',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>July</td>
                        <td *ngFor="let demanddata of res.k28; let i = index">
                            <input [value]="res.k28[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeDemandValue('k28',i,inputElement.value)">
                        </td>
                    </tr><tr>
                        <td>August</td>
                        <td *ngFor="let demanddata of res.k29; let i = index">
                            <input [value]="res.k29[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeDemandValue('k29',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>September</td>
                        <td *ngFor="let demanddata of res.k30; let i = index">
                            <input [value]="res.k30[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeDemandValue('k30',i,inputElement.value)">
                        </td>
                    </tr><tr>
                        <td>October</td>
                        <td *ngFor="let demanddata of res.k31; let i = index">
                            <input [value]="res.k31[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeDemandValue('k31',i,inputElement.value)">
                        </td>
                    </tr><tr>
                        <td>November</td>
                        <td *ngFor="let demanddata of res.k32; let i = index">
                            <input [value]="res.k32[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeDemandValue('k32',i,inputElement.value)">
                        </td>
                    </tr><tr>
                        <td>December</td>
                        <td *ngFor="let demanddata of res.k33; let i = index">
                            <input [value]="res.k33[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeDemandValue('k33',i,inputElement.value)">
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>


    </div>
</div>