<div class="elearingnewui promotion_sigment">
    <div class="toolbar-header-main">
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade show active" id="first" *ngIf="mainTab==='gamearena'">
            <nav class="headerbreadcrumb">
                <ul class="breadcrumb" role="tablist">
                    <li role="presentation " class="breadcrumb-item active" data-bs-target="#Introduction"
                        aria-controls="Introduction" role="tab" data-bs-toggle="tab" aria-selected="true"
                        [ngClass]="{ 'active':activeTab==='introduction'}" (click)="search('introduction')">
                        <div><span class="octicon octicon-diff-added"></span>Introduction</div>
                    </li>
                    <li role="presentation" class="breadcrumb-item" data-bs-target="#Market" aria-controls="market"
                        role="tab" data-bs-toggle="tab" aria-selected="false"
                        [ngClass]="{ 'active':activeTab==='market'}" (click)="search('market')">
                        <div><span class="octicon octicon-diff-added"></span>Market</div>
                    </li>
                    <li role="presentation" class="breadcrumb-item" data-bs-target="#Location" aria-controls="location"
                        role="tab" data-bs-toggle="tab" aria-selected="false" (click)="search('location')"
                        [ngClass]="{ 'active':activeTab==='location'}">
                        <div>
                            <span class="octicon octicon-comment-discussion"></span>Demand
                        </div>
                    </li>
                    <li role="presentation" class="breadcrumb-item" data-bs-target="#Demand" aria-controls="demand"
                        role="tab" data-bs-toggle="tab" aria-selected="false" (click)="search('demand')"
                        [ngClass]="{ 'active ':activeTab==='demand'}">
                        <div><span class="octicon octicon-verified"></span>Production</div>
                    </li>
                    <li role="presentation" class="breadcrumb-item" data-bs-target="#Investment"
                        aria-controls="investment" role="tab" data-bs-toggle="tab" aria-selected="false"
                        (click)="search('invesment')" [ngClass]="{ 'active ':activeTab==='invesment'}">
                        <div><span class="octicon octicon-tools"></span>Marketing</div>
                    </li>
                    <li role="presentation" class="breadcrumb-item" data-bs-target="#Marketing"
                        aria-controls="marketing" role="tab" data-bs-toggle="tab" aria-selected="false"
                        (click)="search('marketing')">
                        <div><span class="octicon octicon-tools"></span>Finance</div>
                    </li>
                    <li role="presentation" class="breadcrumb-item" data-bs-target="#DecisionChecklist"
                        aria-controls="DecisionChecklist" role="tab" data-bs-toggle="tab" aria-selected="false"
                        (click)="search('decisionchecklist')" [ngClass]="{ 'active':activeTab==='decisionchecklist'}">
                        <div><span class="octicon octicon-tools"></span>Decision Checklist</div>
                    </li>
                    <li role="presentation" class="breadcrumb-item" data-bs-target="#Report" aria-controls="report"
                        role="tab" data-bs-toggle="tab" aria-selected="false" (click)="search('report')"
                        [ngClass]="{ 'active':activeTab==='report'}" [ngClass]="{ 'disabled': tabDisabled }">
                        <div><span class="octicon octicon-tools"></span>Report</div>
                    </li>
                    <li role="presentation" class="breadcrumb-item" data-bs-target="#Feedback" aria-controls="feedback"
                        role="tab" data-bs-toggle="tab" aria-selected="false" (click)="search('feedback')"
                        [ngClass]="{ 'active':activeTab==='feedback'}" [ngClass]="{ 'disabled': tabDisabled }">
                        <div><span class="octicon octicon-tools"></span>Synopsis</div>
                    </li>

                </ul>
            </nav>


            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade show active" id="Introduction"
                    [ngClass]="{ 'active':activeTab==='introduction'}">
                    <app-valuechainintroduction *ngIf="activeTab==='introduction'"></app-valuechainintroduction>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="Market"
                    [ngClass]="{ 'active show':activeTab==='market'}">
                    <app-valuechainmarket *ngIf="activeTab==='market'"></app-valuechainmarket>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Location"
                    [ngClass]="{ 'active show':activeTab==='location'}">
                    <app-valuechaindemand *ngIf="activeTab==='location'"></app-valuechaindemand>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Demand"
                    [ngClass]="{ 'active show':activeTab==='demand'}">
                    <app-valuechainproduction *ngIf="activeTab==='demand'"></app-valuechainproduction>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Investment"
                    [ngClass]="{ 'active show':activeTab==='invesment'}">
                    <app-valuechainmarkeeting *ngIf="activeTab==='invesment'"></app-valuechainmarkeeting>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Marketing"
                    [ngClass]="{ 'active show':activeTab==='marketing'}">
                    <app-valuechainfinance *ngIf="activeTab==='marketing'"></app-valuechainfinance>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="DecisionChecklist"
                    [ngClass]="{ 'active':activeTab==='decisionchecklist'}">
                    <app-valuechaindecisionchecklist (newItemEvent)="next($event)"
                        *ngIf="activeTab==='decisionchecklist'"></app-valuechaindecisionchecklist>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Report"
                    [ngClass]="{ 'active show':activeTab==='report'}">
                    <app-valuechainreport *ngIf="activeTab==='report'"></app-valuechainreport>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Feedback" [ngClass]="{ 'active':activeTab==='feedback'}">
                    <app-valuechainsynopsis *ngIf="activeTab==='feedback'"></app-valuechainsynopsis>
                </div>
            </div>


        </div>
        <div role="tabpanel" class="tab-pane fade show" id="second">
            <app-reading *ngIf="toolbartab==='reading'" [gamename]="gametitle"></app-reading>
        </div>

        <div role="tabpanel" class="tab-pane fade show" id="third">
            <nav class="headerbreadcrumb">
                <ul class="breadcrumb" role="tablist">
                    <li role="presentation " class="breadcrumb-item active" data-bs-target="#Individual"
                        aria-controls="Individual" role="tab" data-bs-toggle="tab" aria-selected="true"
                        [ngClass]="{ 'active':forumTab==='individual'}" (click)="forum('individual')">
                        <div><span class="octicon octicon-diff-added"></span>Individual</div>
                    </li>
                    <li role="presentation" class="breadcrumb-item" data-bs-target="#Course" aria-controls="Course"
                        role="tab" data-bs-toggle="tab" aria-selected="false" (click)="forum('course')">
                        <div><span class="octicon octicon-diff-added"></span>Course</div>
                    </li>

                </ul>
            </nav>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade show active" id="Individual">
                    <app-forumindividual
                        *ngIf="forumTab==='individual'"></app-forumindividual>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="Course">
                    <app-forumcourse *ngIf="forumTab==='course'"></app-forumcourse>
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane fade show" id="fourth"
            style="width: 90%; margin:0 auto;height:100vh;padding-top:1.5rem">
            <app-microsimleaderboardgeneral *ngIf="toolbartab==='leaderboard'"></app-microsimleaderboardgeneral>
        </div>
    </div>
</div>