.elearingnewui {
  .condition-body {
    display: flex;
    align-items: center;
    justify-content: center;
    // height: 100vh;
    width: 100%;
    padding: 2rem 3rem;

    .condition-card {
      background: #ecf3ff;
      width: 80%;
      margin: 0 auto;
      padding: 3rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      .lft {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .content-p {
        font-size: 1.1rem;
        text-align: justify;
        color: maroon;
        line-height: 1.8rem;
      }

      .con-dition {
        font-size: 12px;
      }

      .check-div {
        display: flex;
        align-items: center;
        gap: 10px;

        .checkbox-p {
          color: #f37b00;
          margin-bottom: 0;
        }

        .checkbox-p:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .oval {
        width: 350px;
        height: 350px;
        border-radius: 50%;
        text-align: center;
        font-size: 90px;
        float: left;
        shape-outside: ellipse();
        padding: 10px;
        // background-color: MediumPurple;
        background-clip: content-box;
        background-image: url("../../../assets/images/termimg.png");
        background-size: cover;
      }

      .ovaltext {
        ul {
          list-style-type: none;

          li {
            list-style-type: none;
            margin: 12px 0;
            font-size: 15px;
            font-weight: 500;
          }

          li:before {
            content: "\F26A";
            font-family: "bootstrap-icons";
          }
        }
      }
    }
  }
}

.conditionpopbody {
  h1 {
    color: #30b4cc;
    font-weight: 400;
  }

  .olstly {
    li {
      font-style: italic;
      color: #b16845;
    }
  }

  li {
    text-align: justify;
  }

  P {
    text-align: justify;
  }
}


.download_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  padding: 0.2rem 2rem;
  border-radius: 1rem;
  background: transparent;
  border: none;
  color: var(--elearingnewui-body-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: aliceblue;
  cursor: pointer;
  height: 2rem;
  width: 2rem;


  .download_btn-img {
    height: 1.5rem;

  }
}
