<div class="elearingnewui casemanagement">
    <div class="case-management-body case-management-body-marketing ">

        <div class="table-responsive mb-3 mt-3">
            <table class=" table  case-management-table">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="first-div">Budget, INR</div>
                        </td>
                       
                        <!-- <td *ngFor="let capitaldata of res.k6; let i = index">
                            <input [value]="res.k6[i]| number:'1.0-0'" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncommunicationValue('k6',i,inputElement.value)"
                                style="font-size: 12px !important;">
                        </td> -->
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td>
                                <input [value]="res.k6[index] | number:'1.0-0'" #k6Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('k6', index, k6Input.value)"
                                    style="font-size: 12px !important;">
                            </td>
                        </ng-container>
                    </tr>
                    <!-- <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td>
                                <input [value]="res.k6[index] | number:'1.0-0'" #k6Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('k6', index, k6Input.value)"
                                    style="font-size: 12px !important;">
                            </td>
                        </ng-container>
                    </tr> -->

                </tbody>
            </table>
        </div>

        <table class="table page-name">
            <thead>
                <tr>
                    <th>
                        <h2>Google & Mail - Website, Budgeting Effect</h2>
                    </th>
                </tr>
            </thead>
        </table>
        <div class=" table-responsive mb-3 mt-3">
            <table class="case-management-table case-management-table-marketing-second">
                <thead>
                    <tr>
                        <td colspan="4" *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody class="second-tbody">
                    <tr>
                        <ng-container *ngFor="let item of data; let i = index">
                            <td *ngIf="i % 4 === 0">Y , %</td>
                            <td *ngIf="i % 4 === 1">Sales Effect</td>
                            <td *ngIf="i % 4 === 2">Young & Leisure</td>
                            <td *ngIf="i % 4 === 3">High End</td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.j23[index]*100 | number:'1.0-0'" #j23Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('j23', index, j23Input.value)"></td>
                            <td><input [value]="res.k23[index]" #k23Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('k23', index, k23Input.value)"></td>
                            <td><input [value]="res.l23[index]" #l23Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('l23', index, l23Input.value)"></td>
                            <td><input [value]="res.m23[index]" #m23Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('m23', index, m23Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.j24[index]*100 | number:'1.0-0'" #j24Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('j24', index, j24Input.value)"></td>
                            <td><input [value]="res.k24[index]" #k24Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('k24', index, k24Input.value)"></td>
                            <td><input [value]="res.l24[index]" #l24Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('l24', index, l24Input.value)"></td>
                            <td><input [value]="res.m24[index]" #m24Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('m24', index, m24Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.j25[index]*100 | number:'1.0-0'" #j25Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('j25', index, j25Input.value)"></td>
                            <td><input [value]="res.k25[index]" #k25Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('k25', index, k25Input.value)"></td>
                            <td><input [value]="res.l25[index]" #l25Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('l25', index, l25Input.value)"></td>
                            <td><input [value]="res.m25[index]" #m25Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('m25', index, m25Input.value)"></td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>

        <table class="table page-name">
            <thead>
                <tr>
                    <th>
                        <h2>Facebook - Budgeting Effect</h2>
                    </th>
                </tr>
            </thead>
        </table>
        <div class=" table-responsive mb-3 mt-3">
            <table class="case-management-table case-management-table-marketing-second">
                <thead>
                    <tr>
                        <td colspan="4" *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody class="second-tbody">
                    <tr>
                        <ng-container *ngFor="let item of data; let i = index">
                            <td *ngIf="i % 4 === 0">Y , %</td>
                            <td *ngIf="i % 4 === 1">Sales Effect</td>
                            <td *ngIf="i % 4 === 2">Young & Leisure</td>
                            <td *ngIf="i % 4 === 3">High End</td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.j29[index]*100 | number:'1.0-0'" #j29Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('j29', index, j29Input.value)"></td>
                            <td><input [value]="res.k29[index]" #k29Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('k29', index, k29Input.value)"></td>
                            <td><input [value]="res.l29[index]" #l29Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('l29', index, l29Input.value)"></td>
                            <td><input [value]="res.m29[index]" #m29Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('m29', index, m29Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.j30[index]*100 | number:'1.0-0'" #j30Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('j30', index, j30Input.value)"></td>
                            <td><input [value]="res.k30[index]" #k30Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('k30', index, k30Input.value)"></td>
                            <td><input [value]="res.l30[index]" #l30Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('l30', index, l30Input.value)"></td>
                            <td><input [value]="res.m30[index]" #m30Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('m30', index, m30Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.j31[index]*100 | number:'1.0-0'" #j31Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('j31', index, j31Input.value)"></td>
                            <td><input [value]="res.k31[index]" #k31Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('k31', index, k31Input.value)"></td>
                            <td><input [value]="res.l31[index]" #l31Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('l31', index, l31Input.value)"></td>
                            <td><input [value]="res.m31[index]" #m31Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('m31', index, m31Input.value)"></td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>

        <table class="table page-name">
            <thead>
                <tr>
                    <th>
                        <h2>Instagram- Budgeting Effect</h2>
                    </th>
                </tr>
            </thead>
        </table>
        <div class=" table-responsive mb-3 mt-3">
            <table class="case-management-table case-management-table-marketing-second">
                <thead>
                    <tr>
                        <td colspan="4" *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody class="second-tbody">
                    <tr>
                        <ng-container *ngFor="let item of data; let i = index">
                            <td *ngIf="i % 4 === 0">Y , %</td>
                            <td *ngIf="i % 4 === 1">Sales Effect</td>
                            <td *ngIf="i % 4 === 2">Young & Leisure</td>
                            <td *ngIf="i % 4 === 3">High End</td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.j35[index]*100 | number:'1.0-0'" #j35Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('j35', index, j35Input.value)"></td>
                            <td><input [value]="res.k35[index]" #k35Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('k35', index, k35Input.value)"></td>
                            <td><input [value]="res.l35[index]" #l35Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('l35', index, l35Input.value)"></td>
                            <td><input [value]="res.m35[index]" #m35Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('m35', index, m35Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.j36[index]*100 | number:'1.0-0'" #j36Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('j36', index, j36Input.value)"></td>
                            <td><input [value]="res.k36[index]" #k36Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('k36', index, k36Input.value)"></td>
                            <td><input [value]="res.l36[index]" #l36Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('l36', index, l36Input.value)"></td>
                            <td><input [value]="res.m36[index]" #m36Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('m36', index, m36Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.j37[index]*100 | number:'1.0-0'" #j37Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('j37', index, j37Input.value)"></td>
                            <td><input [value]="res.k37[index]" #k37Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('k37', index, k37Input.value)"></td>
                            <td><input [value]="res.l37[index]" #l37Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('l37', index, l37Input.value)"></td>
                            <td><input [value]="res.m37[index]" #m37Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('m37', index, m37Input.value)"></td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>

        <table class="table page-name">
            <thead>
                <tr>
                    <th>
                        <h2>Twitter (X) - Budgeting Effect</h2>
                    </th>
                </tr>
            </thead>
        </table>
        <div class=" table-responsive mb-3 mt-3">
            <table class="case-management-table case-management-table-marketing-second">
                <thead>
                    <tr>
                        <td colspan="4" *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody class="second-tbody">
                    <tr>
                        <ng-container *ngFor="let item of data; let i = index">
                            <td *ngIf="i % 4 === 0">Y , %</td>
                            <td *ngIf="i % 4 === 1">Sales Effect</td>
                            <td *ngIf="i % 4 === 2">Young & Leisure</td>
                            <td *ngIf="i % 4 === 3">High End</td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.j41[index]*100 | number:'1.0-0'" #j41Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('j41', index, j41Input.value)"></td>
                            <td><input [value]="res.k41[index]" #k41Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('k41', index, k41Input.value)"></td>
                            <td><input [value]="res.l41[index]" #l41Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('l41', index, l41Input.value)"></td>
                            <td><input [value]="res.m41[index]" #m41Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('m41', index, m41Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.j42[index]*100 | number:'1.0-0'" #j42Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('j42', index, j42Input.value)"></td>
                            <td><input [value]="res.k42[index]" #k42Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('k42', index, k42Input.value)"></td>
                            <td><input [value]="res.l42[index]" #l42Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('l42', index, l42Input.value)"></td>
                            <td><input [value]="res.m42[index]" #m42Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('m42', index, m42Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.j43[index]*100 | number:'1.0-0'" #j43Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('j43', index, j43Input.value)"></td>
                            <td><input [value]="res.k43[index]" #k43Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('k43', index, k43Input.value)"></td>
                            <td><input [value]="res.l43[index]" #l43Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('l43', index, l43Input.value)"></td>
                            <td><input [value]="res.m43[index]" #m43Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('m43', index, m43Input.value)"></td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>


        <table class="table page-name">
            <thead>
                <tr>
                    <th>
                        <h2>LinkedIn - Budgeting Effect</h2>
                    </th>
                </tr>
            </thead>
        </table>
        <div class=" table-responsive mb-3 mt-3">
            <table class="case-management-table case-management-table-marketing-second">
                <thead>
                    <tr>
                        <td colspan="4" *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody class="second-tbody">
                    <tr>
                        <ng-container *ngFor="let item of data; let i = index">
                            <td *ngIf="i % 4 === 0">Y , %</td>
                            <td *ngIf="i % 4 === 1">Sales Effect</td>
                            <td *ngIf="i % 4 === 2">Young & Leisure</td>
                            <td *ngIf="i % 4 === 3">High End</td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.j47[index]*100 | number:'1.0-0'" #j47Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('j47', index, j47Input.value)"></td>
                            <td><input [value]="res.k47[index]" #k47Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('k47', index, k47Input.value)"></td>
                            <td><input [value]="res.l47[index]" #l47Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('l47', index, l47Input.value)"></td>
                            <td><input [value]="res.m47[index]" #m47Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('m47', index, m47Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.j48[index]*100 | number:'1.0-0'" #j48Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('j48', index, j48Input.value)"></td>
                            <td><input [value]="res.k48[index]" #k48Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('k48', index, k48Input.value)"></td>
                            <td><input [value]="res.l48[index]" #l48Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('l48', index, l48Input.value)"></td>
                            <td><input [value]="res.m48[index]" #m48Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('m48', index, m48Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.j49[index]*100 | number:'1.0-0'" #j49Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('j49', index, j49Input.value)"></td>
                            <td><input [value]="res.k49[index]" #k49Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('k49', index, k49Input.value)"></td>
                            <td><input [value]="res.l49[index]" #l49Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('l49', index, l49Input.value)"></td>
                            <td><input [value]="res.m49[index]" #m49Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('m49', index, m49Input.value)"></td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>



        <table class="table page-name">
            <thead>
                <tr>
                    <th>
                        <h2>YouTube - Budgeting Effect</h2>
                    </th>
                </tr>
            </thead>
        </table>
        <div class=" table-responsive mb-3 mt-3">
            <table class="case-management-table case-management-table-marketing-second">
                <thead>
                    <tr>
                        <td colspan="4" *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody class="second-tbody">
                    <tr>
                        <ng-container *ngFor="let item of data; let i = index">
                            <td *ngIf="i % 4 === 0">Y , %</td>
                            <td *ngIf="i % 4 === 1">Sales Effect</td>
                            <td *ngIf="i % 4 === 2">Young & Leisure</td>
                            <td *ngIf="i % 4 === 3">High End</td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.j53[index]*100 | number:'1.0-0'" #j53Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('j53', index, j53Input.value)"></td>
                            <td><input [value]="res.k53[index]" #k53Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('k53', index, k53Input.value)"></td>
                            <td><input [value]="res.l53[index]" #l53Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('l53', index, l53Input.value)"></td>
                            <td><input [value]="res.m53[index]" #m53Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('m53', index, m53Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.j54[index]*100 | number:'1.0-0'" #j54Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('j54', index, j54Input.value)"></td>
                            <td><input [value]="res.k54[index]" #k54Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('k54', index, k54Input.value)"></td>
                            <td><input [value]="res.l54[index]" #l54Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('l54', index, l54Input.value)"></td>
                            <td><input [value]="res.m54[index]" #m54Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('m54', index, m54Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.j55[index]*100 | number:'1.0-0'" #j55Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('j55', index, j55Input.value)"></td>
                            <td><input [value]="res.k55[index]" #k55Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('k55', index, k55Input.value)"></td>
                            <td><input [value]="res.l55[index]" #l55Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('l55', index, l55Input.value)"></td>
                            <td><input [value]="res.m55[index]" #m55Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('m55', index, m55Input.value)"></td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>

        <table class="table page-name">
            <thead>
                <tr>
                    <th>
                        <h2>Modern Trade - Budgeting Effect</h2>
                    </th>
                </tr>
            </thead>
        </table>
        <div class=" table-responsive mb-3 mt-3">
            <table class="case-management-table case-management-table-marketing-second">
                <thead>
                    <tr>
                        <td colspan="4" *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody class="second-tbody">
                    <tr>
                        <ng-container *ngFor="let item of data; let i = index">
                            <td *ngIf="i % 4 === 0">Y , %</td>
                            <td *ngIf="i % 4 === 1">Sales Effect</td>
                            <td *ngIf="i % 4 === 2">Young & Leisure</td>
                            <td *ngIf="i % 4 === 3">High End</td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.j59[index]*100 | number:'1.0-0'" #j59Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('j59', index, j59Input.value)"></td>
                            <td><input [value]="res.k59[index]" #k59Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('k59', index, k59Input.value)"></td>
                            <td><input [value]="res.l59[index]" #l59Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('l59', index, l59Input.value)"></td>
                            <td><input [value]="res.m59[index]" #m59Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('m59', index, m59Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.j60[index]*100 | number:'1.0-0'" #j60Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('j60', index, j60Input.value)"></td>
                            <td><input [value]="res.k60[index]" #k60Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('j60', index, j60Input.value)"></td>
                            <td><input [value]="res.l60[index]" #l60Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('l60', index, l60Input.value)"></td>
                            <td><input [value]="res.m60[index]" #m60Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('m60', index, m60Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.j61[index]*100 | number:'1.0-0'" #j61Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('j61', index, j61Input.value)"></td>
                            <td><input [value]="res.k61[index]" #k61Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('k61', index, k61Input.value)"></td>
                            <td><input [value]="res.l61[index]" #l61Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('l61', index, l61Input.value)"></td>
                            <td><input [value]="res.m61[index]" #m61Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('m61', index, m61Input.value)"></td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>


        <table class="table page-name">
            <thead>
                <tr>
                    <th>
                        <h2>Retailer - Budgeting Effect</h2>
                    </th>
                </tr>
            </thead>
        </table>
        <div class=" table-responsive mb-3 mt-3">
            <table class="case-management-table case-management-table-marketing-second">
                <thead>
                    <tr>
                        <td colspan="4" *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody class="second-tbody">
                    <tr>
                        <ng-container *ngFor="let item of data; let i = index">
                            <td *ngIf="i % 4 === 0">Y, %</td>
                            <td *ngIf="i % 4 === 1">Sales Effect</td>
                            <td *ngIf="i % 4 === 2">Young & Leisure</td>
                            <td *ngIf="i % 4 === 3">High End</td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.j65[index]*100 | number:'1.0-0'" #j65Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('j65', index, j65Input.value)"></td>
                            <td><input [value]="res.k65[index]" #k65Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('k65', index, k65Input.value)"></td>
                            <td><input [value]="res.l65[index]" #l65Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('l65', index, l65Input.value)"></td>
                            <td><input [value]="res.m65[index]" #m65Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('m65', index, m65Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.j66[index]*100 | number:'1.0-0'" #j66Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('j66', index, j66Input.value)"></td>
                            <td><input [value]="res.k66[index]" #k66Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('j66', index, j66Input.value)"></td>
                            <td><input [value]="res.l66[index]" #l66Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('l66', index, l66Input.value)"></td>
                            <td><input [value]="res.m66[index]" #m66Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('m66', index, m66Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.j67[index]*100 | number:'1.0-0'" #j67Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('j67', index, j67Input.value)"></td>
                            <td><input [value]="res.k67[index]" #k67Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('k67', index, k67Input.value)"></td>
                            <td><input [value]="res.l67[index]" #l67Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('l67', index, l67Input.value)"></td>
                            <td><input [value]="res.m67[index]" #m67Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writePromotioncommunicationValue('m67', index, m67Input.value)"></td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>