.mergers_aquisition {
    .container {
        .body-element {
            .inbound {
                .element-first {
                    justify-content: right;

                    .marelegapfood {
                        margin: 0rem 0rem 2rem 0rem;
                        justify-content: space-between;
                        align-items: center;
                        cursor: pointer;
                    }
                }

                .mat-icon {
                    font-size: 21px;
                }

                .marketing-card:nth-child(4) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .rsl_tbl {
                    margin-bottom:0;
                    .rsl_tbl-thead {
                        .rsl_tbl-thead-tr {
                            border: 1px solid lightgray;

                            .rsl_tbl-thead-th {
                                font-size: 1.1rem;
                                font-weight: 600;
                                padding: 1rem 0.4rem;
                                color: white;
                                background-color: #266cc38a;
                            }
                        }
                    }

                    .rsl_tbl-tbody {
                        .rsl_tbl-tbody-tr-head {
                            border: 1px solid lightgray;

                            td {
                                text-align: right;
                                font-size: 14px;
                                font-weight: 600;
                                color: #576068;
                            }
                        }

                        .rsl_tbl-tbody-tr {
                            border: 1px solid lightgray;

                            td:first-child {
                                text-align: left;
                            }

                            td {
                                text-align: right;
                                font-size: 14px;
                                font-weight: 400;
                                color: #576068;
                                vertical-align: middle;
                            }

                            input {
                                text-align: right;
                                border: 2px solid #30b4cc;
                                border-radius: 0.4rem;
                                background-color: #edf7f9;
                                font-size: 14px;
                                width: 6rem;
                                height: 2.2rem;
                                padding: 0px 3px;
                                font-weight: 500;
                            }
                        }
                    }
                }

                .fin-card {
                    .card {
                        .card-body {
                            padding-left: 0;

                            p {
                                margin-bottom: 0;
                            }
                        }
                    }
                }


                .input-img-card {
                    h3{
                        margin-bottom: 0;
                    }
                    .form-check{
                        padding-left: 0;
                        .dockinput {
                            width: 75%;
                            text-align: right;
                            padding: 0.3rem;
                            border: 2px solid #30b4cc;
                            border-radius: 6px;
                            font-size: 20px;
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 0;
                        } 
                        .input-group-text{
                            background-color: #edf7f9;
                            border: 2px solid #30b4cc;
                        }
                        .input-group-text-lst{
                            border: 2px solid #000000;
                            background-color: #fafafa;
                            padding: 0.3rem;
                            border-radius: 6px;
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;
                            display: flex;
                            align-items: center;
                        }
                    }
                    .form-check:disabled{
                        background:#fafafa
                    }
                   
                    // .wearhousecard {
                    //     padding: 1rem;
                    //     gap: 7px;
                    //     background-color: #f9f9f9;

                    //     h2 {
                    //         text-align: center;
                    //     }

                    //     .language-card {
                    //         padding-top: 1rem;
                    //         display: flex;
                    //         align-items: top;
                    //         text-align: center;


                    //         .card-body {
                    //             text-align: center;
                    //             padding: 0;
                             

                    //             h3 {
                    //                 margin-bottom: 0;
                    //             }
                    //         }

                    //         .form-check {
                    //             border: none;
                    //             background: transparent;                               
                    //         }

                           
                                                  
                    //     }
                    // }                    
                }
            }
        }
    }
}


input {
   
}