<div class="elearingnewui mergers_aquisition">
    <div class="loadingscreen" *ngIf="checkloading">
        <span class="spinner-border spinner-border-sm loadingspinner" role="status" aria-hidden="true"></span>
        <p class="loadingspinnertxt">Loading... Brewing up some digital magic! </p>
    </div>
    <div class="container">
        <div class="body-element">
            <div class="market-research">
                <div class="row" class="element-first ">
                    <div class="marelegapfood" (click)="openDialog()" *ngIf="foodforthought"
                        style="text-align: right;margin: 0rem 0rem 3rem 0rem;">
                        <span class="food-thought-span"><i class="bi bi-bar-chart-fill"></i>
                            <button class="food-thought-btn">Food For Thought</button></span>
                    </div>
                </div>

                <h1>Strategic Planning
                    <mat-icon appTippy="
                        <div class='help-tip p-2'>
                          <div style='display:flex;'>
                            <div>
                              <h4 style='color: white; margin:0 auto; font-weight: 600;'>Q.1</h4>
                            </div> &nbsp; &nbsp; &nbsp;
                            <div>
                              <p style='margin: 0 auto; color: white; font-size:13px;'>What financial information would be most useful in understanding the health of a company for a potential merger or acquisition?</p>
                            </div>
                          </div>
                            <div class='pt-1' style='display:flex;'>
                              <div>
                                <h4 style='color: white; margin:0 auto; font-weight: 600;'>Q.2</h4>
                              </div> &nbsp; &nbsp;
                              <div>
                                <p style='margin: 0 auto; color: white; font-size:13px;'>How can a careful analysis of market share, income statement, balance sheet, and ratios assist in identifying suitable targets that align with the strategic requirements outlined by the CEO?</p>
                              </div>
                            </div>
                        </div> ">
                        help_outline
                    </mat-icon>
                </h1>
                <ul class="nav market-research-nav" id="nav-tab" role="tablist">
                    <li class="nav-link active market-research-link" id="nav-Memo-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-Memo" type="button" role="tab" aria-controls="nav-Memo"
                        aria-selected="true">
                        Memo
                    </li>
                    <li class="nav-link market-research-link " id="nav-Company-Information-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-Company-Information" type="button" role="tab"
                        aria-controls="nav-Company-Information" aria-selected="true">Company Information
                    </li>
                 
                </ul>

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-Memo" role="tabpanel">
                        <div class="rounded-5  rtsidetable card ">
                            <ul class="list-group list-group-flush marketoutlooklist">
                                <li class="list-group-item" style="padding: 2rem; margin: 0 auto;">
                                    <!-- <p [innerHTML]="markettext"></p> -->
                                     <div class="row">
                                        <div class="col">
                                            <div class="card" style="border: none;">
                                                <div class="card-body p-0">
                                                    <table class="table rsl_tbl">
                                                        <div class="card-text">
                                                            <div style="text-align: justify; padding: 35px; font-size: 14px;width: 90%; margin: 0 auto;">
                                                                <span style="font-weight: 500; font-size: 16px; padding-left: 0;">To :
                                                                </span> Strategic Planning Team <br>
                    
                                                                <p style="padding-top: 2rem;margin: 0px; padding-left:0">
                                                                     <span style="font-weight: 500; color: black; padding-top: 1rem; font-size: 16px;">Subject :</span> Strategic Planning for Potential Mergers & Acquisitions</p>
                                                                <br><br>
                    
                                                                Dear Team, <br><br>
                    
                                                                Given the rapid shifts in the automobile industry and our drive to remain at
                                                                the
                                                                forefront, I believe it's time to explore opportunities that further cement
                                                                our position
                                                                in the market and strengthen our value proposition. To this end, I'd like to
                                                                explore
                                                                potential mergers and acquisitions that align with our strategic objectives.
                                                                <br><br>
                    
                                                                <span style="font-weight: 500; font-size: 16px; padding-left: 0;">Primary
                                                                    Objectives :</span> <br><br>
                    
                                                                Supply Chain Streamlining & Cost Reduction: Look for potential companies
                                                                that have
                                                                optimized manufacturing capabilities, especially in battery tech and
                                                                electric vehicle
                                                                components. Such an acquisition can provide us with both a streamlined
                                                                supply chain and
                                                                reduced production costs. <br><br>
                    
                                                                Growth via Market Share Acquisition : Identify competitors whose market
                                                                acquisition can
                                                                lead to substantial growth in our market share. This not only boosts our
                                                                sales but also
                                                                consolidates our position in key markets. <br><br>
                    
                                                                Technology & Innovation : Innovation is the bedrock of our industry. Hence,
                                                                we are
                                                                interested in companies, possibly start-ups, that have made significant
                                                                strides in EV
                                                                technology. This could be in battery longevity, fast charging, or any other
                                                                domain that
                                                                could give MAI a competitive edge. <br><br>
                    
                                                                <span style="font-weight: 500; font-size: 16px; padding-left: 0;">Plan of
                                                                    Action : </span><br><br>
                    
                                                                Financial Analysis : Examine our financials, especially our Cash and cash
                                                                Equivalents,
                                                                to
                                                                determine our capacity for a potential M&A. <br><br>
                    
                                                                Market Research : Conduct assessments on companies that fit any of our three
                                                                objectives.
                                                                This will include understanding their market value, innovations, and their
                                                                potential
                                                                impact on our brand. <br><br>
                    
                                                                Due Diligence : Any shortlisted company should be thoroughly vetted for
                                                                their financial
                                                                health, any potential liabilities, and synergies with our brand and mission. <br><br>
                                                                Strategic Alignment Meeting:
                    
                                                                Convene a meeting with key stakeholders, including R&D, Marketing, and
                                                                Supply Chain
                                                                Heads, to ensure alignment with our broader strategic goals. I entrust this
                                                                crucial
                                                                responsibility to our Strategic Planning Team, confident in your
                                                                capabilities to chart a
                                                                path that aligns with MAI's vision. I am eager to see the recommendations
                                                                you put forth
                                                                and am available for any guidance or clarifications you might need. <br><br>
                    
                                                                Let's drive MAI into the future, fortified and invigorated! <br><br>
                    
                                                                Warm Regards, <br><br>
                                                                <span style="font-weight: 500; font-size: 16px; padding-left: 0;">From :
                                                                </span> Ananya Mehta, CEO, Mumbai Auto Innovations (MAI).<br>
                                                                <span style="font-weight: 500; font-size: 16px; padding-left: 0;">Date :
                                                                </span> September 5th, 2023 <br>
                    
                                                            </div>
                                                        </div>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                     </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-Company-Information" role="tabpanel">
                        
                        <div class="rounded-5  rtsidetable card ">
                            <div class="loadingscreen" *ngIf="checkloading">
                                <span class="spinner-border spinner-border-sm loadingspinner" role="status" aria-hidden="true"></span>
                                <p class="loadingspinnertxt">Loading... Brewing up some digital magic! </p>
                            </div>
                            <ul class="list-group  list-group-flush marketoutlooklist">
                                <li class="list-group-item" style="padding: 2rem; margin: 0 auto;">
                                    <div class="row row-cols-md-2 g-3 py-5">
                                        <div class="col-md ">
                                            <div class="card" style="border: none;">
                                                <img src="../../../../assets/images/mergrsaquisition/stregyofplanning.svg" alt="..."
                                                    class="img-fluid img-img" style="height: 20rem;
                                                width: 35rem;">
                                            </div>
                                        </div>
                                        <div class="col-md">
                                            <div class="card p-2 h-100">
                                                <apx-chart [series]="cashequivalentinrchart.series" [chart]="cashequivalentinrchart.chart"
                                                    [dataLabels]="cashequivalentinrchart.dataLabels"
                                                    [plotOptions]="cashequivalentinrchart.plotOptions"
                                                    [yaxis]="cashequivalentinrchart.yaxis" [xaxis]="cashequivalentinrchart.xaxis"
                                                    [fill]="cashequivalentinrchart.fill" [title]="cashequivalentinrchart.title"
                                                    [tooltip]="cashequivalentinrchart.tooltip">
                                                </apx-chart>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-cols-md-2 g-3 py-3">
                                        <div class="col-md ">
                                            <table class="table h-100 rsl_tbl">
                                                <thead class="rsl_tbl-thead">
                                                    <tr class="rsl_tbl-thead-tr">
                                                        <th class="rsl_tbl-thead-th" colspan="4">Balance Sheet, INR million</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="rsl_tbl-tbody">
                                                    <tr class="rsl_tbl-tbody-tr-head">
                                                        <td style="text-align: left;" style="width: 10%;">{{result[54]}}</td>
                                                        <td>{{result[60]}}</td>
                                                        <td>{{result[66]}}</td>
                                                        <td style="width: 30%;">{{result[72]}}</td>
                                                    </tr>
                                                    <tr class="rsl_tbl-tbody-tr">
                                                        <td>{{result[55]}}</td>
                                                        <td>{{result[61]}}</td>
                                                        <td>{{result[67]}}</td>
                                                        <td>{{result[73]}}</td>
                                                    </tr>
                                                    <tr class="rsl_tbl-tbody-tr">
                                                        <td>{{result[56]}}</td>
                                                        <td>{{result[62]}}</td>
                                                        <td>{{result[68]}}</td>
                                                        <td>{{result[74]}}</td>
                                                    </tr>
                                                    <tr class="rsl_tbl-tbody-tr">
                                                        <td>{{result[57]}}</td>
                                                        <td>{{result[63]}}</td>
                                                        <td>{{result[69]}}</td>
                                                        <td>{{result[75]}}</td>
                                                    </tr>
                                                    <tr class="rsl_tbl-tbody-tr">
                                                        <td>{{result[58]}}</td>
                                                        <td>{{result[64]}}</td>
                                                        <td>{{result[70]}}</td>
                                                        <td>{{result[76]}}</td>
                                                    </tr>
                                                    <tr class="rsl_tbl-tbody-tr">
                                                        <td>{{result[59]}}</td>
                                                        <td>{{result[65]}}</td>
                                                        <td>{{result[71]}}</td>
                                                        <td>{{result[77]}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md">
                                            <div class="card p-2 h-100" style=" display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            width: 100%;">
                                                <apx-chart [series]="marketsharechart
                                                .series" [chart]="marketsharechart
                                               .chart" [labels]="marketsharechart
                                                      .labels" [responsive]="marketsharechart
                                                      .responsive" [title]="marketsharechart
                                                      .title" [legend]="marketsharechart
                                                      .legend" [tooltip]="marketsharechart
                                                      .tooltip">
                                                </apx-chart>
                                            </div>
                                        </div>
                                    </div>
                    
                                    <div class="row row-cols-md g-3 py-5">
                                        <div class="col-md ">
                                            <table class="table h-100 rsl_tbl">
                                                <thead class="rsl_tbl-thead">
                                                    <tr class="rsl_tbl-thead-tr">
                                                        <th class="rsl_tbl-thead-th" colspan="9">Income Statement, INR million</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="rsl_tbl-tbody">
                                                    <tr class="rsl_tbl-tbody-tr-head">
                                                        <td style="text-align: left; " style="width: 4%;">{{result[0]}}</td>
                                                        <td  style="width: 12%;">{{result[6]}}</td>
                                                        <td  style="width: 12%;">{{result[12]}}</td>
                                                        <td  style="width: 12%;">{{result[18]}}</td>
                                                        <td  style="width: 12%;">{{result[24]}}</td>
                                                        <td  style="width: 12%;">{{result[30]}}</td>
                                                        <td  style="width: 12%;">{{result[36]}}</td>
                                                        <td  style="width: 12%;">{{result[42]}}</td>
                                                        <td  style="width: 12%;">{{result[48]}}</td>
                                                    </tr>
                                                    <tr class="rsl_tbl-tbody-tr">
                                                        <td>{{result[1]}}</td>
                                                        <td>{{result[7]}}</td>
                                                        <td>{{result[13]}}</td>
                                                        <td>{{result[19]}}</td>
                                                        <td>{{result[25]}}</td>
                                                        <td>{{result[31]}}</td>
                                                        <td>{{result[37]}}</td>
                                                        <td>{{result[43]}}</td>
                                                        <td>{{result[49]}}</td>
                                                    </tr>
                                                    <tr class="rsl_tbl-tbody-tr">
                                                        <td>{{result[2]}}</td>
                                                        <td>{{result[8]}}</td>
                                                        <td>{{result[14]}}</td>
                                                        <td>{{result[20]}}</td>
                                                        <td>{{result[26]}}</td>
                                                        <td>{{result[32]}}</td>
                                                        <td>{{result[38]}}</td>
                                                        <td>{{result[44]}}</td>
                                                        <td>{{result[50]}}</td>
                                                    </tr>
                                                    <tr class="rsl_tbl-tbody-tr">
                                                        <td>{{result[3]}}</td>
                                                        <td>{{result[9]}}</td>
                                                        <td>{{result[15]}}</td>
                                                        <td>{{result[21]}}</td>
                                                        <td>{{result[27]}}</td>
                                                        <td>{{result[33]}}</td>
                                                        <td>{{result[39]}}</td>
                                                        <td>{{result[45]}}</td>
                                                        <td>{{result[51]}}</td>
                                                    </tr>
                                                    <tr class="rsl_tbl-tbody-tr">
                                                        <td>{{result[4]}}</td>
                                                        <td>{{result[10]}}</td>
                                                        <td>{{result[16]}}</td>
                                                        <td>{{result[22]}}</td>
                                                        <td>{{result[28]}}</td>
                                                        <td>{{result[34]}}</td>
                                                        <td>{{result[40]}}</td>
                                                        <td>{{result[46]}}</td>
                                                        <td>{{result[52]}}</td>
                                                    </tr>
                                                    <tr class="rsl_tbl-tbody-tr">
                                                        <td>{{result[5]}}</td>
                                                        <td>{{result[11]}}</td>
                                                        <td>{{result[17]}}</td>
                                                        <td>{{result[23]}}</td>
                                                        <td>{{result[29]}}</td>
                                                        <td>{{result[35]}}</td>
                                                        <td>{{result[41]}}</td>
                                                        <td>{{result[47]}}</td>
                                                        <td>{{result[53]}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                    
                                    <div class="row row-cols-md g-3 py-3">
                                        <div class="col-md ">
                                            <table class="table h-100 rsl_tbl w-100">
                                                <thead class="rsl_tbl-thead">
                                                    <tr class="rsl_tbl-thead-tr">
                                                        <th class="rsl_tbl-thead-th" colspan="14">Ratios</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="rsl_tbl-tbody w-100" style="overflow: scroll;">
                                                    <tr class="rsl_tbl-tbody-tr-head ">
                                                        <td style="text-align: left;" style="width: 4%;">{{result[78]}}</td>
                                                        <td style="width: 12%;">{{result[84]}}</td>
                                                        <td style="width: 12%;">{{result[90]}}</td>
                                                        <td style="width: 12%;">{{result[96]}}</td>
                                                        <td style="width: 12%;">{{result[102]}}</td>
                                                        <td style="width: 12%;">{{result[108]}}</td>
                                                        <td style="width: 12%;">{{result[114]}}</td>
                                                        <td style="width: 12%;">{{result[120]}}</td>
                                                        <td style="width: 12%;">{{result[126]}}</td>
                                                        <td style="width: 12%;">{{result[132]}}</td>
                                                        <td style="width: 12%;">{{result[138]}}</td>
                                                        <td style="width: 12%;">{{result[144]}}</td>
                                                        <td style="width: 12%;">{{result[150]}}</td>
                    
                                                    </tr>
                                                    <tr class="rsl_tbl-tbody-tr">
                                                        <td>{{result[79] }}</td>
                                                        <td>{{result[85]*100}}%</td>
                                                        <td>{{result[91]*100}}%</td>
                                                        <td>{{result[97]*100}}%</td>
                                                        <td>{{result[103]*100}}%</td>
                                                        <td>{{result[109]*100}}%</td>
                                                        <td>{{result[115]*100}}%</td>
                                                        <td>{{result[121]*100}}%</td>
                                                        <td>{{result[127] | number:'1.1-1'  }}</td>
                                                        <td>{{result[133]}}</td>
                                                        <td>{{result[139]*100 | number:'1.2-2' }}%</td>
                                                        <td>{{result[145]}}</td>
                                                        <td>{{result[151]}}</td>
                    
                                                    </tr>
                                                    <tr class="rsl_tbl-tbody-tr">
                                                        <td>{{result[80]}}</td>
                                                        <td>{{result[86]*100}}%</td>
                                                        <td>{{result[92]*100 | number:'0.0-0'}}%</td>
                                                        <td>{{result[98]*100}}%</td>
                                                        <td>{{result[104]*100}}%</td>
                                                        <td>{{result[110]*100}}%</td>
                                                        <td>{{result[116]*100}}%</td>
                                                        <td>{{result[122]*100}}%</td>
                                                        <td>{{result[128]| number:'1.1-1'  }}</td>
                                                        <td>{{result[134]}}</td>
                                                        <td>{{result[140] *100 | number:'1.2-2'}}%</td>
                                                        <td>{{result[146]}}</td>
                                                        <td>{{result[152]}}</td>
                                                    </tr>
                                                    <tr class="rsl_tbl-tbody-tr">
                                                        <td>{{result[81]}}</td>
                                                        <td>{{result[87]*100}}%</td>
                                                        <td>{{result[93]*100}}%</td>
                                                        <td>{{result[99]*100}}%</td>
                                                        <td>{{result[105]*100}}%</td>
                                                        <td>{{result[111]*100}}%</td>
                                                        <td>{{result[117]*100}}%</td>
                                                        <td>{{result[123]*100}}%</td>
                                                        <td>{{result[129]}}</td>
                                                        <td>{{result[135]}}</td>
                                                        <td>{{result[141]*100 | number:'1.2-2'}}%</td>
                                                        <td>{{result[147]}}</td>
                                                        <td>{{result[153]}}</td>
                    
                                                    </tr>
                                                    <tr class="rsl_tbl-tbody-tr">
                                                        <td>{{result[82]}}</td>
                                                        <td>{{result[88]*100}}%</td>
                                                        <td>{{result[94]*100}}%</td>
                                                        <td>{{result[100]*100 | number:'0.0-0'}}%</td>
                                                        <td>{{result[106]*100}}%</td>
                                                        <td>{{result[112]*100}}%</td>
                                                        <td>{{result[118]*100}}%</td>
                                                        <td>{{result[124]*100}}%</td>
                                                        <td>{{result[130]}}</td>
                                                        <td>{{result[136]}}</td>
                                                        <td>{{result[142]*100 | number:'1.2-2'}}%</td>
                                                        <td>{{result[148]}}</td>
                                                        <td>{{result[154]}}</td>
                                                    </tr>
                                                    <tr class="rsl_tbl-tbody-tr">
                                                        <td>{{result[83]}}</td>
                                                        <td>{{result[89]*100}}%</td>
                                                        <td>{{result[95]*100}}%</td>
                                                        <td>{{result[101]*100}}%</td>
                                                        <td>{{result[107]*100}}%</td>
                                                        <td>{{result[113]*100}}%</td>
                                                        <td>{{result[119]*100| number:'0.0-0'}}%</td>
                                                        <td>{{result[125]*100}}%</td>
                                                        <td>{{result[131]}}</td>
                                                        <td>{{result[137]}}</td>
                                                        <td>{{result[143]*100 | number:'1.2-2'}}%</td>
                                                        <td>{{result[149]}}</td>
                                                        <td>{{result[155]}}</td>
                    
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>