.mergers_aquisition {
    .container {
        .body-element {
            .market-research {
                .h2-cls {
                    margin: 0;
                }

                .market-research-nav {
                    background-color: #f1f3f4;
                    margin-bottom: 4px;
                    position: sticky;
                    top: 0;
                    z-index: 20;

                    .market-research-link {
                        color: #1f589f;
                        font-size: 15px;
                        font-weight: 500;
                        padding: 1rem;

                    }

                    .market-research-link.active {
                        color: rgb(0, 0, 0);
                        border-bottom: 3px solid rgb(0, 0, 0);
                    }

                }

                .element-first {
                    justify-content: right;

                    .introductn {
                        margin: 0rem 0rem 2rem 0rem;
                        justify-content: space-between;
                        align-items: center;
                        cursor: pointer;
                    }
                }

                .rsl_tbl {
                    .rsl_tbl-thead {
                        .rsl_tbl-thead-tr {
                            border: 1px solid lightgray;

                            .rsl_tbl-thead-th {
                                font-size: 1.1rem;
                                font-weight: 600;
                                padding: 1rem 0.4rem;
                                color: white;
                                background-color: #266cc38a;
                            }
                        }
                    }

                    .rsl_tbl-tbody {
                        .rsl_tbl-tbody-tr-head {
                            border: 1px solid lightgray;

                            td {
                                text-align: right;
                                font-size: 14px;
                                font-weight: 600;
                                color: #576068;
                                // width: 3rem;
                                // max-width: 4rem;
                            }

                        }

                        .rsl_tbl-tbody-tr {
                            border: 1px solid lightgray;

                            td:first-child {
                                text-align: left;
                            }

                            td {
                                text-align: right;
                                font-size: 14px;
                                font-weight: 400;
                                color: #576068;
                                vertical-align: middle;
                            }

                            input {
                                text-align: right;
                                border: 2px solid #30b4cc;
                                border-radius: 0.4rem;
                                background-color: #edf7f9;
                                font-size: 14px;
                                width: 6rem;
                                height: 2.2rem;
                                padding: 0px 3px;
                                font-weight: 500;
                            }

                        }

                        .margin-td {
                            border-top: 2px solid darkblue;

                            // td:last-child {
                            //     color: red;
                            // }
                        }

                    }
                }

            }

        }
    }
}