<div class="container">
    <div >
        <mat-card  style="width:100% ;">
            <div class="row">
                <div class="col-10">
                    <div class="inputtitle"> Games Enroll</div>
                    <div class="subtitle">You can view your games details</div>
                </div>
            </div>
        </mat-card>

        <mat-card  class="card">      
            <mat-tab-group animationDuration="0ms" >
                <mat-tab>
                    <ng-template mat-tab-label >
                        <mat-icon>account_circle</mat-icon> Company Overview
                    </ng-template>
                    <h2> Company Overview</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>home</mat-icon> The Market
                    </ng-template>
                    <h2>The Market</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>home</mat-icon>Manufacturing
                    </ng-template>
                    <h2>Manufacturing</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>home</mat-icon> Parameters
                    </ng-template>
                    <div class="row" style="display: flex; text-align:center">
                        <div class="col-6">
                            <h2>Variables </h2>
                        </div>
                        <div class="col-2"></div>
                        <div class="col-4">
                            <h2>Values </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="inputrow" >
                            <div class="col-6">packetluvyerfheihfoiehfiheifheilhfiehfiuherufheiufhpeiruuhfiuerhf</div>
                            <div class="col-2"> ₹ </div>
                            <div  class="col-4 ">
                                <input class="input">
                            </div>
                        </div>
                        <div class="inputrow" >
                            <div class="col-6">packetluvyerfheihfoiehfiheifheilhfiehfiuherufheiufhpeiruuhfiuerhf</div>
                            <div class="col-2"> ₹ </div>
                            <div  class="col-4 ">
                                <input class="input">
                            </div>
                        </div>
                        <div class="inputrow" >
                            <div class="col-6">packetluvyerfheihfoiehfiheifheilhfiehfiuherufheiufhpeiruuhfiuerhf</div>
                            <div class="col-2"> ₹ </div>
                            <div  class="col-4 ">
                                <input class="input">
                            </div>
                        </div>
                        <div class="inputrow" >
                            <div class="col-6">packetluvyerfheihfoiehfiheifheilhfiehfiuherufheiufhpeiruuhfiuerhf</div>
                            <div class="col-2"> ₹ </div>
                            <div  class="col-4 ">
                                <input class="input">
                            </div>
                        </div>
                        <div class="inputrow" >
                            <div class="col-6">packetluvyerfheihfoiehfiheifheilhfiehfiuherufheiufhpeiruuhfiuerhf</div>
                            <div class="col-2"> ₹ </div>
                            <div  class="col-4 ">
                                <input class="input">
                            </div>
                        </div>
                        <div class="inputrow" >
                            <div class="col-6">packetluvyerfheihfoiehfiheifheilhfiehfiuherufheiufhpeiruuhfiuerhf</div>
                            <div class="col-2"> ₹ </div>
                            <div  class="col-4 ">
                                <input class="input">
                            </div>
                        </div>
 
                    </div><br><br><br>
                      
                    <div class="row">
                        <div class="col-9">
                        </div>
                        <div class="col-2" style="justify-content:end">
                            <button class="submit-button" style="width: 200px;" > Decision Making </button>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</div>
