.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 75%;
}

.card{
    width: 100%;
    height: fit-content;
    margin-top: 25px;
    display: block;

}

.inputrow{
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
}

p{
    text-align: justify;
    padding: 5px;
}

h2{
    padding:10px;

    font-weight: 600
}


.input{
    border-radius: 3px;
}


