.casemanagement {
    .case-management-body-hrm {

        .case-management-table-hrm {

            thead {
                tr {
                    td {
                        text-align: center;
                        min-width: 370px;
                        padding: 0.5rem 0.5rem;
                        border-right: 1px solid red;

                    }

                    td:last-child {
                        border-right: 1px solid lightgrey;
                    }
                }
            }

            .first-tbody {
                tr {
                    td {
                        text-align: center;
                        border-bottom: 1px solid lightgray;
                        font-size: 14px;
                        font-weight: 500;
                        background-color: #fff2e8;

                    }

                    td:first-child {
                        color: black;
                    }

                }

            }


            tbody {
                tr {
                    td {
                        text-align: center;
                        border-bottom: 1px solid lightgray;

                    }

                    td:nth-child(even) {
                        border-right: 1px solid red;
                    }

                    td:last-child {
                        border-right: 1px solid lightgrey;
                        font-size: 14px;
                    }
                }
            }

        }

        .case-management-table-hrm-second {
            thead {
                tr {
                    td {
                        text-align: center;
                        min-width: 370px;
                        padding: 0.5rem 0.5rem;
                        border-right: 1px solid red;
                    }

                    td:last-child {
                        border-right: 1px solid lightgrey;
                    }
                }

                th {
                    font-weight: 600;
                    padding: 5px;
                }
            }

            .second-tbody {
                tr {
                    td {
                        text-align: center;
                        border-bottom: 1px solid lightgray;
                        min-width: 90px;
                        font-weight: 500;
                        font-size: 12px;
                        width: 100px;
                    }

                    td:not(.three-element):nth-child(4n),
                    .three-element:nth-child(3n) {
                        border-right: 1px solid red;
                    }

                    .three-element td:last-child {
                        border-right: 1px solid lightgray;
                    }
                }

            }

            .second-tbody-title {
                font-weight: 600;
                padding: 5px;
                font-size: 12px;
            }

            .title-tbody {
                border-top: 2px solid black;
                border-bottom: 2px solid white;

                tr:first-child {
                    background-color: #fff2e8;

                    th {

                        font-weight: 600;
                        padding: 5px;
                    }
                }
            }
        }

        .foodrforthought {
            thead {
                text-align: center;
            }

            tbody {
                border-top: none;

                td {
                    text-align: -webkit-center;
                    text-align: center !important;

                    textarea {
                        resize: none;
                    }

                    input {
                        margin: 2rem;
                        text-align: right;
                    }
                }

                td:last-child {
                    text-align: -webkit-center;
                }


            }

        }

        input[type="text"] {
            // width: 100% !important;
            // max-width: 6rem !important;
        }

    }
}