<div class="elearingnewui casemanagement">
    <div class="case-management-body case-management-body-marketing ">
        <table class="table page-name">
            <thead>
                <tr>
                    <th>
                        <h2>Website</h2>
                    </th>
                </tr>
            </thead>
        </table>
        <div class=" table-responsive mb-3 mt-3">
            <table class="table case-management-table ">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Sales Effect</th>
                    </tr>
                    <tr>
                        <td>Exclusive Online Deals</td>
                        <td *ngFor="let capitaldata of res.q8; let i = index">
                            <input [value]="res.q8[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('q8',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Premium Efficacy Showcase</td>
                        <td *ngFor="let capitaldata of res.q9; let i = index">
                            <input [value]="res.q9[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('q9',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Seasonal Skincare Bundles</td>
                        <td *ngFor="let capitaldata of res.q10; let i = index">
                            <input [value]="res.q10[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('q10',i,inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class=" table-responsive mb-3 mt-3">
            <table class="table case-management-table ">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Segment 1</th>
                    </tr>
                    <tr>
                        <td>Exclusive Online Deals</td>
                        <td *ngFor="let capitaldata of res.r8; let i = index">
                            <input [value]="res.r8[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('r8',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Premium Efficacy Showcase</td>
                        <td *ngFor="let capitaldata of res.r9; let i = index">
                            <input [value]="res.r9[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('r9',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Seasonal Skincare Bundles</td>
                        <td *ngFor="let capitaldata of res.r10; let i = index">
                            <input [value]="res.r10[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('r10',i,inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class=" table-responsive mb-3 mt-3">
            <table class="table case-management-table ">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Segment 2</th>
                    </tr>
                    <tr>
                        <td>Exclusive Online Deals</td>
                        <td *ngFor="let capitaldata of res.s8; let i = index">
                            <input [value]="res.s8[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('s8',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Premium Efficacy Showcase</td>
                        <td *ngFor="let capitaldata of res.s9; let i = index">
                            <input [value]="res.s9[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('s9',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Seasonal Skincare Bundles</td>
                        <td *ngFor="let capitaldata of res.s10; let i = index">
                            <input [value]="res.s10[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('s10',i,inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class=" table-responsive mb-3 mt-3">
            <table class="table case-management-table ">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Cost</th>
                    </tr>
                    <tr>
                        <td>Exclusive Online Deals</td>
                        <td *ngFor="let capitaldata of res.t8; let i = index">
                            <input [value]="res.t8[i]| number:'1.0-0'" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('t8',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Premium Efficacy Showcase</td>
                        <td *ngFor="let capitaldata of res.t9; let i = index">
                            <input [value]="res.t9[i]| number:'1.0-0'" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('t9',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Seasonal Skincare Bundles</td>
                        <td *ngFor="let capitaldata of res.t10; let i = index">
                            <input [value]="res.t10[i]| number:'1.0-0'" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('t10',i,inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <table class="table page-name">
            <thead>
                <tr>
                    <th>
                        <h2>Social Commerce</h2>
                    </th>
                </tr>
            </thead>
        </table>
        <div class=" table-responsive mb-3 mt-3">
            <table class="table case-management-table ">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Sales Effect</th>
                    </tr>
                    <tr>
                        <td>Community Engagement Series</td>
                        <td *ngFor="let capitaldata of res.q14; let i = index">
                            <input [value]="res.q14[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('q14',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Flash Sales and Trending Topics</td>
                        <td *ngFor="let capitaldata of res.q15; let i = index">
                            <input [value]="res.q15[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('q15',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Visual Storytelling and Influencer Collaborations</td>
                        <td *ngFor="let capitaldata of res.q16; let i = index">
                            <input [value]="res.q16[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('q16',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Expert Insights and Premium Skincare Journey</td>
                        <td *ngFor="let capitaldata of res.q17; let i = index">
                            <input [value]="res.q17[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('q17',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Tutorial Series and Influencer Reviews</td>
                        <td *ngFor="let capitaldata of res.q18; let i = index">
                            <input [value]="res.q18[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('q18',i,inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class=" table-responsive mb-3 mt-3">
            <table class="table case-management-table ">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Segment 1</th>
                    </tr>
                    <tr>
                        <td>Community Engagement Series</td>
                        <td *ngFor="let capitaldata of res.r14; let i = index">
                            <input [value]="res.r14[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('r14',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Flash Sales and Trending Topics</td>
                        <td *ngFor="let capitaldata of res.r15; let i = index">
                            <input [value]="res.r15[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('r15',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Visual Storytelling and Influencer Collaborations</td>
                        <td *ngFor="let capitaldata of res.r16; let i = index">
                            <input [value]="res.r16[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('r16',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Expert Insights and Premium Skincare Journey</td>
                        <td *ngFor="let capitaldata of res.r17; let i = index">
                            <input [value]="res.r17[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('r17',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Tutorial Series and Influencer Reviews</td>
                        <td *ngFor="let capitaldata of res.r18; let i = index">
                            <input [value]="res.r18[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('r18',i,inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class=" table-responsive mb-3 mt-3">
            <table class="table case-management-table ">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Segment 2</th>
                    </tr>
                    <tr>
                        <td>Community Engagement Series</td>
                        <td *ngFor="let capitaldata of res.s14; let i = index">
                            <input [value]="res.s14[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('s14',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Flash Sales and Trending Topics</td>
                        <td *ngFor="let capitaldata of res.s15; let i = index">
                            <input [value]="res.s15[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('s15',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Visual Storytelling and Influencer Collaborations</td>
                        <td *ngFor="let capitaldata of res.s16; let i = index">
                            <input [value]="res.s16[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('s16',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Expert Insights and Premium Skincare Journey</td>
                        <td *ngFor="let capitaldata of res.s17; let i = index">
                            <input [value]="res.s17[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('s17',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Tutorial Series and Influencer Reviews</td>
                        <td *ngFor="let capitaldata of res.s18; let i = index">
                            <input [value]="res.s18[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('s18',i,inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class=" table-responsive mb-3 mt-3">
            <table class="table case-management-table ">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Cost</th>
                    </tr>
                    <tr>
                        <td>Community Engagement Series</td>
                        <td *ngFor="let capitaldata of res.t14; let i = index">
                            <input [value]="res.t14[i]| number:'1.0-0'" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('t14',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Flash Sales and Trending Topics</td>
                        <td *ngFor="let capitaldata of res.t15; let i = index">
                            <input [value]="res.t15[i]| number:'1.0-0'" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('t15',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Visual Storytelling and Influencer Collaborations</td>
                        <td *ngFor="let capitaldata of res.t16; let i = index">
                            <input [value]="res.t16[i]| number:'1.0-0'" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('t16',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Expert Insights and Premium Skincare Journey</td>
                        <td *ngFor="let capitaldata of res.t17; let i = index">
                            <input [value]="res.t17[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('t17',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Tutorial Series and Influencer Reviews</td>
                        <td *ngFor="let capitaldata of res.t18; let i = index">
                            <input [value]="res.t18[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('t18',i,inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <table class="table page-name">
            <thead>
                <tr>
                    <th>
                        <h2>Modern Trade</h2>
                    </th>
                </tr>
            </thead>
        </table>
        <div class=" table-responsive mb-3 mt-3">
            <table class="table case-management-table ">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Sales Effect</th>
                    </tr>
                    <tr>
                        <td>In-Store Skincare Workshops</td>
                        <td *ngFor="let capitaldata of res.q22; let i = index">
                            <input [value]="res.q22[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('q22',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Limited-Edition In-Store Bundles</td>
                        <td *ngFor="let capitaldata of res.q23; let i = index">
                            <input [value]="res.q23[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('q23',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Loyalty Points Bonanza</td>
                        <td *ngFor="let capitaldata of res.q24; let i = index">
                            <input [value]="res.q24[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('q24',i,inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class=" table-responsive mb-3 mt-3">
            <table class="table case-management-table ">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Segment 1</th>
                    </tr>
                    <tr>
                        <td>In-Store Skincare Workshops</td>
                        <td *ngFor="let capitaldata of res.r22; let i = index">
                            <input [value]="res.r22[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('r22',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Limited-Edition In-Store Bundles</td>
                        <td *ngFor="let capitaldata of res.r23; let i = index">
                            <input [value]="res.r23[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('r23',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Loyalty Points Bonanza</td>
                        <td *ngFor="let capitaldata of res.r24; let i = index">
                            <input [value]="res.r24[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('r24',i,inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class=" table-responsive mb-3 mt-3">
            <table class="table case-management-table ">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Segment 2</th>
                    </tr>
                    <tr>
                        <td>In-Store Skincare Workshops</td>
                        <td *ngFor="let capitaldata of res.s22; let i = index">
                            <input [value]="res.s22[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('s22',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Limited-Edition In-Store Bundles</td>
                        <td *ngFor="let capitaldata of res.s23; let i = index">
                            <input [value]="res.s23[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('s23',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Loyalty Points Bonanza</td>
                        <td *ngFor="let capitaldata of res.s24; let i = index">
                            <input [value]="res.s24[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('s24',i,inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class=" table-responsive mb-3 mt-3">
            <table class="table case-management-table ">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Cost</th>
                    </tr>
                    <tr>
                        <td>In-Store Skincare Workshops</td>
                        <td *ngFor="let capitaldata of res.t22; let i = index">
                            <input [value]="res.t22[i]| number:'1.0-0'" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('t22',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Limited-Edition In-Store Bundles</td>
                        <td *ngFor="let capitaldata of res.t23; let i = index">
                            <input [value]="res.t23[i]| number:'1.0-0'" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('t23',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Loyalty Points Bonanza</td>
                        <td *ngFor="let capitaldata of res.t24; let i = index">
                            <input [value]="res.t24[i]| number:'1.0-0'" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('t24',i,inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <table class="table page-name">
            <thead>
                <tr>
                    <th>
                        <h2>Reatilers</h2>
                    </th>
                </tr>
            </thead>
        </table>
        <div class=" table-responsive mb-3 mt-3">
            <table class="table case-management-table ">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Sales Effect</th>
                    </tr>
                    <tr>
                        <td>In-Store Pop-Up Events</td>
                        <td *ngFor="let capitaldata of res.q28; let i = index">
                            <input [value]="res.q28[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('q28',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Shelf-Edge Informational Displays</td>
                        <td *ngFor="let capitaldata of res.q29; let i = index">
                            <input [value]="res.q29[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('q29',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Retailer Exclusive Promotions</td>
                        <td *ngFor="let capitaldata of res.q30; let i = index">
                            <input [value]="res.q30[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('q30',i,inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class=" table-responsive mb-3 mt-3">
            <table class="table case-management-table ">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Segment 1</th>
                    </tr>
                    <tr>
                        <td>In-Store Pop-Up Events</td>
                        <td *ngFor="let capitaldata of res.r28; let i = index">
                            <input [value]="res.r28[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('r28',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Shelf-Edge Informational Displays</td>
                        <td *ngFor="let capitaldata of res.r29; let i = index">
                            <input [value]="res.r29[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('r29',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Retailer Exclusive Promotions</td>
                        <td *ngFor="let capitaldata of res.r30; let i = index">
                            <input [value]="res.r30[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('r30',i,inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class=" table-responsive mb-3 mt-3">
            <table class="table case-management-table ">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Segment 2</th>
                    </tr>
                    <tr>
                        <td>In-Store Pop-Up Events</td>
                        <td *ngFor="let capitaldata of res.s28; let i = index">
                            <input [value]="res.s28[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('s28',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Shelf-Edge Informational Displays</td>
                        <td *ngFor="let capitaldata of res.s29; let i = index">
                            <input [value]="res.s29[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('s29',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Retailer Exclusive Promotions</td>
                        <td *ngFor="let capitaldata of res.s30; let i = index">
                            <input [value]="res.s30[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('s30',i,inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class=" table-responsive mb-3 mt-3">
            <table class="table case-management-table ">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Cost</th>
                    </tr>
                    <tr>
                        <td>In-Store Pop-Up Events</td>
                        <td *ngFor="let capitaldata of res.t28; let i = index">
                            <input [value]="res.t28[i]| number:'1.0-0'" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('t28',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Shelf-Edge Informational Displays</td>
                        <td *ngFor="let capitaldata of res.t29; let i = index">
                            <input [value]="res.t29[i]| number:'1.0-0'" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('t29',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Retailer Exclusive Promotions</td>
                        <td *ngFor="let capitaldata of res.t30; let i = index">
                            <input [value]="res.t30[i]| number:'1.0-0'" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writePromotioncampaignsValue('t30',i,inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>