.bus_iness {
    .newinstructor {
        .quiz-card{
            text-align: center;
            width: 80%;
            margin: 2rem auto;
            padding: 2rem;
            border: none;
           h1{
            font-weight: 500;
           }

           p:last-child{
            font-weight: 500;
           }
           
        }
    }
}