.bus_iness {
    .container {
        .body-element {
            .crafting {
                .element-first {
                    justify-content: right;

                    .marelegapfood {
                        margin: 0rem 0rem 2rem 0rem;
                        justify-content: space-between;
                        align-items: center;
                        cursor: pointer;
                    }
                }

                .mat-icon {
                    font-size: 21px;
                }

                .input-img-card {
                    .language-card {
                        padding-top: 1rem;
                        display: flex;
                        align-items: top;
                        text-align: center;

                        .language-card-word {
                            .language-card-word-h1 {
                                font-weight: 600;
                                margin-bottom: 0;
                                font-size: 20px;
                            }
                        }

                        .card-img-top-language {
                            height: 4rem;
                        }

                        .card-body {
                            text-align: center;
                            padding: 0 1rem;

                            h3 {
                                font-weight: 600;
                                margin: 0px 4px;
                            }
                        }

                        .form-check {
                            border: none;
                            background: transparent;

                            .checkfrominput {
                                float: right;
                                height: 20px;
                                width: 20px;
                                cursor: pointer;
                            }
                        }
                    }

                    .marketing-card {
                        // height: 18rem;
                        padding: 0;
                        display: flex;
                        align-items: top;

                        .forimgsetup {
                            height: 13rem;
                            padding: 10px;

                            .card-img-top {
                                height: 12rem;
                            }
                        }

                        .card-body {
                            text-align: center;
                            padding: 0 1rem;

                            h3 {
                                height: 3rem;
                                font-weight: 600;
                                overflow: auto;
                                margin-bottom: 0;
                                line-height: 1.3;
                            }
                        }

                        .form-check {
                            border: none;
                            background: transparent;

                            .checkfrominput {
                                float: right;
                                height: 20px;
                                width: 20px;
                            }
                        }
                    }



                    // .card-body {
                    //     text-align: center;
                    //     padding: 0 1rem;

                    //     h3 {
                    //         font-weight: 600;
                    //         margin: 0px 4px;
                    //     }
                    // }



                    .apex-card {
                        height: 18rem;
                    }

                    .apex-card-pie {
                        height: 18rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                // .marketing-card:nth-child(4) {
                //     display: flex;
                //     justify-content: center;
                //     align-items: center;
                // }
            }

            .marketing-graph-card {
                .marketing-graph-card-next {
                    padding: 1rem;
                    //justify-content: center;
                }
            }

            // .marketing-card {
            //     border: 1px solid #ccc;
            //     // height: 18rem;
            //     //padding: 1rem;

            //     .card-text {
            //         font-weight: 400;
            //         font-size: 14px;
            //         padding-top: 11px;
            //         text-align: justify;
            //     }

            //     .card-footer {
            //         input {
            //             cursor: pointer;
            //         }
            //     }

            //     .input-card-label {
            //         font-size: 15px;
            //         font-weight: 500;
            //         cursor: pointer;

            //         .maincontent {
            //             cursor: pointer;
            //             margin-top: 1rem;
            //             font-size: 15px;
            //             color: var(--elearingnewui-gray-700);

            //             a {
            //                 color: blue;
            //                 font-size: 15px;
            //             }
            //         }

            //         input {
            //             cursor: pointer;
            //         }
            //     }
            // }

            .card.selected {
                background-color: #edf5fb;
            }



            .input-loc-card {
                .input-loc-card-next {
                    padding: 20px 15px;

                    .input-card-label {
                        font-size: 16px;
                        font-weight: 500;
                        cursor: pointer;

                        .input-card-label-input {
                            cursor: pointer;
                        }

                        .p-tag {
                            margin-top: 1rem;
                        }

                        .maincontent {
                            cursor: pointer;
                            margin-top: 1rem;
                            font-size: 15px;
                            color: var(--elearingnewui-gray-700);
                            text-align: justify;

                            a {
                                color: blue;
                                font-size: 15px;
                            }
                        }
                    }
                }

                .input-loc-card-next.selected {
                    background-color: #edf5fb;
                    margin: 0;
                }

                .input-loc-card {
                    .input-loc-card-next {
                        padding: 20px 15px;

                        .input-card-label {
                            font-size: 16px;
                            font-weight: 500;
                            cursor: pointer;

                            .input-card-label-input {
                                cursor: pointer;
                            }

                            .p-tag {
                                margin-top: 1rem;
                            }

                            .maincontent {
                                cursor: pointer;
                                margin-top: 1rem;
                                font-size: 15px;
                                color: var(--elearingnewui-gray-700);

                                a {
                                    color: blue;
                                    font-size: 15px;
                                }
                            }
                        }
                    }

                    .input-loc-card-next.selected {
                        background-color: #edf5fb;
                        margin: 0;
                    }
                }
            }
        }
    }
}

//loading stytle

.loadingscreen {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 50;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: saturate(200%) blur(10px);
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .bus_iness {
        .container {
            .body-element {
                .crafting {
                    .input-img-card {
                        .language-card {
                            .language-card-word {
                                .language-card-word-h1 {
                                    font-weight: 700;
                                    margin-bottom: 0;
                                    font-size: 17px;
                                }
                            }

                            .card-body {
                                h3 {
                                    font-weight: 600;
                                    margin: 0px 4px;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .bus_iness {
        .container {
            .body-element {
                .crafting {
                    .input-img-card {
                        .language-card {
                            .language-card-word {
                                .language-card-word-h1 {
                                    font-weight: 700;
                                    margin-bottom: 0;
                                    font-size: 17px;
                                }
                            }

                            .card-body {
                                h3 {
                                    font-weight: 600;
                                    margin: 0px 4px;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .bus_iness {
        .container {
            .body-element {
                .crafting {
                    .input-img-card {
                        .language-card {
                            .language-card-word {
                                .language-card-word-h1 {
                                    font-weight: 700;
                                    margin-bottom: 0;
                                    font-size: 20px;
                                }
                            }

                            .card-body {
                                h3 {
                                    font-weight: 600;
                                    margin: 0px 4px;
                                    font-size: 17px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .bus_iness {
        .container {
            .body-element {
                .crafting {
                    .input-img-card {
                        .language-card {
                            .language-card-word {
                                .language-card-word-h1 {
                                    font-weight: 700;
                                    margin-bottom: 0;
                                    font-size: 15px;
                                }
                            }

                            .card-body {
                                h3 {
                                    font-weight: 600;
                                    margin: 0px 4px;
                                    font-size: 11px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1280px) {
    .bus_iness {
        .container {
            .body-element {
                .crafting {
                    .input-img-card {
                        .language-card {
                            .language-card-word {
                                .language-card-word-h1 {
                                    font-weight: 600;
                                    margin-bottom: 0;
                                    font-size: 20px;
                                }
                            }

                            .card-body {
                                h3 {
                                    font-weight: 600;
                                    margin: 0px 4px;
                                    font-size: 17px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}