.popup-all {
    
    border:none;
    .popup-all-card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #1f589f;
        color: white;

        .popup-all-card-header-pclass {
            margin: 0;
            font-weight: 500;
        }
    }

    .popup-all-card-footer {
        gap: 21px;
        border: none;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: end;

        .close_btn {
            padding: 6px 19px;
            font-size: 14px;
            border: 1px solid lightgrey;
            border-radius: 0.5rem;
            background-color: #6c757d;
            color: white;
        }

        .save_btn {
            padding: 6px 19px;
            font-size: 14px;
            border: 1px solid lightgrey;
            border-radius: 0.5rem;
            background-color: #0d6efd;
            color: white;
        }
    }

    .cross-circle {
        font-size: 22px;
        color: white;
        cursor: pointer;
    }
}