.ecommerce {
    .container {
        .body-element {
            .element-first {
                justify-content: right;

                .marpoint1st {
                    margin: 0rem 0rem 3rem 0rem;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                }
            }

            .intro_nd {
                justify-content: space-between;
                align-items: center;

                .intro {
                    .intro-text {
                        text-align: justify;
                        font-size: 15px;

                        .marketpage-p {
                            padding-right: 2rem;
                            //padding-bottom: 10rem;
                        }
                    }
                }
            }

            .img-col {
                display: flex;
                align-items: center;
                justify-content: end;


                .img-fluid {
                    width: 100%;
                    height: 28rem;
                }
            }
        }
    }
}