

<div>
    <div class="card logout-popup-not">
        <div class="card-header logout-popup-not-cardhead">
            <span>Rounds</span>
            <i class="bi bi-x-circle" mat-dialog-close></i>
        </div>
        <div class="card-body">
            <p>{{message}}</p>
            <form [formGroup]="selectupdateinstroctorgroup" class="form">
                <div class="row row-cols-md-2">
                   
                    <div class="col-md">
                        <div class="lebel pb-1">Student Course Attempts </div>
                        <input formControlName="studentcourseattempts" class="form-control" type="number">
                    </div>
                </div>
                
            </form>
        </div>
        <div class="card-footer pt-4 logout-popup-not-cardhead-cardfooter">
            <button class="btn-yes" (click)="update()">Update</button>
            <button class="btn-no" mat-dialog-close>Cancel</button>
        </div>
    </div>
</div>
