<div class="elearingnewui innovation_game">
    <div class="loadingscreen" *ngIf="checkloading">
        <span class="spinner-border spinner-border-sm loadingspinner" role="status" aria-hidden="true"></span>
        <p class="loadingspinnertxt">Loading... Brewing up some digital magic! </p>
    </div>
    <div class="container">
        <div class="body-element">
            <div class="feed_ack">
                <div>
                    <div class="row pb-4">
                        <div class="col-8"></div>
                        <div class="col-4">
                            <div style="display: flex; align-items: center; justify-content:end; gap: 20px;">
                                <div class="">
                                    <select class="select-round" name="" id="" [(ngModel)]="roundname"
                                        (change)="roundClick()">
                                        <option class="select-round-option" value="">Select Round</option>
                                        <option class="select-round-option"
                                            *ngFor="let attempt of dropdownvalue; let i = index;" [value]=attempt>
                                            {{attempt}}</option>

                                    </select>
                                </div>
                                <div class="download_btn" matTooltiClass="primary-tooltip"
                                    (click)="downloadreporthrpgame()">
                                    <div>
                                        <a download matTooltip="Download"><span class="hovertext"
                                                data-hover="Download pdf file accounting ">
                                                <img src="assets/images/businessbasics/download.png" />
                                            </span>
                                        </a>
                                    </div>
                                    <div>
                                        <mat-icon class="mt-2">get_app</mat-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h1>
                        Synopsis
                    </h1>
                    <div style="margin-top: 1.1rem;" *ngIf="analysisshow">
                        <h1
                            style="display: flex; align-items: center; gap: 5px;font-size: 1.1rem; font-weight: 600;padding: 0.6rem 0.4rem;color: white;background-color: #266cc38a;">
                            Feedback
                            <div style=" width: 1rem;">
                                <mat-icon (click)="rotate();roundClick();" [@rotatedState]='state' class="sidenav-icon"
                                    aria-hidden="false" aria-label="Example home icon">cached</mat-icon>
                            </div>
                        </h1>
                    </div>
                    <div class="decision-textarea pb-5 h-100" *ngIf="analysisshow">
                        <div class="row">
                            <div class="col-md" style="padding: 10px;">
                                <div class="card feedbsck-value p-3">
                                    <markdown [data]="feedbackvalue"></markdown>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-md-2 py-3">
                        <div class="col-md">
                            <table class="table rsl_tbl">
                                <thead class="rsl_tbl-thead">
                                    <tr class="rsl_tbl-thead-tr">
                                        <th class="rsl_tbl-thead-th" colspan="2">Decisions</th>
                                    </tr>
                                </thead>
                                <tbody class="rsl_tbl-tbody">
                                    <tr class="rsl_tbl-tbody-tr">
                                        <th style="text-align: left;">Parameters</th>
                                        <th class="rsl_tbl-tbody-th">Input</th>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <th style="text-align: left; border-bottom: 2px solid; padding-left: 0.5rem;"
                                            colspan="2">Phase 1</th>

                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Order Quantity, units</td>
                                        <td>{{result[0] |number:'1.0-0'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Reorder Level, units</td>
                                        <td>{{result[1] |number:'1.0-0'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <th style="text-align: left;border-bottom: 2px solid; padding-left: 0.5rem;"
                                            colspan="2">Phase 2</th>

                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Order Quantity, units</td>
                                        <td>{{result[2] |number:'1.0-0'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Reorder Level, units</td>
                                        <td>{{result[3] |number:'1.0-0'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table rsl_tbl">
                                <thead class="rsl_tbl-thead">
                                    <tr class="rsl_tbl-thead-tr">
                                        <th class="rsl_tbl-thead-th" colspan="3">KPI</th>
                                    </tr>
                                </thead>
                                <tbody class="rsl_tbl-tbody">
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Parameter</td>
                                        <th>Phase 1</th>
                                        <th>Phase 2</th>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Service level, %</td>
                                        <td class="middleclassright">{{result[18]*100 | number:'1.0-0'}}</td>
                                        <td>{{result[19]*100 | number:'1.0-0'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Cost, INR</td>
                                        <td class="middleclassright">{{result[20]| number:'1.0-0'}}</td>
                                        <td>{{result[21]| number:'1.0-0'}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table rsl_tbl mt-5">
                                <thead class="rsl_tbl-thead">
                                    <tr class="rsl_tbl-thead-tr">
                                        <th class="rsl_tbl-thead-th" colspan="2">Thinking Ability</th>
                                    </tr>
                                </thead>
                                <tbody class="rsl_tbl-tbody">
                                    <tr class="rsl_tbl-tbody-tr">
                                        <th style="text-align: left;">Parameters</th>
                                        <th class="rsl_tbl-tbody-th">Score</th>
                                    </tr>

                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Ordering & Inventory</td>
                                        <td>{{result[22]*100 | number:'1.0-0'}}%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md">
                            <table class="table rsl_tbl">
                                <thead class="rsl_tbl-thead">
                                    <tr class="rsl_tbl-thead-tr">
                                        <th class="rsl_tbl-thead-th" colspan="3">Quantity, units</th>
                                    </tr>
                                </thead>
                                <tbody class="rsl_tbl-tbody">
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td></td>
                                        <th>Phase 1</th>
                                        <th>Phase 2</th>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Demand</td>
                                        <td class="middleclassright">{{result[4] |number:'1.0-0'}}</td>
                                        <td>{{result[5] |number:'1.0-0'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Stockout</td>
                                       <td class="middleclassright">{{result[6] |number:'1.0-0'}}</td>
                                        <td>{{result[7] |number:'1.0-0'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Back order</td>
                                        <td class="middleclassright">{{result[8]|number:'1.0-0'}}</td>
                                        <td>{{result[9]|number:'1.0-0'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table rsl_tbl">
                                <thead class="rsl_tbl-thead">
                                    <tr class="rsl_tbl-thead-tr">
                                        <th class="rsl_tbl-thead-th" colspan="3">Cost, INR</th>
                                    </tr>
                                </thead>
                                <tbody class="rsl_tbl-tbody">
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td></td>
                                        <th>Phase 1</th>
                                        <th>Phase 2</th>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Ordering</td>
                                        <td class="middleclassright">{{result[10]|number:'1.0-0'}}</td>
                                        <td>{{result[11]| number:'1.0-0'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Holding</td>
                                        <td class="middleclassright">{{result[12]|number:'1.0-0'}}</td>
                                        <td>{{result[13] |number:'1.0-0'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Stock out</td>
                                        <td class="middleclassright">{{result[14]|number:'1.0-0'}}</td>
                                        <td>{{result[15]|number:'1.0-0'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Back ordering</td>
                                        <td class="middleclassright">{{result[16]|number:'1.0-0'}}</td>
                                        <td>{{result[17] |number:'1.0-0'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row lst_r">
                        <div class="col-4 lst_r-col4" *ngIf="!timefinished">
                            <button class="mt-4 retry" [disabled]="isButtonDisabled" (click)="exit()">{{retry}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>