// for header........................

.bus_iness {
  .toolbar-header-main {
    background-color: #1f589f;

    .toolbar-header-2nd {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 61px 5px 48px;
    }
  }

  .ist-table {
    .ist-table-right {
      transform: skewX(-20deg);

      tr td {
        border-right: 1px solid #b7bbd9;
        transform: skewX(20deg);
        font-size: 15px;
        padding: 4px 26px;
        text-align: center;
        color: #b7bbd9;

        a {
          font-size: 12px;
          text-decoration-color: #b7bbd9;
          color: #b7bbd9;
          text-decoration: underline;
        }

        p {
          color: white !important;
          margin: 0 auto;
        }
      }

      tr td:last-child {
        border-right: none;
      }
    }
  }

  .first-tab {
    padding: 0px 65px 5px 59px;
    align-items: center;
  }
}

.disabled {
  color: gray;
  /* or any other styling to indicate it's disabled */
  pointer-events: none;
  /* disables mouse events */
}

// for introduction..................

.bus_iness {
  .container {
    .body-element {
      .element-first {
        justify-content: right;

        .introductn {
          margin: 0rem 0rem 2rem 0rem;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
        }
      }

      .crd1 {
        border: none;
        background-color: transparent;

        .img-top-new {
          height: 210px !important;
          display: flex;
          align-items: end;
        }

        .card-body {
          text-align: center;

          h2 {
            font-size: 23px;
            //margin: 1rem 0rem 0rem 0rem;
          }

          p {
            font-size: 15px;
            line-height: 1.48;
            text-align: initial;
          }
        }
      }
    }
  }
}

// for market..........

.bus_iness {
  .container {
    .body-element {
      .marketer {
        text-align: right;

        .marpoint1st {
          margin: 0rem 0rem 3rem 0rem;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
        }
      }

      .intro_nd {
        justify-content: space-between;
        align-items: center;

        .intro {
          width: 50%;
          .intro-text{
            text-align: justify;
            font-size: 15px;
          }
        }
      }

      .img-fluid {
        width: 90%;
      }
    }
  }
}

// for location........

.bus_iness {
  .container {
    .body-element {
      .loc-ation {
        .element-first {
          justify-content: right;

          .lookatan {
            margin: 0rem 0rem 2rem 0rem;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
          }
        }

        .loc_tbl {
          .loc_tbl-body {


            .form-check-input:checked~.form-check-label {
              color: #10a2fe;
            }

            .loc_tbl-body-tr {
              border: 1px solid lightgray;
              border-left: none;
              border-right: none;

              .loc-img {
                height: 200px;
              }

              td {
                text-align: left;
                padding: 0.5rem 1rem;
                font-size: 14px;
                color: var(--elearingnewui-black) !important;
                font-weight: 500;

                input {
                  cursor: pointer;
                }
              }

              td:nth-child(1) {
                text-align: right;
                font-size: 14px;
                font-weight: 400;
              }

              td:nth-child(2),
              td:nth-child(4) {
                border-left: 2px solid #10a2fe;
                border-right: 2px solid #10a2fe;
              }
            }

            .loc_tbl-body-tr:nth-child(11) td:nth-child(2),
            .loc_tbl-body-tr:nth-child(11) td:nth-child(4),
            .loc_tbl-body-tr:nth-child(12) td:nth-child(2),
            .loc_tbl-body-tr:nth-child(12) td:nth-child(4) {
              text-align: center;
              vertical-align: middle;
            }

            .loc_tbl-body-tr:first-child {
              border: none !important;

              td:nth-child(2),
              td:nth-child(4) {
                border-top: 2px solid #10a2fe;
              }
            }

            .loc_tbl-body-tr:last-child {
              border: none !important;

              td:nth-child(2),
              td:nth-child(4) {
                border-bottom: 2px solid #10a2fe;
                cursor: pointer;
              }
            }

            .form-check .form-check-input {
              float: none;
              margin-left: 0;
            }

          }

        }

        .second_h1 {
          padding-top: 3.5rem;
          padding: 3rem 0rem 0rem 0rem;
          font-size: 33px;

        }

        .input-loc-card {
          .input-loc-card-next {
            padding: 20px 15px;

            .input-card-label {
              font-size: 16px;
              font-weight: 500;
              cursor: pointer;

              .input-card-label-input {
                cursor: pointer;
              }

              .p-tag {
                margin-top: 1rem;
              }

              .maincontent {
                cursor: pointer;
                margin-top: 1rem;
                font-size: 15px;
                color: var(--elearingnewui-gray-700);

                a {
                  color: blue;
                  font-size: 15px;
                }
              }
            }
          }

          .input-loc-card-next.selected {
            background-color: #edf5fb;
            margin: 0;
          }

          .licandregulcost-card {
            height: 90%;
          }
        }
      }
    }
  }
}

// location end............................



// ........................................
// ........................................
/* Custom nav-tabs */
.tab-content {
  .tab-pane {
    text-align: left;
    padding: 10px;

    h3 {
      margin: 0;
    }
  }
}

//header

.headerbreadcrumb {
  background: #1f589f;
  // position: sticky;
  // top: 0;
  // z-index: 2;


  .breadcrumb {
    padding: 0 65px;
    margin: 0;
    border-top: 1px solid #839be394;

    .breadcrumb-item {
      color: #8e9bad;
      align-items: center;
      display: flex;
      // font-size: 16px;
      cursor: pointer;
    }

    .breadcrumb-item.active {
      color: white;
    }
  }

  .breadcrumb-item+.breadcrumb-item::before {
    font-size: 30px;
    content: url("../../../assets/icons/rightarrow.svg");
  }
}

.second-nav {
  padding-bottom: 0.5rem;

  span {
    font-size: 16px;
    cursor: pointer;

  }
}

.nav-item {
  .nav-link {
    color: white;
  }
}

.icon-nav {
  .mat-icon {
    color: #dce0ff;
    margin-right: 20px;
    cursor: pointer;
  }
}

.nav-item.active {
  background-color: #11417a;

  .nav-link {
    color: white;
  }
}

.tab-content .tab-pane {
  padding: 0;
}

::ng-deep .mat-radio-container {
  display: none !important;

}

.element-deman-card {
  .demand-img-card {
    padding: 4px;
    background-color: #00a1c0;
    border: none;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    height: 150px;
    margin-top: 24px;
    background-color: #00a1c0;
    margin-top: 10px;
  }
}

::ng-deep .mat-radio-button {
  position: relative;
  margin-top: 30px;
}

::ng-deep .mat-radio-checked::before {
  content: url("../../../assets/images/businessbasics/bordercurvedforimg.png");
  position: absolute;
  top: 0;
  height: 50px;
  width: 100%;
}



.btn_stl {
  margin-top: 60px;
}

// .....................................
// .....................................



//  Demand start........................
.bus_iness {
  .container {
    .body-element {
      .dema_nd {
        .element-first {
          justify-content: right;

          .locandfoodspc {
            margin: 0rem 0rem 2rem 0rem;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
          }
        }

        .main {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .content {
            padding: 25px;
            color: rgb(0, 0, 0);
            background-color: #edf7f9;
            border-radius: 7px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 15px;
            letter-spacing: 0.2px;
            line-height: 1.4rem;
          }

          .tabrow {
            text-align: center;
            list-style: none;
            padding: 0;

            width: 100%;
            overflow: hidden;
            font-size: 16px;
            position: relative;
            margin: 0;
          }

          .tabrow li {
            border: 1px solid transparent;
            background: tranparent;
            display: inline-block;
            position: relative;
            z-index: 0;
            text-shadow: 0 1px #000000;
            margin: 0 5px;
            padding: 10px 30px 0px 30px;

            img {
              height: 80px;
              width: auto;
            }
          }

          .tabrow li {
            background-color: #edf7f9;
            border-radius: 10px;
            border-radius: 16px;
          }

          .tabrow li.selected {
            background: #edf7f9;
            color: white;
            z-index: 2;
            border-top: 11px solid;
            border-top-color: #edf7f9;
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
            padding-top: 20px;
          }

          .tabrow.selected:before {
            position: absolute;
            content: "";
            width: 100%;
            top: 0;
            left: 0;
            border-top: 1px solid #edf7f9;
            z-index: 1;
          }

          .tabrow li.selected:before,
          .tabrow li.selected:after {
            border: 1px solid transparent;
            position: absolute;
            top: -10px;
            width: 20px;
            height: 30px;
            content: "";
          }

          .tabrow li:before {
            left: -21px;
            border-top-right-radius: 50px;
            border-width: 1px 1px 0px 0px;
            box-shadow: 2px 0px 0 #ececec;
          }

          .tabrow li:after {
            right: -21px;
            border-top-left-radius: 50px;
            border-width: 1px 0px 0px 1px;
            box-shadow: -2px 0px 0 #edf7f9;
          }

          .tabrow li.selected:before {
            box-shadow: 15px -15px 0px 15px #edf7f9;
          }

          .tabrow li.selected:after {
            box-shadow: -15px -15px 0px 15px #edf7f9;
          }
        }
      }
    }
  }
}

// demand end...........


// investment start........................
.bus_iness {
  .container {
    .body-element {
      .invest_ment {

        .element-first {
          justify-content: right;

          .investspcfood {
            margin: 0rem 0rem 2rem 0rem;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
          }
        }

        .crd1 {
          border: none;
          text-align: center;

          .invesimg {
            text-align: center;
          }

          .invesimg-fluid {
            height: 200px;
          }

          .crd1-card-body {
            padding: 0rem 1rem;

            .crd1-card-title {
              font-size: 23px;
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              margin: 0;
            }

            .mat-icon {
              font-size: 21px;
            }
          }

        }

        .note_p {
          text-align: justify;
        }

        .investpad {
          padding: 0;

          .select-card {
            .select-card-next {
              padding: 1rem 0.2rem;
            }

            .invest-selection-card {

              .radio-card {
                border: 1px solid #05a5c1;

                .input-card-label {
                  .input-card-input {
                    cursor: pointer;
                  }

                  .input-card-label-span {
                    font-weight: 400;
                    font-size: 17px;
                    color: var(--elearingnewui-btn-blue);
                    cursor: pointer;
                  }

                  .maincontent {
                    cursor: pointer;
                    margin-top: 1rem;
                    font-size: 15px;
                    color: var(--elearingnewui-gray-700);
                  }
                }
              }
            }


          }
        }

        .card.selected {
          background-color: #edf5fb;
        }

        .img-check {
          .img-check-card {
            transition: background-color 0.3s;
            padding: 0px;
            display: flex;
            align-items: center;

            .card-img-top {
              height: 15rem;
            }

            .img-check-card-body {
              text-align: center;
              padding: 0 1rem;

              .img-check-card-body-h3 {
                margin: 0px;
                font-weight: 600px;
              }

              .card-text {
                font-weight: 400;
                font-size: 14px;
                padding-top: 11px;
                text-align: initial;
              }
            }

            .img-check-card-footer {
              background: transparent;
              border: none;
              margin-top: 1.5rem;
              width: 100%;

              .form-check-input {
                float: right;
                height: 20px;
                width: 20px;
                cursor: pointer;
              }
            }
          }
        }

        .second_h1 {
          padding-top: 3.5rem;
          padding: 3rem 0rem 0rem 0rem;
        }

        .technology-col {
          display: flex;
          align-items: center;
          justify-content: center;

          .technology-img-div {
            .technology-img {
              height: 15rem;
            }
          }
        }
      }
    }
  }
}

// investment end..................................


// marketing start......................................
.bus_iness {
  .container {
    .body-element {
      .marketing {
        .element-first {
          justify-content: right;

          .marelegapfood {
            margin: 0rem 0rem 2rem 0rem;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
          }
        }

        .mat-icon {
          font-size: 21px;
        }

        .input-img-card {
          .marketing-card {
            padding: 0;
            display: flex;
            align-items: top;

            .card-img-top {
              height: 15rem;
            }

            .card-body {
              text-align: center;
              padding: 0 1rem;

              h3 {
                font-weight: 600;
                margin: 0px 4px;
              }
            }

            .form-check {
              border: none;
              background: transparent;

              .checkfrominput {
                float: right;
                height: 20px;
                width: 20px;
              }
            }
          }

          .marketing-card:nth-child(4) {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .marketing-graph-card {
          .marketing-graph-card-next {
            padding: 1rem;
            //justify-content: center;
          }
        }

        .marketing-card {
          border: 1px solid #ccc;
          // height: 90%;
          //padding: 1rem;

          .card-text {
            font-weight: 400;
            font-size: 14px;
            padding-top: 11px;
            text-align: initial;
          }

          .card-footer {
            input {
              cursor: pointer;
            }
          }

          .input-card-label {
            font-size: 15px;
            font-weight: 500;
            cursor: pointer;

            .maincontent {
              cursor: pointer;
              margin-top: 1rem;
              font-size: 15px;
              color: var(--elearingnewui-gray-700);

              a {
                color: blue;
                font-size: 15px;
              }
            }

            input {
              cursor: pointer;
            }
          }
        }

        .card.selected {
          background-color: #edf5fb;
        }

      }

    }
  }
}

// marketing end.........................................


// Decision check list start..............................
.bus_iness {
  .container {
    .decision-checklist {
      padding: 2.5rem 5rem 0rem 5rem;

      .decision-checklist-col6 {
        padding-left: 0.3rem;

        .decision-checklist-col6-h1 {
          margin: 0;
        }
      }

      .select-round {
        padding: 0.5rem;
        border-radius: 0.4rem;
        border: 1px solid #b73b00;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 3px 2px;
        cursor: pointer;

        .select-round-option {
          background: white;
        }
      }

      .checklisttable {
        .checklisttable-body {
          .checklisttable-body-tr {
            .checklisttable-body-tr:first-child {
              border-bottom: 3px solid black;
            }

            th:first-child {
              font-size: 1.1rem;
              font-weight: 600;
            }
          }

          .defaultcolor {
            background-color: lightblue;
            padding: 5px;
          }

          .notdefaultcolor {
            background-color: rgb(0, 255, 115);
            padding: 5px;
          }
        }
      }

      .btn_stl-decisionchecklist {
        text-align: right;
        margin-top: 10px;
      }
    }
  }

}

.decisionchecklistpopup {
  width: 35rem;

  .decisionchecklistpopup-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f589f;
    color: white;

    .decisionchecklistpopup-card-header-pclass {
      margin: 0;
      font-weight: 500;
    }
  }

  .decisionchecklistpopup-card-footer {
    gap: 21px;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: end;

    .close_btn {
      padding: 6px 19px;
      font-size: 14px;
      border: 1px solid lightgrey;
      border-radius: 0.5rem;
      background-color: #6c757d;
      color: white;
    }

    .save_btn {
      padding: 6px 19px;
      font-size: 14px;
      border: 1px solid lightgrey;
      border-radius: 0.5rem;
      background-color: #0d6efd;
      color: white;
    }
  }

  .cross-circle {
    font-size: 22px;
    color: white;
    cursor: pointer;
  }
}

// decision checklist end.......................


//report..........
.bus_iness {
  .container {
    .body-element {
      .re_ort {
        .select-round {
          padding: 0.5rem;
          border-radius: 0.4rem;
          border: 1px solid #b73b00;
          box-shadow: rgba(0, 0, 0, 0.45) 0px 3px 2px;
          cursor: pointer;

          .select-round-option {
            background: white;
          }
        }

        .download_btn {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid;
          padding: 0.2rem 2rem;
          border-radius: 1rem;
          background: transparent;
          border: none;
          color: var(--elearingnewui-body-color);
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          background-color: aliceblue;
          cursor: pointer;


          .download_btn-img {
            height: 1.5rem;

          }
        }

        .reyapo {
          margin: 0;

          .reyapo-h1 {
            padding-top: 20px;
            font-size: 33px;
            font-weight: 400;
          }
        }

        .rigorcard {
          border: none;
          background-color: transparent;
          .rigorcard-icon{
            .rigorcard-icon-mat{
              float: right;

            }
            padding-right: 0.3rem;
          }
        }
        .rsl_tbl {
          .rsl_tbl-thead {
            .rsl_tbl-thead-tr {
              border: 1px solid lightgray;

              .rsl_tbl-thead-th {
                font-size: 1.1rem;
                font-weight: 600;
                padding: 1rem 0.4rem;
                color: white;
                background-color: #266cc38a;
              }
            }
          }

          .rsl_tbl-tbody {
            .rsl_tbl-tbody-tr {
              border: 1px solid lightgray;

            }

            .margin-td {
              border-top: 2px solid darkblue;

              td:last-child {
                color: red;
              }
            }

          }
        }
        .incomestatement-pie{
          // display: flex;
          // align-items: center;
        }

      }
    }
  }
}
.rigortooltips{
  tr{
    th,td{
      padding: 30px;
      font-size: 14px;

    }
  }
}

// report end.....................................




// feedback
.bus_iness {
  .container {
    .body-element {

      .feed_ack {
        .select-round {
          padding: 0.5rem;
          border-radius: 0.4rem;
          border: 1px solid #b73b00;
          box-shadow: rgba(0, 0, 0, 0.45) 0px 3px 2px;
          cursor: pointer;
          cursor: pointer;

          .select-round-option {
            background: white;
          }
        }

        .download_btn {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid;
          padding: 0.2rem 2rem;
          border-radius: 1rem;
          background: transparent;
          border: none;
          color: var(--elearingnewui-body-color);
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          background-color: aliceblue;
          cursor: pointer;

          img {
            height: 1.5rem;
          }
        }

        .mat-icon {
          font-size: 21px;

        }

        .rsl_tbl {
          .rsl_tbl-thead {
            .rsl_tbl-thead-tr {
              border: 1px solid lightgray;

              .rsl_tbl-thead-th {
                font-size: 1.1rem;
                font-weight: 600;
                padding: 1rem 0.4rem;
                color: white;
                background-color: #266cc38a;
              }
            }
          }

          .rsl_tbl-tbody {
            .rsl_tbl-tbody-tr {
              border: 1px solid lightgray;
            }
          }
        }

        .lst_r {
          .lst_r-col4 {
            .btn_stl {
              margin-right: 10px;
            }

            .retry {
              padding: 13px 36px;
              border: 3px solid #30b4cc;
              border-radius: 6px;
              background: transparent;
              color: #30b4cc;
              font-size: 20px;
            }

            .retry:hover {
              background-color: #53d8ef1f;
            }
          }
        }
      }
      .feedbsck-value{
        border: 2px solid darkgreen;
        text-align: justify;
      }
    }
  }
}

// feedback end..........................................




// forum....
.bus_iness {
  .container {
    .body-element {
      .individual-card {
        background-color: #e7e7e7;

        .individual-card_head {
          padding: 0;

          .individual-card_img {
            height: 11rem;
            width: 100%;
          }
        }

        .plus_btn {
          position: absolute;
          top: 30px;
          left: 23px;

          .plus_btn-span {
            font-size: 21px;
            color: white;
          }

          .plus_btn-span:nth-child(2) {
            font-style: italic;
            font-size: 18px;
            color: white;
          }


        }

        .plus_sign {
          border: 1px solid white;
          height: 29px;
          width: 29px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: blue;
          border-radius: 50%;
          background: white;
          position: absolute;
          top: 10.2rem;
          left: 49%;
          font-size: 20px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          cursor: pointer;
        }

        .plus_sign-text {

          position: absolute;
          top: 12rem;
          left: 48%;
          font-size: 11px;
          font-style: italic;
          color: gray;
        }

        .card-body-first {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 3rem;

          .card-body-first_card {
            width: 40rem;

            .card-body-first_card_header {
              border-bottom: 2px solid blue;
              background: transparent;
              padding: 8px 15px;
              font-weight: 500;
              font-size: 16px;
            }

            .card-body-first_card_body {
              padding: 8px 15px;

              .card-body-first_card_body-input {
                width: 100%;
                border-radius: 4px;
                border: 2px solid #1b58c9;
                padding: 2px 10px;
              }
            }

            .card-body-first_card-footer {
              border: none;
              background: transparent;
              padding: 8px 15px;

              .btnfooter {
                color: white;
                padding: 3px 8px;
                background-color: rgb(45 86 195);
                border: none;
                border-radius: 4px;
              }
            }
          }
        }
      }
    }
  }
}

// For Reading..............

.bus_iness {
  .container {
    .body-element {
      .reading-card {
        .card-header {
          background: transparent;
          border-bottom: 2px solid #3370cd;
          padding: 17px 11px;
          font-weight: 500;
        }

        .card-body {
          border-top: 1px solid lightslategray;

          .card-title {
            margin: 0;
          }
        }
      }
    }
  }
}

// food for thought...................................
.bus_iness {
  .food-for-thought {
    height: 30rem;
    width: 60rem;

    .food-thought-decision {
      background-color: var(--elearningnewui-div-light);
      padding: 1rem;
      border: none;
    }

    .food-thought-decision-question-card {
      border: none;
      padding: 1rem;

      .food-thought-decision-question-card-h3 {
        line-height: 1.4rem;
      }

      .responsecard {
        border-left: 4px solid #10a2fe;
        padding: 1rem 0.5rem;

        ul {
          padding-left: 15px;
        }

        .form-check-input:checked~.form-check-label {
          color: #10a2fe;
        }
      }
    }

    .mark-img {

      display: flex;
      align-items: center;
      height: 100%;
      justify-content: center;

    }

    // foodfor thaught mat stepper............

    ::ng-deep .mat-step-label {
      font-size: 11px !important;
      font-weight: 400;
    }

    ::ng-deep .mat-step-label {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      min-width: 12px !important;
      vertical-align: middle;
    }

    ::ng-deep .mat-horizontal-stepper-header {
      display: flex;
      height: 25px;
      overflow: hidden;
      align-items: center;
      padding: 0 2px !important;
    }

    ::ng-deep.mat-step-header.cdk-focused {
      background-color: transparent !important;
    }

    ::ng-deep .mat-step-icon .mat-icon {
      font-size: 17px !important;
      height: 19px !important;
      width: 18px !important;
    }

    ::ng-deep .mat-horizontal-stepper-header-container {
      white-space: nowrap;
      display: flex;
      align-items: center;
      height: 32px !important;
      width: 50rem !important;
      padding: 1.5rem 0.5rem;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      border-radius: 1rem;

    }

    ::ng-deep .mat-horizontal-stepper-header .mat-step-icon {
      margin-right: 3px !important;
      flex: none;
      /* height: 24px; */
    }

    ::ng-deep .mat-step-header .mat-step-icon-state-done,
    .mat-step-header .mat-step-icon-state-edit {
      background-color: #57bf7b !important;
      color: #fff;
    }



    ::ng-deep .mat-stepper-horizontal-line {
      border-top-width: 1px;
      border-top-style: solid;
      flex: auto;
      height: 0;
      margin: 7px 1px !important;
      min-width: 7px !important;
    }

    ::ng-deep .mat-step-icon {
      border-radius: 65%;
      height: 24px !important;
      width: 24px !important;
      flex-shrink: 0;
      position: relative;
    }

    ::ng-deep.mat-step-icon-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      font-size: 11px !important;
    }

    .cross-circle {
      font-size: 22px;
      color: red;
      cursor: pointer;
    }

    .last-feedback {
      display: flex;
      align-items: center;
      flex-direction: column;

      .continue-game {
        .p-class {
          margin: 0;
          cursor: pointer;
        }

        display: flex;
        gap: 10px;
      }
    }






  }

  h3 {
    font-weight: 600;
    word-spacing: 0.1rem;
    line-height: 2rem;
    margin: 0px 4px;
  }



}





.bluebackground {
  background-color: #edf5fb;
}

// .model_header {
//   padding: 0.5rem 0.5rem !important;
//   background-color: #1f589f;
//   color: white;

//   .model_title {
//     margin: 0;
//   }
// }

.form-check-input:checked~.form-check-label {
  color: #10a2fe;
}

//loading stytle

// .loadingscreen {
//   position: absolute;
//   height: 100%;
//   width: 100%;
//   z-index: 50;
//   background: rgba(255, 255, 255, 0.4);
//   backdrop-filter: saturate(200%) blur(10px);
// }

// .loadingscreen .loadingspinner {
//   position: absolute;
//   top: 35%;
//   left: 45%;
//   font-size: 30px;
//   height: 100px;
//   width: 100px;
//   color: crimson;
// }

// .loadingscreen .loadingspinnertxt {
//   position: absolute;
//   top: 55%;
//   left: 40%;
//   font-size: 20px;
//   font-weight: 500;

// }
//loading style
.loadingscreen {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 50;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: saturate(200%) blur(10px);

  .loadingspinner {
    position: absolute;
    top: 35%;
    left: 45%;
    font-size: 30px;
    height: 100px;
    width: 100px;
    color: crimson;

  }

  .loadingspinnertxt {
    position: absolute;
    // top: 55%;
    // left: 40%;
    font-size: 20px;
    font-weight: 500;
    left: 50%;
    transform: translateX(-50%);
    top:50%;
    // transform: translateY(-50%);
  }
}