:host {
    .bus_iness {
        .promptcard {
            margin: 2rem 0.2rem;
            .col-md {
                h4 {
                    margin-bottom: 0;
                }
            }
        
            .write_div {
                height: 2.5rem;
                width: 100%;
                padding: 0.3rem;
                border: 1px solid lightgrey;
                border-radius: 0.2rem;
            }
            .lightbackground{
                background-color: rgb(220, 223, 224);
            }
        
            .case-texts__content {
                .case-texts__content-after {
                    st-editor {
                        .st-editor-container {
                            .st-toolbar {
                                border: none !important;
                                background: transparent !important;
                                padding: 3px !important;
                                border-bottom: 0 !important;
                            }
            
                            .st-area {
                                resize:vertical;
                                border-top: 1px solid #bdbdbd !important;
                                min-height: 150px !important;
                                // height: 10rem !important;
                                overflow: scroll !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .microsimdashboardtable {
        td.mat-cell:last-of-type {
            text-align: left !important;
            padding: 5px !important;
            font-weight: 400 !important;
        }

        th.mat-header-cell {
            width: 20rem;
            font-size: 0.9rem !important;
            color: white !important;
        }

        .mat-header-row {
            background-color: #266cc38a !important;
            border-bottom: 2px solid black;
        }
    }

    .mat-paginator-container {
        justify-content: center !important;
    }

    .mat-elevation-z8 {
        overflow-x: auto;
    }

    .fixed-height-width {
        .mat-td-height {
            height: 100px; /* Adjust the height as needed */
            overflow: auto;
            padding: 5px;
            display: flex;
        }
    }
}