<div class="elearingnewui casemanagement">
    <div class="case-management-body case-management-body-marketing">
        <table class="table page-name">
            <thead>
                <tr>
                    <th>
                        <h2>Companies</h2>
                    </th>
                </tr>
            </thead>
        </table>
        <div class=" table-responsive mb-3 mt-3">
            <table class="table case-management-table ">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Asking Price, INR B</th>
                    </tr>
                    <tr>
                        <td>BatteryTech Solutions</td>
                        <td *ngFor="let capitaldata of res.x7; let i = index">
                            <input [value]="res.x7[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('x7',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>EfficientManufacture Corp.
                        </td>
                        <td *ngFor="let capitaldata of res.x8; let i = index">
                            <input [value]="res.x8[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('x8',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>ElectroMetals Ltd.</td>
                        <td *ngFor="let capitaldata of res.x9; let i = index">
                            <input [value]="res.x9[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('x9',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>GreenLogistics Co.
                        </td>
                        <td *ngFor="let capitaldata of res.x10; let i = index">
                            <input [value]="res.x10[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('x10',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>RapidDrive Inc.</td>
                        <td *ngFor="let capitaldata of res.x11; let i = index">
                            <input [value]="res.x11[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('x11',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>EcoVehicles Plc.
                        </td>
                        <td *ngFor="let capitaldata of res.x12; let i = index">
                            <input [value]="res.x12[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('x12',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>AutoExpand Ltd.</td>
                        <td *ngFor="let capitaldata of res.x13; let i = index">
                            <input [value]="res.x13[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('x13',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Chargify Technologies
                        </td>
                        <td *ngFor="let capitaldata of res.x14; let i = index">
                            <input [value]="res.x14[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('x14',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>EcoAI Innovations</td>
                        <td *ngFor="let capitaldata of res.x15; let i = index">
                            <input [value]="res.x15[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('x15',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>NanoDrive Systems
                        </td>
                        <td *ngFor="let capitaldata of res.x16; let i = index">
                            <input [value]="res.x16[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('x16',i,inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class=" table-responsive mb-3 mt-3">
            <table class="table case-management-table ">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Valuation, INR B</th>
                    </tr>
                    <tr>
                        <td>BatteryTech Solutions</td>
                        <td *ngFor="let capitaldata of res.y7; let i = index">
                            <input [value]="res.y7[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('y7',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>EfficientManufacture Corp.
                        </td>
                        <td *ngFor="let capitaldata of res.y8; let i = index">
                            <input [value]="res.y8[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('y8',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>ElectroMetals Ltd.</td>
                        <td *ngFor="let capitaldata of res.y9; let i = index">
                            <input [value]="res.y9[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('y9',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>GreenLogistics Co.
                        </td>
                        <td *ngFor="let capitaldata of res.y10; let i = index">
                            <input [value]="res.y10[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('y10',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>RapidDrive Inc.</td>
                        <td *ngFor="let capitaldata of res.y11; let i = index">
                            <input [value]="res.y11[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('y11',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>EcoVehicles Plc.
                        </td>
                        <td *ngFor="let capitaldata of res.y12; let i = index">
                            <input [value]="res.y12[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('y12',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>AutoExpand Ltd.</td>
                        <td *ngFor="let capitaldata of res.y13; let i = index">
                            <input [value]="res.y13[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('y13',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Chargify Technologies
                        </td>
                        <td *ngFor="let capitaldata of res.y14; let i = index">
                            <input [value]="res.y14[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('y14',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>EcoAI Innovations</td>
                        <td *ngFor="let capitaldata of res.y15; let i = index">
                            <input [value]="res.y15[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('y15',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>NanoDrive Systems
                        </td>
                        <td *ngFor="let capitaldata of res.y16; let i = index">
                            <input [value]="res.y16[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('y16',i,inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class=" table-responsive mb-3 mt-3">
            <table class="table case-management-table ">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Min Premium Expected %</th>
                    </tr>
                    <tr>
                        <td>BatteryTech Solutions</td>
                        <td *ngFor="let capitaldata of res.z7; let i = index">
                            <input [value]="res.z7[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('z7',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>EfficientManufacture Corp.
                        </td>
                        <td *ngFor="let capitaldata of res.z8; let i = index">
                            <input [value]="res.z8[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('z8',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>ElectroMetals Ltd.</td>
                        <td *ngFor="let capitaldata of res.z9; let i = index">
                            <input [value]="res.z9[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('z9',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>GreenLogistics Co.
                        </td>
                        <td *ngFor="let capitaldata of res.z10; let i = index">
                            <input [value]="res.z10[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('z10',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>RapidDrive Inc.</td>
                        <td *ngFor="let capitaldata of res.z11; let i = index">
                            <input [value]="res.z11[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('z11',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>EcoVehicles Plc.
                        </td>
                        <td *ngFor="let capitaldata of res.z12; let i = index">
                            <input [value]="res.z12[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('z12',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>AutoExpand Ltd.</td>
                        <td *ngFor="let capitaldata of res.z13; let i = index">
                            <input [value]="res.z13[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('z13',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Chargify Technologies
                        </td>
                        <td *ngFor="let capitaldata of res.z14; let i = index">
                            <input [value]="res.z14[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('z14',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>EcoAI Innovations</td>
                        <td *ngFor="let capitaldata of res.z15; let i = index">
                            <input [value]="res.z15[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('z15',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>NanoDrive Systems
                        </td>
                        <td *ngFor="let capitaldata of res.z16; let i = index">
                            <input [value]="res.z16[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('z16',i,inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>