.hrp_game {
  .container {
    .body-element {
      .re_ort {
        .element-first {
          justify-content: right;

          .marpoint1st {
            margin: 0rem 0rem 3rem 0rem;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
          }
        }

        .reyapo {
          margin: 0;

          .reyapo-h1 {
            padding-top: 20px;
            font-size: 33px;
            font-weight: 400;
          }
        }

        .rigorcard {
          border: none;
          background-color: transparent;

          .rigorcard-icon {
            .rigorcard-icon-mat {
              float: right;
            }

            padding-right: 0.3rem;
          }
        }

        .rsl_tbl {
          .rsl_tbl-thead {
            .rsl_tbl-thead-tr {
              border: 1px solid lightgray;

              .rsl_tbl-thead-th {
                font-size: 1.1rem;
                font-weight: 600;
                padding: 1rem 0.4rem;
                color: white;
                background-color: #266cc38a;
                text-align: justify;
                border-top: none;
                border-left: none;
                border-right: none;
              }
            }
          }

          .rsl_tbl-tbody {
            p {
              font-size: 15px;
              font-weight: 400;
              color: var(--elearingnewui-gray-700);
              line-height: 1.5;
              border: 1px solid lightgray;
              padding: 10px;
              text-align: justify;
            }

            .rsl_tbl-tbody-tr {
              border: 1px solid lightgray;
              font-size: 15px;

              .rsl_tbl-tbody-th {
                font-size: 14px;
                font-weight: 500;
                text-align: right;
              }

              .middleclassright {
                text-align: right;
                font-weight: 500;
                font-size: 12px;
                color: #000;
              }

              .lastchildtd {
                text-align: right;
                font-weight: 400;
                font-size: 14px;
              }
            }

            .rsl_tbl-tbody-tr td:nth-child(3){
                padding-right: 0;
                vertical-align: middle;
            }
            .rsl_tbl-tbody-tr td:nth-child(1){
                padding-right: 0;
                vertical-align: middle;
            }
            .rsl_tbl-tbody-tr td:nth-child(4){
                vertical-align: middle;
                padding: 8px;
            }

            .margin-td {
              border-top: 2px solid darkblue;

              td:last-child {
                color: red;
              }
            }
          }
          .input-no_box:disabled{
            background-color:#ebebebdb;
            border: 2px solid #bdbdbd;

        }
        }
      }
    }
  }
}
