<div class="elearingnewui casemanagement">
    <div class="case-management-body case-management-body-marketing ">
        <div class=" table-responsive mb-3 mt-3">
            <table class="case-management-table case-management-table-marketing">
                <thead>
                    <tr>
                        <td colspan="2" *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody class="first-tbody">
                    <tr>
                        <ng-container *ngFor="let item of data; let i = index">
                            <td *ngIf="i % 2 === 0">Battery Life %</td>
                            <td *ngIf="i % 2 !== 0">Elasticity Curve</td>
                        </ng-container>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.x7[index]*100" #x7Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('x7', index, x7Input.value)"></td>
                            <td><input [value]="res.y7[index]" #y7Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('y7', index, y7Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.x8[index]*100" #x8Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('x8', index, x8Input.value)"></td>
                            <td><input [value]="res.y8[index]" #y8Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('y8', index, y8Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.x9[index]*100" #x9Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('x9', index, x9Input.value)"></td>
                            <td><input [value]="res.y9[index]" #y9Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('y9', index, y9Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.x10[index]*100" #x10Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('x10', index, x10Input.value)"></td>
                            <td><input [value]="res.y10[index]" #y10Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('y10', index, y10Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.x11[index]*100" #x11Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('x11', index, x11Input.value)"></td>
                            <td><input [value]="res.y11[index]" #y11Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('y11', index, y11Input.value)"></td>
                        </ng-container>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class=" table-responsive mb-3 mt-3">
            <table class="case-management-table case-management-table-marketing">
                <thead>
                    <tr>
                        <td colspan="2" *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody class="first-tbody">
                    <tr>
                        <ng-container *ngFor="let item of data; let i = index">
                            <td *ngIf="i % 2 === 0">Battery Life %</td>
                            <td *ngIf="i % 2 !== 0">Competence Curve</td>
                        </ng-container>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.x14[index]*100" #x14Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('x14', index, x14Input.value)"></td>
                            <td><input [value]="res.y14[index]" #y14Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('y14', index, y14Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.x15[index]*100" #x15Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('x15', index, x15Input.value)"></td>
                            <td><input [value]="res.y15[index]" #y15Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('y15', index, y15Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.x16[index]*100" #x16Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('x16', index, x16Input.value)"></td>
                            <td><input [value]="res.y16[index]" #y16Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('y16', index, y16Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.x17[index]*100" #x17Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('x17', index, x17Input.value)"></td>
                            <td><input [value]="res.y17[index]" #y17Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('y17', index, y17Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.x18[index]*100" #x18Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('x18', index, x18Input.value)"></td>
                            <td><input [value]="res.y18[index]" #y18Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('y18', index, y18Input.value)"></td>
                        </ng-container>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class=" table-responsive mb-3 mt-3">
            <table class="case-management-table case-management-table-marketing">
                <thead>
                    <tr>
                        <td colspan="2" *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody class="first-tbody">
                    <tr>
                        <ng-container *ngFor="let item of data; let i = index">
                            <td *ngIf="i % 2 === 0">Battery Life %</td>
                            <td *ngIf="i % 2 !== 0">Cost Curve</td>
                        </ng-container>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.x21[index]*100" #x21Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('x21', index, x21Input.value)"></td>
                            <td><input [value]="res.y21[index]" #y21Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('y21', index, y21Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.x22[index]*100" #x22Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('x22', index, x22Input.value)"></td>
                            <td><input [value]="res.y22[index]" #y22Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('y22', index, y22Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.x23[index]*100" #x23Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('x23', index, x23Input.value)"></td>
                            <td><input [value]="res.y23[index]" #y23Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('y23', index, y23Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.x24[index]*100" #x24Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('x24', index, x24Input.value)"></td>
                            <td><input [value]="res.y24[index]" #y24Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('y24', index, y24Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.x25[index]*100" #x25Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('x25', index, x25Input.value)"></td>
                            <td><input [value]="res.y25[index]" #y25Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('y25', index, y25Input.value)"></td>
                        </ng-container>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class=" table-responsive mb-3 mt-3">
            <table class="case-management-table case-management-table-marketing">
                <thead>
                    <tr>
                        <td colspan="2" *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody class="first-tbody">
                    <tr>
                        <ng-container *ngFor="let item of data; let i = index">
                            <td *ngIf="i % 2 === 0">Battery Life %</td>
                            <td *ngIf="i % 2 !== 0">Attractiveness Curve</td>
                        </ng-container>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.x28[index]*100" #x28Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('x28', index, x28Input.value)"></td>
                            <td><input [value]="res.y28[index]" #y28Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('y28', index, y28Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.x29[index]*100" #x29Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('x29', index, x29Input.value)"></td>
                            <td><input [value]="res.y29[index]" #y29Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('y29', index, y29Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.x30[index]*100" #x30Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('x30', index, x30Input.value)"></td>
                            <td><input [value]="res.y30[index]" #y30Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('y30', index, y30Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.x31[index]*100" #x31Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('x31', index, x31Input.value)"></td>
                            <td><input [value]="res.y31[index]" #y31Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('y31', index, y31Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.x32[index]*100" #x32Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('x32', index, x32Input.value)"></td>
                            <td><input [value]="res.y32[index]" #y32Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('y32', index, y32Input.value)"></td>
                        </ng-container>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class=" table-responsive mb-3 mt-3">
            <table class="case-management-table case-management-table-marketing">
                <thead>
                    <tr>
                        <td colspan="2" *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody class="first-tbody">
                    <tr>
                        <ng-container *ngFor="let item of data; let i = index">
                            <td *ngIf="i % 2 === 0">Attractiveness %</td>
                            <td *ngIf="i % 2 !== 0">Elasticity from Mid Tier</td>
                        </ng-container>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.x35[index]*100" #x35Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('x35', index, x35Input.value)"></td>
                            <td><input [value]="res.y35[index]" #y35Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('y35', index, y35Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.x36[index]*100" #x36Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('x36', index, x36Input.value)"></td>
                            <td><input [value]="res.y36[index]" #y36Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('y36', index, y36Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.x37[index]*100" #x37Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('x37', index, x37Input.value)"></td>
                            <td><input [value]="res.y37[index]" #y37Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('y37', index, y37Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.x38[index]*100" #x38Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('x38', index, x38Input.value)"></td>
                            <td><input [value]="res.y38[index]" #y38Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('y38', index, y38Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.x39[index]*100" #x39Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('x39', index, x39Input.value)"></td>
                            <td><input [value]="res.y39[index]" #y39Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('y39', index, y39Input.value)"></td>
                        </ng-container>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class=" table-responsive mb-3 mt-3">
            <table class="case-management-table case-management-table-marketing">
                <thead>
                    <tr>
                        <td colspan="2" *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody class="first-tbody">
                    <tr>
                        <ng-container *ngFor="let item of data; let i = index">
                            <td *ngIf="i % 2 === 0">Attractiveness Score</td>
                            <td *ngIf="i % 2 !== 0">Market Elasticity %</td>
                        </ng-container>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.x42[index]" #x42Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('x42', index, x42Input.value)"></td>
                            <td><input [value]="res.y42[index]*100" #y42Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('y42', index, y42Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.x43[index]" #x43Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('x43', index, x43Input.value)"></td>
                            <td><input [value]="res.y43[index]*100" #y43Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('y43', index, y43Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.x44[index]" #x44Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('x44', index, x44Input.value)"></td>
                            <td><input [value]="res.y44[index]*100" #y44Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('y44', index, y44Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.x45[index]" #x45Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('x45', index, x45Input.value)"></td>
                            <td><input [value]="res.y45[index]*100" #y45Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('y45', index, y45Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.x46[index]" #x46Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('x46', index, x46Input.value)"></td>
                            <td><input [value]="res.y46[index]*100" #y46Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('y46', index, y46Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.x47[index]" #x47Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('x47', index, x47Input.value)"></td>
                            <td><input [value]="res.y47[index]*100" #y47Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('y47', index, y47Input.value)"></td>
                        </ng-container>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>