// newdesign

// .studentlogin .homepage .hompageimgcard{
//     background-image: url("../../../assets/images/Home_Page-removebg-preview.png");
// }
.studentlogin .homepage .accounttext{
    color: white;
    align-items: center;
    display: flex;
    font-size: 1rem;
    font-stretch: extra-expanded;
    padding-right: 18px;
}
.studentlogin .homepage .manegtextbelow{
    font-size: 1rem;
    padding-top: 14px;
    color: white;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 20px;
}
.studentlogin .homepage .signinboxmain{
    width: 100%;
    align-items: center;
    height: 100%;
}
.studentlogin .homepage .signinbox{
    height: 3rem;
}
.studentlogin .homepage .signintext{
    color: white;
    font-size: 42px;
    padding-bottom: 50px;
}
.studentlogin .homepage .checkboxtext{
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.studentlogin .homepage .logtext{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    width: 40%;
    color: #7f0081;
    background-color: white;
    height: 6vh;
    font-size: 20px;
    border-radius: 7px;
    font-weight: 600;
}





.studentlogin{
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    background-image: url("../../../assets/images/Starry\ Nights.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family:Arial, Helvetica, sans-serif;
   
}

.studentlogin .homepage .navtext{
    padding: 35px 4%;
}
.studentlogin .homepage .navtextbtn{
    background-color: #e8e8e5;
    padding: 8px 18px;
    font-size: 15px;
    font-weight: 700;
    border: none;
    min-width: 100px;
}
.studentlogin .homepage .navtextbtn.active{
    background-color:red;
    color: white;
}
.studentlogin .homepage .bb{
    background-color: black;
}

.studentlogin .homepage .midlleportion{
    margin-top: 2rem;
}
.studentlogin .homepage .hompageimgcard img{
    max-height: 300px;
}
.studentlogin .homepage .manegtext{
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 0;
    text-align: center;
}
.studentlogin .homepage .gamelearnigearning h1{
    color: white;
    font-size: 26px;
    font-weight: 600;
}
.studentlogin .homepage .midlleportioncol{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.studentlogin .homepage .forgetpassword{
    font-size: 0.9rem;
}