<!-- new -->
<div class="elearingnewui">
    <div class="salestarget-element-body">
        <div class="links">
            <ul>
                <button class="out-look-btn " [style.background-color]="round === selectedButton? 'lightgrey' : ''"
                    *ngFor="let round of rounds; let i = index;" (click)="roundclick(i,round)">{{round}}</button>
            </ul>
        </div>
        <div class="case-texts__content">
            <div id="initial">
                <div class="case-texts__content-main">
                    <div class=" case-texts__container">
                        <label class="case-texts__content-after-label pb-2">Original text</label>
                        <div class=" case-texts__container-textarea">
                            In the bustling Indian smartphone market, a new contender, TechCom (TC), has entered the
                            fray, eager to make its mark with a fund of INR 500 Mn. Tasked with positioning TechCom's
                            offering, armed with insights into the diverse preferences of Indian consumers across four
                            segments: Price conscious, Trendy, Socially conscious, and Tech Savvy. <br><br>

                            Navigating through the competitive landscape dominated by five major brands, your strategic
                            decisions on product features, pricing, promotion, channels, repair services, packaging, and
                            recycling are pivotal. Balancing the demands of performance-driven tech-savvy consumers with
                            the eco-conscious concerns of the Socially conscious segment, your choices shape TechCom's
                            identity in the Indian market. <br><br>

                            With your each calculated move, TechCom will inch closer to becoming a household name in
                            India. As your decisions resonate with consumers and carve out a distinct space for TechCom
                            amidst the competition, the company's journey will become a testament to the power of
                            strategic positioning in a dynamic and diverse market.
                        </div>
                    </div>
                    <div class="case-texts__content-starea">
                        <div class="case-texts__content-after">
                            <label class="case-texts__content-after-label">Your custom default text</label>
                            <st-editor name="" id="" [config]="config" [(ngModel)]="contentvalue"
                                [disabled]="defaultcase=='yes'" (focusout)="contentvaluechange()"></st-editor>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>