.portfolio {
    .container {
        .body-element {
            .re_ort {
                .select-round {
                    padding: 0.5rem;
                    border-radius: 0.4rem;
                    border: 1px solid #b73b00;
                    box-shadow: rgba(0, 0, 0, 0.45) 0px 3px 2px;
                    cursor: pointer;

                    .select-round-option {
                        background: white;
                    }
                }

                .download_btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid;
                    padding: 0.2rem 2rem;
                    border-radius: 1rem;
                    background: transparent;
                    border: none;
                    color: var(--elearingnewui-body-color);
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                    background-color: aliceblue;
                    cursor: pointer;


                    .download_btn-img {
                        height: 1.5rem;

                    }
                }

                .reyapo {
                    margin: 0;

                    .reyapo-h1 {
                        padding-top: 20px;
                        font-size: 33px;
                        font-weight: 400;
                    }
                }

                .rigorcard {
                    border: none;
                    background-color: transparent;

                    .rigorcard-icon {
                        .rigorcard-icon-mat {
                            float: right;

                        }

                        padding-right: 0.3rem;
                    }
                }

                .rsl_tbl {
                    .rsl_tbl-thead {
                        .rsl_tbl-thead-tr {
                            border: 1px solid lightgray;

                            .rsl_tbl-thead-th {
                                font-size: 1.1rem;
                                font-weight: 600;
                                padding: 1rem 0.4rem;
                                color: white;
                                background-color: #266cc38a;
                            }
                        }
                    }

                    .rsl_tbl-tbody {
                        .rsl_tbl-tbody-tr {
                            border: 1px solid lightgray;
                        }

                        .rsl_tbl-tbody-tr th:not(.rsl_tbl-tbody-tr th:first-child) {
                            text-align: right;
                        }

                        .rsl_tbl-tbody-tr td:not(.rsl_tbl-tbody-tr td:first-child) {
                            text-align: right;
                            font-size: 12px;
                            font-weight: 500;
                            padding: 0.5rem 0.5rem;
                        }

                        .rsl_tbl-tbody-tr th {
                            font-weight: 500;
                            font-size: 14px;
                        }
                    }
                }

            }
        }
    }
}

.rigortooltips {
    tr {

        th,
        td {
            padding: 30px;
            font-size: 14px;

        }
    }
}