// .bus_iness {
//     width: 70%;
//     margin: 0 auto;
//     padding-bottom: 2rem;

//     .new-instructor-dash {
//         padding: 1rem 2rem;
//         border-radius: 0.4rem;
//         margin: 0.5rem 0rem;

//         .lt-col,
//         .rt-col {
//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//         }

//         .lt-col {

//             p,
//             h1 {
//                 margin-bottom: 0;
//             }
//             .checkbox-element{
//                 display: flex;
//                 align-items: center;
//                 justify-content: space-between;
//             }
//         }

//         .copy-p{
//             margin: 4px;
//             border: 1px solid lightgrey;
//             text-align: center;
//             border-radius: 6px;
//             padding: 0.2rem 0.2rem;
//             cursor: default;

//             p {
//                 margin-bottom: 0;
//             }
//         }
//         .copy-p:last-child {
//             border: none;
//         }

//         .copy-p:hover {
//             background-color: #f1f1f1;
//             border: 1px solid #e97800;
//         }

//         // .case-dropdown{
//         //     margin: 4px;
//         //     border: 1px solid lightgrey;
//         //     border-radius: 6px;
//         //     padding: 0.2rem 0.2rem;
//         //     text-align: end;
//         //     cursor: default;
//         // }
//         .case-dropdown {
//             padding: 4px 5px;
//             border: 1px solid lightgrey;
//             border-radius: 6px;
//             background: transparent;
//             // background-color: #edf7f9;
//             font-size: 14px;
//             min-width:11.5rem ;
//           }
//           .case-dropdown:hover {
//             background-color: #f1f1f1;
//             border: 1px solid #e97800;
//         }

//           .case-dropdown:disabled {
//             background-color: #ebebebdb;
//             border: 2px solid #bdbdbd;
//           }
//         .youecase, .cesimcase{
//             display: grid;
//             // grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
//             grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

//             .iconstyle, .iconstyle1{
//                 display: flex;
//                 align-items: center;
//                 justify-content: stretch;
//                 // img{
//                 //     height: 1.5rem;
//                 // }
//                 img{
//                     height: 1rem;
//                 }
//             }
//         }
//         // .iconstyle1{
//         //     img{
//         //         height: 1rem;
//         //     }
//         // }
//         .checkboxdirection {

//             .checkbox-wrapper-31:hover .check {
//                 stroke-dashoffset: 0;
//             }

//             .checkbox-wrapper-31 {
//                 position: relative;
//                 display: inline-block;
//                 width: 2rem;
//                 height: 2rem;
//             }

//             .checkbox-wrapper-31 .background {
//                 fill: #ccc;
//                 transition: ease all 0.6s;
//                 -webkit-transition: ease all 0.6s;
//             }

//             .checkbox-wrapper-31 .stroke {
//                 fill: none;
//                 stroke: #fff;
//                 stroke-miterlimit: 10;
//                 stroke-width: 2px;
//                 stroke-dashoffset: 100;
//                 stroke-dasharray: 100;
//                 transition: ease all 0.6s;
//                 -webkit-transition: ease all 0.6s;
//             }

//             .checkbox-wrapper-31 .check {
//                 fill: none;
//                 stroke: #fff;
//                 stroke-linecap: round;
//                 stroke-linejoin: round;
//                 stroke-width: 2px;
//                 stroke-dashoffset: 22;
//                 stroke-dasharray: 22;
//                 transition: ease all 0.6s;
//                 -webkit-transition: ease all 0.6s;
//             }

//             .checkbox-wrapper-31 input[type="checkbox"] {
//                 position: absolute;
//                 width: 100%;
//                 height: 100%;
//                 left: 0;
//                 top: 0;
//                 margin: 0;
//                 opacity: 0;
//                 -appearance: none;
//                 -webkit-appearance: none;
//             }

//             .checkbox-wrapper-31 input[type="checkbox"]:hover {
//                 cursor: pointer;
//             }

//             .checkbox-wrapper-31 input[type="checkbox"]:checked+svg .background {
//                 fill: #6cbe45;
//             }

//             .checkbox-wrapper-31 input[type="checkbox"]:checked+svg .stroke {
//                 stroke-dashoffset: 0;
//             }

//             .checkbox-wrapper-31 input[type="checkbox"]:checked+svg .check {
//                 stroke-dashoffset: 0;
//             }
//         }
//     }
// }

////////////////////////////////////////////////////////////////
.bus_iness {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 2rem;

  .new-instructor-dash {
      padding: 1rem 2rem;
      border-radius: 0.4rem;
      margin: 0.5rem 0rem;

      .assign-master {
          // background: var(--elearingnewui-asprimary);
          background-color: #f1f1f1;
          width: fit-content;
          position: absolute;
          left: 0;
          top: 9px;
          // color: var(--elearingnewui-body-bg);
          padding: 0.2rem 0.5rem;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
      }

      .lt-col,
      .rt-col {
          display: flex;
          flex-direction: column;
          justify-content: center;
      }

      .lt-col {

          p,
          h1 {
              margin-bottom: 0;
          }

          .checkbox-element {
              // display: flex;
              // align-items: center;
              // justify-content: space-between;
          }
      }

      .assign-yourcase {
          position: absolute;
          top: 9px;
          right: 17px;
      }

      .copy-p {
          margin: 4px;
          border: 1px solid lightgrey;
          text-align: center;
          border-radius: 6px;
          padding: 0.2rem 0.2rem;
          cursor: default;

          p {
              margin-bottom: 0;
          }
      }

      .copy-p:hover {
          background-color: #f1f1f1;
          border: 1px solid #e97800;
      }

      .dropdown-p {
          margin: 4px;

          .case-dropdown {
              padding: 4px 5px;
              border: 1px solid lightgrey;
              border-radius: 6px;
              background: transparent;
              font-size: 14px;
              min-width: 11.5rem;
          }

          .case-dropdown:hover {
              background-color: #f1f1f1;
              border: 1px solid #e97800;
          }
      }

      .youecase,
      .cesimcase {
          display: grid;
          // grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
          grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

          .iconstyle,
          .iconstyle1 {
              display: flex;
              align-items: center;
              justify-content: space-evenly;

              img {
                  height: 1.5rem;
              }
          }
      }

      .disabled {
          pointer-events: none;
          /* Prevent clicks */
          opacity: 0.5;
          /* Make it look disabled */
          background-color: #d3d3d3;
          /* Light grey background */
          color: #888;
          /* Grey text */
      }

      // .iconstyle1{
      //     img{
      //         height: 1rem;
      //     }
      // }
      .checkboxdirection {
          text-align: right;

          .checkbox-wrapper-31:hover .check {
              stroke-dashoffset: 0;
          }

          .checkbox-wrapper-31 {
              position: relative;
              display: inline-block;
              width: 2rem;
              height: 2rem;
          }

          .checkbox-wrapper-31 .background {
              fill: #ccc;
              transition: ease all 0.6s;
              -webkit-transition: ease all 0.6s;
          }

          .checkbox-wrapper-31 .stroke {
              fill: none;
              stroke: var(--elearingnewui-body-bg);
              stroke-miterlimit: 10;
              stroke-width: 2px;
              stroke-dashoffset: 100;
              stroke-dasharray: 100;
              transition: ease all 0.6s;
              -webkit-transition: ease all 0.6s;
          }

          .checkbox-wrapper-31 .check {
              fill: none;
              stroke: var(--elearingnewui-body-bg);
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-width: 2px;
              stroke-dashoffset: 22;
              stroke-dasharray: 22;
              transition: ease all 0.6s;
              -webkit-transition: ease all 0.6s;
          }

          .checkbox-wrapper-31 input[type="checkbox"] {
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              margin: 0;
              opacity: 0;
              -appearance: none;
              -webkit-appearance: none;
          }
          

          .checkbox-wrapper-31 input[type="checkbox"]:hover {
              cursor: pointer;
          }

          .checkbox-wrapper-31 input[type="checkbox"]:checked+svg .background {
              // fill: #6cbe45;
              fill: var(--elearingnewui-asprimary);
          }

          .checkbox-wrapper-31 input[type="checkbox"]:checked+svg .stroke {
              stroke-dashoffset: 0;
          }

          .checkbox-wrapper-31 input[type="checkbox"]:checked+svg .check {
              stroke-dashoffset: 0;
          }

          .checkbox-wrapper-31 input[type="checkbox"]:disabled+svg .background {
              fill: var(--elearingnewui-asprimary); // or your desired disabled color

              cursor: not-allowed;
          }

          .checkbox-wrapper-31 input[type="checkbox"]:disabled:hover {
              cursor: not-allowed;
          }

         
      }
  }

  .background-card {
      border: 1px solid #dd7c00 !important; // adjust as needed
  }
}