.capital_budgeting {
    .container {
        .body-element {
            .element-first {
                justify-content: right;

                .introductn {
                    margin: 0rem 0rem 2rem 0rem;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                }
            }


            .indroduction-tab-col:nth-child(4) {
                padding-top: 3rem;
            }

            .indroduction-tab-col:nth-child(5) {
                padding-top: 3rem;
            }

            .indroduction-tab-col:nth-child(6) {
                padding-top: 3rem;
            }




            .crd1 {
                border: none;
                background-color: transparent;

                .img-top-new {
                    height: 210px !important;
                    display: flex;
                    align-items: end;

                    .img_heightwidth {
                        height: 16rem;
                        width: 100%;
                    }
                }

                .card-body {
                    text-align: center;

                    h2 {
                        font-size: 23px;
                        
                    }

                    p {
                        font-size: 15px;
                        line-height: 1.48;
                        text-align: justify;
                    }
                }
            }
        }
    }
}