.voicebasedsetting {
  .voicebasedsetting-table {
    thead {
      tr {
        border-bottom: 2px solid black;
        th {
          background: #266cc38a !important;
          color: white;
          font-size: 1rem;
          font-weight: 500;
          padding: 15px 0px;
          text-align: center;
        }
      }
    }
    tbody {
      tr 
      {
        .firsttd {
          height: 100px;
          display: flex;
          justify-content: space-around;
          flex-direction: column;
        }
        .testtd-mat {
          .matradiogrp {
            height: 70px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
          }
        }
      }
      td:last-child {
        padding-left: 0;
        font-size: 13px;
        font-weight: 400;
        color: #222;

      }
      td{
        p{
          margin-bottom: 0;
        }
      }
    }
    tbody,tr{
      border-bottom: none;
    }
    tbody tr td:first-child{
      padding-left: 20px;
    }
  }
}

@media screen and (max-width: 480px) {
  .voicebasedsetting {
    width: 100%;
  }
}
