<!-- <div class="elearingnewui voicebasedsetting">
    <div class="card shadow voicebasedsetting-card">
        <div class="card-body">
            <div class="voicebasedsetting-card-d">

                <div class="row row-cols-md-2 ">
                    <div class="col-md col-sm-12 voicebasedsetting-card-col">
                        <div class="self-b py-4">
                            <input type="radio">
                            <h1> Self Based</h1>
                        </div>
                    </div>
                    <div class="col-md col-sm-12 voicebasedsetting-card-col">
                        <div class="self-b py-4">
                            <input type="radio">
                            <h1> Continue</h1>
                        </div>
                    </div>
                </div>
                <div class="text-center py-4">
                    <button class="primary-btn">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class=" voicebasedsetting">
    <div class="table table-responsive shadow">
        <table class=" voicebasedsetting-table ">
            <thead class="voicebasedsetting-table-head">
                <tr class="voicebasedsetting-table-row">
                    <th></th>
                    <th>Round 1</th>
                    <th>Round 2</th>
                    <th>Round 3</th>
                    <th>Round 4</th>
                    <th>Round 5</th>
                    <th>Round 6</th>
                    <th>Round 7</th>
                    <th>Round 8</th>
                    <th>Round 9</th>
                    <th>Round 10</th>
                </tr>
            </thead>
            <tbody >
                <tr>
                    <td class="firsttd">
                        <p> Self-paced</p>
                        <p>Real-time</p>
                    </td>
                    <td class="testtd-mat">
                        <mat-radio-group class="matradiogrp" aria-label="Select an option">
                            <mat-radio-button value="1"></mat-radio-button>
                            <mat-radio-button value="2"></mat-radio-button>
                        </mat-radio-group>
                    </td>
                    <td class="testtd-mat">
                        <mat-radio-group class="matradiogrp" aria-label="Select an option">
                            <mat-radio-button value="1"></mat-radio-button>
                            <mat-radio-button value="2"></mat-radio-button>
                        </mat-radio-group>
                    </td>
                    <td class="testtd-mat">
                        <mat-radio-group class="matradiogrp" aria-label="Select an option">
                            <mat-radio-button value="1"></mat-radio-button>
                            <mat-radio-button value="2"></mat-radio-button>
                        </mat-radio-group>
                    </td>
                    <td class="testtd-mat">
                        <mat-radio-group class="matradiogrp" aria-label="Select an option">
                            <mat-radio-button value="1"></mat-radio-button>
                            <mat-radio-button value="2"></mat-radio-button>
                        </mat-radio-group>
                    </td>
                    <td class="testtd-mat">
                        <mat-radio-group class="matradiogrp" aria-label="Select an option">
                            <mat-radio-button value="1"></mat-radio-button>
                            <mat-radio-button value="2"></mat-radio-button>
                        </mat-radio-group>
                    </td>
                    <td class="testtd-mat">
                        <mat-radio-group class="matradiogrp" aria-label="Select an option">
                            <mat-radio-button value="1"></mat-radio-button>
                            <mat-radio-button value="2"></mat-radio-button>
                        </mat-radio-group>
                    </td>
                    <td class="testtd-mat">
                        <mat-radio-group class="matradiogrp" aria-label="Select an option">
                            <mat-radio-button value="1"></mat-radio-button>
                            <mat-radio-button value="2"></mat-radio-button>
                        </mat-radio-group>
                    </td>
                    <td class="testtd-mat">
                        <mat-radio-group class="matradiogrp" aria-label="Select an option">
                            <mat-radio-button value="1"></mat-radio-button>
                            <mat-radio-button value="2"></mat-radio-button>
                        </mat-radio-group>
                    </td>
                    <td class="testtd-mat">
                        <mat-radio-group class="matradiogrp" aria-label="Select an option">
                            <mat-radio-button value="1"></mat-radio-button>
                            <mat-radio-button value="2"></mat-radio-button>
                        </mat-radio-group>
                    </td>
                    <td class="testtd-mat">
                        <mat-radio-group class="matradiogrp" aria-label="Select an option">
                            <mat-radio-button value="1"></mat-radio-button>
                            <mat-radio-button value="2"></mat-radio-button>
                        </mat-radio-group>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>



