<!-- new -->
<div class="elearingnewui">
    <div class="valuechain-element-body">
        <div class="links">
            <ul>
                <button class="out-look-btn " [style.background-color]="round === selectedButton? 'lightgrey' : ''"
                    *ngFor="let round of rounds; let i = index;" (click)="roundclick(i,round)">{{round}}</button>
            </ul>
        </div>
        <div class="case-texts__content">
            <div id="initial">
                <div class="case-texts__content-main">
                    <div class=" case-texts__container">
                        <label class="case-texts__content-after-label pb-2">Original text</label>
                        <div class=" case-texts__container-textarea">
                            بدأ السيد علي مؤخرًا شركة تصنيع ورق، حيث يتولى بنفسه كلًا من الشؤون المالية والعمليات. وعلى
                            الرغم من تسجيله الدؤوب للدفاتر اليومية، فإن كشوف الحسابات المصرفية تظهر صورة مختلفة، مما
                            يشير إلى مشاكل مالية محتملة.

                            <br><br>

                            بعد التحقيق، حدد أحد المستشارين العديد من التحديات التي تؤثر على الربحية. أولاً، أدت القيود
                            غير المكتملة في الدفاتر إلى صورة مالية غير دقيقة. ثانيًا، أدت إدارة التدفق النقدي غير
                            الواضحة إلى فترات من التدفق النقدي السلبي، مما أثر على الاستقرار المالي. أخيرًا، لم يتم فصل
                            النفقات الشخصية والتجارية، مما زاد من تعقيد التقييم المالي.

                            <br><br>

                            لمعالجة هذه التحديات، اقترح المستشار تعيين مدير لتوفير الوضوح بشأن الاستخدام المالي عبر
                            العمليات والتسويق وتطوير الأعمال. بصفتك مديرًا أول تم تعيينه لمساعدة السيد علي، يتضمن دورك
                            إعداد البيانات المالية (الميزانية العمومية، وبيان الدخل، وبيان التدفق النقدي) لتسهيل اتخاذ
                            القرارات المستنيرة بشأن الصحة المالية للشركة ونموها.
                        </div>
                    </div>
                    <div class="case-texts__content-starea">
                        <div class="case-texts__content-after">
                            <label class="case-texts__content-after-label">Your custom default text</label>
                            <st-editor name="" id="" [config]="config" [(ngModel)]="contentvalue" style="direction: rtl;"
                                [disabled]="defaultcase=='yes'" (focusout)="contentvaluechange()"></st-editor>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>