<!-- new -->
<div class="elearingnewui">
    <div class="businessoutlook-element-body">
        <div class="links">
            <ul>
                <button class="out-look-btn " [style.background-color]="round === selectedButton? 'lightgrey' : ''"
                    *ngFor="let round of rounds; let i = index;" (click)="roundclick(i,round)">{{round}}</button>
            </ul>
        </div>
        <div class="case-texts__content">

            <div id="initial">
                <div class="case-texts__content-main">
                    <div class=" case-texts__container">
                        <label class="case-texts__content-after-label pb-2">Original text</label>
                        <div class=" case-texts__container-textarea">
                            Setting up a tea retail shop in India's thriving market offers significant opportunities.
                            With a market size of around INR 26,500 crore (approximately USD 3.6 billion) in 2022, the
                            Indian
                            tea industry has experienced steady growth, driven by factors like increasing disposable
                            income and changing consumer preferences. The compound annual growth rate (CAGR) of
                            the tea market in India is estimated to be around 5-6% during the forecast period of 2021-
                            2026.<br><br>
                            Tea is widely accessible throughout India, with a strong distribution network that reaches
                            both urban and rural areas. The country's vast population ensures consistent demand across
                            various regions. The supply chain involves tea producers, auctions for trade, tea exporters,
                            packers and processors, and distributors and retailers.<br><br>
                            As an entrepreneur, setting up a tea shop in the Bangalore market presents a promising
                            opportunity. Bangalore, known for its education and technology sectors, provides a sizable
                            consumer base. Consider catering to diverse preferences by offering a range of teas and
                            innovative blends. Create an appealing ambience, focus on quality sourcing, and ensure
                            efficient distribution to reach customers effectively. Stay attuned to market trends, adapt
                            to changing consumer demands, and provide excellent customer service to establish a
                            successful tea retail business in Bangalore.
                        </div>
                    </div>
                    <div class="case-texts__content-starea">
                        <div class="case-texts__content-after">
                            <label class="case-texts__content-after-label">Your custom default text</label>
                            <st-editor name="" id="" [config]="config" [(ngModel)]="contentvalue"
                                [disabled]="defaultcase=='yes'" (focusout)="contentvaluechange()"></st-editor>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>

</div>