<!-- new -->
<div class="elearingnewui bus_iness">
    <div class="container">
        <div class="body-element indroduction-tab">
            <div class="element-first">
                <div class="row">
                    <div class="introductn" (click)="openDialog()" *ngIf="foodforthought">
                        <span class="food-thought-span"><i class="bi bi-bar-chart-fill"></i>
                            <button class="food-thought-btn">Food For Thought</button></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <h1 class="pb-5">How does it work?</h1>
                </div>
            </div>
            <div class="row row-cols-md-3 g-3">
                <div class="col-md">
                    <div class="card crd1">
                        <div class="card-img-top img-top-new">
                            <img src="../../../../assets/images/consumergame/market.svg" alt="..."
                                class="img-fluid img-img">
                        </div>
                        <div class="card-body">
                            <h2 class="card-title">Market</h2>
                            <p class="card-text">The gaming world is evolving, and you must identify emerging needs.
                                Dive into market reports to discern the crucial gaps in the market. Amidst varying
                                trends and demands, decide on a specific genre or demographic to focus on.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card crd1">
                        <div class="card-img-top img-top-new">
                            <img src="../../../../assets/images/consumergame/marketinfo.png" alt="..."
                                class="img-fluid img-img">
                        </div>
                        <div class="card-body">
                            <h2 class="card-title">Information Search</h2>
                            <p class="card-text">Armed with information about the market, you must embark on a
                                fact-finding mission. But beware! Information can sometimes be misleading or
                                contradictory, requiring you to judiciously discern key gamer desires.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card crd1">
                        <div class="card-img-top img-top-new">
                            <img src="../../../../assets/images/consumergame/target.png" alt="..."
                                class="img-fluid img-img">
                        </div>
                        <div class="card-body">
                            <h2 class="card-title">Target</h2>
                            <p class="card-text">With insights in hand, decide the demographics, and who would be the
                                main user of your game. The demographics have be to as detailed as possible taking into
                                account the language, gender, and income.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card crd1">
                        <div class="card-img-top img-top-new">
                            <img src="../../../../assets/images/consumergame/concept.svg" alt="..."
                                class="img-fluid img-img">
                        </div>
                        <div class="card-body">
                            <h2 class="card-title">Conceptualizing</h2>
                            <p class="card-text">It's time to brainstorm game concepts. Weigh the pros and cons of
                                different genres, situational elements, cultural elements, and lifestyle elements. The
                                choices made here will set the stage for the game's potential success or failure.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card crd1">
                        <div class="card-img-top img-top-new">
                            <img src="../../../../assets/images/consumergame/crafting.svg" alt="..."
                                class="img-fluid img-img">
                        </div>
                        <div class="card-body">
                            <h2 class="card-title">Crafting</h2>
                            <p class="card-text">Dive deep into the game launch process. Decide which channels you want
                                to use to promote the game. You must choose a partner to publish the game or do it by
                                your own. Create your revenue model.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card crd1">
                        <div class="card-img-top img-top-new">
                            <img src="../../../../assets/images/consumergame/repot.svg" alt="..."
                                class="img-fluid img-img">
                        </div>
                        <div class="card-body">
                            <h2 class="card-title">Reports</h2>
                            <p class="card-text">The game hits the market, and it's time for a post-mortem. Analyze
                                based on your decision-making how much market share you are able to achieve and how many
                                paying customers.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>