// .accounting_new {
//     .container {
//         .body-element {
//             .routesandtech {

//                 .element-first {
//                     justify-content: right;

//                     .marelegapfood {
//                         margin: 0rem 0rem 2rem 0rem;
//                         justify-content: space-between;
//                         align-items: center;
//                         cursor: pointer;
//                     }
//                 }

//                 .mat-icon {
//                     font-size: 21px;
//                 }

                
//                 .marketing-card:nth-child(4) {
//                     display: flex;
//                     justify-content: center;
//                     align-items: center;
//                 }

                
               

//                 .input-img-card {
//                     .marketing-card {
//                         padding: 0;
//                         display: flex;
//                         align-items: top;

//                         .craftingimg {
//                             padding: 10px;
//                             height: 18rem;
//                         }

//                         .card-img-top {
//                             height: 16rem;
//                         }

//                         .card-body {
//                             text-align: center;
//                             padding: 0 1rem;

//                             h2 {
//                                 text-align: center;
//                                 margin: 0;
//                                 height: 80px;
//                             }
//                         }

//                         .form-check {
//                             border: none;
//                             background: transparent;

//                             .checkfrominput {
//                                 float: right;
//                                 height: 20px;
//                                 width: 20px;
//                             }
//                         }
//                     }

//                     .marketing-card:nth-child(4) {
//                         display: flex;
//                         justify-content: center;
//                         align-items: center;
//                     }
//                 }

//             }
//             .marketing-card {
//                 border: 1px solid #ccc;
//                 // height: 90%;
//                 //padding: 1rem;

//                 .card-text {
//                     font-weight: 400;
//                     font-size: 14px;
//                     padding-top: 11px;
//                     text-align: justify;
//                 }

//                 .card-footer {
//                     input {
//                         cursor: pointer;
//                     }
//                 }

//                 .input-card-label {
//                     font-size: 15px;
//                     font-weight: 500;
//                     cursor: pointer;

//                     .maincontent {
//                         cursor: pointer;
//                         margin-top: 1rem;
//                         font-size: 15px;
//                         color: var(--elearingnewui-gray-700);

//                         a {
//                             color: blue;
//                             font-size: 15px;
//                         }
//                     }

//                     input {
//                         cursor: pointer;
//                     }
//                 }

//                 .routesandtechcostcard {
//                     display: flex;
//                     gap: 10px;

//                     h3:first-child {
//                         color: red;
//                     }

//                     h3:last-child {
//                         font-size: 19px;
//                         font-weight: 500;


//                     }
//                 }
//             }

//             .card.selected {
//                 background-color: #edf5fb;
//             }
//             .fontsizeandweight{
//                 font-size: 16px;
//                 font-weight: 500;
//                 color: black;
//             }

//         }
//     }

// }



// arabic

.accounting_new {
    .container {
        .body-element {
            .routesandtech {

                .element-first {
                    justify-content: right;

                    .marelegapfood {
                        margin: 0rem 0rem 2rem 0rem;
                        justify-content: space-between;
                        align-items: center;
                        cursor: pointer;
                    }
                }
                h1{
                    direction: rtl;
                    text-align: left;
                }
                .mat-icon {
                    font-size: 21px;
                }

                
                .arabic-card:nth-child(4) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                
               
                .input-img-card {
                    .arabic-card {
                        padding: 0;
                        display: flex;
                        align-items: top;

                        .craftingimg {
                            padding: 10px;
                            height: 18rem;
                        }

                        .card-img-top {
                            height: 16rem;
                        }

                        .card-body {
                            text-align: center;
                            padding: 0 1rem;

                            h2 {
                                text-align: center;
                                margin: 0;
                                height: 80px;
                                direction: rtl;
                            }
                        }

                        .form-check {
                            border: none;
                            background: transparent;

                            .checkfrominput {
                               
                                height: 20px;
                                width: 20px;
                            }
                        }
                    }

                    .arabic-card:nth-child(4) {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

            }
            .arabic-card {
                border: 1px solid #ccc;
                // height: 90%;
                //padding: 1rem;

                .card-text-arabic {
                    font-weight: 400;
                    font-size: 14px;
                    padding-top: 11px;
                    text-align: right;
                    direction: rtl;
                }

                .card-footer {
                    input {
                        cursor: pointer;
                    }
                }

                .input-card-label {
                    font-size: 15px;
                    font-weight: 500;
                    cursor: pointer;

                    .maincontent {
                        cursor: pointer;
                        margin-top: 1rem;
                        font-size: 15px;
                        color: var(--elearingnewui-gray-700);

                        a {
                            color: blue;
                            font-size: 15px;
                        }
                    }

                    input {
                        cursor: pointer;
                    }
                }

                .routesandtechcostcard {
                    display: flex;
                    gap: 10px;
                    text-align: right;
                    direction: rtl;

                    h3:first-child {
                        color: red;
                    }

                    h3:last-child {
                        font-size: 19px;
                        font-weight: 500;


                    }
                }
            }

            .card.selected {
                background-color: #edf5fb;
            }
            .fontsizeandweight{
                font-size: 16px;
                font-weight: 500;
                color: black;
            }

        }
    }

}