.hrmfintech {
    .container {
        .body-element {
            .element-first {
                justify-content: right;

                .marpoint1st {
                    margin: 0rem 0rem 3rem 0rem;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                }
            }

            .rsl_tbl {
                margin-bottom: 0;

                .rsl_tbl-thead {
                    .rsl_tbl-thead-tr {
                        border: 1px solid lightgray;

                        .rsl_tbl-thead-th {
                            font-size: 0.9rem;
                            font-weight: 500;
                            padding: 1rem 0.4rem;
                            color: white;
                            background-color: #266cc38a;
                            width: auto;
                            text-align: right;
                            vertical-align: middle;
                        }
                    }
                }

                .rsl_tbl-tbody {
                    border: 1px solid black;

                    .rsl_tbl-tbody-tr {
                        border: 1px solid lightgray;
                    }

                    .rsl_tbl-tbody-tr td {
                        vertical-align: middle;
                        text-align: right;
                        font-weight: normal;

                        select {
                            width: 100px;
                        }
                    }

                    .rsl_tbl-tbody-tr td:first-child {
                        font-size: 0.9rem;
                        font-weight: 500;
                        text-align: left;
                    }

                    .rsl_tbl-tbody-tr td:last-child {
                        padding: 0.4rem;

                    }
                }
            }
        }
    }

    .tools {
        .toolimg {
            height: 200px;
            object-fit: contain;
            object-position: center;
        }

        .card-title {
            text-align: center;
        }

        .levelicon {
            height: 30px;
            width: 30px;
        }
    }

}