.project_management {
  .container {
    .body-element {
      .inbound {
        .element-first {
          justify-content: right;

          .marelegapfood {
            margin: 0rem 0rem 2rem 0rem;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
          }
        }

        .mat-icon {
          font-size: 21px;
        }
        .rsl_tbl {
          .rsl_tbl-thead {
            .rsl_tbl-thead-tr {
              border: 1px solid lightgray;

              .rsl_tbl-thead-th {
                font-size: 1.1rem;
                font-weight: 600;
                padding: 1rem 0.4rem;
                color: white;
                background-color: #266cc38a;
              }
            }
          }

          .rsl_tbl-tbody {
            .rsl_tbl-tbody-tr-head {
              border: 1px solid lightgray;

              td {
                text-align: right;
                font-size: 14px;
                font-weight: 600;
                color: #576068;
              }
            }

            .rsl_tbl-tbody-tr {
              border: 1px solid lightgray;

              td:first-child {
                text-align: left;
              }

              td {
                text-align: right;
                font-size: 14px;
                font-weight: 400;
                color: #576068;
                vertical-align: middle;
              }
            }

            .margin-td {
              border-top: 2px solid darkblue;
            }
          }
        }
      }
    }
  }
}
