.project_management {
  .container {
    .body-element {
      .projectPlanning {
        .element-first {
          justify-content: right;

          .marelegapfood {
            margin: 0rem 0rem 2rem 0rem;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
          }
        }

        .mat-icon {
          font-size: 21px;
        }
        .input-no_box-drop_New{
          height: 2.5rem;
          width: 8rem;
        }

        .rsl_tbl {
          .rsl_tbl-thead {
            .rsl_tbl-thead-tr {
              border: 1px solid lightgray;

              .rsl_tbl-thead-th {
                font-size: 1.1rem;
                font-weight: 600;
                padding: 1rem 0.4rem;
                color: white;
                background-color: #266cc38a;
                text-align: justify;
                border-top: none;
                border-left: none;
                border-right: none;
              }
            }
          }

          .rsl_tbl-tbody {
            p {
              font-size: 15px;
              font-weight: 400;
              color: var(--elearingnewui-gray-700);
              line-height: 1.5;
              border: 1px solid lightgray;
              padding: 10px;
              text-align: justify;
            }

            .rsl_tbl-tbody-tr {
              border: 1px solid lightgray;
              font-size: 15px;

              .rsl_tbl-tbody-th {
                font-size: 14px;
                font-weight: 500;
                text-align: right;
              }

              .middleclassright,
              .lastchildtd {
                text-align: right;
                font-weight: 500;
                font-size: 12px;
                color: #000;
                padding: 8px;
              }

              //   .lastchildtd {
              //     text-align: right;
              //     font-weight: 400;
              //     font-size: 14px;
              //    padding: 8px;
              //   }
            }

            .rsl_tbl-tbody-tr td:nth-child(1) {
              padding-right: 0;
              vertical-align: middle;
            }

            .rsl_tbl-tbody-tr td:nth-child(4) {
              vertical-align: middle;
              padding-right: 8px;
            }

            .margin-td {
              border-top: 2px solid darkblue;

              td:last-child {
                color: red;
              }
            }
          }

          .input-no_box:disabled {
            background-color: #ebebebdb;
            border: 2px solid #bdbdbd;
          }
        }

        .input-img-card {
          .marketing-card {
            padding: 0;
            display: flex;
            align-items: top;

            .craftingimg {
              padding: 10px;
              height: 18rem;
            }

            .card-img-top {
              height: 16rem;
            }

            .card-body {
              text-align: center;
              padding: 0 1rem;

              h2 {
                text-align: center;
                margin: 0;
              }
            }

            .form-check {
              border: none;
              background: transparent;

              .checkfrominput {
                float: right;
                height: 20px;
                width: 20px;
              }
            }
          }

          .marketing-card:nth-child(4) {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      .marketing-card {
        border: 1px solid #ccc;
        // height: 90%;
        //padding: 1rem;

        .card-text {
          font-weight: 400;
          font-size: 14px;
          padding-top: 11px;
          text-align: justify;
        }

        .card-footer {
          input {
            cursor: pointer;
          }
        }

        .input-card-label {
          font-size: 15px;
          font-weight: 500;
          cursor: pointer;

          .maincontent {
            cursor: pointer;
            margin-top: 1rem;
            font-size: 15px;
            color: var(--elearingnewui-gray-700);

            a {
              color: blue;
              font-size: 15px;
            }
          }

          input {
            cursor: pointer;
          }
        }

        .routesandtechcostcard {
          display: flex;
          gap: 10px;

          h3:first-child {
            color: red;
          }

          h3:last-child {
            font-size: 19px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
