.hrmfintech {
    .container {
        .body-element {
            .element-first {
                justify-content: right;

                .marpoint1st {
                    margin: 0rem 0rem 3rem 0rem;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                }
            }

            .case {
                .casedesc {
                    .casedescparagraph {
                        font-size: 18px;
                        text-align: justify;
                        color: black;
                        font-weight: 400;
                    }

                    // .casedescparagraph::first-letter{
                    //     padding-left: 10px;
                    //     font-weight: 500;
                    // }
                }
            }

            .lst_r {

                .retry {
                    padding: 13px 36px;
                    border: 3px solid #30b4cc;
                    border-radius: 6px;
                    background: transparent;
                    color: #30b4cc;
                    font-size: 20px;
                }

                .retry:hover {
                    background-color: #53d8ef1f;
                }

            }
        }
    }
}