// new design 23/02/2024.....................


.elearingnewui {
  .login-body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: #d7d7d761;
    padding: 3rem 0rem;
    overflow: scroll;

    .login-card {
      width: 60%;
      display: flex;
      margin: 0 auto;
      height: 35rem;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      align-items: center;
      justify-content: center;



      .form-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 24rem;

        h1 {
          text-align: center;
          font-weight: 500;
          padding-bottom: 1rem;
        }

        .login-sub {
          border: none;
          padding: 12px;
          color: white;
          background: #005cbc;
          border-radius: 0.25rem;
        }

        .login-sub:hover {
          background: #005bbcdc;
        }

        .form-p {
          font-size: 0.875rem;
          margin-bottom: 0;
        }
      }
    }

  } 
}
// .forgotpasscontainer {
//   height: 100%;
//   width: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   .forgotpasscontainer-confirm {
     
//       .fw-600{
//         font-weight: 500;
//       }
//       .confirm-sub{
//           background-color: #005cbc;
//       }

//   }
// }

::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0 !important;
  padding-bottom: 0.34375em !important;

}