<div class="elearingnewui casemanagement">
    <div class="case-management-body case-management-body-marketing">
        <div class=" table-responsive mb-3 mt-3">
            <table class="table case-management-table ">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cash at Beginning, mn INR</td>
                        <td *ngFor="let capitaldata of res.t6; let i = index">
                            <input [value]="res.t6[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeFinanceValue('t6',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Long term Interest rate</td>
                        <td *ngFor="let capitaldata of res.t7; let i = index">
                            <input [value]="res.t7[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeFinanceValue('t7',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Emergency loans interest rate</td>
                        <td *ngFor="let capitaldata of res.t8; let i = index">
                            <input [value]="res.t8[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeFinanceValue('t8',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Tax Rate</td>
                        <td *ngFor="let capitaldata of res.t9; let i = index">
                            <input [value]="res.t9[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeFinanceValue('t9',i,inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <table class="table page-name">
            <thead>
                <tr>
                    <th>
                        <h2>Financing</h2>
                    </th>

                </tr>
                <!-- <tr style="border-bottom: 2px solid; background-color: lightgray;">
                    <th style="font-size: 14px; font-weight: 600;">
                       Margin user
                    </th>
                       
                </tr> -->

            </thead>
        </table>
        <div class=" table-responsive mb-3 mt-3">
            <table class="case-management-table case-management-table-marketing">
                <thead>
                    <tr>
                        <td colspan="2" *ngFor="let round of rounds">{{round}}</td>
                    </tr>

                </thead>
                <tbody class="first-tbody">
                    <tr>
                        <ng-container *ngFor="let item of data; let i = index">

                            <td *ngIf="i % 2 === 0">Min</td>
                            <td *ngIf="i % 2 !== 0">Max</td>
                        </ng-container>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.t13[index]| number:'1.0-0'" #t13Input
                                    [disabled]="defaultcase=='yes'"
                                    (focusout)="writeFinanceValue('t13', index, t13Input.value)"></td>
                            <td><input [value]="res.t14[index]| number:'1.0-0'" #t14Input
                                    [disabled]="defaultcase=='yes'"
                                    (focusout)="writeFinanceValue('t14', index, t14Input.value)"></td>
                        </ng-container>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>