.capital_budgeting {
    .container {
        .body-element {
           
            .element-first {
                justify-content: right;

                .marelegapfood {
                    margin: 0rem 0rem 3rem 0rem;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                }
            } 
            .input-img-card {
                .marketing-card {
                    padding: 0;
                    display: flex;
                    align-items: top;

                    .craftingimg {
                        padding: 10px;
                        height: 18rem;
                    }

                    .card-img-top {
                        height: 18rem;
                    }

                    .card-body {
                        text-align: center;
                        padding: 0 1rem;

                        h2 {
                            text-align: center;
                            height: 4rem;
                            //margin: 0;
                        }
                        

                        .card-text {

                            text-align: left;

                            .textswcinassessment-p {
                                height: 5rem;
                                text-align: justify;
                                font-size: 15px;
                                color: var(--elearingnewui-gray-700);
                                line-height: 1.5;
                                overflow: auto;

                            }
                            
                        }
                    }

                    .form-check_new {
                       
                        .routesandtechcostcard {
                            display: flex;
                            justify-content: space-between;
                            gap: 10px;
                            height: 3.5rem;
                            overflow: auto;

                            h3:first-child {
                                color: red;
                            }

                            h3:last-child {
                                font-size: 19px;
                                font-weight: 500;


                            }
                        }
                        .input-element-div{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            gap:10px;
                            p{
                                margin-bottom: 0;
                            }
                            .input-no_box-drop_New{
                                width: 7rem;
                                text-align: right;
                                font-size: 19px;
                                padding:7px 5px;
                            }
                        }
                        
                    }

                    
                }
            }

           
        }
    }
}