.project_management {
  .container {
    .body-element {
      .projectMap {
        .element-first {
          justify-content: right;

          .marelegapfood {
            margin: 0rem 0rem 2rem 0rem;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
          }
        }

        .mat-icon {
          font-size: 21px;
        }
        .input-no_box-drop_New{
          height: 2.5rem;
          width: 8rem;
        }
        
      }
    }
  }
}
