::ng-deep .microsimdashboardtable td.mat-cell:last-of-type {
  text-align: left !important;
  padding: 0 !important;
  font-weight: 400 !important;
}
::ng-deep .bus_iness .mat-paginator-container {
  justify-content: center !important;
}

// check for width in table td
::ng-deep .microsimdashboardtable th.mat-header-cell {
  width: 20rem;
  font-size: 0.9rem !important;
  color: white !important;
}

::ng-deep .mat-elevation-z8 {
  overflow-x: auto;
}

::ng-deep .microsimdashboardtable .mat-header-row {
  background-color: #266cc38a !important;
  border-bottom: 2px solid black;
}

.hidetext {
  -webkit-text-security: disc;
  /* Default */
}

.elearingnewui {
  height: 100vh;
  .voicebased-report-ai {
    width: 85%;
    margin: 0 auto;
  }
}

.bus_iness {
  .f-e-d {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;

    .exportTable-btn {
      padding: 0.5rem;
      border-radius: 0.4rem;
    }
  }

  .select-round {
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: 1px solid #b73b00;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 3px 2px;
    margin-right: 15px;
    cursor: pointer;

    .select-round-option {
      background: white;
    }
  }
  .nxt-rd-btn {
    margin-top: 40px;
  }

  .ins-participant-rslt {
    .rsl_tbl {
      margin-bottom: 0;
      .rsl_tbl-thead {
        .rsl_tbl-thead-tr {
          border: 1px solid lightgray;

          .rsl_tbl-thead-th {
            font-size: 0.9rem;
            font-weight: 500;
            padding: 1rem 0.4rem;
            color: white;
            background-color: #266cc38a;
            width: 15rem;
            min-width: 10rem;
          }
          .rsl_tbl-thead-th:last-child{
            width: 30rem;
            min-width: 10rem;
          }
        }
      }

      .rsl_tbl-tbody {
        .rsl_tbl-tbody-tr {
          border: 1px solid lightgray;
        }
        .rsl_tbl-tbody-tr td:first-child{
          font-size: 0.9rem;
          font-weight: 500;
          vertical-align: middle;
        }
        .rsl_tbl-tbody-tr td:nth-child(2){
          vertical-align: middle;

        }
        .rsl_tbl-tbody-tr td:last-child {
          text-align: left;
          padding:0.4rem;
          .rsl_tbl-tbody-tr-td-markdown{
            height: 100px;
            overflow: auto;
          }
        }
      }
    }
  }
  .download_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    padding: 0.2rem 2rem;
    border-radius: 1rem;
    background: transparent;
    border: none;
    color: var(--elearingnewui-body-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: aliceblue;
    cursor: pointer;
    margin-right: 15px;


    .download_btn-img {
        height: 1.5rem;

    }
}
}
