.sales_target {
    .container {
        .body-element {
            .market-research {
                .h2-cls {
                    margin: 0;
                }

                .market-research-nav {
                    background-color: #f1f3f4;
                    margin-bottom: 4px;
                    position: sticky;
                    top: 0;
                    z-index: 20;

                    .market-research-link {
                        color: #1f589f;
                        font-size: 15px;
                        font-weight: 500;
                        padding: 1rem;

                    }

                    .market-research-link.active {
                        color: rgb(0, 0, 0);
                        border-bottom: 3px solid rgb(0, 0, 0);
                    }

                }

                .element-first {
                    justify-content: right;

                    .introductn {
                        margin: 0rem 0rem 2rem 0rem;
                        justify-content: space-between;
                        align-items: center;
                        cursor: pointer;
                    }
                }

            }

        }
    }
}