// ::ng-deep .microsimdashboardtable td.mat-cell:last-of-type {
//   text-align: left !important;
//   padding: 0 !important;
//   font-weight: 400 !important;
// }

// ::ng-deep .bus_iness .mat-paginator-container {
//   justify-content: center !important;
// }

// // check for width in table td
// ::ng-deep .microsimdashboardtable th.mat-header-cell {
//   width: 20rem;
//   font-size: 0.9rem !important;
//   color: white !important;
//   padding-right: 15px;
//   vertical-align: baseline;
//   padding-top: 10px;
// }

// ::ng-deep .mat-elevation-z8 {
//   overflow-x: auto;
// }

// ::ng-deep .microsimdashboardtable .mat-header-row {
//   background-color: #266cc38a !important;
//   border-bottom: 2px solid black;
// }


// .bus_iness {
//   .f-e-d {
//     .exportTable-btn {
//         padding: 0.5rem;
//         border-radius: 0.4rem;
//     }

//   }

//   .select-round {
//     padding: 0.5rem;
//     border-radius: 0.4rem;
//     border: 1px solid #b73b00;
//     box-shadow: rgba(0, 0, 0, 0.45) 0px 3px 2px;
//     margin-right:15px;
//     cursor: pointer;

//     .select-round-option {
//       background: white;
//     }
//   }
//   .paginator-container {
//     display: flex;
//     justify-content: center;
//     margin-top: 16px;
//   }
// }

::ng-deep .microsimdashboardtable td.mat-cell:last-of-type {
  text-align: left !important;
  padding: 0 !important;
  font-weight: 400 !important;
}

::ng-deep .bus_iness .mat-paginator-container {
  justify-content: center !important;
}

// check for width in table td
::ng-deep .microsimdashboardtable th.mat-header-cell {
  width: 20rem;
  font-size: 0.9rem !important;
  color: white !important;
  padding-right: 15px;
  vertical-align: baseline;
  padding-top: 10px;
}

::ng-deep .mat-elevation-z8 {
  overflow-x: auto;
}

::ng-deep .microsimdashboardtable .mat-header-row {
  background-color: #266cc38a !important;
  border-bottom: 2px solid black;
}

// for dropdown..............
.bus_iness {
  .f-e-d {
    .exportTable-btn {
        padding: 0.5rem;
        border-radius: 0.4rem;
    }

  }

  .select-round {
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: 1px solid #b73b00;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 3px 2px;
    margin-right:15px;
    cursor: pointer;

    .select-round-option {
      background: white;
    }
  }

  .paginator-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
}
