<div class="elearingnewui">
    <div class="case-management-body-forheader">
        <div class="returnbtn-element">
            <div class="returnbtn" (click)="GoBack()"> Return to Case Management </div>
        </div>
        <div class="card case-management-body-card">
            <div class="card-body">
                <div class=" tab-content-body">
                    <ul class="nav second-nav" role="tablist">
                        <li class="nav-item active" role="presentation" data-bs-target="#market" data-bs-toggle="tab"
                            aria-controls="market" role="tab" aria-selected="false" (click)="search('market')">
                            <span class="nav-link" aria-current="page">Market Outlook</span>
                        </li>
                        <li class="nav-item" role="presentation" data-bs-target="#phase1" data-bs-toggle="tab"
                            aria-controls="phase1" role="tab" aria-selected="false" (click)="search('phase1')">
                            <span class="nav-link" aria-current="page">Phase 1</span>
                        </li>
                        <li class="nav-item" role="presentation" data-bs-target="#phase2" data-bs-toggle="tab"
                            aria-controls="phase2" role="tab" aria-selected="false" (click)="search('phase2')">
                            <span class="nav-link" aria-current="page">Phase 2</span>
                        </li>
                        <li class="nav-item" role="presentation" data-bs-target="#phase3" data-bs-toggle="tab"
                            aria-controls="phase3" role="tab" aria-selected="false" (click)="search('phase3')">
                            <span class="nav-link" aria-current="page">Phase 3</span>
                        </li>
                        <li class="nav-item" role="presentation" data-bs-target="#foodforthought" data-bs-toggle="tab"
                            aria-controls="foodforthought" role="tab" aria-selected="false"
                            (click)="search('foodforthought')">
                            <span class="nav-link" aria-current="page">Food For Thought</span>
                        </li>
                        <li class="nav-item" role="presentation" data-bs-target="#module" data-bs-toggle="tab"
                            aria-controls="module" role="tab" aria-selected="false" (click)="search('module')">
                            <span class="nav-link" aria-current="page">Module</span>
                        </li>
                    </ul>
                </div>
                <div class="tab-content tab-content-body">

                    <div role="tabpanel" class="tab-pane fade show active" id="market"
                        [ngClass]="{ 'active':activeTab==='market'}">
                        <app-portfoliomarket *ngIf="activeTab==='market'"></app-portfoliomarket>
                    </div>
                    <div role="tabpanel" class="tab-pane fade show " id="phase1"
                        [ngClass]="{ 'active':activeTab==='phase1'}">
                        <app-portfoliocasephaseone *ngIf="activeTab==='phase1'"></app-portfoliocasephaseone>
                    </div>
                    <div role="tabpanel" class="tab-pane fade show " id="phase2"
                        [ngClass]="{ 'active':activeTab==='phase2'}">
                        <app-portfoliocasephasetwo *ngIf="activeTab==='phase2'"></app-portfoliocasephasetwo>
                    </div>
                    <div role="tabpanel" class="tab-pane fade show " id="phase3"
                        [ngClass]="{ 'active':activeTab==='phase3'}">
                        <app-portfoliocasephasethree *ngIf="activeTab==='phase3'"></app-portfoliocasephasethree>
                    </div>
                    <div role="tabpanel" class="tab-pane fade show " id="foodforthought"
                        [ngClass]="{ 'active':activeTab==='foodforthought'}">
                        <app-portfoliofoodforthought *ngIf="activeTab==='foodforthought'"></app-portfoliofoodforthought>
                    </div>
                    <div role="tabpanel" class="tab-pane fade show " id="module"
                        [ngClass]="{ 'active':activeTab==='module'}">
                        <app-portfoliomodule *ngIf="activeTab==='module'"></app-portfoliomodule>
                    </div> 
                </div>
            </div>

        </div>
        <!-- <div>
            <button class="mt-4 back" (click)="back()" style=" border: 3px solid #30b4cc;
            border-radius: 6px;
            background: transparent;
            color: #30b4cc;
            font-size: 20px; padding: 0.5rem 1rem;">Back</button>
        </div> -->
    </div>
</div>
