.elearingnewui {
    .language-body {
        padding-bottom: 40px;

        .inputcard-table {
            .inputcard-table-row {
                padding: 1rem 2rem;

                .search-element {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    justify-content: end;

                    .search-btn {
                        padding: 9px 26px;
                        border: 2px solid #30b4cc;
                        border-radius: 6px;
                        background: transparent;
                        color: #30b4cc;
                        font-size: 18px;
                    }
                }
            }
        }

        .main-body-div {
            // width: 90%;
            // margin: 0 auto;
            padding: 1rem;
            .language-element-first{
                background-color: lightgrey;
                padding: 12px;
                border-bottom: 2px solid;
                font-size: 14px;
                font-weight: 600;
            }

            .links {
                display: inline-block;
                .language-div{
                    max-height: 7rem;
                    overflow: auto;
                }

                ul {
                    padding-left: 0;
                    display: inline-flex;

                    .out-look-btn {
                        cursor: pointer;
                        border: 1px solid lightgray;
                        background: transparent;
                        padding: 0.4rem 0.5rem;
                        border-radius: 0.2rem;
                        margin: 0.2rem;
                    }

                    .out-look-btn:hover {
                        border: 1px solid #7fdd89;
                        background-color: #e3e3e354;
                    }
                }
            }

            .language-content {
                .language-content-main {
                    .language-container {
                        .two-text{
                            background-color: #fff2e8 !important;
                        }
                        .language-content-after-label {
                            font-style: italic;
                            color: rgb(156, 156, 156);
                            font-size: 14px;
                            padding: 14px 0px;
                        }

                        .element-language {
                            padding: 0.5rem 0rem;

                            .col-md:first-child {
                                border-right: 1px dashed lightgrey;
                            }

                            .language-container-textarea-div {
                                text-align: justify;
                                padding: 7px 13px;
                                background-color: #e3e3e354;
                                max-height: 7rem;
                                overflow: auto;
                               
                            }

                            .language-container-textarea {
                                padding: 4px;
                                height: 100%;
                                width: 100%;
                            }
                        }

                        .languagebody-heading {
                            background-color: lightgrey;
                            padding: 12px;
                            border-bottom: 2px solid;
                            font-size: 14px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}

// media query...........................
@media screen and (min-width: 600px) {

    //For Tablets
    .links {
        ul {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .language-content {
        width: 100%;

        .language-container {
            width: 100%;
        }

    }
}

@media screen and (min-width: 400px) {

    //For Laptops
    .container {
        width: 738px;
    }

    .links {
        ul {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .language-content {
        width: 100%;

        .language-container {
            width: 100%;
        }
    }
}

@media screen and (min-width: 768px) {

    //For Laptops
    .container {
        width: 738px;
    }

    .links {
        ul {
            display: flex;
            flex-wrap: wrap;
        }
    }
}

@media screen and (min-width: 992px) {

    //For Large Laptops
    .container {
        width: 962px;
    }
}

@media screen and (min-width: 1280px) {

    //For Big TV's (HD Screens)
    .container {
        width: 1250px;
    }
}

@media screen and (min-width: 1920px) {

    //For Projectors or Higher Resolution Screens (Full HD)
    .container {
        width: 1890px;
    }
}

@media screen and (min-width: 3840px) {

    //For 4K Displays (Ultra HD)
    .container {
        width: 3810px;
    }
}