<div class="elearingnewui Mergers_acquisition">
    <div class="loadingscreen" *ngIf="checkloading">
        <span class="spinner-border spinner-border-sm loadingspinner" role="status" aria-hidden="true"></span>
        <p class="loadingspinnertxt">Loading... Brewing up some digital magic! </p>
    </div>
    <div class="container">
        <div class="body-element">
            <div class="decision-checklist">
                <div class="row pb-3 d-flex align-items-center">
                    <div class="col-6 decision-checklist-col6">
                        <h1 class="decision-checklist-col6-h1">Decision Checklist</h1>
                    </div>
                    <div class="col-6 text-end">
                        <select class="select-round" name="" id="" [(ngModel)]="roundname" (change)="roundClick()">
                            <option class="select-round-option" value="">Select Round</option>
                            <option class="select-round-option" *ngFor="let attempt of dropdownvalue; let i = index;"
                                [value]=attempt>
                                {{attempt}}</option>
                        </select>

                    </div>
                </div>
                <div class="row">
                    <table class="table table-borderd checklisttable">
                        <tbody class="checklisttable-body">
                            <tr class="checklisttable-body-tr" style="border-bottom: 3px solid black;">
                                <td></td>
                                <td>{{playername}}</td>
                            </tr>
                            <tr class="checklisttable-body-tr" style="border-bottom: 1px solid black;">
                                <td></td>
                                <td style="font-size: 14px;">Input</td>
                            </tr>
                            <tr class="checklisttable-body-tr">
                                <th>Prelimiary Assessments</th>
                                <th></th>
                            </tr>
                            <tr class="checklisttable-body-tr">
                                <td>Target Firm</td>
                                <!-- <td>EcoAI Innovations</td> -->
                                <td><span [class]="isClass[0] ? 'defaultcolor' : 'notdefaultcolor'">{{result[0]}}</span>
                                </td>
                            </tr>
                            <tr class="checklisttable-body-tr">
                                <th>Negotiation</th>
                                <th></th>
                            </tr>
                            <tr class="checklisttable-body-tr">
                                <td>Premium %, over current valuation</td>
                                <!-- <td>15</td> -->
                                <td>
                                    <span
                                        [class]="isClass[1] ? 'defaultcolor'  : 'notdefaultcolor'">{{result[1]}}</span>
                                </td>
                            </tr>
                            <tr class="checklisttable-body-tr">
                                <th>Financing</th>
                                <th></th>
                            </tr>
                            <tr class="checklisttable-body-tr">
                                <td>Cash</td>
                                <!-- <td>12%</td> -->
                                <td>
                                    <span
                                        [class]="isClass[2] ? 'defaultcolor'  : 'notdefaultcolor'">{{result[2]*100|number:'1.0-0'}}%</span>
                                </td>
                            </tr>
                            <tr class="checklisttable-body-tr">
                                <td>Loans</td>
                                <!-- <td>30%</td> -->
                                <td>
                                    <span
                                        [class]="isClass[3] ? 'defaultcolor'  : 'notdefaultcolor'">{{result[3]*100|number:'1.0-0'}}%</span>
                                </td>
                            </tr>
                            <tr class="checklisttable-body-tr">
                                <td>Stock</td>
                                <!-- <td>58%</td> -->
                                <td>
                                    <span
                                        [class]="isClass[4] ? 'defaultcolor'  : 'notdefaultcolor'">{{result[4]*100|number:'1.0-0'}}%</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="decision-textarea py-4" *ngIf="analysisshow">
                        <textarea class="decision-textarea-element" rows="10" [disabled]="disabled"
                            [(ngModel)]="useranalysisinput"
                            placeholder="Describe your thought process behind the decision-making in 1500 characters…"
                            (focusout)="useranalysissave()" maxlength="1500"></textarea>
                    </div>
                    <div class="p-0">
                        <button class="btn_stl btn_stl-decisionchecklist" type="button" [disabled]="disabled"
                            (click)="decisionchecklistpopup()">Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>