<div class="elearingnewui casemanagement">
    <div class="case-management-body case-management-body-marketing ">
        <div class=" table-responsive mb-3 mt-3">
            <table class="case-management-table case-management-table-marketing-second">
                <thead>
                    <tr>
                        <td colspan="3" *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody class="second-tbody">
                    <tr>
                        <ng-container *ngFor="let item of data; let i = index">
                            <td *ngIf="i % 3 === 0"></td>
                            <td *ngIf="i % 3 === 1">Phase 1</td>
                            <td *ngIf="i % 3 === 2">Phase 2</td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n7[index]" #n7Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n7', index, n7Input.value)"></td>
                            <td><input [value]="res.o7[index]|number:'1.0-2'" #o7Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o7', index, o7Input.value)"></td>
                            <td><input [value]="res.p7[index]|number:'1.0-2'" #p7Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p7', index, p7Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n8[index]" #n8Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n8', index, n8Input.value)"></td>
                            <td><input [value]="res.o8[index]|number:'1.0-2'" #o8Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o8', index, o8Input.value)"></td>
                            <td><input [value]="res.p8[index]|number:'1.0-2'" #p8Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p8', index, p8Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n9[index]" #n9Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n9', index, n9Input.value)"></td>
                            <td><input [value]="res.o9[index]|number:'1.0-2'" #o9Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o9', index, o9Input.value)"></td>
                            <td><input [value]="res.p9[index]|number:'1.0-2'" #p9Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p9', index, p9Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n10[index]" #n10Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n10', index, n10Input.value)"></td>
                            <td><input [value]="res.o10[index]|number:'1.0-2'" #o10Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o10', index, o10Input.value)"></td>
                            <td><input [value]="res.p10[index]|number:'1.0-2'" #p10Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p10', index, p10Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n11[index]" #n11Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n11', index, n11Input.value)"></td>
                            <td><input [value]="res.o11[index]|number:'1.0-2'" #o11Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o11', index, o11Input.value)"></td>
                            <td><input [value]="res.p11[index]|number:'1.0-2'" #p11Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p11', index, p11Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n12[index]" #n12Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n12', index, n12Input.value)"></td>
                            <td><input [value]="res.o12[index]|number:'1.0-2'" #o12Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o12', index, o12Input.value)"></td>
                            <td><input [value]="res.p12[index]|number:'1.0-2'" #p12Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p12', index, p12Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n13[index]" #n13Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n13', index, n13Input.value)"></td>
                            <td><input [value]="res.o13[index]|number:'1.0-2'" #o13Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o13', index, o13Input.value)"></td>
                            <td><input [value]="res.p13[index]|number:'1.0-2'" #p13Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p13', index, p13Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n14[index]" #n14Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n14', index, n14Input.value)"></td>
                            <td><input [value]="res.o14[index]|number:'1.0-2'" #o14Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o14', index, o14Input.value)"></td>
                            <td><input [value]="res.p14[index]|number:'1.0-2'" #p14Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p14', index, p14Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n15[index]" #n15Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n15', index, n15Input.value)"></td>
                            <td><input [value]="res.o15[index]|number:'1.0-2'" #o15Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o15', index, o15Input.value)"></td>
                            <td><input [value]="res.p15[index]|number:'1.0-2'" #p15Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p15', index, p15Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n16[index]" #n16Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n16', index, n16Input.value)"></td>
                            <td><input [value]="res.o16[index]|number:'1.0-2'" #o16Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o16', index, o16Input.value)"></td>
                            <td><input [value]="res.p16[index]|number:'1.0-2'" #p16Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p16', index, p16Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n17[index]" #n17Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n17', index, n17Input.value)"></td>
                            <td><input [value]="res.o17[index]|number:'1.0-2'" #o17Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o17', index, o17Input.value)"></td>
                            <td><input [value]="res.p17[index]|number:'1.0-2'" #p17Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p17', index, p17Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n18[index]" #n18Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n18', index, n18Input.value)"></td>
                            <td><input [value]="res.o18[index]|number:'1.0-2'" #o18Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o18', index, o18Input.value)"></td>
                            <td><input [value]="res.p18[index]|number:'1.0-2'" #p18Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p18', index, p18Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n19[index]" #n19Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n19', index, n19Input.value)"></td>
                            <td><input [value]="res.o19[index]|number:'1.0-2'" #o19Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o19', index, o19Input.value)"></td>
                            <td><input [value]="res.p19[index]|number:'1.0-2'" #p19Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p19', index, p19Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n20[index]" #n20Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n20', index, n20Input.value)"></td>
                            <td><input [value]="res.o20[index]|number:'1.0-2'" #o20Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o20', index, o20Input.value)"></td>
                            <td><input [value]="res.p20[index]|number:'1.0-2'" #p20Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p20', index, p20Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n21[index]" #n21Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n21', index, n21Input.value)"></td>
                            <td><input [value]="res.o21[index]|number:'1.0-2'" #o21Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o21', index, o21Input.value)"></td>
                            <td><input [value]="res.p21[index]|number:'1.0-2'" #p21Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p21', index, p21Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n22[index]" #n22Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n22', index, n22Input.value)"></td>
                            <td><input [value]="res.o22[index]|number:'1.0-2'" #o22Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o22', index, o22Input.value)"></td>
                            <td><input [value]="res.p22[index]|number:'1.0-2'" #p22Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p22', index, p22Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n23[index]" #n23Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n23', index, n23Input.value)"></td>
                            <td><input [value]="res.o23[index]|number:'1.0-2'" #o23Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o23', index, o23Input.value)"></td>
                            <td><input [value]="res.p23[index]|number:'1.0-2'" #p23Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p23', index, p23Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n24[index]" #n24Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n24', index, n24Input.value)"></td>
                            <td><input [value]="res.o24[index]|number:'1.0-2'" #o24Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o24', index, o24Input.value)"></td>
                            <td><input [value]="res.p24[index]|number:'1.0-2'" #p24Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p24', index, p24Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n25[index]" #n25Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n25', index, n25Input.value)"></td>
                            <td><input [value]="res.o25[index]|number:'1.0-2'" #o25Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o25', index, o25Input.value)"></td>
                            <td><input [value]="res.p25[index]|number:'1.0-2'" #p25Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p25', index, p25Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n26[index]" #n26Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n26', index, n26Input.value)"></td>
                            <td><input [value]="res.o26[index]|number:'1.0-2'" #o26Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o26', index, o26Input.value)"></td>
                            <td><input [value]="res.p26[index]|number:'1.0-2'" #p26Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p26', index, p26Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n27[index]" #n27Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n27', index, n27Input.value)"></td>
                            <td><input [value]="res.o27[index]|number:'1.0-2'" #o27Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o27', index, o27Input.value)"></td>
                            <td><input [value]="res.p27[index]|number:'1.0-2'" #p27Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p27', index, p27Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n28[index]" #n28Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n28', index, n28Input.value)"></td>
                            <td><input [value]="res.o28[index]|number:'1.0-2'" #o28Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o28', index, o28Input.value)"></td>
                            <td><input [value]="res.p28[index]|number:'1.0-2'" #p28Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p28', index, p28Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n29[index]" #n29Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n29', index, n29Input.value)"></td>
                            <td><input [value]="res.o29[index]|number:'1.0-2'" #o29Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o29', index, o29Input.value)"></td>
                            <td><input [value]="res.p29[index]|number:'1.0-2'" #p29Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p29', index, p29Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n30[index]" #n30Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n30', index, n30Input.value)"></td>
                            <td><input [value]="res.o30[index]|number:'1.0-2'" #o30Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o30', index, o30Input.value)"></td>
                            <td><input [value]="res.p30[index]|number:'1.0-2'" #p30Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p30', index, p30Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n31[index]" #n31Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n31', index, n31Input.value)"></td>
                            <td><input [value]="res.o31[index]|number:'1.0-2'" #o31Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o31', index, o31Input.value)"></td>
                            <td><input [value]="res.p31[index]|number:'1.0-2'" #p31Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p31', index, p31Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n32[index]" #n32Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n32', index, n32Input.value)"></td>
                            <td><input [value]="res.o32[index]|number:'1.0-2'" #o32Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o32', index, o32Input.value)"></td>
                            <td><input [value]="res.p32[index]|number:'1.0-2'" #p32Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p32', index, p32Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n33[index]" #n33Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n33', index, n33Input.value)"></td>
                            <td><input [value]="res.o33[index]|number:'1.0-2'" #o33Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o33', index, o33Input.value)"></td>
                            <td><input [value]="res.p33[index]|number:'1.0-2'" #p33Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p33', index, p33Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n34[index]" #n34Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n34', index, n34Input.value)"></td>
                            <td><input [value]="res.o34[index]|number:'1.0-2'" #o34Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o34', index, o34Input.value)"></td>
                            <td><input [value]="res.p34[index]|number:'1.0-2'" #p34Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p34', index, p34Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n35[index]" #n35Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n35', index, n35Input.value)"></td>
                            <td><input [value]="res.o35[index]|number:'1.0-2'" #o35Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o35', index, o35Input.value)"></td>
                            <td><input [value]="res.p35[index]|number:'1.0-2'" #p35Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p35', index, p35Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n36[index]" #n36Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n36', index, n36Input.value)"></td>
                            <td><input [value]="res.o36[index]|number:'1.0-2'" #o36Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o36', index, o36Input.value)"></td>
                            <td><input [value]="res.p36[index]|number:'1.0-2'" #p36Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p36', index, p36Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n37[index]" #n37Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n37', index, n37Input.value)"></td>
                            <td><input [value]="res.o37[index]|number:'1.0-2'" #o37Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o37', index, o37Input.value)"></td>
                            <td><input [value]="res.p37[index]|number:'1.0-2'" #p37Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p37', index, p37Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n38[index]" #n38Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n38', index, n38Input.value)"></td>
                            <td><input [value]="res.o38[index]|number:'1.0-2'" #o38Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o38', index, o38Input.value)"></td>
                            <td><input [value]="res.p38[index]|number:'1.0-2'" #p38Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p38', index, p38Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n39[index]" #n39Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n39', index, n39Input.value)"></td>
                            <td><input [value]="res.o39[index]|number:'1.0-2'" #o39Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o39', index, o39Input.value)"></td>
                            <td><input [value]="res.p39[index]|number:'1.0-2'" #p39Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p39', index, p39Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n40[index]" #n40Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n40', index, n40Input.value)"></td>
                            <td><input [value]="res.o40[index]|number:'1.0-2'" #o40Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o40', index, o40Input.value)"></td>
                            <td><input [value]="res.p40[index]|number:'1.0-2'" #p40Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p40', index, p40Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n41[index]" #n41Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n41', index, n41Input.value)"></td>
                            <td><input [value]="res.o41[index]|number:'1.0-2'" #o41Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o41', index, o41Input.value)"></td>
                            <td><input [value]="res.p41[index]|number:'1.0-2'" #p41Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p41', index, p41Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n42[index]" #n42Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n42', index, n42Input.value)"></td>
                            <td><input [value]="res.o42[index]|number:'1.0-2'" #o42Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o42', index, o42Input.value)"></td>
                            <td><input [value]="res.p42[index]|number:'1.0-2'" #p42Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p42', index, p42Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n43[index]" #n43Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n43', index, n43Input.value)"></td>
                            <td><input [value]="res.o43[index]|number:'1.0-2'" #o43Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o43', index, o43Input.value)"></td>
                            <td><input [value]="res.p43[index]" #p43Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p43', index, p43Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n44[index]" #n44Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n44', index, n44Input.value)"></td>
                            <td><input [value]="res.o44[index]|number:'1.0-2'" #o44Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o44', index, o44Input.value)"></td>
                            <td><input [value]="res.p44[index]|number:'1.0-2'" #p44Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p44', index, p44Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n45[index]" #n45Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n45', index, n45Input.value)"></td>
                            <td><input [value]="res.o45[index]|number:'1.0-2'" #o45Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o45', index, o45Input.value)"></td>
                            <td><input [value]="res.p45[index]|number:'1.0-2'" #p45Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p45', index, p45Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n46[index]" #n46Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n46', index, n46Input.value)"></td>
                            <td><input [value]="res.o46[index]|number:'1.0-2'" #o46Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o46', index, o46Input.value)"></td>
                            <td><input [value]="res.p46[index]|number:'1.0-2'" #p46Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p46', index, p46Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n47[index]" #n47Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n47', index, n47Input.value)"></td>
                            <td><input [value]="res.o47[index]|number:'1.0-2'" #o47Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o47', index, o47Input.value)"></td>
                            <td><input [value]="res.p47[index]|number:'1.0-2'" #p47Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p47', index, n47Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n48[index]" #n48Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n48', index, n48Input.value)"></td>
                            <td><input [value]="res.o48[index]|number:'1.0-2'" #o48Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o48', index, o48Input.value)"></td>
                            <td><input [value]="res.p48[index]|number:'1.0-2'" #p48Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p48', index, p48Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n49[index]" #n49Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n49', index, n49Input.value)"></td>
                            <td><input [value]="res.o49[index]|number:'1.0-2'" #o49Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o49', index, o49Input.value)"></td>
                            <td><input [value]="res.p49[index]|number:'1.0-2'" #p49Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p49', index, p49Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n50[index]" #n50Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n50', index, n50Input.value)"></td>
                            <td><input [value]="res.o50[index]|number:'1.0-2'" #o50Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o50', index, o50Input.value)"></td>
                            <td><input [value]="res.p50[index]|number:'1.0-2'" #p50Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p50', index, p50Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n51[index]" #n51Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n51', index, n51Input.value)"></td>
                            <td><input [value]="res.o51[index]|number:'1.0-2'" #o51Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o51', index, o51Input.value)"></td>
                            <td><input [value]="res.p51[index]|number:'1.0-2'" #p51Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p51', index, p51Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n52[index]" #n52Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n52', index, n52Input.value)"></td>
                            <td><input [value]="res.o52[index]|number:'1.0-2'" #o52Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o52', index, o52Input.value)"></td>
                            <td><input [value]="res.p52[index]|number:'1.0-2'" #p52Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p52', index, p52Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n53[index]" #n53Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n53', index, n53Input.value)"></td>
                            <td><input [value]="res.o53[index]|number:'1.0-2'" #o53Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o53', index, o53Input.value)"></td>
                            <td><input [value]="res.p53[index]|number:'1.0-2'" #p53Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p53', index, p53Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n54[index]" #n54Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n54', index, n54Input.value)"></td>
                            <td><input [value]="res.o54[index]|number:'1.0-2'" #o54Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o54', index, o54Input.value)"></td>
                            <td><input [value]="res.p54[index]|number:'1.0-2'" #p54Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p54', index, p54Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n55[index]" #n55Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n55', index, n55Input.value)"></td>
                            <td><input [value]="res.o55[index]|number:'1.0-2'" #o55Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o55', index, o55Input.value)"></td>
                            <td><input [value]="res.p55[index]|number:'1.0-2'" #p55Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p55', index, p55Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n56[index]" #n56Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n56', index, n56Input.value)"></td>
                            <td><input [value]="res.o56[index]|number:'1.0-2'" #o56Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o56', index, o56Input.value)"></td>
                            <td><input [value]="res.p56[index]|number:'1.0-2'" #p56Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p56', index, p56Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n57[index]" #n57Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n57', index, n57Input.value)"></td>
                            <td><input [value]="res.o57[index]|number:'1.0-2'" #o57Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o57', index, o57Input.value)"></td>
                            <td><input [value]="res.p57[index]|number:'1.0-2'" #p57Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p57', index, p57Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.n58[index]" #n58Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('n58', index, n58Input.value)"></td>
                            <td><input [value]="res.o58[index]|number:'1.0-2'" #o58Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('o58', index, o58Input.value)"></td>
                            <td><input [value]="res.p58[index]|number:'1.0-2'" #p58Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('p58', index, p58Input.value)"></td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>

         <table class="table page-name">
            <thead>
                <tr>
                    <th>
                        <h2>Goal to be optimized</h2>
                    </th>
                </tr>
            </thead>
        </table>
        <div class="table-responsive">
            <table class=" table case-management-table">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="first-div">
                            <div>Service level phase 1</div>
                        </td>
                        <td *ngFor="let commitment of res.o61; let i = index">
                            <input [value]="res.o61[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('o61',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td class="first-div">
                            <div>Service level phase 2</div>
                        </td>
                        <td *ngFor="let commitment of res.o62; let i = index">
                            <input [value]="res.o62[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('o62',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td class="first-div">
                            <div>Cost, INR phase 1</div>
                        </td>
                        <td *ngFor="let commitment of res.o63; let i = index">
                            <input [value]="res.o63[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('o63',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td class="first-div">
                            <div>Cost, INR phase 2</div>
                        </td>
                        <td *ngFor="let commitment of res.o64; let i = index">
                            <input [value]="res.o64[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('o64',i,inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>