// new..................................
.elearingnewui {
  .login-body {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: #d7d7d761;
    padding: 3rem 0rem;
    overflow: scroll;

    .login-card {
      width: 60rem;
      margin: 0 auto;
      height: 33rem;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

      .logo-elem {
        img {

          position: absolute;
          height: 2rem;
          top: 1.5rem;
          left: 1rem;
        }
      }

      .col-md-7 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .form-div {

          h1 {
            text-align: center;
            font-weight: 500;
          }

          .login-sub {
            border: none;
            padding: 8px;
            color: white;
            background: #005cbc;
          }

          .login-sub:hover {
            background: #005bbcdc;
          }

          .form-p {
            color: #005cbc;
            text-align: end;
            cursor: pointer;
            padding-top: 6px;
          }

          .retry {
            padding: 17px 35px;
            border-radius: 6px;
            background: transparent;
            color: #30b4cc;
            background-color: #edfcff;
            font-size: 20px;
            border: none;
            font-weight: 500;
          }

          .retry:hover {
            background-color: #53d8ef2e;
          }
        }
      }

      .img-term {
        // background-image: url("../../../assets/images/login-bg-ukraine.svg");
        background-image: url("../../../assets/images/indianflag.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .img-term-elemt {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 75%;
          margin: 0 auto;

          h1 {
            // color: white;
            text-align: center;
            margin-bottom: 0;
            font-weight: 500;
            padding-top: 42px;
            color: var(--elearingnewui-gray-700);
          }

          .img-term-btn {
            width: 100%;
            border: none;
            padding: 7px;
            color: #005cbc;
            background-color: white;
            border-radius: 0.2rem;
            font-weight: 500;
          }
        }
      }
    }
   
      .title-body{
        padding-top:1rem;
        P{
          color: #005cbc;
        }
      }
  }
}