<!-- new -->
<div class="elearingnewui">
    <div class="salestarget-element-body">
        <div class="links">
            <ul>
                <button class="out-look-btn " [style.background-color]="round === selectedButton? 'lightgrey' : ''"
                    *ngFor="let round of rounds; let i = index;" (click)="roundclick(i,round)">{{round}}</button>
            </ul>
        </div>
        <div class="case-texts__content">

            <div id="initial">
                <div class="case-texts__content-main">
                    <div class=" case-texts__container">
                        <label class="case-texts__content-after-label pb-2">Original text</label>
                        <div class=" case-texts__container-textarea">
                            Pablo, Inc., a medium-sized player in the soft drinks market, is on a mission to enhance its
                            sales effectiveness in the vibrant Maharashtra region of India. In a dynamic market segment
                            encompassing a variety of water-based beverages with flavouring additives, excluding coffee
                            and tea-based drinks, the company is poised for growth. In 2023, the revenue in this segment
                            stands at a substantial USD 8.70 billion, with a promising annual growth rate of 3%
                            projected from 2023 to 2027. The intriguing facet of this market is its division into three
                            key categories: Carbonated drinks, Energy and sports drinks, and Non-Carbonated drinks.
                            Remarkably, Non-Carbonated drinks take the lead, contributing a significant 70% of the
                            market's revenue. <br><br>

                            The company has been successfully offering a range of four distinct Non-Carbonated soft
                            drink products in the Maharashtra market for the past five years. Each of these products has
                            been strategically positioned to cater to the unique preferences of consumer segments that
                            have been carefully identified. The four consumer categories include "Easy Living"
                            consumers, who value tradition, "Experiencers" who are open to trying new products
                            regardless of reviews, "Hedonistic" individuals who seek pleasure from the flavour and
                            richness of the product, and "Thinkers" who make well-informed decisions based on feedback
                            and reviews from their trusted network. <br><br>

                            To further complicate the landscape, these products are distributed through three distinct
                            channels: Modern trade, Retail stores, and HORECA (hotels, restaurants, catering, cafés,
                            bars). The challenge for the Sales Head role at Pablo, Inc. is not just to navigate the
                            intricacies of a diverse market but also to align sales strategies with these customer
                            segments and channels. Leveraging historical data and insights, the goal is to guide the
                            sales team in achieving increased sales while optimizing costs. Success in this endeavour
                            will require a deep understanding of consumer behaviours, market dynamics, and
                            channel-specific nuances. Pablo, Inc.'s aim is to strengthen its market position and capture
                            the hearts and taste buds of Maharashtra's diverse consumer base. This is where your
                            expertise as a Sales Head will play a pivotal role, in shaping the company's trajectory in
                            this exciting market.
                        </div>
                    </div>
                    <div class="case-texts__content-starea">
                        <div class="case-texts__content-after">
                            <label class="case-texts__content-after-label">Your custom default text</label>
                            <st-editor name="" id="" [config]="config" [(ngModel)]="contentvalue"
                                [disabled]="defaultcase=='yes'" (focusout)="contentvaluechange()"></st-editor>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>

</div>