<!-- new -->
<div class="elearingnewui">
    <div class="consumeroutlook-element-body">
        <div class="links">
            <ul>
                <button class="out-look-btn " [style.background-color]="round === selectedButton? 'lightgrey' : ''"
                    *ngFor="let round of rounds; let i = index;" >{{round}}</button>

            </ul>
        </div>
        <div class="case-texts__content">

            <div id="initial">
                <div class="case-texts__content-main">
                    <div class=" case-texts__container">
                        <label class="case-texts__content-after-label pb-2">Original text</label>
                        <div class=" case-texts__container-textarea">
                            In the dynamic realm of electronic gaming, the industry's revenue now surpasses that of the
                            film industry, establishing itself as a prominent global leisure activity. Categorized into
                            online and mobile games, console and PC gaming, internet-delivered games, and serious games,
                            the diversity in preferences highlights the importance of understanding the factors
                            influencing gamers' choices.<br><br>

                            With the widespread use of smartphones transforming gaming experiences, Nero Gaming, a
                            passionate developer, is poised to enter the burgeoning Indian market with its debut mobile
                            game. The company aims to grasp the intricacies of Indian mobile gamers' behavior,
                            encompassing both play and payment patterns. To achieve this, the responsibility of
                            exploring consumer behavior models and providing valuable insights has been assigned.<br><br>

                            Navigating the intricate gaming ecosystem involving developers, publishers, and ad networks,
                            Nero adopts a distinctive strategy in the competitive market. With an ambitious goal of
                            capturing a market share exceeding 7% in the initial year, they aim to redefine the gaming
                            landscape for their audience. Backed by substantial commitment, including a revenue of USD
                            240K, an 8 to 12-month game development timeline, and a significant marketing budget of USD
                            100K, Nero remains undeterred in its pursuit of making a substantial impact in the Indian
                            mobile gaming market, despite the typical 2 to 5-year journey to breakeven.<br><br>
                        </div>
                    </div>
                    <div class="case-texts__content-starea">
                        <div class="case-texts__content-after">
                            <label class="case-texts__content-after-label">Your custom default text</label>
                            <st-editor name="" id="" [config]="config" [(ngModel)]="contentvalue"
                                [disabled]="defaultcase=='yes'" (focusout)="contentvaluechange()"></st-editor>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>