<div class="instructor-chat-container" role="main">
  <mat-tab-group
    [selectedIndex]="activeTab() === 'individual' ? 0 : 1"
    (selectedIndexChange)="tabclick($event === 0 ? 'individual' : 'course')"
    animationDuration="0ms"
    class="instructor-chat-tabs">
    
    <mat-tab label="Individual">
      <div class="chatbox-container">
        @if (activeTab() === 'individual') {
          <app-chatbox [chattype]="chattypeinstructor"></app-chatbox>
        }
      </div>
    </mat-tab>

    <mat-tab label="Course">
      <div class="chatbox-container">
        @if (activeTab() === 'course') {
          <app-chatbox [chattype]="chattypecourse"></app-chatbox>
        }
      </div>
    </mat-tab>
  </mat-tab-group>
</div>