<div class="elearingnewui">
    <div class="case-management-body-forheader">
        <div class="returnbtn-element">
            <div class="returnbtn" (click)="GoBack()"> Return to Case Management </div>
        </div>
        <div class="card case-management-body-card">
            <div class="card-body">
                <div class=" tab-content-body">
                    <ul class="nav second-nav" role="tablist">
                        <li class="nav-item active" role="presentation" data-bs-target="#market" data-bs-toggle="tab"
                            aria-controls="market" role="tab" aria-selected="false" (click)="search('market')">
                            <span class="nav-link" aria-current="page">Market Outlook</span>
                        </li>
                        <li class="nav-item" role="presentation" data-bs-target="#inbound" data-bs-toggle="tab"
                            aria-controls="inbound" role="tab" aria-selected="false" (click)="search('inbound')">
                            <span class="nav-link" aria-current="page">Inbound</span>
                        </li>
                        <li class="nav-item" role="presentation" data-bs-target="#warehouse" data-bs-toggle="tab"
                            aria-controls="warehouse" role="tab" aria-selected="false" (click)="search('warehouse')">
                            <span class="nav-link" aria-current="page">Warehouse</span>
                        </li>
                        <li class="nav-item" role="presentation" data-bs-target="#routesandtechnology" data-bs-toggle="tab"
                            aria-controls="routesandtechnology" role="tab" aria-selected="false" (click)="search('routesandtechnology')">
                            <span class="nav-link" aria-current="page">Routes Technology</span>
                        </li>
                        <li class="nav-item" role="presentation" data-bs-target="#outbound" data-bs-toggle="tab"
                            aria-controls="outbound" role="tab" aria-selected="false" (click)="search('outbound')">
                            <span class="nav-link" aria-current="page">Outbound</span>
                        </li>
                        <li class="nav-item" role="presentation" data-bs-target="#foodforthought" data-bs-toggle="tab"
                            aria-controls="foodforthought" role="tab" aria-selected="false"
                            (click)="search('foodforthought')">
                            <span class="nav-link" aria-current="page">Food For Thought</span>
                        </li>
                        <li class="nav-item" role="presentation" data-bs-target="#module" data-bs-toggle="tab"
                            aria-controls="module" role="tab" aria-selected="false" (click)="search('module')">
                            <span class="nav-link" aria-current="page">Module</span>
                        </li>

                    </ul>
                </div>
                <div class="tab-content tab-content-body">

                    <div role="tabpanel" class="tab-pane fade show active" id="market"
                        [ngClass]="{ 'active':activeTab==='market'}">
                        <app-logisticscasemarket *ngIf="activeTab==='market'"></app-logisticscasemarket>
                    </div>
                    <div role="tabpanel" class="tab-pane fade show " id="inbound"
                        [ngClass]="{ 'active':activeTab==='inbound'}">
                        <app-logisticscaseinbound *ngIf="activeTab==='inbound'"></app-logisticscaseinbound>
                    </div>
                    <div role="tabpanel" class="tab-pane fade show " id="warehouse"
                        [ngClass]="{ 'active':activeTab==='warehouse'}">
                        <app-logisticscasewarehouse *ngIf="activeTab==='warehouse'"></app-logisticscasewarehouse>
                    </div>
                    <div role="tabpanel" class="tab-pane fade show " id="routesandtechnology"
                        [ngClass]="{ 'active':activeTab==='routesandtechnology'}">
                        <app-logisticscaseroutesandtechnology *ngIf="activeTab==='routesandtechnology'"></app-logisticscaseroutesandtechnology>
                    </div>
                    <div role="tabpanel" class="tab-pane fade show " id="outbound"
                        [ngClass]="{ 'active':activeTab==='outbound'}">
                        <app-logisticscaseoutbound *ngIf="activeTab==='outbound'"></app-logisticscaseoutbound>
                    </div>
                    <div role="tabpanel" class="tab-pane fade show " id="foodforthought"
                        [ngClass]="{ 'active':activeTab==='foodforthought'}">
                        <app-logisticscasefoodforthought *ngIf="activeTab==='foodforthought'"></app-logisticscasefoodforthought>
                    </div>
                    <div role="tabpanel" class="tab-pane fade show " id="module"
                        [ngClass]="{ 'active':activeTab==='module'}">
                        <app-logisticscasemodule *ngIf="activeTab==='module'"></app-logisticscasemodule>
                    </div>
                </div>
            </div>
            

        </div>
        <!-- <div>
            <button class="mt-4 back" (click)="back()" style=" border: 3px solid #30b4cc;
            border-radius: 6px;
            background: transparent;
            color: #30b4cc;
            font-size: 20px; padding: 0.5rem 1rem;">Back</button>
        </div> -->
    </div>
</div>