<mat-toolbar style="background:#fafafa;height:70px;position:absolute;z-index: 20;">
  <span style="color:#ffc563;display:flex;align-items:center">
    <img src="assets/icons/Favicon_Websitecopy.png" class="img-fluid " style="height: 2.5rem;">
  </span>
  &nbsp;&nbsp;
  <span style="color: #5156be;">Managerial Games</span>
  <span class="spacer"></span>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <div>
    <mat-icon class="sidenav-icon navicon" *ngIf="sidenaveshow" aria-hidden="false"
      routerLink="component/advertisementdetails" matTooltip="Advertisement" aria-label="Example home icon">ad_units
    </mat-icon>
    <mat-icon class="sidenav-icon navicon" *ngIf="sidenaveshow" aria-hidden="false"
      routerLink="component/advertisementreport" matTooltip="Advertisement Report" aria-label="Example home icon">report
    </mat-icon>

    <mat-icon class="sidenav-icon navicon" *ngIf="!isSuper" aria-hidden="false" (click)="home()"
      aria-label="Example home icon">home
    </mat-icon>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://www.youtube.com/channel/UCe6Fo3PKBi32Fiea4PSepJg" target="_blank"><mat-icon
        class="sidenav-icon navicon" aria-hidden="false" aria-label="Example home icon">book</mat-icon></a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <mat-icon class="sidenav-icon navicon" aria-hidden="false" aria-label="Example home icon"
      (click)="logout()">logout</mat-icon>
  </div>
</mat-toolbar>




<!-- new toolbar -->

