.spacer {
    flex: 1 1 auto;
  }

.navicon{
    color:#495057;
    font-size: 20px;
}

.navicon:hover{
  color:#495057;
  font-size: 22px;
  transition:font-size 0.2s;
}

.sidenav-icon{
  cursor: pointer !important;
}


.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://st.depositphotos.com/1269204/1219/i/600/depositphotos_12196477-stock-photo-smiling-men-isolated-on-the.jpg" alt="Photo of a Shiba Inu');
  background-size: cover;
}


.lbl{
    background: #dbdce0;
    text-align: center;
    border-radius: 5px;
    color: #727272;
    font-weight: 500;
    margin-bottom: 5px;
}

.val{
    text-align: center;
    border-radius: 5px;
    color: #727272;
    font-weight: 500;
    margin-bottom: 5px;
}


.button-70 {
  background-image: linear-gradient(#0dccea, #0d70ea);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat,sans-serif;
  font-size: .9em;
  margin: 5px;
  padding: 5px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
//.................timer

.count-down-timer {
  box-shadow: 2px 6px 9px 2px rgb(0 0 0 / 20%);
  text-align: center;
  background-color: #313b3f;
  max-width: 400px;
  margin: 20px auto;
  color: #d9a74a;
  border-radius: 6px;
  padding: 10px;
  font-family: sans-serif;

  > p {
    margin: 5px 0 15px 0;
  }

  .wrapper {
    .description,
    .times {
      display: grid;
      grid-template-columns: repeat(4, calc(25% - 8px));
      grid-column-gap: 10px;
    }

    .description {
      > p {
        margin: 0;
        font: normal 14px sans-serif;
      }
    }

    .times {
      p {
        letter-spacing: -5px;
        position: relative;
        margin: 0;
        font: normal 40px courier, sans-serif;
        ::ng-deep img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 30px;
          display: block;
          height: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .count-down-timer {
    margin: 20px;
  }
}














// new.....................................
// for header........................

.bus_iness {
  .toolbar-header-main {
    background-color: #1f589f;

    .toolbar-header-2nd {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 61px 5px 48px;
    }
  }

  .ist-table {
    .ist-table-right {
      transform: skewX(-20deg);

      tr td {
        border-right: 1px solid #b7bbd9;
        transform: skewX(20deg);
        font-size: 15px;
        padding: 4px 26px;
        text-align: center;
        color: #b7bbd9;

        a {
          font-size: 12px;
          text-decoration-color: #b7bbd9;
          color: #b7bbd9;
          text-decoration: underline;
        }

        p {
          color: white !important;
          margin: 0 auto;
        }
      }

      tr td:last-child {
        border-right: none;
      }
    }
  }

  .first-tab {
    padding: 0px 65px 5px 59px;
    align-items: center;
  }
}



.bus_iness {
  .container {
    .body-element {
      .element-first {
        justify-content: right;

        .introductn {
          margin: 0rem 0rem 2rem 0rem;
          justify-content: space-between;
          align-items: center;
        }
      }

      .crd1 {
        border: none;
        background-color: transparent;

        .img-top-new {
          height: 210px !important;
          display: flex;
          align-items: end;
        }

        .card-body {
          text-align: center;

          h2 {
            font-size: 23px;
            //margin: 1rem 0rem 0rem 0rem;
          }

          p {
            font-size: 15px;
            line-height: 1.48;
            text-align: initial;
          }
        }
      }
    }
  }
}


.headerbreadcrumb {
  background: #1f589f;

  .breadcrumb {
    padding: 0 65px;
    margin: 0;
    border-top: 1px solid #839be394;

    .breadcrumb-item {
      color: #8e9bad;
      align-items: center;
      display: flex;
      // font-size: 16px;
      cursor: pointer;
    }

    .breadcrumb-item.active {
      color: white;
    }
  }

  .breadcrumb-item+.breadcrumb-item::before {
    font-size: 30px;
    content: url("../../../assets/icons/rightarrow.svg");
  }
}





