.webcam {
    background-color: var(--background-color, black);
    border-radius: var(--border-radius, 30px);
    overflow: hidden;
    position: relative;
    // width: 90%;
    width: fit-content;
    border: 8px solid var(--secondary-color);
    transition: border-color 0.3s ease;
    .maincam{
        position: relative;
        display: flex;
        align-self: center;
        justify-content: center;
    }
    .permission{
        position: absolute;
        bottom: 10px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        z-index: 1;
        button {
            transition: background-color 0.3s ease;
            
            &:hover {
                opacity: 0.9;
            }
        }
    }
}