.check{
    background: rgb(140, 229, 140);
    width: 25px;
    box-shadow: #64646f33 0px 7px 29px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    border-radius: 10px;
    cursor: pointer;
}

.inactive {
    background-color: #c42528 !important;
    color: white;
    border: none;
    border-radius: 4px;
  }
  .inactive:hover{
    background-color: #ce6263 !important;

  }


.close{
    background: rgb(255, 167, 167);
    width: 25px;
    box-shadow: #64646f33 0px 7px 29px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    border-radius: 10px;
    cursor: pointer;
}

.txt{
    display: flex;
    font-weight: 500;
    align-items: center;
    justify-content: left;
}