<div>
    <div class="row">
        <div class="col-10">
            <div class="inputtitle"> Change Password </div>
            <div class="subtitle">You can update with respective details</div>
        </div>
    </div>
    <form [formGroup]="selectupdatestudentmnggroup" class="form">
        <div class="row">
            <div class="borderbottom"></div>

            <div class="col-6 mar-b">
                <div class="lebel">Password </div>
                <input formControlName="changepassword" class="form-control" type="text">
            </div>
            <div class="col-4"></div>
            <div class="col-2 mar-b save" style="display:flex;align-items:center">
                <button class="submit-button" (click)="update()">Update</button>
            </div>
        </div>
    </form>
</div>