.value_chain {
  .container {
    .body-element {
      .dema_nd {
        .element-first {
          justify-content: right;

          .locandfoodspc {
            margin: 0rem 0rem 2rem 0rem;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
          }
        }
      }
    }
  }
}