.accounting {
    .container {
        .body-element {
            .inbound {
                .element-first {
                    justify-content: right;

                    .marelegapfood {
                        margin: 0rem 0rem 2rem 0rem;
                        justify-content: space-between;
                        align-items: center;
                        cursor: pointer;
                    }
                }

                h1 {
                    direction: rtl;
                    text-align: left;
                }

                .mat-icon {
                    font-size: 21px;
                }

                .rsl_tbl {
                    .rsl_tbl-thead {
                        .rsl_tbl-thead-tr {
                            border: 1px solid lightgray;

                            .rsl_tbl-thead-th {
                                font-size: 1.1rem;
                                font-weight: 600;
                                padding: 1rem 0.4rem;
                                color: white;
                                background-color: #266cc38a;
                                direction: rtl;
                            }

                            .rsl_tbl-thead-th:first-child {
                                text-align: right;
                            }
                        }
                    }

                    .rsl_tbl-tbody {
                        .rsl_tbl-tbody-tr-head {
                            border: 1px solid lightgray;

                            td {
                                text-align: right;
                                font-size: 14px;
                                font-weight: 600;
                                color: #576068;
                            }
                        }

                        .rsl_tbl-tbody-tr {
                            border: 1px solid lightgray;

                            h3 {
                                text-align: right;
                            }

                            td:first-child {
                                text-align: right;
                                direction: rtl;
                            }


                            input {
                                text-align: right;
                                border-radius: 0.4rem;
                                height: 2.2rem;
                                font-weight: 500;
                                padding: 11px 10px;
                                border: 2px solid #30b4cc;
                                border-radius: 6px;
                                background: transparent;
                                background-color: #edf7f9;
                                font-size: 20px;
                                width: 9rem;
                            }
                        }

                        .margin-td {
                            border-top: 2px solid darkblue;


                        }
                    }
                }

                .input-img-card {

                    .mark-img {
                        display: flex;
                        align-items: center;
                        height: 100%;
                        justify-content: center;
                        border: none;
                    }

                }
            }


        }
    }
}