<div class="elearingnewui">
    <div class="case-management-body case-management-module">
        <table class=" table  case-management-table">
            <thead>
                <tr>
                    <td></td>
                    <td *ngFor="let round of rounds">{{round}}</td>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Food for Thought
                    </td>
                    <td *ngFor="let data of res.mergersAcquisitionCMActiveStatus; let i = index">
                        <input class="input-check-bx" type="checkbox"
                            [checked]="res.mergersAcquisitionCMActiveStatus[i].foodforthoughtstatus === 'active'"
                            [disabled]="defaultcase=='yes'"
                            (change)="writeModuleValue(i,'normal','yes','foodforthoughtstatus','',$event)">
                    </td>
                </tr>
                <tr class=" page-name">
                    <th colspan="11">
                        <h2>Planning</h2>
                    </th>
                </tr>
                <tr>
                    <td>MAI</td>
                    <td *ngFor="let data of res.d10; let i = index">
                        <textarea name="" id="" cols="40" rows="2" [value]="res.d10[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','d10',inputElement.value,'')"></textarea>
                    </td>

                </tr>
                <tr>
                    <td>ElectroDrive Co.</td>
                    <td *ngFor="let data of res.d11; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.d11[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','d11',inputElement.value,'')"></textarea>
                    </td>

                </tr>
                <tr>
                    <td>GreenMove Motors</td>
                    <td *ngFor="let data of res.d12; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.d12[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','d12',inputElement.value,'')"></textarea>
                    </td>

                </tr>
                <tr>
                    <td>VoltWheels Inc.</td>
                    <td *ngFor="let data of res.d13; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.d13[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','d13',inputElement.value,'')"></textarea>
                    </td>

                </tr>
                <tr>
                    <td>TerraMotors</td>
                    <td *ngFor="let data of res.d14; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.d14[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','d14',inputElement.value,'')"></textarea>
                    </td>

                </tr>
                <tr>
                    <td>Outstanding Shares million</td>
                    <td *ngFor="let data of res.d48; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.d48[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','d48',inputElement.value,'')"></textarea>
                    </td>
                </tr>

                <tr class=" page-name">
                    <th colspan="11">
                        <h2>Assessments</h2>
                    </th>
                </tr>
                <tr class=" page-name-sub-heading">
                    <th colspan="11">
                        Companies
                    </th>
                </tr>
                <tr>
                    <td>BatteryTech Solutions</td>
                    <td *ngFor="let data of res.r7; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.r7[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','r7',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>EfficientManufacture Corp.</td>
                    <td *ngFor="let data of res.r8; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.r8[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','r8',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>BatteryTech Solutions</td>
                    <td *ngFor="let data of res.r9; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.r9[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','r9',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>EfficientManufacture Corp.</td>
                    <td *ngFor="let data of res.r10; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.r10[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','r10',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>BatteryTech Solutions</td>
                    <td *ngFor="let data of res.r11; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.r11[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','r11',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>EfficientManufacture Corp.</td>
                    <td *ngFor="let data of res.r12; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.r12[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','r12',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>BatteryTech Solutions</td>
                    <td *ngFor="let data of res.r13; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.r13[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','r13',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>EfficientManufacture Corp.</td>
                    <td *ngFor="let data of res.r14; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.r14[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','r14',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>BatteryTech Solutions</td>
                    <td *ngFor="let data of res.r15; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.r15[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','r15',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>EfficientManufacture Corp.</td>
                    <td *ngFor="let data of res.r16; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.r16[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','r16',inputElement.value,'')"></textarea>
                    </td>
                </tr>

                <tr class=" page-name">
                    <th colspan="11">
                        <h2>Negotiation</h2>
                    </th>
                </tr>
                <tr>
                    <td>Revenue</td>
                    <td *ngFor="let data of res.ab7; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.ab7[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','ab7',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Gross Profit</td>
                    <td *ngFor="let data of res.ab8; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.ab8[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','ab8',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Operating Income</td>
                    <td *ngFor="let data of res.ab9; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.ab9[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','ab9',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Net Income</td>
                    <td *ngFor="let data of res.ab10; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.ab10[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','ab10',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Assets</td>
                    <td *ngFor="let data of res.ab12; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.ab12[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','ab12',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Equity</td>
                    <td *ngFor="let data of res.ab13; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.ab13[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','ab13',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Liabilities</td>
                    <td *ngFor="let data of res.ab14; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.ab14[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','ab14',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Gross Margin</td>
                    <td *ngFor="let data of res.ab16; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.ab16[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','ab16',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Operating Margin</td>
                    <td *ngFor="let data of res.ab17; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.ab17[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','ab17',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Net Margin</td>
                    <td *ngFor="let data of res.ab18; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.ab18[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','ab18',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>ROA</td>
                    <td *ngFor="let data of res.ab19; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.ab19[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','ab19',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>ROE</td>
                    <td *ngFor="let data of res.ab20; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.ab20[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','ab20',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>ROCE</td>
                    <td *ngFor="let data of res.ab21; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.ab21[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','ab21',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Shareholder Structure Implication</td>
                    <td *ngFor="let data of res.ab22; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.ab22[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','ab22',inputElement.value,'')"></textarea>
                    </td>
                </tr>

                <tr class=" page-name">
                    <th colspan="11">
                        <h2>Financing</h2>
                    </th>
                </tr>
                <tr>
                    <td>MAI Min Stake required</td>
                    <td *ngFor="let data of res.an19; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.an19[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','an19',inputElement.value,'')"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>