.driveerrorlog {
    .succes_msg{
        background-color: #079907;
        color: white;
        text-align: center;
        font-family: 'poppins';
        height: 3rem;
    
    }
    .error_msg{
        background-color: #b10909;
        color: white;
        text-align: center;
        font-family: 'poppins';
        height: 3rem;
    }
    .mat-card table th{
        background-color: rgb(16, 2, 70);
        color: white;
        border: 1px solid lightgray;
        padding-left: 10px;
    }

    .mat-card table td.mat-cell, td.mat-footer-cell {
        padding: 10px;
        border: 1px solid lightgrey;
    }
    .mat-card table td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
        padding-left: 10px !important;
    }
}

