<div class="elearingnewui capital_budgeting">
    <div class="loadingscreen" *ngIf="checkloading">
        <span class="spinner-border spinner-border-sm loadingspinner" role="status" aria-hidden="true"></span>
        <p class="loadingspinnertxt">Loading... Brewing up some digital magic! </p>
      </div>
    <div class="container">
        <div class="body-element">
            <div class="feed_ack">
                <div>
                    <div class="row pb-4">
                        <div class="col-8"></div>
                        <div class="col-4">
                            <div style="display: flex; align-items: center; justify-content:end; gap: 20px;">
                                <div class="">
                                    <select class="select-round" name="" id="" [(ngModel)]="roundname"
                                        (change)="roundClick()">
                                        <option class="select-round-option" value="">Select Round</option>
                                        <option class="select-round-option"
                                            *ngFor="let attempt of dropdownvalue; let i = index;" [value]=attempt>
                                            {{attempt}}</option>

                                    </select>
                                </div>
                                <div class="download_btn" matTooltiClass="primary-tooltip"
                                    (click)="downloadreportcapital()">
                                    <div>
                                        <a download matTooltip="Download"><span class="hovertext"
                                                data-hover="Download pdf file accounting ">
                                                <img src="assets/images/businessbasics/download.png" />
                                            </span>
                                        </a>
                                    </div>
                                    <div>
                                        <mat-icon class="mt-2">get_app</mat-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h1>
                        Synopsis
                    </h1>
                    <div style="margin-top: 1.1rem;" *ngIf="analysisshow">
                        <h1
                            style="display: flex; align-items: center; gap: 5px;font-size: 1.1rem; font-weight: 600;padding: 0.6rem 0.4rem;color: white;background-color: #266cc38a;">
                            Feedback
                            <div style=" width: 1rem;">
                                <mat-icon (click)="rotate();roundClick();" [@rotatedState]='state' class="sidenav-icon"
                                    aria-hidden="false" aria-label="Example home icon">cached</mat-icon>
                            </div>
                        </h1>
                    </div>
                    <div class="decision-textarea pb-5 h-100" *ngIf="analysisshow">
                        <div class="row">
                            <div class="col-md" style="padding: 10px;">
                                <div class="card feedbsck-value p-3">
                                    <markdown [data]="feedbackvalue"></markdown>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-md-2 py-3">
                        <div class="col-md">
                            <table class="table rsl_tbl">
                              <thead class="rsl_tbl-thead">
                                <tr class="rsl_tbl-thead-tr">
                                  <th class="rsl_tbl-thead-th" colspan="2">Decisions</th>
                                </tr>
                              </thead>
                              <tbody class="rsl_tbl-tbody">
                                <tr class="rsl_tbl-tbody-tr">
                                  <th class="rsl_tbl-tbody-th">Parameters</th>
                                  <th class="rsl_tbl-tbody-th">Input</th>
                                </tr>
                                <tr class="rsl_tbl-tbody-tr" *ngFor="let item of result1; let i = index">
                                    <td>{{ item }}</td>
                                    <td>{{ result[i]*100 | number:'1.0-2' }}%</td>
                                  </tr>
                                  <tr class="rsl_tbl-tbody-tr" *ngFor="let item of result1; let i = index">
                                    <td>{{ item }}</td>
                                    <td>{{ result[i + 14] === 1 ? 'Selected' : 'Not Selected' }}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          

                        <div class="col-md">
                            <table class="table rsl_tbl">
                                <thead class="rsl_tbl-thead">
                                    <tr class="rsl_tbl-thead-tr">
                                        <th class="rsl_tbl-thead-th" colspan="2">Present Value of Divisonal Cash Stream,
                                            INR million</th>
                                    </tr>
                                </thead>
                                <tbody class="rsl_tbl-tbody">
                                    <tr class="rsl_tbl-tbody-tr">
                                        <th class="rsl_tbl-tbody-th">Parameters</th>
                                        <th class="rsl_tbl-tbody-th">Output</th>
                                    </tr>
                                    <tr *ngFor="let row of presentValueTableData1" class="rsl_tbl-tbody-tr">
                                        <td>{{ row[0] }}</td>
                                        <td >{{ row[1]|number:'1.0-0'}}</td>
                                    </tr>

                                </tbody>
                            </table>

                            <table class="table rsl_tbl mt-5">
                                <thead class="rsl_tbl-thead">
                                    <tr class="rsl_tbl-thead-tr">
                                        <th class="rsl_tbl-thead-th" colspan="2">Present Value of Cash Stream, INR
                                            million</th>
                                    </tr>
                                </thead>
                                <tbody class="rsl_tbl-tbody">
                                    <tr class="rsl_tbl-tbody-tr">
                                        <th class="rsl_tbl-tbody-th">Parameters</th>
                                        <th class="rsl_tbl-tbody-th">Output</th>
                                    </tr>
                                    <tr *ngFor="let row of presentValueTableData" class="rsl_tbl-tbody-tr">
                                        <td>{{ row[0] }}</td>
                                        <td >{{ row[1]|number:'1.0-0'}}</td>
                                    </tr>

                                   
                                </tbody>
                            </table>

                            <table class="table rsl_tbl mt-5">
                                <thead class="rsl_tbl-thead">
                                    <tr class="rsl_tbl-thead-tr">
                                        <th class="rsl_tbl-thead-th" colspan="2">Budget, INR million</th>
                                    </tr>
                                </thead>
                                <tbody class="rsl_tbl-tbody">
                                    <tr class="rsl_tbl-tbody-tr">
                                        <th class="rsl_tbl-tbody-th">Parameters</th>
                                        <th class="rsl_tbl-tbody-th">Output</th>
                                    </tr>
                                    <tr *ngFor="let row of budgetValueTableData" class="rsl_tbl-tbody-tr">
                                        <td>{{ row[0] }}</td>
                                        <td >{{ row[1]}}</td>
                                    </tr>
                                    
                                </tbody>
                            </table>

                            <table class="table rsl_tbl mt-5">
                                <thead class="rsl_tbl-thead">
                                    <tr class="rsl_tbl-thead-tr">
                                        <th class="rsl_tbl-thead-th" colspan="2">KPI</th>
                                    </tr>
                                </thead>
                                <tbody class="rsl_tbl-tbody">
                                    <tr class="rsl_tbl-tbody-tr">
                                        <th class="rsl_tbl-tbody-th">Parameters</th>
                                        <th class="rsl_tbl-tbody-th">Output</th>
                                    </tr>

                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Average discount rate across projects, %</td>
                                        <td>{{result[44]*100 | number:'1.0-0'}}%</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Present value of cash Stream, INR million</td>
                                        <td>{{result[46]| number:'1.0-0'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Net present value of cash stream, INR million</td>
                                        <td>{{result[45]| number:'1.0-0'}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table rsl_tbl mt-5">
                                <thead class="rsl_tbl-thead">
                                    <tr class="rsl_tbl-thead-tr">
                                        <th class="rsl_tbl-thead-th" colspan="2">Thinking Ability</th>
                                    </tr>
                                </thead>
                                <tbody class="rsl_tbl-tbody">
                                    <tr class="rsl_tbl-tbody-tr">
                                        <th class="rsl_tbl-tbody-th">Parameters</th>
                                        <th class="rsl_tbl-tbody-th">Output</th>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Project Portfolio</td>
                                        <td>{{result[47]*100 }}%</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Decide</td>
                                        <td>{{result[48]*100 }}%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row py-4">
                        <div class="col">
                            <table class="table rsl_tbl py-3">
                                <thead class="rsl_tbl-thead">
                                    <tr class="rsl_tbl-thead-tr">
                                        <th class="rsl_tbl-thead-th" colspan="9">Projects</th>
                                    </tr>
                                </thead>
                                <tbody class="rsl_tbl-tbody">
                                    <tr class="rsl_tbl-tbody-tr">
                                       
                                        <th class="rsl_tbl-tbody-th" style="width: 6rem;" *ngFor="let col of tableData[0]">
                                            {{ col }}
                                        </th>
                                    </tr>
                                   
                                    <tr class="rsl_tbl-tbody-tr" *ngFor="let row of filtertabledata.slice(1)">

                                       
                                        <td *ngFor="let cell of row; let i= index">
                                            {{ (i===5)?((gamedata.cbgamedata[cell]*100|number:'1.0-0')+'%'):(i===6)?(gamedata.cbgamedata[cell]|number:'1.0-1'):(i===7)?(gamedata.cbgamedata[cell]|number:'1.0-1'): (i===8)?(gamedata.cbgamedata[cell]|number:'1.0-1'):   (isNumber(gamedata.cbgamedata[cell]) ? (gamedata.cbgamedata[cell] | number: '1.0-0') : (gamedata.cbgamedata[cell]) )}}
                                         </td>
                                        
                                        
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="row lst_r">
                        <div class="col-4 lst_r-col4" *ngIf="!timefinished">
                            <button class="mt-4 retry" [disabled]="isButtonDisabled" (click)="exit()">{{retry}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>