.capital_budgeting {
    .container {
        .body-element {

            .feed_ack {
                .select-round {
                    padding: 0.5rem;
                    border-radius: 0.4rem;
                    border: 1px solid #b73b00;
                    box-shadow: rgba(0, 0, 0, 0.45) 0px 3px 2px;
                    cursor: pointer;
                    cursor: pointer;

                    .select-round-option {
                        background: white;
                    }
                }

                .download_btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid;
                    padding: 0.2rem 2rem;
                    border-radius: 1rem;
                    background: transparent;
                    border: none;
                    color: var(--elearingnewui-body-color);
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                    background-color: aliceblue;
                    cursor: pointer;

                    img {
                        height: 1.5rem;
                    }
                }

                .mat-icon {
                    font-size: 21px;

                }

                .rsl_tbl {
                    .rsl_tbl-thead {
                        .rsl_tbl-thead-tr {
                            border: 1px solid lightgray;

                            .rsl_tbl-thead-th {
                                font-size: 1.1rem;
                                font-weight: 600;
                                padding: 1rem 0.4rem;
                                color: white;
                                background-color: #266cc38a;
                            }
                        }
                    }

                    // .rsl_tbl-tbody {
                    //     .rsl_tbl-tbody-tr {
                    //         border: 1px solid lightgray;
                    //         .rsl_tbl-tbody-th{
                    //             text-align: right;
                    //             width: 6rem;
                    //         }
                    //         .rsl_tbl-tbody-th:first-child{
                    //             text-align: left;
                    //         }
                    //     }

                    //     .rsl_tbl-tbody-th {
                    //         font-size: 14px;
                    //         font-weight: 500;
                    //         text-align: right;
                    //     }
                    //     // .middleclassright {
                    //     //     text-align: right;
                    //     //     font-weight: 500;
                    //     //     font-size: 12px;
                    //     //     color: #000;
                    //     // }
                    //     td {
                    //         font-size: 14px;
                    //         font-weight: 500;
                    //          }


                    // }

                    .rsl_tbl-tbody {
                        .rsl_tbl-tbody-tr {
                            border: 1px solid lightgray;


                            td {
                                font-size: 14px;
                                font-weight: 500;
                                text-align: right;
                            }

                            // .middleclassright {
                            //     text-align: right;
                            //     font-weight: 500;
                            //     font-size: 12px;
                            //     color: #000;
                            // }
                        }


                        .rsl_tbl-tbody-tr td:first-child {
                            text-align: left;
                        }

                        .rsl_tbl-tbody-th {
                            font-size: 14px;
                            font-weight: 500;
                            text-align: right;
                        }

                        .rsl_tbl-tbody-th:first-child {
                            text-align: left;
                        }

                        // .rsl_tbl-tbody-tr td:last-child {
                        //     text-align: right;
                        // }

                        // .rsl_tbl-tbody-tr th:last-child {
                        //     text-align: right;
                        //     padding: 0.5rem 1rem;
                        //     //border-bottom: 2px solid;
                        //     font-weight: 500;
                        //     font-size: 14px;

                        // }

                        // .rsl_tbl-tbody-tr th:first-child {
                        //     //border-bottom: 2px solid;
                        //     font-weight: 500;
                        //     font-size: 14px;
                        //     text-align: left;
                        // }




                        // .margin-td {
                        //     border-top: 2px solid darkblue;

                        //     td:last-child {
                        //         color: red;
                        //     }
                        // }

                    }

                    .rsl_tbl-tbody-tr th {
                        font-size: 14px;
                        font-weight: 500;
                        text-align: right;

                    }

                    .rsl_tbl-tbody-tr th:last-child {
                        text-align: right;
                        padding: 0.5rem 1rem;
                    }

                    .rsl_tbl-tbody-tr td:last-child {
                        font-size: 12px;
                    }
                }

                .lst_r {
                    .lst_r-col4 {
                        .btn_stl {
                            margin-right: 10px;
                        }

                        .retry {
                            padding: 13px 36px;
                            border: 3px solid #30b4cc;
                            border-radius: 6px;
                            background: transparent;
                            color: #30b4cc;
                            font-size: 20px;
                        }

                        .retry:hover {
                            background-color: #53d8ef1f;
                        }
                    }
                }
            }

        }
    }
}

.feedbsck-value {
    border: 2px solid darkgreen;
    text-align: justify;

}