.portfolio_new {
    .container {
        .body-element {
            .market-research {
                .h2-cls {
                    margin: 0;
                }

                .market-research-nav {
                    background-color: #f1f3f4;
                    margin-bottom: 4px;
                    position: sticky;
                    top: 0;
                    z-index: 20;

                    .market-research-link {
                        color: #1f589f;
                        font-size: 15px;
                        font-weight: 500;
                        padding: 1rem;

                    }

                    .market-research-link.active {
                        color: rgb(0, 0, 0);
                        border-bottom: 3px solid rgb(0, 0, 0);
                    }

                }

                h1 {
                    padding: 2rem;
                    width: 100%;
                    margin: 0 auto;
                }

                .phasewidthinportfolio {
                    padding: 2rem;
                    width: 100%;
                    margin: 0 auto;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                    border-radius: 0.7rem;

                    .portfoliobackground {
                        background-color: #2F5799;
                        //padding: 1rem;

                        .portfolioimageset {
                            .imagesetuoinportfolio {
                                display: flex;
                                align-items: flex-end;
                                justify-content: center;

                                .example-card-img-responsive {
                                    height: 12rem;
                                }

                            }

                            .portfoliopaddiing {
                                .card-body {
                                    padding-top: 5rem;

                                    .card-text {
                                        text-align: justify;
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                    .input-no_box{
                        text-align: right;
                    }
                    .input-no_box:disabled{
                        background-color: #ebebebdb;
                    }
                    .disabled-bg{
                        background-color: #ebebebdb;
                        border: 2px solid #bdbdbd;
 
                    }
                    .input-no_box1 {
                        padding: 6px 10px;
                        border-radius: 6px;
                        background-color: #d3d3d37d;
                        font-size: 20px;
                        width: 10rem;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        text-align: right;

                        
                    }
                    .input-group-text1 {
                        display: flex;
                        align-items: center;
                        padding: 0.375rem 0.75rem;
                        // font-size: 1rem;
                        // font-weight: 400;
                        // line-height: 1.5;
                        color: #212529;
                        // text-align: center;
                        // white-space: nowrap;
                        background-color: #d3d3d37d;
                        border: 2px solid #bdbdbd;
                        border-radius: 0.25rem;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    
                    }
                }

                .list-group-item {
                    padding: 2rem;
                    width: 100%;
                    margin: 0 auto;
                }

                .element-first {
                    justify-content: right;

                    .introductn {
                        margin: 0rem 0rem 2rem 0rem;
                        justify-content: space-between;
                        align-items: center;
                        cursor: pointer;
                    }

                }

                .download_btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid;
                    padding: 0.2rem 2rem;
                    border-radius: 1rem;
                    background: transparent;
                    border: none;
                    color: var(--elearingnewui-body-color);
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                    background-color: aliceblue;
                    cursor: pointer;
                    position: absolute;
                    right: 10px;
                    top: 5px;
                    margin: 7px 0px;


                    .download_btn-img {
                        height: 1.5rem;

                    }
                }

            }

        }
    }
}

.alocation-element-div {
    display: flex;
    border: none;
    gap: 10px;
    padding: 10px, 0px;
    margin-top: 10px;


    .alocation-element {
        border: 1px solid lightgrey;
        padding: 10px;
        border: none;
        text-align: right;



        h2 {
            margin: 0;
            font-weight: 400;
        }

        p {
            margin: 0;
            font-size: 20px;
            font-weight: 500;
            color: red;
        }
    }
}

.table-responsive {
    .thirdtable {
        thead {
            tr {
                th {
                    background-color: #266cc38a;
                    padding: 11px;
                    font-size: 14px;
                    font-weight: 600;
                    color: white;
                }
            }
        }

        tbody {
            tr {
                th {
                    background-color: #266cc38a;
                    padding: 11px;
                    font-size: 14px;
                    font-weight: 600;
                    color: white;

                    td {
                        font-size: 12px;
                        text-align: right;
                        font-weight: 500;
                        padding: 0.5rem 1rem;
                    }
                }
                .tdlastchild{
                    padding: 0.5rem 0.5rem;
                }
            }
        }
    }
}





.img-check-card-footer {
    border: none;
    background: transparent;
}

.table-responsive {
    .secondtable-phaseone {
        thead {
            tr {
                th {
                    text-align: center;
                    font-size: 17px;
                    font-weight: 500;
                    padding: 11px;
                }
            }
        }

        tbody {
            tr {
                td {
                    font-size: 14px;
                    vertical-align: middle;

                    span {
                        display: flex;
                        justify-content: center;

                        .input-no_box {
                            padding: 6px 10px;
                            border: 2px solid #30b4cc;
                            border-radius: 6px;
                            background: transparent;
                            background-color: #edf7f9;
                            font-size: 20px;
                            width: 10rem;
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 0;
                        }

                        .input-group-text {
                            display: flex;
                            align-items: center;
                            padding: 0.375rem 0.75rem;
                            font-size: 1rem;
                            font-weight: 400;
                            line-height: 1.5;
                            color: #212529;
                            text-align: center;
                            white-space: nowrap;
                            background-color: #edf7f9;
                            border: 1px solid #ced4da;
                            border-radius: 0.25rem;
                            border: 2px solid #30b4cc;
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;

                        }
                    }
                }
            }
        }
    }
}

table.thirdtable:not(table.thirdtable thead, tr, th:first-child) {

    thead,
    tr,
    th {
        font-size: 13px;
        font-weight: 600;
        text-align: end;
    }

    th,
    td {
        border: 1px solid lightgrey;
    }

    tbody {

        tr,
        td {
            border: none;
            font-size: 13px;
            font-weight: 500;
            text-align: end;
        }
    }

    tbody,
    tr,
    th:first-child {
        text-align: left;
    }

    tbody .tdd td {
        border: 1px solid lightgrey;
    }
}

.Monitor_table {
    thead {
        background-color: #266cc38a;

        tr,
        th {
            font-size: 1.1rem;
            font-weight: 600;
            color: white;
        }
    }
}

.input-no_box1 {
    padding: 6px 10px;
    border: 2px solid #bdbdbd;
    border-radius: 6px;
    background: transparent;
    background-color: #d3d3d37d;
    font-size: 20px;
    width: 10rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group-text1 {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: #d3d3d37d;
    border: 2px solid #bdbdbd;
    border-radius: 0.25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}