<div class="elearingnewui design_thinking">
  <div class="loadingscreen" *ngIf="checkloading">
    <span class="spinner-border spinner-border-sm loadingspinner" role="status" aria-hidden="true"></span>
    <p class="loadingspinnertxt">Loading... Brewing up some digital magic! </p>
  </div>
  <div class="container">
    <div class="body-element">
      <div class="routesandtech">
        <div class="row" class="element-first">
          <div class="marelegapfood" (click)="openDialog()" *ngIf="foodforthought"
            style="text-align: right;margin: 0rem 0rem 3rem 0rem;">
            <span class="food-thought-span"><i class="bi bi-bar-chart-fill"></i>
              <button class="food-thought-btn">Food For Thought</button></span>
          </div>
        </div>

        <h1>Prototype
          <mat-icon appTippy="
                    <div class='help-tip p-2'>
                      <div style='display:flex;'>
                        <div>
                          <h4 style='color: white; margin:0 auto; font-weight: 600;'>Q.1</h4>
                        </div> &nbsp; &nbsp;
                        <div>
                          <p style='margin: 0 auto; color: white; font-size:13px;'>  As the cost fluctuates, how can you make informed decisions on feature inclusion in prototypes without compromising the overall product quality and user experience?</p>
                        </div>
                      </div>
                        <div class='pt-2' style='display:flex;'>
                          <div>
                            <h4 style='color: white; margin:0 auto; font-weight: 600;'>Q.2</h4>
                          </div> &nbsp; &nbsp; 
                          <div>
                            <p style='margin: 0 auto; color: white; font-size:13px;'> What methodologies can you employ to assess your prototypes, ensuring the selected features align with user expectations and preferences?</p>
                          </div>
                        </div>
                    </div> ">
            help_outline
          </mat-icon>
        </h1>
        <div class="row row-cols-md-3 py-3 prototype-table" >
          <div class="col-md" *ngFor="let card of cards; let i = index" >
            <div class="card shadow" [ngClass]="{ 'disabled-card': disabled[i] }">
              <div class="card-header">
                <h2>{{ result[7+i] }}</h2>
              </div>
              <div class="card-body">
                <div class="ist py-3">
                  <p>Battery Life, %</p>
                  <input type="number" class="input-box" placeholder="Input value here..." [(ngModel)]="result[10 + i]" 
                    (focusout)="getSelection('Battery',10+i)">
                </div>

                <div class="chips__filter">
                  <div *ngFor="let chip of card.chips;let k = index" class="chip" (click)="toggleChip(i, chip.name)"
                    [ngClass]="{ 'chip--active': isChipActive(i, chip.name) }">
                    <span class="icon icon--leadind chip--check">
                      <i [ngClass]="['fas', chip.icon]"></i>
                    </span>
                    <span>{{ result[k] }}</span>
                  </div>
                </div>

                <table class="mt-5">
                  <tr>
                    <td>Capability Level</td>
                    <td>{{ result[37 + (i * 4)]|number:'1.0-0' }}</td>
                  </tr>
                  <tr>
                    <td>Unit Cost, INR</td>
                    <td>{{ result[38 + (i * 4)]|number:'1.0-0'}}</td>
                  </tr>
                  <tr>
                    <td>Battery days</td>
                    <td>{{ result[39 + (i * 4)]|number:'1.0-2' }}</td>
                  </tr>
                  <tr>
                    <td>Localization, %</td>
                    <td>{{ result[40 + (i * 4)]*100|number:'1.0-0' }}</td>
                  </tr>
                </table>
              </div>

              <div class="card-footer">
                <input type="radio" class="checkfrominput" [value]="i" [(ngModel)]="selectedCardIndex"
                   name="cardSelection" (change)="getSelection('radio',i)">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>