// .example-container {
//     height: 100%;
//     border: 1px solid rgba(0, 0, 0, 0.5);
//   }
  
//   .minexample-sidenav-content {
//     margin-left: 5%;
//     height: 100%;
//     transition: margin-left 1s;
//     overflow-y: auto;
//   }

//   .example-sidenav-content {
//     margin-left: 12%;
//     height: 100%;
//     transition: margin-left 1s;
//     overflow-y: auto;
//   }
  
//   .sidenavdrawer {
//     padding: 20px;
//     background: #fbfaff;
//     width: 12%;
//     // transition: width 0.2s;
//     padding:6px;
//   }

//   .minsidenavdrawer {
//     padding: 20px;
//     background: #fbfaff;
//     width: 4%;
//     // transition: width 0.2s;
//     padding:6px ;
//   }
  
//   ::ng-deep {
//     .mat-drawer-content {
//       display: contents !important;
//     }
//     .mat-drawer-inner-container{
//       overflow-x: hidden !important;
//       overflow-y:scroll !important;
//     }
//     .mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content{
//       padding:0px !important;
//     }

//     .mat-drawer-side {
//       border-right: solid 1px #bf90901f !important;
//     }
//   }

//   .notitle{
//     display:none;
//     color:transparent;
//   }
  
//   .title{
//     opacity: 1; 
//     display:flex;
//     align-items:center;
//     font-weight: 500;
//     color: #4549a2;
//     font-size: 14px;
//     justify-content: flex-end;
//     transition: transform 0.2s ease;
//   }



//   .sidenav-icon{
//     color:#4549a2;
//     transition: transform .5s; 
//     cursor: pointer !important;
//   }

//   .sidenav-icon:hover{
//     color:#666883;
//     transform: scale(1.1);
//     transition: transform 0.2s ease;
//   }

//   .title:hover{
//     transform: scale(1.1);
//   }


//   :ngdeep .mat-list-item-content {
//     border-bottom: 1px solid black;
//   }

// 


///////////////////////////////////////////////
/// 
// 




/////////////////////////////////////////////
.example-container {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.minexample-sidenav-content {
 
  // height: 100%;
  transition: margin-left 1s;
  // overflow-y: auto;
}

.example-sidenav-content {
  margin-left: 12%;
  height: 100%;
  transition: margin-left 1s;
  overflow-y: auto;
}

.sidenavdrawer {
  padding: 20px;
  background: #f7f9fc;
  width: 12%;
  // transition: width 0.2s;
  padding:6px;
}

.minsidenavdrawer {
  padding: 20px;
  background: #f7f9fc;
  width: 4%;
  // transition: width 0.2s;
  padding:6px ;
}

::ng-deep {
  .mat-drawer-content {
    display: contents !important;
  }
  .mat-drawer-inner-container{
    overflow-x: hidden !important;
    overflow-y:scroll !important;
  }
  .mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content{
    padding:0px !important;
  }

  .mat-drawer-side {
    border-right: solid 1px #bf90901f !important;
  }
}

.notitle{
  display:none;
  color:transparent;
}

.title{
  opacity: 1; 
  display:flex;
  align-items:center;
  font-weight: 500;
  color: #4549a2;
  font-size: 14px;
  justify-content: flex-end;
  transition: transform 0.2s ease;
}



.sidenav-icon{
  color:#4549a2;
  transition: transform .5s; 
  cursor: pointer !important;
}

.sidenav-icon:hover{
  color:#666883;
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.title:hover{
  transform: scale(1.1);
}


:ngdeep .mat-list-item-content {
  border-bottom: 1px solid black;
}

.scrollbtn_icon{
  position: absolute; bottom: 2rem; right:3rem; padding: 0.3rem; 
}

.scrollbtn_icon:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 50%;
    border: none;
}