<div class="elearingnewui mergers_aquisition">
    <div class="loadingscreen" *ngIf="checkloading">
        <span class="spinner-border spinner-border-sm loadingspinner" role="status" aria-hidden="true"></span>
        <p class="loadingspinnertxt">Loading... Brewing up some digital magic! </p>
    </div>
    <div class="container">
        <div class="body-element">
            <div class="dema_nd">
                <div class="element-first">
                    <div class="row">
                        <div class="locandfoodspc" (click)="openDialog()" *ngIf="foodforthought">
                            <span class="food-thought-span"><i class="bi bi-bar-chart-fill"></i>
                                <button class="food-thought-btn">Food For Thought</button></span>
                        </div>
                    </div>
                </div>
                <div>
                    <h1>
                        Negotiation
                        <mat-icon appTippy="
            <div class='help-tip p-2'>
              <div style='display:flex;'>
                <div>
                  <h4 style='color: white; margin:0 auto; font-weight: 600;'>Q.1</h4>
                </div> &nbsp; &nbsp; &nbsp;
                <div>
                  <p style='margin: 0 auto; color: white; font-size:13px;'>What are the key considerations in determining the premium you are willing to pay on the valuation of the target company?</p>
                </div>
              </div><br>
                <div style='display:flex;'>
                  <div>
                    <h4 style='color: white; margin:0 auto; font-weight: 600;'>Q.2</h4>
                  </div> &nbsp; &nbsp; &nbsp;
                  <div>
                    <p style='margin: 0 auto; color: white; font-size:13px;'>How might understanding synergy benefits, financial gains, cultural integration, and strategic importance influence your decision-making process during negotiations?</p>
                  </div>
                </div>
            </div> ">
                            help_outline
                        </mat-icon>
                    </h1>
                </div>
                <h1 class="mt-5">Target</h1>
                <div class="row row-cols-md-2 g-3">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <p>Cultural Integration Ease, Max 10
                                        </p>
                                        <div class="card-text">
                                            <h4>
                                                {{result[3]}}
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <p>Synergy Benefits</p>
                                        <div class="card-text">
                                            <h4>
                                                {{result[0]}}
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card ">
                                    <div class="card-body ">
                                        <p>Expected Financial Benefit</p>
                                        <div class="card-text">
                                            <h4>
                                                {{result[2]}}
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <p>Strategic Importance, Max 10</p>
                                        <div class="card-text">
                                            <h4>
                                                {{result[1]}}
                                            </h4>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <table class="table rsl_tbl">
                            <thead class="rsl_tbl-thead">
                                <tr class="rsl_tbl-thead-tr">
                                    <th class="rsl_tbl-thead-th" colspan="4">Financials, INR Million</th>
                                </tr>
                            </thead>
                            <tbody class="rsl_tbl-tbody">
                                <tr class="rsl_tbl-tbody-tr">
                                    <td>Revenue</td>
                                    <td>{{result[6]}}</td>
                                </tr>
                                <tr class="rsl_tbl-tbody-tr">
                                    <td>Gross Profit</td>
                                    <td>{{result[7]}}</td>
                                </tr>
                                <tr class="rsl_tbl-tbody-tr">
                                    <td>Operating Income</td>
                                    <td>{{result[8]}}</td>
                                </tr>
                                <tr class="rsl_tbl-tbody-tr" style="border-bottom: 2px solid black;">
                                    <td>Net Income</td>
                                    <td>{{result[9]}}</td>
                                </tr>
                                <tr class="rsl_tbl-tbody-tr">
                                    <td>Assets</td>
                                    <td>{{result[10]}}</td>
                                </tr>
                                <tr class="rsl_tbl-tbody-tr">
                                    <td>Equity</td>
                                    <td>{{result[11]}}</td>
                                </tr>
                                <tr class="rsl_tbl-tbody-tr">
                                    <td>Liabilities</td>
                                    <td>{{result[12]}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row row-cols-md-2 py-3 g-3">
                    <div class="col-md-7">
                        <div class="card">
                            <div class="card-body pt-0">
                                <table class="table rsl_tbl">
                                    <thead class="rsl_tbl-thead">
                                        <tr class="rsl_tbl-thead-tr">
                                            <th class="rsl_tbl-thead-th" colspan="2">Stakeholder's Implication</th>
                                        </tr>
                                    </thead>

                                    <div class="card-text">
                                        <p style="padding: 10px;text-align: justify;border: 1px solid lightgray;">
                                            {{result[19]}}
                                        </p>
                                    </div>
                                </table>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <p>Probability of Acceptance</p>
                                <div class="card-text">
                                    <h4>
                                        {{result[4] *100 | number:'0.0-0'}}%
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <table class="table rsl_tbl h-100">
                            <thead class="rsl_tbl-thead">
                                <tr class="rsl_tbl-thead-tr">
                                    <th class="rsl_tbl-thead-th" colspan="4">KPI's</th>
                                </tr>
                            </thead>
                            <tbody class="rsl_tbl-tbody">
                                <tr class="rsl_tbl-tbody-tr">
                                    <td>Gross Margin</td>
                                    <td>{{result[13]*100 |number :'0.0-0'}}%</td>
                                </tr>
                                <tr class="rsl_tbl-tbody-tr">
                                    <td>Operating Margin</td>
                                    <td>{{result[14]*100 |number :'0.0-0'}}%</td>
                                </tr>
                                <tr class="rsl_tbl-tbody-tr">
                                    <td>Net Margin</td>
                                    <td>{{result[15]*100 |number :'0.0-0'}}%</td>
                                </tr>

                                <tr class="rsl_tbl-tbody-tr">
                                    <td>ROA</td>
                                    <td>{{result[16]*100 |number :'0.0-0'}}%</td>
                                </tr>
                                <tr class="rsl_tbl-tbody-tr">
                                    <td>ROE</td>
                                    <td>{{result[17]*100 |number :'0.0-0'}}%</td>
                                </tr>
                                <tr class="rsl_tbl-tbody-tr">
                                    <td>ROCE</td>
                                    <td>{{result[18]*100 |number :'0.0-0'}}%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row row-cols-md-3 py-3 g-3 ">
                    <div class="col-md-6">
                        <div class="card ">
                            <img src="assets/images/pricinggame/forinitiatetab.svg" alt="Your Image" class="img-fluid"
                                style="width: 100%; height: 14rem;" />
                            <p style="text-align: center;">Premium %, over current valuation</p>
                            <div class="form-check" style="text-align: center;">
                                <input type="number" class=" input-no_box dockinput" placeholder="Input value here..." [(ngModel)]="result[5]"
                                    (focusout)="writeData()" [disabled]="inputDisabled"  >
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="card  p-2" style="border: 1px solid lightgrey;">
                            <apx-chart [series]="valuationinrchart.series" [chart]="valuationinrchart.chart"
                                [dataLabels]="valuationinrchart.dataLabels"
                                [plotOptions]="valuationinrchart.plotOptions" [yaxis]="valuationinrchart.yaxis"
                                [xaxis]="valuationinrchart.xaxis" [fill]="valuationinrchart.fill"
                                [title]="valuationinrchart.title" [tooltip]="valuationinrchart.tooltip">
                            </apx-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>