.casemanagement {
    .case-management-body-marketing {
        .case-management-table-marketing {
            thead {
                tr {
                    td {
                        text-align: center;
                        min-width: 370px;
                        padding: 0.5rem 0.5rem;
                        border-right: 1px solid red;

                    }

                    td:last-child {
                        border-right: 1px solid lightgrey;
                    }
                }
            }

            

            .first-tbody {
                tr {
                    td {
                        text-align: center;
                        border-bottom: 1px solid lightgray;
                        font-size: 14px;
                        font-weight: 500;
                        background-color: #fff2e8;

                    }

                    td:first-child {
                        color: black;
                    }

                }
                .first-tbody-new-new {
                    tr {
                        td:first-child {
                            text-align: left;
                            padding-left: 0.5rem;
    
                        }
    
                        td:nth-child(odd) {
                            min-width: 225px;
    
                            input {
                                width: 13rem !important;
                            }
                        }
                    }
                }
            }

            tbody {
                tr {
                    td {
                        text-align: center;
                        border-bottom: 1px solid lightgray;

                    }

                    td:nth-child(even) {
                        border-right: 1px solid red;
                        padding-right: 1rem;
                    }

                    td:last-child {
                        border-right: 1px solid lightgrey;
                        font-size: 14px;
                    }
                }
            }

            .first-tbody-new-new {
                tr {
                    td:first-child {
                        text-align: left;
                        padding-left: 0.5rem;

                    }

                    td:nth-child(odd) {
                        min-width: 200px;

                        input {
                            width: 13rem !important;
                        }
                    }
                }
            }

        }

        .case-management-table-marketing-second {
            thead {
                tr {
                    td {
                        text-align: center;
                        min-width: 370px;
                        padding: 0.5rem 0.5rem;
                        border-right: 1px solid red;

                    }

                    td:last-child {
                        border-right: 1px solid lightgrey;
                    }
                }
            }


        }
        .second-tbody {
            tr:first-child {
                background-color: #fff2e8;
            }
        
            tr {
                td {
                    text-align: center;
                    border-bottom: 1px solid lightgray;
                    min-width: 90px;
                    font-weight: 500;
                    font-size: 12px;
        
                }
        
                td:nth-child(7),
                td:nth-child(14),
                td:nth-child(21),
                td:nth-child(28),
                td:nth-child(35),
                td:nth-child(42),
                td:nth-child(49),
                td:nth-child(56),
                td:nth-child(63),
                td:nth-child(70) {
                    border-right: 1px solid red;
                }
        
                td:first-child {
                    color: black;
                }
        
                td:last-child {
                    border-right: 1px solid lightgrey;
                    font-size: 14px;
                }
            }
        }
        
    }
}
