<!-- new -->
<div class="elearingnewui">
    <div class="valuechain-element-body">
        <div class="links">
            <ul>
                <button class="out-look-btn " [style.background-color]="round === selectedButton? 'lightgrey' : ''"
                    *ngFor="let round of rounds; let i = index;" (click)="roundclick(i,round)">{{round}}</button>
            </ul>
        </div>
        <div class="case-texts__content">
            <div id="initial">
                <div class="case-texts__content-main">
                    <div class=" case-texts__container">
                        <label class="case-texts__content-after-label pb-2">Original text</label>
                        <div class=" case-texts__container-textarea">
                            In the bustling city of Mumbai, there's a rising star in the e-commerce sector,
                            TrendyThreads India Pvt. Ltd., primarily dealing with fashion and clothing. Located in a
                            sprawling office in the Bandra-Kurla Complex, the energy within the walls of TrendyThreads
                            is palpable, with the young and diverse workforce bustling with creativity and innovation.
                            <br><br>

                            The Indian e-commerce market has seen a surge in the past few years. With increased internet
                            penetration and digital literacy, more consumers are turning to online shopping. The
                            clothing segment, in particular, is growing due to the fashion-conscious Indian middle
                            class. However, fluctuations in the economy, GST implications, and unpredictable lockdowns
                            due to pandemics can affect purchasing power.The rise of Augmented Reality (AR) is enabling
                            online shoppers to 'try' clothes virtually before buying. AI-driven personalization is also
                            trending, where the website/app shows clothing based on the user's past choices and
                            preferences. Integrating these technologies can give TrendyThreads a competitive edge.
                            <br><br>

                            The market is highly competitive with giants like Myntra, Ajio, and Amazon. Plus, there are
                            many niche e-commerce sites catering to specific clothing genres like ethnic wear,
                            sportswear, etc. To stand out, TrendyThreads needs to offer something unique, be it in
                            service, product range, or technology.
                        </div>
                    </div>
                    <div class="case-texts__content-starea">
                        <div class="case-texts__content-after">
                            <label class="case-texts__content-after-label">Your custom default text</label>
                            <st-editor name="" id="" [config]="config" [(ngModel)]="contentvalue"
                                [disabled]="defaultcase=='yes'" (focusout)="contentvaluechange()"></st-editor>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>