<!-- new design -->

<div class="elearingnewui bus_iness">
    <div class="container">
        <div class="body-element">
            <div class="market-research">
                <div class="row" class="element-first ">
                    <div class="marpoint1st" (click)="openDialog()" *ngIf="foodforthought"
                        style="text-align: right;margin: 0rem 0rem 3rem 0rem;">
                        <span class="food-thought-span"><i class="bi bi-bar-chart-fill"></i>
                            <button class="food-thought-btn">Food For Thought</button></span>
                    </div>
                </div>
                <h1>Industry Analysis
                    <mat-icon appTippy="
          <div class='help-tip p-2'>
            <div style='display:flex;'>
              <div>
                <h4 style='color: white; margin:0 auto; font-weight: 600;'>Q.1</h4>
              </div> &nbsp; &nbsp; &nbsp;
              <div>
                <p style='margin: 0 auto; color: white; font-size:13px;'> Considering the global market dynamics, how might braoder factors influence the industry, and what regions show the most promising growth potential?</p>
              </div>
            </div><br>
              <div style='display:flex;'>
                <div>
                  <h4 style='color: white; margin:0 auto; font-weight: 600;'>Q.2</h4>
                </div> &nbsp; &nbsp; &nbsp;
                <div>
                  <p style='margin: 0 auto; color: white; font-size:13px;'>What recent breakthroughs in the industry could impact the market dynamics, and how might these breakthroughs affect the demand for products?</p>
                </div>
              </div>
          </div> ">
                        help_outline
                    </mat-icon>
                </h1>

                <ul class="nav market-research-nav" id="nav-tab" role="tablist">
                    <li class="nav-link active market-research-link" id="nav-Market-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-Market" type="button" role="tab" aria-controls="nav-Market"
                        aria-selected="true">
                        Global Industry
                    </li>
                    <li class="nav-link market-research-link " id="nav-genre-preference-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-genre-preference" type="button" role="tab"
                        aria-controls="nav-genre-preference" aria-selected="true">Market Dynamics
                    </li>
                    <li class="nav-link market-research-link" id="nav-profile-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-communication-channels" type="button" role="tab"
                        aria-controls="nav-communication-channels" aria-selected="false">Regional Markets
                    </li>
                    <li class="nav-link market-research-link" id="nav-Monetization-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-Monetization" type="button" role="tab" aria-controls="nav-Monetization"
                        aria-selected="false">Breakthroughs
                    </li>
                    <li class="nav-link market-research-link" id="nav-Monetization1-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-Monetization1" type="button" role="tab" aria-controls="nav-Monetization1"
                        aria-selected="false">Management Plans
                    </li>
                </ul>

                <!--  main container  -->
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-Market" role="tabpanel">
                        <div class="rounded-5  rtsidetable card ">
                            <ul class="list-group list-group-flush marketoutlooklist">
                                <li class="list-group-item" style="padding: 2rem; width: 90%; margin: 0 auto;">
                                    <p style="text-align: initial;">The global automotive industry is experiencing a
                                        transformative phase,
                                        characterized
                                        by a surge in demand for sustainable and technologically advanced passenger
                                        vehicles. The market is projected to witness substantial growth, with an
                                        anticipated
                                        market size of $2675 billion by the next 10 years, reflecting a CAGR of 5.32%.
                                        Key
                                        drivers include a growing environmental consciousness, technological
                                        advancements in
                                        autonomous driving, and the increasing need for efficient urban transportation.
                                        However, challenges such as high initial costs for electric vehicles and a
                                        global
                                        semiconductor shortage pose significant restraints. Opportunities arise from
                                        emerging markets in Asia-Pacific and the integration of automotive and tech
                                        sectors
                                        for innovative solutions.</p>
                                </li>
                            </ul>
                            <li class="list-group-item" style="border: none;width: 88%; margin: 0 auto;">
                                <div class="py-2">
                                    <div class="card p-3">
                                        <apx-chart [series]="estimatedpassengergraph.series"
                                            [chart]="estimatedpassengergraph.chart"
                                            [dataLabels]="estimatedpassengergraph.dataLabels"
                                            [plotOptions]="estimatedpassengergraph.plotOptions"
                                            [yaxis]="estimatedpassengergraph.yaxis"
                                            [xaxis]="estimatedpassengergraph.xaxis"
                                            [fill]="estimatedpassengergraph.fill"
                                            [title]="estimatedpassengergraph.title"
                                            [tooltip]="estimatedpassengergraph.tooltip">
                                        </apx-chart>
                                    </div>
                                </div>
                            </li>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-genre-preference" role="tabpanel">
                        <div class="card ">
                            <ul class="list-group  list-group-flush" style="width: 90%; margin: 0 auto;">
                                <div class="row row-cols-md-2" style="text-align: initial;">
                                    <div class="col-md">
                                        <li class="list-group-item lipaddingfortext">
                                            <h2>Drivers:</h2>
                                            <p>
                                        <li>Increasing environmental consciousness and government incentives for
                                            electric
                                            vehicles.</li>
                                        <li>Technological advancements in autonomous driving and connectivity features.
                                        </li>
                                        <li>Growing urbanization and the need for efficient and compact transportation.
                                        </li>
                                        </p>
                                        </li>
                                    </div>
                                    <div class="col-md">
                                        <li class="list-group-item lipaddingfortext">
                                            <h2>Opportunities:</h2>
                                            <p>
                                        <li>Emerging markets in Asia-Pacific.</li>
                                        <li>Collaborations between automotive and tech companies for innovation.</li>
                                        <li>Shifting consumer preferences towards shared mobility services.</li>
                                        </p>
                                        </li>
                                    </div>

                                </div>

                                <div class="row row-cols-md-2" style="text-align: initial;">
                                    <div class="col-md">
                                        <li class="list-group-item lipaddingfortext">
                                            <h2>Restraints:</h2>
                                            <p>
                                        <li>High initial costs of electric vehicles.</li>
                                        <li>Limited charging infrastructure.</li>
                                        <li>Global semiconductor shortage affecting vehicle production.</li>
                                        </p>
                                        </li>
                                    </div>
                                    <div class="col-md">
                                        <li class="list-group-item lipaddingfortext">
                                            <h2>Challenges:</h2>
                                            <p>
                                        <li>Regulatory uncertainties in emission standards.</li>
                                        <li>Supply chain disruptions impacting production.</li>
                                        <li>Resistance to adoption of new technologies in traditional markets.</li>
                                        </p>
                                        </li>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-communication-channels" role="tabpanel">
                        <div class="rounded-5  rtsidetable card ">
                            <ul class="list-group  list-group-flush marketoutlooklist">
                                <li class="list-group-item" style="padding: 1.5rem; ">
                                    <p style="text-align: initial; width: 90%; margin: 0 auto;">The passenger vehicle segment, encompassing sedans,
                                        SUVs, hatchbacks, electric
                                        vehicles (EVs), and hybrids, is experiencing notable trends in different
                                        regions. In India, there is a dominance of compact and fuel-efficient vehicles,
                                        with a growing interest in electric two & four-wheelers. Europe sees a surge in
                                        electric vehicle adoption, especially in Nordic countries, and a rising
                                        preference for electric SUVs. In South Korea, technologically advanced vehicles
                                        with a focus on connectivity, government support for hydrogen fuel cell
                                        technology, and growth in the electric and hybrid segment are observed.</p>
                                </li>
                                <div class="row row-cols-md-3" style="text-align: initial; padding: 1rem;">
                                    <div class="col-md">
                                        <div class="card p-3">
                                            <li class="list-group-item lipaddingfortext " >
                                                <h2>India</h2>
                                                <p>
                                            <li>Market Size: USD 65 billion</li>
                                            <li>Market Growth Rate: 9.45%</li>
                                            </p>
                                            </li>
                                            <apx-chart [series]="marketsharebytechgraph
                                  .series" [chart]="marketsharebytechgraph
                                 .chart" [labels]="marketsharebytechgraph
                                        .labels" [responsive]="marketsharebytechgraph
                                        .responsive" [title]="marketsharebytechgraph
                                        .title" [legend]="marketsharebytechgraph
                                        .legend" [tooltip]="marketsharebytechgraph
                                        .tooltip">
                                            </apx-chart>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="card p-3">
                                            <li class="list-group-item lipaddingfortext">
                                                <h2>Europe</h2>
                                                <p>
                                            <li>Market Size: USD 419 billion</li>
                                            <li>Market Growth Rate: 2.16%</li>
                                            </p>
                                            </li>
                                            <apx-chart [series]="marketsharebytechgraph1
                                  .series" [chart]="marketsharebytechgraph1
                                 .chart" [labels]="marketsharebytechgraph1
                                        .labels" [responsive]="marketsharebytechgraph1
                                        .responsive" [title]="marketsharebytechgraph1
                                        .title" [legend]="marketsharebytechgraph1
                                        .legend" [tooltip]="marketsharebytechgraph1
                                        .tooltip">
                                            </apx-chart>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="card p-3">
                                            <li class="list-group-item lipaddingfortext">
                                                <h2>South Korea</h2>
                                                <p>
                                            <li>Market Size: USD 36.1 billion</li>
                                            <li>Market Growth Rate: 1.61%</li>
                                            </p>
                                            </li>
                                            <apx-chart [series]="marketsharebytechgraph2
                                        .series" [chart]="marketsharebytechgraph2
                                       .chart" [labels]="marketsharebytechgraph2
                                              .labels" [responsive]="marketsharebytechgraph2
                                              .responsive" [title]="marketsharebytechgraph2
                                              .title" [legend]="marketsharebytechgraph2
                                              .legend" [tooltip]="marketsharebytechgraph2
                                              .tooltip">
                                            </apx-chart>
                                        </div>
                                    </div>
                                </div>

                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-Monetization" role="tabpanel">
                        <div class="rounded-5  rtsidetable card ">
                            <ul class="list-group  list-group-flush marketoutlooklist">
                                <div class="row row-cols-md-3" style="width: 90%; margin: 0 auto;">
                                    <div class="col-md">
                                        <li class="list-group-item lipaddingfortext">
                                            <h2>Technology Advancements:</h2>
                                            <p style="text-align: initial;">
                                        <li>Longer battery life and faster charging times.</li>
                                        <li>Solid-state battery research for enhanced safety and efficiency.</li>
                                        </p>
                                        </li>
                                    </div>
                                    <div class="col-md">
                                        <li class="list-group-item lipaddingfortext">
                                            <h2>Autonomous Driving:</h2>
                                            <p style="text-align:initial">
                                        <li>Advancements in AI and sensor technologies.</li>
                                        <li>Increased testing and deployment of autonomous vehicles.</li>
                                        </p>
                                        </li>
                                    </div>
                                    <div class="col-md">
                                        <li class="list-group-item lipaddingfortext">
                                            <h2>Connected Vehicles:</h2>
                                            <p>
                                        <li>Integration of IoT for enhanced connectivity.</li>
                                        <li>Vehicle-to-Everything (V2X) communication for improved safety.
                                        </li>
                                        </p>
                                        </li>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-Monetization1" role="tabpanel">
                        <div class="rounded-5  rtsidetable card " style="padding: 1rem;">
                            <ul class="list-group  list-group-flush marketoutlooklist">
                                <div class="row row-cols-md-3" style="width: 90%; margin: 0 auto;">
                                    <div class="col-md">
                                        <h2 class="h3-cls">Electra Motors (EM)</h2>
                                        <li class="list-group-item" style="border: none;text-align: justify;">
                                            <p><b style="font-weight: 600; color: black;">Current:</b> 
                                                {{showAll[0] ? textLines[0]: truncatedText[0]}}
                                                <a type="button" (click)="toggleshow(0)" [style.color]="showAll[0] ? 'red' : 'blue'">
                                                    {{showAll[0] ? 'Show Less' : 'Show More'}}
                                                </a></p>

                                            <p><b style="font-weight: 600; color: black;">Future:</b> {{showAll[1] ? textLines[1]: truncatedText[1]}}
                                                <a type="button" (click)="toggleshow(1)" [style.color]="showAll[1] ? 'red' : 'blue'">
                                                    {{showAll[1] ? 'Show Less' : 'Show More'}}
                                                </a>
                                            </p>
                                        </li>
                                    </div>
                                    <div class="col-md">
                                        <h2 class="h3-cls">Titan Motors (TM)</h2>
                                        <li class="list-group-item" style="border: none;text-align: initial;">
                                            <p><b style="font-weight: 600;color: black;">Current:</b> {{showAll[2] ? textLines[2]: truncatedText[2]}}
                                                <a type="button" (click)="toggleshow(2)" [style.color]="showAll[2] ? 'red' : 'blue'">
                                                    {{showAll[2] ? 'Show Less' : 'Show More'}}
                                                </a></p>

                                            <p><b style="font-weight: 600;color: black;">Future:</b> {{showAll[3] ? textLines[3]: truncatedText[3]}}
                                                <a type="button" (click)="toggleshow(3)" [style.color]="showAll[3] ? 'red' : 'blue'">
                                                    {{showAll[3] ? 'Show Less' : 'Show More'}}
                                                </a>
                                            </p>
                                        </li>
                                    </div>
                                    <div class="col-md">
                                        <h2 class="h3-cls">GreenSpeed Technologies (GT)</h2>
                                        <li class="list-group-item" style="border: none;text-align: initial;">
                                            <p><b style="font-weight: 600;color: black;">Current:</b> {{showAll[4] ? textLines[4]: truncatedText[4]}}
                                                <a type="button" (click)="toggleshow(4)" [style.color]="showAll[4] ? 'red' : 'blue'">
                                                    {{showAll[4] ? 'Show Less' : 'Show More'}}
                                                </a></p>

                                            <p><b style="font-weight: 600;color: black;">Future:</b> {{showAll[5] ? textLines[5]: truncatedText[5]}}
                                                <a type="button" (click)="toggleshow(5)" [style.color]="showAll[5] ? 'red' : 'blue'">
                                                    {{showAll[5] ? 'Show Less' : 'Show More'}}
                                                </a>
                                            </p>
                                        </li>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>