.cvp_analysis {
    .container {
        .decision-checklist {
            padding: 2.5rem 5rem 0rem 5rem;

            .decision-checklist-col6 {
                padding-left: 0.3rem;

                .decision-checklist-col6-h1 {
                    margin: 0;
                }
            }

            .select-round {
                padding: 0.5rem;
                border-radius: 0.4rem;
                border: 1px solid #b73b00;
                box-shadow: rgba(0, 0, 0, 0.45) 0px 3px 2px;
                cursor: pointer;

                .select-round-option {
                    background: white;
                }
            }

            .checklisttable {
                .checklisttable-body {
                    .checklisttable-body-tr {
                        .checklisttable-body-tr:first-child {
                            border-bottom: 3px solid black;
                        }

                        th:first-child {
                            font-size: 1.1rem;
                            font-weight: 600;
                        }
                    }

                    .defaultcolor {
                        background-color: lightblue;
                        padding: 5px;
                    }

                    .notdefaultcolor {
                        background-color: rgb(0, 255, 115);
                        padding: 5px;
                    }
                }
            }

            .btn_stl-decisionchecklist {
                text-align: right;
                margin-top: 10px;
            }
        }
    }

}




  