.headerbreadcrumb {
    background: #1f589f;
    // position: sticky;
    // top: 0;
    // z-index: 2;
  
  
    .breadcrumb {
      padding: 0 65px;
      margin: 0;
      border-top: 1px solid #839be394;
  
      .breadcrumb-item {
        color: #8e9bad;
        align-items: center;
        display: flex;
        // font-size: 16px;
        cursor: pointer;
      }
  
      .breadcrumb-item.active {
        color: white;
      }
    }
  
    .breadcrumb-item+.breadcrumb-item::before {
      font-size: 30px;
      content: url("/assets/icons/rightarrow.svg");
    }
  }
  
  .second-nav {
    padding-bottom: 0.5rem;
  
    span {
      font-size: 16px;
      cursor: pointer;
  
    }
  }
  
  .nav-item {
    .nav-link {
      color: white;
    }
  }
  
  .icon-nav {
    .mat-icon {
      color: #dce0ff;
      margin-right: 20px;
      cursor: pointer;
    }
  }
  
  .nav-item.active {
    background-color: #11417a;
  
    .nav-link {
      color: white;
    }
  }
  
  .tab-content .tab-pane {
    padding: 0;
  }

  .disabled {
    color: gray;
    /* or any other styling to indicate it's disabled */
    pointer-events: none;
    /* disables mouse events */
  }
  