.bus_iness {
    .container {
        .body-element {
            .element-first {
                justify-content: right;

                .marpoint1st {
                    margin: 0rem 0rem 3rem 0rem;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                }
            }

            .intro_nd {
                justify-content: space-between;
                align-items: center;

                .intro {
                    width: 50%;

                    .intro-text {
                        text-align: justify;
                        font-size: 15px;
                    }
                }
            }

            .img-fluid {
                width: 80%;
            }
        }
    }
}