.innovation_game {
    .container {
        .body-element {
            .routesandtech {

                .element-first {
                    justify-content: right;

                    .marelegapfood {
                        margin: 0rem 0rem 2rem 0rem;
                        justify-content: space-between;
                        align-items: center;
                        cursor: pointer;
                    }
                }

                .mat-icon {
                    font-size: 21px;
                }

                .input-img-card {
                    .marketing-card {
                        padding: 0;
                        display: flex;
                        align-items: top;

                        .craftingimg {
                            padding: 10px;
                            height: 18rem;
                        }

                        .card-img-top {
                            height: 17rem;
                        }

                        .card-body {
                            text-align: center;
                            padding: 0 1rem;

                            h2 {
                                text-align: center;
                                height: 4rem;
                                //margin: 0;
                            }

                            .card-text {
                                text-align: left;

                                .textswcinassessment-p {
                                    height: 5rem;
                                    text-align: justify;
                                    font-size: 15px;
                                }

                                .textswcinassessment-pp {
                                    height: 4rem;
                                }

                                .textswcinassessment {
                                    font-size: 14px;
                                    font-weight: 600;
                                    color: black;
                                }
                            }
                        }

                        .form-check {
                            border: none;
                            background: transparent;
                            padding: 0;

                            .checkfrominput {
                                float: right;
                                height: 20px;
                                width: 20px;
                                cursor: pointer;
                            }
                        }

                        .routesandtechcostcard {
                            display: flex;
                            gap: 10px;

                            h3:first-child {
                                color: red;
                            }

                            h3:last-child {
                                font-size: 19px;
                                font-weight: 500;


                            }
                        }
                    }
                }
            }
        }
    }
}