<!-- new -->
<div class="elearingnewui bus_iness">
    <div class="loadingscreen" *ngIf="checkloading">
        <span class="spinner-border spinner-border-sm loadingspinner" role="status" aria-hidden="true"></span>
        <p class="loadingspinnertxt">Loading... Brewing up some digital magic! </p>
    </div>
    <div class="container">
        <div class="body-element">
            <div class="marketpage">
                <div>
                    <div class="row" class="marketer">
                        <div class="marpoint1st" (click)="openDialog()" *ngIf="foodforthought">
                            <span class="food-thought-span"><i class="bi bi-bar-chart-fill"></i>
                                <button class="food-thought-btn">Food For Thought</button></span>
                        </div>
                    </div>
                </div>
                <!-- <h1>Market</h1> -->

                <div class="row row-cols-md-2">
                    <div class="col-md">
                        <p class="marketpage-p" [innerHTML]="contentvalue"></p>
                        <!-- <div class="intro-text" [innerHTML]="contentvalue"></div> -->
                        
                        <!-- <p class="marketpage-p">In the dynamic realm of electronic gaming, the industry's revenue now
                            surpasses that of the film industry, establishing itself as a prominent global leisure
                            activity. Categorized into online and mobile games, console and PC gaming,
                            internet-delivered games, and serious games, the diversity in preferences highlights the
                            importance of understanding the factors influencing gamers' choices.<br><br>

                            With the widespread use of smartphones transforming gaming experiences, Nero Gaming, a
                            passionate developer, is poised to enter the burgeoning Indian market with its debut mobile
                            game. The company aims to grasp the intricacies of Indian mobile gamers' behavior,
                            encompassing both play and payment patterns. To achieve this, the responsibility of
                            exploring consumer behavior models and providing valuable insights has been assigned.
                            <br><br>

                            Navigating the intricate gaming ecosystem involving developers, publishers, and ad networks,
                            Nero adopts a distinctive strategy in the competitive market. With an ambitious goal of
                            capturing the number of paying customer exceeding 3% in the initial year, they aim to
                            redefine the gaming landscape for their audience. Backed by substantial commitment,
                            including a revenue of USD 240K, an 8 to 12-month game development timeline, and a
                            significant marketing budget of USD 100K, Nero remains undeterred in its pursuit of making a
                            substantial impact in the Indian mobile gaming market, despite the typical 2 to 5-year
                            journey to breakeven.
                        </p> -->
                    </div>
                    <div class="col-md text-align-end img-col">
                        <img src="assets/images/consumergame/conpromar.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>