<div class="elearingnewui">
    <div class="case-management-body case-management-module">
        <table class=" table  case-management-table">
            <thead>
                <tr>
                    <td></td>
                    <td *ngFor="let round of rounds">{{round}}</td>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Food for Thought
                    </td>
                    <td *ngFor="let data of res.designThinkingCMActiveStatus; let i = index">
                        <input class="input-check-bx" type="checkbox"
                            [checked]="res.designThinkingCMActiveStatus[i].foodforthoughtstatus === 'active'"
                            [disabled]="defaultcase=='yes'"
                            (change)="writeModuleValue(i,'normal','yes','foodforthoughtstatus','',$event)">
                    </td>
                </tr>
                <tr class=" page-name">
                    <th colspan="11">
                        <h2>Empathize</h2>
                    </th>
                </tr>
                <tr class=" page-name-sub-heading">
                    <th colspan="11">
                        Priorities Rating
                    </th>
                </tr>
                <tr>
                    <td>Design & Aesthetics</td>
                    <td *ngFor="let data of res.d27; let i = index">
                        <textarea name="" id="" cols="40" rows="2" [value]="res.d27[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','d27',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Battery Life</td>
                    <td *ngFor="let data of res.d28; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.d28[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','d28',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Localized Language Support</td>
                    <td *ngFor="let data of res.d29; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.d29[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','d29',inputElement.value,'')"></textarea>
                    </td>

                </tr>
                <tr>
                    <td>Seamless Syncing</td>
                    <td *ngFor="let data of res.d30; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.d30[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','d30',inputElement.value,'')"></textarea>
                    </td>

                </tr>
                <tr>
                    <td>Water Resistance</td>
                    <td *ngFor="let data of res.d31; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.d31[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','d31',inputElement.value,'')"></textarea>
                    </td>

                </tr>
                <tr>
                    <td>Affordability</td>
                    <td *ngFor="let data of res.d32; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.d32[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','d32',inputElement.value,'')"></textarea>
                    </td>

                </tr>
                <tr>
                    <td>Customizable Watch Faces</td>
                    <td *ngFor="let data of res.d33; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.d33[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','d33',inputElement.value,'')"></textarea>
                    </td>

                </tr>
                <tr>
                    <td>Unique Health Features</td>
                    <td *ngFor="let data of res.d34; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.d34[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','d34',inputElement.value,'')"></textarea>
                    </td>

                </tr>
                <tr>
                    <td>Indian Payment System Integration</td>
                    <td *ngFor="let data of res.d35; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.d35[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','d35',inputElement.value,'')"></textarea>
                    </td>

                </tr>

                <tr class=" page-name">
                    <th colspan="11">
                        <h2>Ideate</h2>
                    </th>
                </tr>
                <tr class=" page-name-sub-heading">
                    <th colspan="11">
                        Brainstorm
                    </th>
                </tr>
                <tr>
                    <td>TechTime Vital+</td>
                    <td *ngFor="let data of res.o7; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.o7[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','o7',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>TechTime Linguist</td>
                    <td *ngFor="let data of res.o8; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.o8[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','o8',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>TechTime Eco</td>
                    <td *ngFor="let data of res.o9; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.o9[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','o9',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>TechTime Trendsetter</td>
                    <td *ngFor="let data of res.o10; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.o10[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','o10',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>TechTime KidGuard</td>
                    <td *ngFor="let data of res.o11; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.o11[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','o11',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>TechTime Dharma</td>
                    <td *ngFor="let data of res.o12; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.o12[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','o12',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>TechTime PayBharat</td>
                    <td *ngFor="let data of res.o13; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.o13[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','o13',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>TechTime Academia</td>
                    <td *ngFor="let data of res.o14; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.o14[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','o14',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>TechTime DesiFit</td>
                    <td *ngFor="let data of res.o15; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.o15[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','o15',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>TechTime Yatri</td>
                    <td *ngFor="let data of res.o16; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.o16[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','o16',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr class=" page-name">
                    <th colspan="11">
                        <h2>Execute</h2>
                    </th>
                </tr>
                <tr class=" page-name-sub-heading">
                    <th colspan="11">
                        Cost, INR
                    </th>
                </tr>
                <tr>
                    <td>Production Line</td>
                    <td *ngFor="let data of res.aa7; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.aa7[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','aa7',inputElement.value,'')"></textarea>
                    </td>

                </tr>
                <tr>
                    <td>Adminsitration</td>
                    <td *ngFor="let data of res.aa8; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.aa8[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','aa8',inputElement.value,'')"></textarea>
                    </td>

                </tr>
                <tr>
                    <td>Market Research</td>
                    <td *ngFor="let data of res.aa9; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.aa9[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','aa9',inputElement.value,'')"></textarea>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>