<div class="elearingnewui casemanagement">
    <div class="case-management-body case-management-body-marketing ">
        <table class="table page-name">
            <thead>
                <tr>
                    <th>
                        <h2>Market Size Graph</h2>
                    </th>
                </tr>
            </thead>
        </table>
        <div class=" table-responsive mb-3 mt-3">
            <table class="case-management-table case-management-table-marketing">
                <thead>
                    <tr>
                        <td colspan="2" *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody class="first-tbody">
                    <tr>
                        <ng-container *ngFor="let item of data; let i = index">
                            <td *ngIf="i % 2 === 0"></td>
                            <td *ngIf="i % 2 !== 0">Estimated Passenger Cars Market Size, USD bn</td>
                        </ng-container>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="inputwidth">
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.d11[index]" #d11Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('d11', index, d11Input.value)"></td>
                            <td><input [value]="res.e11[index]| number:'1.0-0'" #e11Input
                                    [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('e11', index, e11Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr class="inputwidth">
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.d12[index]" #d12Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('d12', index, d12Input.value)"></td>
                            <td><input [value]="res.e12[index]| number:'1.0-0'" #e12Input
                                    [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('e12', index, e12Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr class="inputwidth">
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.d13[index]" #d13Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('d13', index, d13Input.value)"></td>
                            <td><input [value]="res.e13[index]| number:'1.0-0'" #e13Input
                                    [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('e13', index, e13Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr class="inputwidth">
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.d14[index]" #d14Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('d14', index, d14Input.value)"></td>
                            <td><input [value]="res.e14[index]| number:'1.0-0'" #e14Input
                                    [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('e14', index, e14Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr class="inputwidth">
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.d15[index]" #d15Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('d15', index, d15Input.value)"></td>
                            <td><input [value]="res.e15[index]| number:'1.0-0'" #e15Input
                                    [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('e15', index, e15Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr class="inputwidth">
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.d16[index]" #d16Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('d16', index, d16Input.value)"></td>
                            <td><input [value]="res.e16[index]| number:'1.0-0'" #e16Input
                                    [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('e16', index, e16Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr class="inputwidth">
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.d17[index]" #d17Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('d17', index, d17Input.value)"></td>
                            <td><input [value]="res.e17[index]| number:'1.0-0'" #e17Input
                                    [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('e17', index, e17Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr class="inputwidth">
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.d18[index]" #d18Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('d18', index, d18Input.value)"></td>
                            <td><input [value]="res.e18[index]| number:'1.0-0'" #e18Input
                                    [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('e18', index, e18Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr class="inputwidth">
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.d19[index]" #d19Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('d19', index, d19Input.value)"></td>
                            <td><input [value]="res.e19[index]| number:'1.0-0'" #e19Input
                                    [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('e19', index, e19Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr class="inputwidth">
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.d20[index]" #d20Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('d20', index, d20Input.value)"></td>
                            <td><input [value]="res.e20[index]| number:'1.0-0'" #e20Input
                                    [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('e20', index, e20Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr class="inputwidth">
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.d21[index]" #d21Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('d21', index, d21Input.value)"></td>
                            <td><input [value]="res.e21[index]| number:'1.0-0'" #e21Input
                                    [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('e21', index, e21Input.value)"></td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>

        <table class="table page-name">
            <thead>
                <tr>
                    <th>
                        <h2>Graph of Share India</h2>
                    </th>
                </tr>
            </thead>
        </table>
        <div class=" table-responsive mb-3 mt-3">
            <table class="case-management-table case-management-table-marketing">
                <thead>
                    <tr>
                        <td colspan="2" *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody class="first-tbody">
                    <tr>
                        <ng-container *ngFor="let item of data; let i = index">
                            <td *ngIf="i % 2 === 0"></td>
                            <td *ngIf="i % 2 !== 0">Market Share by Technology, %</td>
                        </ng-container>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="inputwidth">
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.d34[index]" #d34Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('d34', index, d34Input.value)"></td>
                            <td><input [value]="res.e34[index]*100" #e34Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('e34', index, e34Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr class="inputwidth">
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.d35[index]" #d35Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('d35', index, d35Input.value)"></td>
                            <td><input [value]="res.e35[index]*100" #e35Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('e35', index, e35Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr class="inputwidth">
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.d36[index]" #d36Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('d36', index, d36Input.value)"></td>
                            <td><input [value]="res.e36[index]*100" #e36Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('e36', index, e36Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr class="inputwidth">
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.d37[index]" #d37Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('d37', index, d37Input.value)"></td>
                            <td><input [value]="res.e37[index]*100" #e37Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('e37', index, e37Input.value)"></td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>

        <table class="table page-name">
            <thead>
                <tr>
                    <th>
                        <h2>Graph of Share Eurpoe</h2>
                    </th>
                </tr>
            </thead>
        </table>
        <div class=" table-responsive mb-3 mt-3">
            <table class="case-management-table case-management-table-marketing">
                <thead>
                    <tr>
                        <td colspan="2" *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody class="first-tbody">
                    <tr>
                        <ng-container *ngFor="let item of data; let i = index">
                            <td *ngIf="i % 2 === 0"></td>
                            <td *ngIf="i % 2 !== 0">Market Share by Technology, %</td>
                        </ng-container>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="inputwidth">
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.d44[index]" #d44Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('d44', index, d44Input.value)"></td>
                            <td><input [value]="res.e44[index]*100" #e44Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('e44', index, e44Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr class="inputwidth">
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.d45[index]" #d45Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('d45', index, d45Input.value)"></td>
                            <td><input [value]="res.e45[index]*100" #e45Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('e45', index, e45Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr class="inputwidth">
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.d46[index]" #d46Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('d46', index, d46Input.value)"></td>
                            <td><input [value]="res.e46[index]*100" #e46Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('e46', index, e46Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr class="inputwidth">
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.d47[index]" #d47Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('d47', index, d47Input.value)"></td>
                            <td><input [value]="res.e47[index]*100" #e47Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('e47', index, e47Input.value)"></td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>

        <table class="table page-name">
            <thead>
                <tr>
                    <th>
                        <h2>Graph of Share South Korea</h2>
                    </th>
                </tr>
            </thead>
        </table>
        <div class=" table-responsive mb-3 mt-3">
            <table class="case-management-table case-management-table-marketing">
                <thead>
                    <tr>
                        <td colspan="2" *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody class="first-tbody">
                    <tr>
                        <ng-container *ngFor="let item of data; let i = index">
                            <td *ngIf="i % 2 === 0"></td>
                            <td *ngIf="i % 2 !== 0">Market Share by Technology, %</td>

                        </ng-container>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="inputwidth">
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.d54[index]" #d54Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('d54', index, d54Input.value)"></td>
                            <td><input [value]="res.e54[index]*100" #e54Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('e54', index, e54Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr class="inputwidth">
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.d55[index]" #d55Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('d55', index, d55Input.value)"></td>
                            <td><input [value]="res.e55[index]*100" #e55Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('e55', index, e55Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr class="inputwidth">
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.d56[index]" #d56Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('d56', index, d56Input.value)"></td>
                            <td><input [value]="res.e56[index]*100" #e56Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('e56', index, e56Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr class="inputwidth">
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.d57[index]" #d57Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('d57', index, d57Input.value)"></td>
                            <td><input [value]="res.e57[index]*100" #e57Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('e57', index, e57Input.value)"></td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>