<div class="elearingnewui logistics_game">
    <div class="loadingscreen" *ngIf="checkloading">
        <span class="spinner-border spinner-border-sm loadingspinner" role="status" aria-hidden="true"></span>
        <p class="loadingspinnertxt">Loading... Brewing up some digital magic! </p>
    </div>
    <div class="container">
        <div class="body-element">
            <div class="feed_ack">
                <div>
                    <div class="row pb-4">
                        <div class="col-8"></div>
                        <div class="col-4">
                            <div style="display: flex; align-items: center; justify-content:end; gap: 20px;">
                                <div class="">
                                    <select class="select-round" name="" id="" [(ngModel)]="roundname"
                                        (change)="roundClick()">
                                        <option class="select-round-option" value="">Select Round</option>
                                        <option class="select-round-option"
                                            *ngFor="let attempt of dropdownvalue; let i = index;" [value]=attempt>
                                            {{attempt}}</option>
                                    </select>
                                </div>
                                <div class="download_btn" matTooltiClass="primary-tooltip"
                                    (click)="downloadreportlogisticsmodelgame()">
                                    <div>
                                        <a download matTooltip="Download"><span class="hovertext"
                                                data-hover="Download pdf file accounting">
                                                <img src="assets/images/businessbasics/download.png" />
                                            </span>
                                        </a>
                                    </div>
                                    <div>
                                        <mat-icon class="mt-2">get_app</mat-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h1>Synopsis

                    </h1>
                    <div style="margin-top: 1.1rem;" *ngIf="analysisshow">
                        <th
                            style="display: flex; align-items: center; gap: 5px;font-size: 1.1rem; font-weight: 600;padding: 0.6rem 0.4rem;color: white;background-color: #266cc38a;">
                            Feedback<div style=" width: 1rem">
                                <mat-icon (click)="rotate();roundClick();" [@rotatedState]='state' class="sidenav-icon"
                                    aria-hidden="false" aria-label="Example home icon">cached</mat-icon>
                            </div>
                        </th>
                    </div>
                    <div class="decision-textarea pb-5 h-100" *ngIf="analysisshow">
                        <div class="row">
                            <div class="col-md" style="padding: 10px;">
                                <div class="card feedbsck-value p-3">
                                    <markdown [data]="feedbackvalue"></markdown>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-md-2 pt-3">
                        <div class="col-md">
                            <table class="table rsl_tbl">
                                <thead class="rsl_tbl-thead">
                                    <tr class="rsl_tbl-thead-tr">
                                        <th class="rsl_tbl-thead-th" colspan="2">Decisions</th>
                                    </tr>
                                </thead>
                                <tbody class="rsl_tbl-tbody">
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Truck 1</td>
                                        <td>{{result[0]}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Truck 2</td>
                                        <td>{{result[1]}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Truck 3</td>
                                        <!-- <td>30</td> -->
                                        <td>{{result[2]}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Truck 1, Optimization</td>
                                        <td>{{result[3]}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Truck 2, Optimization</td>
                                        <td>{{result[4]}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Truck 3, Optimization</td>
                                        <td>{{result[5]}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Unison Limited</td>
                                        <td>{{result[6]}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Promton Incorporation</td>
                                        <td><span>{{result[7]}}</span></td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Fix Corporate</td>
                                        <td><span>{{result[8]}}</span></td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>eCom Limited</td>
                                        <td><span>{{result[9]}}</span></td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Unison Limited, docks</td>
                                        <td>{{result[69]}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Promton Incorporation, docks</td>
                                        <td><span>{{result[70]}}</span></td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Fix Corporate, docks</td>
                                        <td><span>{{result[71]}}</span></td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>eCom Limited, docks</td>
                                        <td><span>{{result[72]}}</span></td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Warehouse Upgrade 1</td>
                                        <td><span>{{result[10]}}</span></td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Warehouse Upgrade 2</td>
                                        <td><span>{{result[11]}}</span></td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Route</td>
                                        <td><span>{{result[12]}}</span></td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Technology 1</td>
                                        <td><span>{{result[13]}}</span></td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Technology 2</td>
                                        <td><span>{{result[14]}}</span></td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Small Trucks</td>
                                        <td><span>{{result[15]}}</span></td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Open Body Trucks</td>
                                        <td><span>{{result[16]}}</span></td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Covered Container</td>
                                        <td><span>{{result[17]}}</span></td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Rail Trips</td>
                                        <td><span>{{result[18]}}</span></td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Air Trips</td>
                                        <td><span>{{result[19]}}</span></td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Small Trucks, Optimization</td>
                                        <td><span>{{result[20]}}</span></td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Open Body Trucks, Optimization</td>
                                        <td><span>{{result[21]}}</span></td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Covered Container, Optimization</td>
                                        <td><span>{{result[22]}}</span></td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Rail, Optimization</td>
                                        <td><span>{{result[23]}}</span></td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Air, Optimization</td>
                                        <td><span>{{result[24]}}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table rsl_tbl mt-5">
                                <thead class="rsl_tbl-thead">
                                    <tr class="rsl_tbl-thead-tr">
                                        <th class="rsl_tbl-thead-th" colspan="2">Turnaround Time, days</th>
                                    </tr>
                                </thead>
                                <tbody class="rsl_tbl-tbody">
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Unison Limited</td>
                                        <td>{{result[25]| number:'1.0-0'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Promton Incorporation</td>
                                        <td>{{result[26]| number:'1.0-0'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Fix Corporate</td>
                                        <td>{{result[27]| number:'1.0-0'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>eCom Limited</td>
                                        <td>{{result[28]| number:'1.0-0'}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table rsl_tbl pt-3">
                                <thead class="rsl_tbl-thead">
                                    <tr class="rsl_tbl-thead-tr">
                                        <th class="rsl_tbl-thead-th" colspan="2">Revenue, INR</th>
                                    </tr>
                                </thead>
                                <tbody class="rsl_tbl-tbody">
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Trucks</td>
                                        <td>{{result[29]| number:'1.0-0'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Rail</td>
                                        <td>{{result[30]| number:'1.0-0'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Air</td>
                                        <td>{{result[31]| number:'1.0-0'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md">
                            <table class="table rsl_tbl">
                                <thead class="rsl_tbl-thead">
                                    <tr class="rsl_tbl-thead-tr">
                                        <th class="rsl_tbl-thead-th" colspan="2">Inbound Logistics Cost, INR</th>
                                    </tr>
                                </thead>
                                <tbody class="rsl_tbl-tbody">
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Fuel Cost</td>
                                        <td>{{result[33]| number:'1.0-0'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Fleet Wages Cost</td>
                                        <td>{{result[35]| number:'1.0-0'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Contract Wages Cost</td>
                                        <td>{{result[37]| number:'1.0-0'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td> Warehouse Technology Cost</td>
                                        <td>{{result[39]| number:'1.0-0'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Under Utilization Opportunity Cost</td>
                                        <td>{{result[41]| number:'1.0-0'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td> Other Cost</td>
                                        <td>{{result[68]| number:'1.0-0'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Total Cost</td>
                                        <td>{{result[43]| number:'1.0-0'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table rsl_tbl mt-5">
                                <thead class="rsl_tbl-thead">
                                    <tr class="rsl_tbl-thead-tr">
                                        <th class="rsl_tbl-thead-th" colspan="2">Inbound Logistics TAT, days</th>
                                    </tr>
                                </thead>
                                <tbody class="rsl_tbl-tbody">
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Unison Limited</td>
                                        <td>{{result[44]| number:'1.0-1'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Promton Incorporation</td>
                                        <td>{{result[45]| number:'1.0-1'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Fix Corporate</td>
                                        <td>{{result[46]| number:'1.0-0'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>eCom Limited</td>
                                        <td>{{result[47]| number:'1.0-1'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table rsl_tbl mt-5">
                                <thead class="rsl_tbl-thead">
                                    <tr class="rsl_tbl-thead-tr">
                                        <th class="rsl_tbl-thead-th" colspan="2">Outbound Logistics Cost, INR</th>
                                    </tr>
                                </thead>
                                <tbody class="rsl_tbl-tbody">
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Fuel Cost</td>
                                        <td>{{result[49]| number:'1.0-0'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Fleet Wages Cost</td>
                                        <td>{{result[51]| number:'1.0-0'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Contract Wages Cost</td>
                                        <td>{{result[53]| number:'1.0-0'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Technology Cost</td>
                                        <td>{{result[55]| number:'1.0-0'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Other costs</td>
                                        <td>{{result[57]| number:'1.0-0'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Total Cost</td>
                                        <td>{{result[59]| number:'1.0-0'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table rsl_tbl mt-5">
                                <thead class="rsl_tbl-thead">
                                    <tr class="rsl_tbl-thead-tr">
                                        <th class="rsl_tbl-thead-th" colspan="2">KPI</th>
                                    </tr>
                                </thead>
                                <tbody class="rsl_tbl-tbody">
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Logistics Cost, INR</td>
                                        <td>{{result[60]| number:'1.0-0'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Revenue, INR</td>
                                        <td>{{result[61]| number:'1.0-0'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Effectiveness, % </td>
                                        <td>{{result[62]*100| number:'1.0-0'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>TAT obligation met</td>
                                        <td>{{result[63]}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table rsl_tbl mt-5" *ngIf="optional[1]">
                                <thead class="rsl_tbl-thead">
                                    <tr class="rsl_tbl-thead-tr">
                                        <th class="rsl_tbl-thead-th" colspan="2">Thinking Ability, %</th>
                                    </tr>
                                </thead>
                                <tbody class="rsl_tbl-tbody">
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Inbound </td>
                                        <td>{{result[64]}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Warehouse </td>
                                        <td>{{result[65]}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Routes & Technology </td>
                                        <td>{{result[66]}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Outbound </td>
                                        <td>{{result[67]}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row lst_r">
                        <div class="col-4 lst_r-col4" *ngIf="!timefinished">
                            <button class="mt-4 retry" [disabled]="isButtonDisabled"  (click)="exit()">{{retry}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>