<div class="elearingnewui casemanagement">
    <div class="case-management-body case-management-body-marketing ">
        <table class="table page-name">
            <thead>
                <tr>
                    <th>
                        <h2>Roadmap</h2>
                    </th>
                </tr>
                <tr>
                    <th>
                        <h2>Name</h2>
                    </th>
                </tr>
            </thead>
        </table>
        <div class="table-responsive mb-3 mt-3">
            <table class="table case-management-table">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{ round }}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">R&D Cost, INR</th>
                    </tr>
                    <tr>
                        <td>Quantum Computing Integration</td>
                        <td *ngFor="let value of res.ac9; let i = index">
                            <input [value]="res.ac9[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ac9', i, inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Augmented Reality (AR) Payment Interfaces</td>
                        <td *ngFor="let value of res.ac10; let i = index">
                            <input [value]="res.ac10[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ac10', i, inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>5G-Powered Payment Networks</td>
                        <td *ngFor="let value of res.ac11; let i = index">
                            <input [value]="res.ac11[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ac11', i, inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Distributed Ledger Technology (DLT) Adoption</td>
                        <td *ngFor="let value of res.ac12; let i = index">
                            <input [value]="res.ac12[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ac12', i, inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Artificial Intelligence (AI) Chatbots for Customer Support</td>
                        <td *ngFor="let value of res.ac13; let i = index">
                            <input [value]="res.ac13[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ac13', i, inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table-responsive mb-3 mt-3">
            <table class="table case-management-table">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{ round }}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Development Time, months</th>
                    </tr>
                    <tr>
                        <td>Quantum Computing Integration</td>
                        <td *ngFor="let value of res.ad9; let i = index">
                            <input [value]="res.ad9[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ad9', i, inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Augmented Reality (AR) Payment Interfaces</td>
                        <td *ngFor="let value of res.ad10; let i = index">
                            <input [value]="res.ad10[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ad10', i, inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>5G-Powered Payment Networks</td>
                        <td *ngFor="let value of res.ad11; let i = index">
                            <input [value]="res.ad11[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ad11', i, inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Distributed Ledger Technology (DLT) Adoption</td>
                        <td *ngFor="let value of res.ad12; let i = index">
                            <input [value]="res.ad12[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ad12', i, inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Artificial Intelligence (AI) Chatbots for Customer Support</td>
                        <td *ngFor="let value of res.ad13; let i = index">
                            <input [value]="res.ad13[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ad13', i, inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table-responsive mb-3 mt-3">
            <table class="table case-management-table">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{ round }}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Feasibility</th>
                    </tr>
                    <tr>
                        <td>Quantum Computing Integration</td>
                        <td *ngFor="let value of res.ae9; let i = index">
                            <textarea [value]="res.ae9[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ae9', i, inputElement.value)"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>Augmented Reality (AR) Payment Interfaces</td>
                        <td *ngFor="let value of res.ae10; let i = index">
                            <input [value]="res.ae10[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ae10', i, inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>5G-Powered Payment Networks</td>
                        <td *ngFor="let value of res.ae11; let i = index">
                            <input [value]="res.ae11[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ae11', i, inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Distributed Ledger Technology (DLT) Adoption</td>
                        <td *ngFor="let value of res.ae12; let i = index">
                            <input [value]="res.ae12[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ae12', i, inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Artificial Intelligence (AI) Chatbots for Customer Support</td>
                        <td *ngFor="let value of res.ae13; let i = index">
                            <input [value]="res.ae13[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ae13', i, inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table-responsive mb-3 mt-3">
            <table class="table case-management-table">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{ round }}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Effectiveness</th>
                    </tr>
                    <tr>
                        <td>Quantum Computing Integration</td>
                        <td *ngFor="let value of res.af9; let i = index">
                            <input [value]="res.af9[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('af9', i, inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Augmented Reality (AR) Payment Interfaces</td>
                        <td *ngFor="let value of res.af10; let i = index">
                            <input [value]="res.af10[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('af10', i, inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>5G-Powered Payment Networks</td>
                        <td *ngFor="let value of res.af11; let i = index">
                            <input [value]="res.af11[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('af11', i, inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Distributed Ledger Technology (DLT) Adoption</td>
                        <td *ngFor="let value of res.af12; let i = index">
                            <input [value]="res.af12[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('af12', i, inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Artificial Intelligence (AI) Chatbots for Customer Support</td>
                        <td *ngFor="let value of res.af13; let i = index">
                            <input [value]="res.af13[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('af13', i, inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <table class="table page-name">
            <thead>
                <tr>
                    <th>
                        <h2>Pilot Projects</h2>
                    </th>
                </tr>
                <tr>
                    <th>
                        <h2>Name</h2>
                    </th>
                </tr>
            </thead>
        </table>
        <div class="table-responsive mb-3 mt-3">
            <table class="table case-management-table">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{ round }}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Cost, INR</th>
                    </tr>
                    <tr>
                        <td>Biometric Authentication</td>
                        <td *ngFor="let value of res.ac18; let i = index">
                            <input [value]="res.ac18[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ac18', i, inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Blockchain Integration</td>
                        <td *ngFor="let value of res.ac19; let i = index">
                            <input [value]="res.ac19[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ac19', i, inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>AI-Powered Fraud Detection</td>
                        <td *ngFor="let value of res.ac20; let i = index">
                            <input [value]="res.ac20[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ac20', i, inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table-responsive mb-3 mt-3">
            <table class="table case-management-table">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{ round }}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Development Time, months</th>
                    </tr>
                    <tr>
                        <td>Biometric Authentication</td>
                        <td *ngFor="let value of res.ad18; let i = index">
                            <input [value]="res.ad18[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ad18', i, inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Blockchain Integration</td>
                        <td *ngFor="let value of res.ad19; let i = index">
                            <input [value]="res.ad19[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ad19', i, inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>AI-Powered Fraud Detection</td>
                        <td *ngFor="let value of res.ad20; let i = index">
                            <input [value]="res.ad20[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ad20', i, inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table-responsive mb-3 mt-3">
            <table class="table case-management-table">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{ round }}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Effectiveness</th>
                    </tr>
                    <tr>
                        <td>Biometric Authentication</td>
                        <td *ngFor="let value of res.ae18; let i = index">
                            <input [value]="res.ae18[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ae18', i, inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Blockchain Integration</td>
                        <td *ngFor="let value of res.ae19; let i = index">
                            <input [value]="res.ae19[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ae19', i, inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>AI-Powered Fraud Detection</td>
                        <td *ngFor="let value of res.ae20; let i = index">
                            <input [value]="res.ae20[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ae20', i, inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <table class="table page-name">
            <thead>
                <tr>
                    <th>
                        <h2>Continous Improvements</h2>
                    </th>
                </tr>
                <tr>
                    <th>
                        <h2>Name</h2>
                    </th>
                </tr>
            </thead>
        </table>
        <div class="table-responsive mb-3 mt-3">
            <table class="table case-management-table">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{ round }}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Cost, INR</th>
                    </tr>
                    <tr>
                        <td>Bellwether</td>
                        <td *ngFor="let value of res.ac25; let i = index">
                            <input [value]="res.ac25[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ac25', i, inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Early Adopter</td>
                        <td *ngFor="let value of res.ac26; let i = index">
                            <input [value]="res.ac26[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ac26', i, inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Late Adopter</td>
                        <td *ngFor="let value of res.ac27; let i = index">
                            <input [value]="res.ac27[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ac27', i, inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Laggard</td>
                        <td *ngFor="let value of res.ac28; let i = index">
                            <input [value]="res.ac28[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ac28', i, inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table-responsive mb-3 mt-3">
            <table class="table case-management-table">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{ round }}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Effectiveness</th>
                    </tr>
                    <tr>
                        <td>Bellwether</td>
                        <td *ngFor="let value of res.ad25; let i = index">
                            <input [value]="res.ad25[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ad25', i, inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Early Adopter</td>
                        <td *ngFor="let value of res.ad26; let i = index">
                            <input [value]="res.ad26[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ad26', i, inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Late Adopter</td>
                        <td *ngFor="let value of res.ad27; let i = index">
                            <input [value]="res.ad27[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ad27', i, inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Laggard</td>
                        <td *ngFor="let value of res.ad28; let i = index">
                            <input [value]="res.ad28[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ad28', i, inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <table class="table page-name">
            <thead>
                <tr>
                    <th>
                        <h2>Training & Development</h2>
                    </th>
                </tr>
                <tr>
                    <th>
                        <h2>Name</h2>
                    </th>
                </tr>
            </thead>
        </table>
        <div class="table-responsive mb-3 mt-3">
            <table class="table case-management-table">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{ round }}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Cost, INR</th>
                    </tr>
                    <tr>
                        <td>Advanced Technology Workshops</td>
                        <td *ngFor="let value of res.ac33; let i = index">
                            <input [value]="res.ac33[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ac33', i, inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Certification Programs in Security and Compliance</td>
                        <td *ngFor="let value of res.ac34; let i = index">
                            <input [value]="res.ac34[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ac34', i, inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Agile Development Training</td>
                        <td *ngFor="let value of res.ac35; let i = index">
                            <input [value]="res.ac35[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ac35', i, inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table-responsive mb-3 mt-3">
            <table class="table case-management-table">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{ round }}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Effectiveness</th>
                    </tr>
                    <tr>
                        <td>Advanced Data Analysis Tools</td>
                        <td *ngFor="let value of res.ad33; let i = index">
                            <input [value]="res.ad33[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ad33', i, inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Comprehensive Risk Assessment Frameworks</td>
                        <td *ngFor="let value of res.ad34; let i = index">
                            <input [value]="res.ad34[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ad34', i, inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>AI and Machine Learning Integration</td>
                        <td *ngFor="let value of res.ad35; let i = index">
                            <input [value]="res.ad35[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ad35', i, inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table-responsive mb-3 mt-3">
            <table class="table case-management-table">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{ round }}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Uncustom platform value, INR</td>
                        <td *ngFor="let value of res.ab37; let i = index">
                            <input [value]="res.ab37[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ab37', i, inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Custom platform value, INR</td>
                        <td *ngFor="let value of res.ab38; let i = index">
                            <input [value]="res.ab38[i]" #inputElement [disabled]="defaultcase === 'yes'"
                                (focusout)="writeMarketingValue('ab38', i, inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class=" table-responsive mb-3 mt-3">
            <table class="table case-management-table ">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Goal to be optimized</th>
                    </tr>
                    <tr>
                        <td>Uptime</td>
                        <td *ngFor="let value of res.ab41; let i = index">
                            <input [value]="res.ab41[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('ab41',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Security
                        </td>
                        <td *ngFor="let value of res.ab42; let i = index">
                            <input [value]="res.ab42[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('ab42',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr> 
                        <td>Performance
                        </td>
                        <td *ngFor="let value of res.ab43; let i = index">
                            <input [value]="res.ab43[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('ab43',i,inputElement.value)">
                        </td>
                    </tr>
                  
                </tbody>
            </table>
        </div>
    </div>
</div>