.foodrforthought {
    thead {
        text-align: center;
    }

    tbody {
        border-top: none;

        td {
            text-align: -webkit-center;

            textarea {
                resize: none;
            }

            input {
                margin: 2rem;
                text-align: right;
            }
        }

        td:last-child {
            text-align: -webkit-center;
        }


    }
}