.It_management {
    .container {
        .body-element {
            .loc-ation {
                .element-first {
                    justify-content: right;

                    .lookatan {
                        margin: 0rem 0rem 2rem 0rem;
                        justify-content: space-between;
                        align-items: center;
                        cursor: pointer;
                    }
                }

                .loc_tbl {
                    display: flex;
                    justify-content: center;
                    .loc_tbl-body {


                        .form-check-input:checked~.form-check-label {
                            color: #10a2fe;
                        }

                        .loc_tbl-body-tr {
                            border: 1px solid lightgray;
                            border-left: none;
                            border-right: none;

                            .loc-img {
                                height: 230px;
                                width: 100%;
                            }

                            td {
                                text-align: center;
                                padding: 0.5rem 0.5rem;
                                font-size: 14px;
                                color: var(--elearingnewui-black) !important;
                                font-weight: 500;
                                // text-align: justify;
                                // vertical-align: middle;

                                input {
                                    cursor: pointer;
                                }
                            }

                            td:nth-child(1) {
                                text-align: right;
                                font-size: 14px;
                                font-weight: 400;
                            }

                            td:nth-child(2),
                            td:nth-child(4),
                            td:nth-child(6) {
                                border-left: 2px solid #10a2fe;
                                border-right: 2px solid #10a2fe;
                                width: 18rem;


                            }
                            .highlight-blue {
                                background-color: #edf5fb ;
                            }
                        }

                        .loc_tbl-body-tr:nth-child(11) td:nth-child(2),
                        .loc_tbl-body-tr:nth-child(11) td:nth-child(4),
                        .loc_tbl-body-tr:nth-child(12) td:nth-child(2),
                        .loc_tbl-body-tr:nth-child(12) td:nth-child(4) {
                            // text-align: left;
                            vertical-align: middle;
                        }

                        .loc_tbl-body-tr:first-child {
                            border: none !important;

                            td:nth-child(2),
                            td:nth-child(4),
                            td:nth-child(6) {
                                border-top: 2px solid #10a2fe;
                            }
                        }

                        .loc_tbl-body-tr:last-child {
                            border: none !important;

                            td:nth-child(2),
                            td:nth-child(4),
                            td:nth-child(6) {
                                border-bottom: 2px solid #10a2fe;
                                cursor: pointer;
                            }
                        }

                        .form-check .form-check-input {
                            float: none;
                            margin-left: 0;
                        }

                        .custom-radio {
                            height: 18px;
                            width: 18px;
                        }

                    }

                }

                .input-img-card {
                    .marketing-card {
                        padding: 0;
                        display: flex;
                        align-items: top;
                        width: calc(100% - 1rem);
                        /* Dynamic width calculation */
                        min-height: 35rem;
                        /* Ensures minimum height, will grow if content is larger */
                        flex-grow: 1;
                        /* Ensures cards grow equally */

                        .craftingimg {
                            padding: 10px;
                            background: transparent;
                            border: none;

                            .card-img-top {
                                height: 18rem;
                            }
                        }



                        .card-body {
                            text-align: center;
                            padding: 0 1rem;

                            h2 {
                                text-align: center;
                                height: 3rem;
                                margin-top: 1rem;
                            }

                            .card-text {
                                text-align: left;

                                .textswcinassessment-p {
                                    min-height: 4rem;
                                    text-align: justify;
                                    font-size: 15px;
                                    line-height: 1.5;
                                    color: var(--elearingnewui-gray-700);
                                }

                                .textswcinassessment-pp {
                                    height: 4rem;
                                }

                                .textswcinassessment {
                                    font-size: 14px;
                                    font-weight: 600;
                                    color: black;
                                }
                            }
                        }

                        .form-check {
                            border: none;
                            background: transparent;
                            // padding: 0;

                            .checkfrominput {
                                float: right;
                                height: 20px;
                                width: 20px;
                                cursor: pointer;
                            }
                        }

                        .routesandtechcostcard {
                            display: flex;
                            gap: 10px;
                            justify-content: space-between;


                            h3:first-child {
                                color: red;
                            }

                            h3:last-child {
                                font-size: 19px;
                                font-weight: 500;


                            }
                        }
                    }
                }

            }
        }
    }
}