<!-- new -->
<div class="elearingnewui">
    <div class="designthinking-element-body">
        <div class="links">
            <ul>
                <button class="out-look-btn " [style.background-color]="round === selectedButton? 'lightgrey' : ''"
                    *ngFor="let round of rounds; let i = index;" (click)="roundclick(i,round)">{{round}}</button>
            </ul>
        </div>
        <div class="case-texts__content">
            <div id="initial">
                <div class="case-texts__content-main">
                    <div class=" case-texts__container">
                        <label class="case-texts__content-after-label pb-2">Original text</label>
                        <div class=" case-texts__container-textarea">
                            TechTime Innovations has been in the electronic market for a decade. Founded by three
                            engineers from premier institutions, the company's vision is to offer consumers products
                            that seamlessly blend technology and daily life. With the success of its range of fitness
                            trackers and IoT devices, the company now wants to step into the realm of smartwatches.
                            <br><br>

                            History: <br><br>

                            • TechTime's fitness trackers captured a 20% market share in the urban cities of India
                            within three years of launch. <br>
                            • Their IoT devices saw an adoption rate of 30% in tier-1 cities, with Bengaluru and Mumbai
                            leading the charts. <br>
                            • Customer feedback on their existing products highlighted the demand for an all-in-one
                            wearable device with a focus on health, fitness, and productivity. <br><br>

                            Market Insights: <br><br>

                            • India's wearable market is booming. As of current year, the smartwatch market in India
                            grew by approximately 30% year-on-year. <br>
                            • The urban population, especially those aged 18-35, is the primary consumer base for
                            smartwatches. This age group accounts for nearly 60% of the total smartwatch sales. <br>
                            • There's an increasing awareness of health and fitness among Indian consumers, driven by a
                            combination of urban lifestyle and awareness campaigns. <br>
                            • The Indian smartwatch market is diverse, with international players like Apple and Samsung
                            and domestic brands like Noise and Boat making a mark. <br>
                            • Consumers are leaning towards devices that offer a good balance between price, features,
                            and aesthetics. <br><br>

                            Research and Insights: <br><br>

                            • An internal survey of 1,000 potential consumers revealed that 70% would prefer a
                            smartwatch with an emphasis on health and fitness features. <br>
                            • 50% of the participants showed interest in smartwatches with localized features, such as
                            integration with Indian payment gateways or regional language support. <br>
                            • 40% felt that battery life is a primary concern and would invest more in a smartwatch with
                            longer battery life. <br><br>

                            The goal is to identify opportunities and challenges that TechTime Innovations might face in
                            developing a user-centric smartwatch for the Indian market.
                        </div>
                    </div>
                    <div class="case-texts__content-starea">
                        <div class="case-texts__content-after">
                            <label class="case-texts__content-after-label">Your custom default text</label>
                            <st-editor name="" id="" [config]="config" [(ngModel)]="contentvalue"
                                [disabled]="defaultcase=='yes'" (focusout)="contentvaluechange()"></st-editor>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>