<!-- new design -->
<div class="loadingscreen" *ngIf="checkloading">
    <span class="spinner-border spinner-border-sm loadingspinner" role="status" aria-hidden="true"></span>
</div>
<div class="elearingnewui change_management">
    <div class="container">
        <div class="body-element">
            <div class="market-research">
                <div class="row" class="element-first ">
                    <div class="marpoint1st" (click)="openDialog()" *ngIf="foodforthought"
                        style="text-align: right;margin: 0rem 0rem 3rem 0rem;">
                        <span class="food-thought-span"><i class="bi bi-bar-chart-fill"></i>
                            <button class="food-thought-btn">{{language.b225}}</button></span>
                    </div>
                </div>
                <h1>{{language.b5}}
                    <mat-icon appTippy="
                        <div class='help-tip p-2'>
                          <div style='display:flex;'>
                            <div>
                              <h4 style='color: white; margin:0 auto; font-weight: 600;'></h4>
                            </div> &nbsp; &nbsp; 
                            <div>
                              <p style='margin: 0 auto; color: white; font-size:13px;'>{{language?.b135}}</p>
                            </div>
                          </div>
                            <div class='pt-2' style='display:flex;'>
                              <div>
                                <h4 style='color: white; margin:0 auto; font-weight: 600;'></h4>
                              </div> &nbsp; &nbsp;
                              <div>
                                <p style='margin: 0 auto; color: white; font-size:13px;'>{{language?.b136}}</p>
                              </div>
                            </div>
                        </div> ">
                        help_outline
                    </mat-icon>
                </h1>
                <ul class="nav market-research-nav" id="nav-tab" role="tablist">
                    <li class="nav-link active market-research-link" id="nav-Market-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-Market" type="button" role="tab" aria-controls="nav-Market"
                        aria-selected="true">
                        {{language.b17}}
                    </li>
                    <li class="nav-link market-research-link " id="nav-genre-preference-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-genre-preference" type="button" role="tab"
                        aria-controls="nav-genre-preference" aria-selected="true"> {{language.b18}}
                    </li>
                    <li class="nav-link market-research-link" id="nav-Monetization-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-Monetization" type="button" role="tab" aria-controls="nav-Monetization"
                        aria-selected="false"> {{language.b5}}
                    </li>
                </ul>

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-Market" role="tabpanel">
                        <div class="rounded-5 card">
                            <ul class="list-group list-group-flush marketoutlooklist pb-3">
                                <li class="list-group-item pt-5">
                                    <h1 class="h1-cls">{{language.b17}}
                                    </h1>
                                </li>
                                <div class="humanoforg">
                                    <!-- <img src="assets/images/changemanagementnew/orgofhumancrop.jpg" alt="..."
                                        class="orgofhumanimg"> -->
                                    <!-- <img [src]="imageData?.createdcasename === 'Merger & Acquisition EU Case' ? 'assets/images/changemanagementnew/Picturechangemana.png' 
                                        : 'assets/images/changemanagementnew/orgofhumancrop.jpg' " class="card-img-top"
                                        alt="Your Image"> -->
                                    <img [src]="
                                            imageData?.createdcasename === 'Merger & Acquisition EU Case' && languagePrimary === 'french'
                                            ? 'assets/images/changemanagementnew/humanimageinfrench.png'
                                            : imageData?.createdcasename === 'Merger & Acquisition EU Case'
                                                ? 'assets/images/changemanagementnew/Picturechangemana.png'
                                                : 'assets/images/changemanagementnew/orgofhumancrop.jpg'"
                                        class="card-img-top" alt="Your Image">

                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-genre-preference" role="tabpanel">
                        <div class="rounded-5  1 ">
                            <ul class="list-group  list-group-flush marketoutlooklist1">
                                <li class="list-group-item pt-5">
                                    <h1 class="h1-cls"> {{language.b18}}</h1>
                                </li>
                                <li class="list-group-item1">
                                    <p> {{language.b19}}</p>
                                </li>
                                <div class="row pt-5">
                                    <div class="col-md-6 dottedcenterborder" style="border: none;"
                                        *ngFor="let card of cards1; let i = index">
                                        <li class="list-group-item">
                                            <h2 class="h2-cls">{{language[card.name]}}</h2>
                                        </li>
                                        <li class="list-group-item">
                                            <p class="card-text">
                                                {{ showAll1[i] ? language[card.text] :
                                                (language[card.text]?.substring(0,100) + (language[card.text]?.length >
                                                100 ? '...' : '')) }}
                                                <a type="button" (click)="toggleshow1(i)"
                                                    [style.color]="showAll1[i] ? 'red' : 'blue'">
                                                    {{showAll1[i] ? language.b227 : language.b226}}
                                                </a>
                                            </p>
                                        </li>
                                        <hr>
                                    </div>
                                    <div class="col-md-6 dottedcenterborder" style="border: none;"
                                        *ngFor="let card2 of cards2; let i = index">
                                        <li class="list-group-item">
                                            <h2 class="h2-cls">{{language[card2.name]}}</h2>
                                        </li>
                                        <li class="list-group-item">
                                            <p class="card-text">
                                                {{ showAll2[i]
                                                ? language[card2.text]
                                                : (language[card2.text]?.substring(0,100) +
                                                (language[card2.text]?.length > 100 ? '...' : '')) }}
                                                <a type="button" (click)="toggleshow2(i)"
                                                    [style.color]="showAll2[i] ? 'red' : 'blue'">
                                                    {{showAll2[i] ? language.b227 : language.b226}}
                                                </a>
                                            </p>
                                        </li>
                                        <hr>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-Monetization" role="tabpanel">
                        <div class="rounded-5   card ">
                            <ul class="list-group  list-group-flush marketoutlooklist py-4" style="border: 0;">
                                <li class="list-group-item pt-5">
                                    <h1 class="h1-cls"> {{language.b5}}</h1>
                                </li>
                                <li class="list-group-item1">
                                    <div class="py-2">
                                        <p>
                                            {{language.b33}}
                                        </p>
                                    </div>
                                </li>

                            </ul>
                            <div class="mytablenetwork">
                                <table class="table table-bordered text-center">
                                    <thead style="font-size: 15px">
                                        <tr class="rsl_tbl-tbody-tr">
                                            <td></td>
                                            <td>{{language.b34}}</td>
                                            <td>{{language.b35}}</td>
                                            <td>{{language.b36}}</td>
                                            <td>{{language.b37}}</td>
                                            <td>{{language.b38}}</td>
                                            <td style="border-right: 1px solid lightgray;">{{language.b39}}</td>
                                        </tr>
                                    </thead>
                                    <tbody class="rsl_tbl-tbody">
                                        <tr class="rsl_tbl-tbody-tr">
                                            <td>{{language.b34}}</td>
                                            <td [style.background]="blank"> - </td>
                                            <td class="pp" [style.background]="p">{{language.b221}}</td>
                                            <td class="nuu" [style.background]="nu">{{language.b219}}</td>
                                            <td class="nn" [style.background]="n">{{language.b220}}</td>
                                            <td class="pp" [style.background]="p">{{language.b221}}</td>
                                            <td class="pp lastchildtd" [style.background]="p">{{language.b221}}</td>
                                        </tr>
                                        <tr class="rsl_tbl-tbody-tr">
                                            <td>{{language.b35}}</td>
                                            <td class="nuu" [style.background]="nu">{{language.b219}}</td>
                                            <td [style.background]="blank">-</td>
                                            <td class="nuu" [style.background]="nu">{{language.b219}}</td>
                                            <td class="pp" [style.background]="p">{{language.b221}}</td>
                                            <td class="nuu" class="pp" [style.background]="nu">{{language.b219}}</td>
                                            <td class="nn lastchildtd" [style.background]="n">{{language.b220}}</td>

                                        </tr>
                                        <tr class="rsl_tbl-tbody-tr">
                                            <td>{{language.b36}}</td>
                                            <td class="pp" [style.background]="p">{{language.b221}}</td>
                                            <td class="pp" [style.background]="p">{{language.b221}}</td>
                                            <td [style.background]="blank">-</td>
                                            <td class="nuu" [style.background]="nu">{{language.b219}}</td>
                                            <td class="pp" [style.background]="p">{{language.b221}}</td>
                                            <td class="pp lastchildtd" [style.background]="p">{{language.b221}}</td>
                                        </tr>
                                        <tr class="rsl_tbl-tbody-tr">
                                            <td>{{language.b37}}</td>
                                            <td class="nn" [style.background]="n">{{language.b220}}</td>
                                            <td class="nuu" [style.background]="nu">{{language.b219}}</td>
                                            <td class="nn" [style.background]="n">{{language.b220}}</td>
                                            <td [style.background]="blank">-</td>
                                            <td class="nuu" [style.background]="nu">{{language.b219}}</td>
                                            <td class="nn lastchildtd" [style.background]="n">{{language.b220}}</td>
                                        </tr>
                                        <tr class="rsl_tbl-tbody-tr">
                                            <td>{{language.b38}}</td>
                                            <td class="nuu" [style.background]="nu">{{language.b219}}</td>
                                            <td class="pp" [style.background]="p">{{language.b221}}</td>
                                            <td class="pp" [style.background]="p">{{language.b221}}</td>
                                            <td class="nuu" [style.background]="nu">{{language.b219}}</td>
                                            <td [style.background]="blank">-</td>
                                            <td [style.background]="p" class="lastchildtd">{{language.b221}}</td>
                                        </tr>
                                        <tr class="rsl_tbl-tbody-tr">
                                            <td>{{language.b39}}</td>
                                            <td class="pp" [style.background]="p">{{language.b221}}</td>
                                            <td class="pp" [style.background]="p">{{language.b221}}</td>
                                            <td class="pp" [style.background]="p">{{language.b221}}</td>
                                            <td class="nuu" [style.background]="nu">{{language.b219}}</td>
                                            <td class="nuu" [style.background]="nu">{{language.b219}}</td>
                                            <td [style.background]="blank" class="lastchildtd">-</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p class="table-element-pt pb-3">{{language.b40}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>