<div class="elearingnewui casemanagement">
    <div class="case-management-body case-management-body-marketing ">
        <table class="table page-name">
            <thead>
                <tr>
                    <th>
                        <h2>Brainstorm</h2>
                    </th>
                </tr>
            </thead>
        </table>
        <div class=" table-responsive mb-3 mt-3">
            <table class="table case-management-table ">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Base Cost</th>
                    </tr>
                    <tr>
                        <td>TechTime Vital+</td>
                        <td *ngFor="let capitaldata of res.q7; let i = index">
                            <input [value]="res.q7[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('q7',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime Linguist</td>
                        <td *ngFor="let capitaldata of res.q8; let i = index">
                            <input [value]="res.q8[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('q8',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime Eco</td>
                        <td *ngFor="let capitaldata of res.q9; let i = index">
                            <input [value]="res.q9[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('q9',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime Trendsetter</td>
                        <td *ngFor="let capitaldata of res.q10; let i = index">
                            <input [value]="res.q10[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('q10',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime KidGuard</td>
                        <td *ngFor="let capitaldata of res.q11; let i = index">
                            <input [value]="res.q11[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('q11',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime Dharma</td>
                        <td *ngFor="let capitaldata of res.q12; let i = index">
                            <input [value]="res.q12[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('q12',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime PayBharat</td>
                        <td *ngFor="let capitaldata of res.q13; let i = index">
                            <input [value]="res.q13[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('q13',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime Academia</td>
                        <td *ngFor="let capitaldata of res.q14; let i = index">
                            <input [value]="res.q14[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('q14',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime DesiFit</td>
                        <td *ngFor="let capitaldata of res.q15; let i = index">
                            <input [value]="res.q15[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('q15',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime Yatri</td>
                        <td *ngFor="let capitaldata of res.q16; let i = index">
                            <input [value]="res.q16[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('q16',i,inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class=" table-responsive mb-3 mt-3">
            <table class="table case-management-table ">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Base Competence</th>
                    </tr>
                    <tr>
                        <td>TechTime Vital+</td>
                        <td *ngFor="let capitaldata of res.r7; let i = index">
                            <input [value]="res.r7[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('r7',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime Linguist</td>
                        <td *ngFor="let capitaldata of res.r8; let i = index">
                            <input [value]="res.r8[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('r8',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime Eco</td>
                        <td *ngFor="let capitaldata of res.r9; let i = index">
                            <input [value]="res.r9[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('r9',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime Trendsetter</td>
                        <td *ngFor="let capitaldata of res.r10; let i = index">
                            <input [value]="res.r10[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('r10',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime KidGuard</td>
                        <td *ngFor="let capitaldata of res.r11; let i = index">
                            <input [value]="res.r11[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('r11',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime Dharma</td>
                        <td *ngFor="let capitaldata of res.r12; let i = index">
                            <input [value]="res.r12[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('r12',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime PayBharat</td>
                        <td *ngFor="let capitaldata of res.r13; let i = index">
                            <input [value]="res.r13[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('r13',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime Academia</td>
                        <td *ngFor="let capitaldata of res.r14; let i = index">
                            <input [value]="res.r14[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('r14',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime DesiFit</td>
                        <td *ngFor="let capitaldata of res.r15; let i = index">
                            <input [value]="res.r15[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('r15',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime Yatri</td>
                        <td *ngFor="let capitaldata of res.r16; let i = index">
                            <input [value]="res.r16[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('r16',i,inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class=" table-responsive mb-3 mt-3">
            <table class="table case-management-table ">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Base Localization %</th>
                    </tr>
                    <tr>
                        <td>TechTime Vital+</td>
                        <td *ngFor="let capitaldata of res.s7; let i = index">
                            <input [value]="res.s7[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('s7',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime Linguist</td>
                        <td *ngFor="let capitaldata of res.s8; let i = index">
                            <input [value]="res.s8[i]*100 | number:'1.0-0'" #inputElement
                                [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('s8',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime Eco</td>
                        <td *ngFor="let capitaldata of res.s9; let i = index">
                            <input [value]="res.s9[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('s9',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime Trendsetter</td>
                        <td *ngFor="let capitaldata of res.s10; let i = index">
                            <input [value]="res.s10[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('s10',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime KidGuard</td>
                        <td *ngFor="let capitaldata of res.s11; let i = index">
                            <input [value]="res.s11[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('s11',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime Dharma</td>
                        <td *ngFor="let capitaldata of res.s12; let i = index">
                            <input [value]="res.s12[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('s12',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime PayBharat</td>
                        <td *ngFor="let capitaldata of res.s13; let i = index">
                            <input [value]="res.s13[i]*100 | number:'1.0-0'" #inputElement
                                [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('s13',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime Academia</td>
                        <td *ngFor="let capitaldata of res.s14; let i = index">
                            <input [value]="res.s14[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('s14',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime DesiFit</td>
                        <td *ngFor="let capitaldata of res.s15; let i = index">
                            <input [value]="res.s15[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('s15',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime Yatri</td>
                        <td *ngFor="let capitaldata of res.s16; let i = index">
                            <input [value]="res.s16[i]*100 | number:'1.0-0'" #inputElement
                                [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('s16',i,inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class=" table-responsive mb-3 mt-3">
            <table class="table case-management-table ">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Base Battery Life</th>
                    </tr>
                    <tr>
                        <td>TechTime Vital+</td>
                        <td *ngFor="let capitaldata of res.t7; let i = index">
                            <input [value]="res.t7[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('t7',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime Linguist</td>
                        <td *ngFor="let capitaldata of res.t8; let i = index">
                            <input [value]="res.t8[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('t8',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime Eco</td>
                        <td *ngFor="let capitaldata of res.t9; let i = index">
                            <input [value]="res.t9[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('t9',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime Trendsetter</td>
                        <td *ngFor="let capitaldata of res.t10; let i = index">
                            <input [value]="res.t10[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('t10',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime KidGuard</td>
                        <td *ngFor="let capitaldata of res.t11; let i = index">
                            <input [value]="res.t11[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('t11',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime Dharma</td>
                        <td *ngFor="let capitaldata of res.t12; let i = index">
                            <input [value]="res.t12[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('t12',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime PayBharat</td>
                        <td *ngFor="let capitaldata of res.t13; let i = index">
                            <input [value]="res.t13[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('t13',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime Academia</td>
                        <td *ngFor="let capitaldata of res.t14; let i = index">
                            <input [value]="res.t14[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('t14',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime DesiFit</td>
                        <td *ngFor="let capitaldata of res.t15; let i = index">
                            <input [value]="res.t15[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('t15',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime Yatri</td>
                        <td *ngFor="let capitaldata of res.t16; let i = index">
                            <input [value]="res.t16[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('t16',i,inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class=" table-responsive mb-3 mt-3">
            <table class="table case-management-table ">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Attractiveness</th>
                    </tr>
                    <tr>
                        <td>TechTime Vital+</td>
                        <td *ngFor="let capitaldata of res.u7; let i = index">
                            <input [value]="res.u7[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('u7',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime Linguist</td>
                        <td *ngFor="let capitaldata of res.u8; let i = index">
                            <input [value]="res.u8[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('u8',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime Eco</td>
                        <td *ngFor="let capitaldata of res.u9; let i = index">
                            <input [value]="res.u9[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('u9',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime Trendsetter</td>
                        <td *ngFor="let capitaldata of res.u10; let i = index">
                            <input [value]="res.u10[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('u10',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime KidGuard</td>
                        <td *ngFor="let capitaldata of res.u11; let i = index">
                            <input [value]="res.u11[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('u11',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime Dharma</td>
                        <td *ngFor="let capitaldata of res.u12; let i = index">
                            <input [value]="res.u12[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('u12',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime PayBharat</td>
                        <td *ngFor="let capitaldata of res.u13; let i = index">
                            <input [value]="res.u13[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('u13',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime Academia</td>
                        <td *ngFor="let capitaldata of res.u14; let i = index">
                            <input [value]="res.u14[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('u14',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime DesiFit</td>
                        <td *ngFor="let capitaldata of res.u15; let i = index">
                            <input [value]="res.u15[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('u15',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>TechTime Yatri</td>
                        <td *ngFor="let capitaldata of res.u16; let i = index">
                            <input [value]="res.u16[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('u16',i,inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>