:root {
  --primary-color: #00fcb0;
  --accent-color: #fcf9f9;
  --warn-color: #ebf4ed;
  --border-radius: 6px;
  --max-width: 60%;
}

.mat-chip {
  &.mat-standard-chip {
    &.mat-chip-selected {
      &.mat-accent {
        color: var(--accent-color);
        border-radius: var(--border-radius);
        display: flex;
        justify-content: center;
        max-width: var(--max-width);
      }

      &.mat-warn {
        color: var(--warn-color);
        border-radius: var(--border-radius);
        display: flex;
        justify-content: center;
        max-width: var(--max-width);
      }
    }
  }
}

.coursename {
  background-color: var(--primary-color) !important;
}

