.ins-ai-side {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .ai-side {
    font-size: 16px;
    font-weight: 500;
  }
}

.aiassesment {
  .aiassesment-table {
    border: 1px solid lightgrey;

    .aiassesment-table-head .aiassesment-table-row {
      th {
        font-size: 15px;
        text-align: center;
        font-weight: 500;
        padding: 8px;
        background-color: #8aafdf;
        color: white;
      }
    }
  }

  tbody,
  tr,
  td {
    text-align: center;

    input {
      height: 16px;
      width: 16px;
    }
  }

  tbody,
  tr,
  td:last-child {
    text-align: center;
  }
}

::ng-deep .microsimdashboardtable td.mat-cell:last-of-type {
  text-align: left !important;
  padding: 5px !important;
  font-weight: 400 !important;
}

::ng-deep .bus_iness .mat-paginator-container {
  justify-content: center !important;
}

// check for width in table td
::ng-deep .microsimdashboardtable th.mat-header-cell {
  width: 20rem;
  font-size: 0.9rem !important;
  color: white !important;
}

::ng-deep .mat-elevation-z8 {
  overflow-x: auto;
}

::ng-deep .microsimdashboardtable .mat-mdc-header-row {
  background-color: #266cc38a !important;
  border-bottom: 2px solid black;
}

/* Header cells */
::ng-deep .microsimdashboardtable .mat-mdc-header-cell {
  color: white !important;
  font-size: 0.9rem !important;
  font-weight: 500;
  text-align: center;
  padding: 8px 16px;
  /* same padding as data cells */
}


::ng-deep .scrollable-cell {
  max-width: 200px;
  max-height: 100px;
  overflow: auto;
  word-wrap: break-word;
  }

.assesmenttext {
  width: 35rem;
  height: 5rem;
  padding: 0.4rem;
}

.assesmenttext1 {
  width: 35rem;
  height: 5rem;
  padding: 0.4rem;
}

.fixed-height-width {
  .mat-td-height {
    height: 100px;
    overflow: auto;
    padding: 5px;
  }
}

.select-round {
  padding: 0.5rem;
  border-radius: 0.4rem;
  border: 1px solid #b73b00;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 3px 2px;
  cursor: pointer;

  .select-round-option {
    background: white;
  }
}

input {
  margin-right: 10px;
}

.custom-checkbox {
  width: 16px;
  height: 16px;
}

.termandcondition {
  .orderinterm {
    li {
      text-align: justify;
      font-size: 16px;
    }
  }
}

.loadingscreen {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 50;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: saturate(200%) blur(10px);

  .loadingspinner {
    position: absolute;
    top: 35%;
    left: 45%;
    font-size: 30px;
    height: 100px;
    width: 100px;
    color: crimson;
  }

  .loadingspinnertxt {
    position: absolute;
    font-size: 20px;
    font-weight: 500;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    }
}

.mat-elevation-z8_p {
  font-size: 14px;
  font-style: italic;
  color: gray;
}


.terms-popup {
  .logout-popup-not-a {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    width: 40%;
    z-index: 1000;
    margin: 10px;

    .logout-popup-not-cardhead {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #3c3c3c;
      color: white;
      border-radius: 8px 8px 0 0;
      padding: 10px;
      font-weight: 400;
      font-size: 18px;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
    }

    .popup-content {
      overflow: scroll;

      h1 {
        color: darkblue;
        margin-top: 35px;
      }

    }

  }

}

.mat-column-Name {
  flex: 0 0 4rem;
  /* fixed width */
  max-width: 4rem;
}

.mat-column-email {
  flex: 0 0 10rem;
  max-width: 10rem;
}

.mat-column-sentiment {
  flex: 0 0 10rem;
  max-width: 10rem;
}

.mat-column-response {
  flex: 1;
  /* takes remaining space */
}

.paginator-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}


