<div class="elearingnewui It_management">
    <div class="loadingscreen" *ngIf="checkloading">
        <span class="spinner-border spinner-border-sm loadingspinner" role="status" aria-hidden="true"></span>
        <p class="loadingspinnertxt">Loading... Brewing up some digital magic! </p>
      </div>
    <div class="container">
        <div class="body-element">
            <div class="feed_ack">
                <div>
                    <div class="row pb-4">
                        <div class="col-8"></div>
                        <div class="col-4">
                            <div style="display: flex; align-items: center; justify-content:end; gap: 20px;">
                                <div class="">
                                    <select class="select-round" name="" id="" [(ngModel)]="roundname"
                                        (change)="roundClick()">
                                        <option class="select-round-option" value="">Select Round</option>
                                        <option class="select-round-option"
                                            *ngFor="let attempt of dropdownvalue; let i = index;" [value]=attempt>
                                            {{attempt}}</option>

                                    </select>
                                </div>
                                <div class="download_btn" matTooltiClass="primary-tooltip"
                                    (click)="downloadreportitmanagement()">
                                    <div>
                                        <a download matTooltip="Download"><span class="hovertext"
                                                data-hover="Download pdf file accounting ">
                                                <img src="assets/images/businessbasics/download.png" />
                                            </span>
                                        </a>
                                    </div>
                                    <div>
                                        <mat-icon class="mt-2">get_app</mat-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h1>
                        Synopsis
                    </h1>
                    <div style="margin-top: 1.1rem;" *ngIf="analysisshow">
                        <h1
                            style="display: flex; align-items: center; gap: 5px;font-size: 1.1rem; font-weight: 600;padding: 0.6rem 0.4rem;color: white;background-color: #266cc38a;">
                            Feedback
                            <div style=" width: 1rem;">
                                <mat-icon (click)="rotate();roundClick();" [@rotatedState]='state' class="sidenav-icon"
                                    aria-hidden="false" aria-label="Example home icon">cached</mat-icon>
                            </div>
                        </h1>
                    </div>
                    <div class="decision-textarea pb-5 h-100" *ngIf="analysisshow">
                        <div class="row">
                            <div class="col-md" style="padding: 10px;">
                                <div class="card feedbsck-value p-3">
                                    <markdown [data]="feedbackvalue"></markdown>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-md-2 py-3">
                        <div class="col-md">
                            <table class="table rsl_tbl">
                                <thead class="rsl_tbl-thead">
                                    <tr class="rsl_tbl-thead-tr">
                                        <th class="rsl_tbl-thead-th" colspan="2">Input</th>
                                    </tr>
                                </thead>
                                <tbody class="rsl_tbl-tbody">
                                    <tr class="rsl_tbl-tbody-tr">
                                        <th style="text-align: left;">Parameters</th>
                                        <th class="rsl_tbl-tbody-th">Input</th>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Server Type</td>
                                        <td>{{result[0]}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Server Selection</td>
                                        <td>{{result[1]}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Network Management</td>
                                        <td>{{result[2]}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Data Storage Capacity, GB</td>
                                        <td>{{result[3]}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Data Management</td>
                                        <td>{{result[4]}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>{{result[5]}}</td>
                                        <td>{{result[6]==1?'Implemented':'Not
                                            Implemented'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>{{result[7]}}</td>
                                        <td>{{result[8]==1?'Implemented':'Not
                                            Implemented'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>{{result[9]}}</td>
                                        <td>{{result[10]==1?'Implemented':'Not
                                            Implemented'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>{{result[11]}}</td>
                                        <td>{{result[12]==1?'Implemented':'Not
                                            Implemented'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Development Model</td>
                                        <td>{{result[13]}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Method & Lifecycle Management</td>
                                        <td>{{result[14]}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Version Control</td>
                                        <td>{{result[15]}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>{{result[16]}}</td>
                                        <td>{{result[17]==1?'Implemented':'Not
                                            Implemented'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>{{result[18]}}</td>
                                        <td>{{result[19]==1?'Implemented':'Not
                                            Implemented'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>{{result[20]}}</td>
                                        <td>{{result[21]==1?'Implemented':'Not
                                            Implemented'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>{{result[22]}}</td>
                                        <td>{{result[23]==1?'Implemented':'Not
                                            Implemented'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>{{result[24]}}</td>
                                        <td>{{result[25]==1?'Implemented':'Not
                                            Implemented'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>{{result[26]}}</td>
                                        <td>{{result[27]==1?'Implemented':'Not
                                            Implemented'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>{{result[28]}}</td>
                                        <td>{{result[29]==1?'Implemented':'Not
                                            Implemented'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>{{result[30]}}</td>
                                        <td>{{result[31]==1?'Implemented':'Not
                                            Implemented'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>{{result[32]}}</td>
                                        <td>{{result[33]==1?'Implemented':'Not
                                            Implemented'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>{{result[34]}}</td>
                                        <td>{{result[35]==1?'Implemented':'Not
                                            Implemented'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Roadmap</td>
                                        <td>{{result[36]}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>{{result[37]}}</td>
                                        <td>{{result[38]==1?'Implemented':'Not
                                            Implemented'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>{{result[39]}}</td>
                                        <td>{{result[40]==1?'Implemented':'Not
                                            Implemented'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>{{result[41]}}</td>
                                        <td>{{result[42]==1?'Implemented':'Not
                                            Implemented'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Continous Improvements</td>
                                        <td>{{result[43]}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>{{result[44]}}</td>
                                        <td>{{result[45]==1?'Implemented':'Not
                                            Implemented'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>{{result[46]}}</td>
                                        <td>{{result[47]==1?'Implemented':'Not
                                            Implemented'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>{{result[48]}}</td>
                                        <td>{{result[49]==1?'Implemented':'Not
                                            Implemented'}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table rsl_tbl mt-5">
                                <thead class="rsl_tbl-thead">
                                    <tr class="rsl_tbl-thead-tr">
                                        <th class="rsl_tbl-thead-th" colspan="2">Thinking Ability</th>
                                    </tr>
                                </thead>
                                <tbody class="rsl_tbl-tbody">
                                    <tr class="rsl_tbl-tbody-tr">
                                        <th style="text-align: left;">Parameters</th>
                                        <th class="rsl_tbl-tbody-th">Score</th>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>System Architecture</td>
                                        <td>{{(result[92]*100)|number:'1.0-0'}}%</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Software Development </td>
                                        <td>{{(result[93]*100)|number:'1.0-0'}}%</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Security</td>
                                        <td>{{(result[94]*100)|number:'1.0-0'}}%</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Innovation</td>
                                        <td>{{(result[95]*100)|number:'1.0-0'}}%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md">
                            <table class="table rsl_tbl">
                                <thead class="rsl_tbl-thead">
                                    <tr class="rsl_tbl-thead-tr">
                                        <th class="rsl_tbl-thead-th" colspan="2">Development & Other Cost, INR</th>
                                    </tr>
                                </thead>
                                <tbody class="rsl_tbl-tbody">
                                    <tr class="rsl_tbl-tbody-tr">
                                        <th style="text-align: left;">Parameters</th>
                                        <th class="rsl_tbl-tbody-th">Input</th>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>{{result[50]}}</td>
                                        <td>{{result[51]}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>{{result[52]}}</td>
                                        <td>{{result[53]}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>{{result[54]}}</td>
                                        <td>{{result[55]}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>{{result[56]}}</td>
                                        <td>{{result[57]}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>{{result[58]}}</td>
                                        <td>{{result[59]}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>{{result[60]}}</td>
                                        <td>{{result[61]}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>{{result[62]}}</td>
                                        <td>{{result[63]}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>{{result[64]}}</td>
                                        <td>{{result[65]}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Total Cost</td>
                                        <td>{{result[66]}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table rsl_tbl mt-5">
                                <thead class="rsl_tbl-thead">
                                    <tr class="rsl_tbl-thead-tr">
                                        <th class="rsl_tbl-thead-th" colspan="2">KPI</th>
                                    </tr>
                                </thead>
                                <tbody class="rsl_tbl-tbody">
                                    <tr class="rsl_tbl-tbody-tr">
                                        <th style="text-align: left;">Parameters</th>
                                        <th class="rsl_tbl-tbody-th">Y1</th>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Uptime </td>
                                        <td>{{result[67]*100|number:'1.0-0'}}%</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Daily transaction handling capacity</td>
                                        <td>{{result[68]}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Compliance timeline, months</td>
                                        <td>{{result[69]}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Minimum development time, months</td>
                                        <td>{{result[70]|number:'1.0-0'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Maximum development time, months</td>
                                        <td>{{result[71]|number:'1.0-0'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Performance </td>
                                        <td>{{result[72]*100|number:'1.0-0'}}%</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Security </td>
                                        <td>{{result[73]*100|number:'1.0-0'}}%</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table rsl_tbl mt-5">
                                <thead class="rsl_tbl-thead">
                                    <tr class="rsl_tbl-thead-tr">
                                        <th class="rsl_tbl-thead-th" colspan="4">System Architecture Cost, INR</th>
                                    </tr>
                                </thead>
                                <tbody class="rsl_tbl-tbody">
                                    <tr class="rsl_tbl-tbody-tr">
                                        <th style="text-align: left;">Parameters</th>
                                        <th class="rsl_tbl-tbody-th">Y1</th>
                                        <th class="rsl_tbl-tbody-th">Y2 (P)</th>
                                        <th class="rsl_tbl-tbody-th">Y3 (P)</th>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Server</td>
                                        <td class="middleclassright">{{result[74]}}</td>
                                        <td class="middleclassright">{{result[75]}}</td>
                                        <td>{{result[76]}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Network Equipment</td>
                                        <td class="middleclassright">{{result[77]}}</td>
                                        <td class="middleclassright">{{result[78]}}</td>
                                        <td>{{result[79]}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Database</td>
                                        <td class="middleclassright">{{result[80]}}</td>
                                        <td class="middleclassright">{{result[81]}}</td>
                                        <td>{{result[82]}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Total Cost</td>
                                        <td class="middleclassright">{{result[83]}}</td>
                                        <td class="middleclassright">{{result[84]}}</td>
                                        <td>{{result[85]}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table rsl_tbl mt-5">
                                <thead class="rsl_tbl-thead">
                                    <tr class="rsl_tbl-thead-tr">
                                        <th class="rsl_tbl-thead-th" colspan="4">Data Storage Capacity</th>
                                    </tr>
                                </thead>
                                <tbody class="rsl_tbl-tbody">
                                    <tr class="rsl_tbl-tbody-tr">
                                        <th style="text-align: left;">Parameters</th>
                                        <th class="rsl_tbl-tbody-th">Y1</th>
                                        <th class="rsl_tbl-tbody-th">Y2 (P)</th>
                                        <th class="rsl_tbl-tbody-th">Y3 (P)</th>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Daily Transaction</td>
                                        <td class="middleclassright">{{result[86]}}</td>
                                        <td class="middleclassright">{{result[87]}}</td>
                                        <td>{{result[88]}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Required Capacity, GB</td>
                                        <td class="middleclassright">{{result[89]}}</td>
                                        <td class="middleclassright">{{result[90]}}</td>
                                        <td>{{result[91]|number:'1.0-0'}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table rsl_tbl mt-5">
                                <thead class="rsl_tbl-thead">
                                    <tr class="rsl_tbl-thead-tr">
                                        <th class="rsl_tbl-thead-th" colspan="4">Projected Value Earned, INR</th>
                                    </tr>
                                </thead>
                                <tbody class="rsl_tbl-tbody">
                                    <tr class="rsl_tbl-tbody-tr">
                                        <th style="text-align: left;">Parameters</th>
                                        <th class="rsl_tbl-tbody-th">Y1</th>
                                        <th class="rsl_tbl-tbody-th">Y2 (P)</th>
                                        <th class="rsl_tbl-tbody-th">Y3 (P)</th>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Value Earned, INR</td>
                                        <td class="middleclassright">{{result[96]|number:'1.0-0'}}</td>
                                        <td class="middleclassright">{{result[97]|number:'1.0-0'}}</td>
                                        <td>{{result[98]|number:'1.0-0'}}</td>
                                    </tr>
                                    <tr class="rsl_tbl-tbody-tr">
                                        <td>Tech Cost, INR</td>
                                        <td class="middleclassright">{{result[99]|number:'1.0-0'}}</td>
                                        <td class="middleclassright">{{result[100]|number:'1.0-0'}}</td>
                                        <td>{{result[101]|number:'1.0-0'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <div class="row lst_r">
                        <div class="col-4 lst_r-col4" *ngIf="!timefinished">
                            <button class="mt-4 retry" [disabled]="isButtonDisabled" (click)="exit()">{{retry}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>