.crm_game {
    .container {
        .body-element {
            .routesandtech {

                .element-first {
                    justify-content: right;

                    .marelegapfood {
                        margin: 0rem 0rem 2rem 0rem;
                        justify-content: space-between;
                        align-items: center;
                        cursor: pointer;
                    }
                }

                .mat-icon {
                    font-size: 21px;
                }


                .fin-card {
                    .col-md:not(.col-md:last-child){
                        border-right: 1px dashed lightgrey;
                    }
                    .card {
                        .card-body {
                            padding-left: 0;

                            h2 {
                                margin-bottom: 0;
                            }
                        }
                    }
                }

                .rsl_tbl {
                    .rsl_tbl-thead {
                        .rsl_tbl-thead-tr {
                            border: 1px solid lightgray;

                            .rsl_tbl-thead-th {
                                font-size: 0.9rem;
                                font-weight: 600;
                                padding: 1rem 0.4rem;
                                color: white;
                                background-color: #266cc38a;
                                vertical-align: baseline;
                            }

                            .rsl_tbl-thead-th:first-child {
                                text-align: left;
                               
                            }
                        }
                    }

                    .rsl_tbl-tbody {
                        .rsl_tbl-tbody-tr {
                            border: 1px solid lightgray;

                          

                           
                        }
                        .rsl_tbl-tbody-tr td:first-child {
                            text-align: left ;
                        }
                        .rsl_tbl-tbody-tr td:last-child {
                         padding: 0.5rem;
                         text-align: left;
                        }

                        .input-no_box-drop {
                            padding: 4px 5px;
                            border: 2px solid #30b4cc;
                            border-radius: 6px;
                            background: transparent;
                            background-color: #edf7f9;
                            font-size: 14px;
                            width: 6rem;
                        }

                        .input-no_box-drop:disabled{
                            background-color:#ebebebdb;
                            border: 2px solid #bdbdbd;
        
                        }
                    }

                   
                }
            }
        }
    }
}