.bus_iness {
    .promptcard {

        margin: 2rem 0.2rem;

        .col-md {
            h4 {
                margin-bottom: 0;
            }
        }

        .write_div {
            height: 2.5rem;
            width: 100%;
            padding: 0.3rem;
            border: 1px solid lightgrey;
            border-radius: 0.2rem;
        }

        .lightbackground {
            background-color: rgb(220, 223, 224);
        }



        .case-texts__content {
            .case-texts__content-after {
                st-editor {
                    .st-editor-container {

                        .st-toolbar {
                            border: none !important;
                            background: transparent !important;
                            padding: 3px !important;
                            border-bottom: 0 !important;
                        }

                        .st-area {
                            resize: vertical;
                            border-top: 1px solid #bdbdbd !important;
                            min-height: 150px !important;
                            // height: 10rem !important;
                            overflow: scroll !important;
                        }
                    }


                }

            }
        }
    }
}

.paginator {
    font-size: 12px;
    margin: 10px;
    display: flex;
    justify-content: center;
  }

// for mat table...................
::ng-deep .microsimdashboardtable td.mat-cell:last-of-type {
    text-align: left !important;
    padding: 5px !important;
    font-weight: 400 !important;
}

::ng-deep .bus_iness .mat-paginator-container {
    justify-content: center !important;
}

// check for width in table td
::ng-deep .microsimdashboardtable th.mat-header-cell {
    width: 20rem;
    font-size: 0.9rem !important;
    color: white !important;
}

::ng-deep .mat-elevation-z8 {
    overflow-x: auto;
}

::ng-deep .microsimdashboardtable .mat-header-row {
    background-color: #266cc38a !important;
    border-bottom: 2px solid black;
}


.fixed-height-width {
    .mat-td-height {
        height: 100px;
        /* Adjust the height as needed */
        overflow: auto;
        padding: 5px;
        display: flex;
    }
}