.login{
    display:flex;
    justify-content: center;
    align-items:center;
    height:100%;
    background:url('../../../assets/images/login.jpg');
    background-size: cover;
    color:#495057
}

.logincontainer{
    width:400px;
    background-color:#fffbef;
    padding:50px 30px;  
    border-radius: 15px;
    height: 70%;
}

.logintitle{
    text-align:center;
    font-size:30px;
    font-weight:bold;
    color:#495057;
    margin-bottom:50px;
}

.inputtitle{
    text-align:left;
    font-size:14px;
    font-weight: 500;
    color: #495057;
}

.center{
    display:flex;justify-content:center;
}

.mt{
    margin-top:10px
}

.log{
    width:100%;
    border-radius: 15px;
}

.log-input{
    outline: 0;
    border-width: 0 0 1px;
    border-color: #d1d1d1;
    width: 100%;
    font-size:18px;
    background:transparent
}

.desc{
    text-align:right;margin-top:10px;font-weight: 500;
}

.right{
    width: 50%;
    display:flex;
    justify-content: flex-end;
}

.left{
    width: 50%;
    display:flex;
    justify-content: flex-start;
    align-items:center;
    font-weight: 500;
}

.log-input:focus{
    border-color: #696969;
    background:transparent
}

.demopadding {
    margin:10px auto;
    width:140px;
    text-align:center;
}
.icon {
    position:relative;
    text-align:center;
    width:0px;
    height:0px;
    padding:20px;
    border-top-right-radius: 	20px;
    border-top-left-radius: 	20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 	20px; 
    -moz-border-radius:20px 20px 20px 20px;
    -webkit-border-radius:20px 20px 20px 20px;
    -khtml-border-radius:20px 20px 20px 20px; 	
    color:#FFFFFF;
}
.icon i { 
    font-size:20px;
    position:absolute;
    left:9px;
    top:10px;
}

.icon.social.fb{
    background:#4267B2;
    color:white;
}
.icon.social.tw{
    background:#00ACEE ;
    color:white;
}
.icon.social.in{
    background: 
    conic-gradient(from -45deg, #ea4335 110deg,
     #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 
     73% 55%/150% 150% no-repeat;
    color:white;
}
.icon.social {
    float:left;
    margin:0 5px 0 0;
    cursor:pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s; 	
}
.icon.social:hover {
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-filter:	drop-shadow(0 1px 10px rgba(0,0,0,.8));
    -moz-filter: 	drop-shadow(0 1px 10px rgba(0,0,0,.8));
    -ms-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
    -o-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
    filter: 			drop-shadow(0 1px 10px rgba(0,0,0,.8));	 	
}
.icon.social.fb i {
    left:13px;
    top:10px;
}
.icon.social.tw i {
    left:11px;
}
.icon.social.in i {
    left:11px;
}