<div class="elearingnewui casemanagement">
    <div class="case-management-body case-management-body-marketing ">

        <div class=" table-responsive mb-3 mt-3">
            <table class="table case-management-table ">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Benefits</th>
                    </tr>
                    <tr>
                        <td>Investment in Research and Development</td>
                        <td *ngFor="let capitaldata of res.l7; let i = index">
                            <input [value]="res.l7[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('l7',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Expansion of Manufacturing Facilities
                        </td>
                        <td *ngFor="let capitaldata of res.l8; let i = index">
                            <input [value]="res.l8[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('l8',i,inputElement.value)" >
                        </td>
                    </tr>
                    <tr>
                        <td>Debt Restructuring
                        </td>
                        <td *ngFor="let capitaldata of res.l9; let i = index">
                            <input [value]="res.l9[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('l9',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Cost Reduction Initiatives
                        </td>
                        <td *ngFor="let capitaldata of res.l10; let i = index">
                            <input [value]="res.l10[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('l10',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Introduction of Premium Product Line
                        </td>
                        <td *ngFor="let capitaldata of res.l11; let i = index">
                            <input [value]="res.l11[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('l11',i,inputElement.value)" >
                        </td>
                    </tr>
                    <tr>
                        <td>Employee Training and Development
                        </td>
                        <td *ngFor="let capitaldata of res.l12; let i = index">
                            <input [value]="res.l12[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('l12',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Working Capital Optimization
                        </td>
                        <td *ngFor="let capitaldata of res.l13; let i = index">
                            <input [value]="res.l13[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('l13',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Equipment Lease Financing
                        </td>
                        <td *ngFor="let capitaldata of res.l14; let i = index">
                            <input [value]="res.l14[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('l14',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Exploring Export Opportunities
                        </td>
                        <td *ngFor="let capitaldata of res.l15; let i = index">
                            <input [value]="res.l15[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('l15',i,inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class=" table-responsive mb-3 mt-3">
            <table class="table case-management-table ">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Cost</th>
                    </tr>
                    <tr>
                        <td>Investment in Research and Development</td>
                        <td *ngFor="let capitaldata of res.m7; let i = index">
                            <input [value]="res.m7[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('m7',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Expansion of Manufacturing Facilities
                        </td>
                        <td *ngFor="let capitaldata of res.m8; let i = index">
                            <input [value]="res.m8[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('m8',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Debt Restructuring
                        </td>
                        <td *ngFor="let capitaldata of res.m9; let i = index">
                            <input [value]="res.m9[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('m9',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Cost Reduction Initiatives
                        </td>
                        <td *ngFor="let capitaldata of res.m10; let i = index">
                            <input [value]="res.m10[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('m10',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Introduction of Premium Product Line
                        </td>
                        <td *ngFor="let capitaldata of res.m11; let i = index">
                            <input [value]="res.m11[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('m11',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Employee Training and Development
                        </td>
                        <td *ngFor="let capitaldata of res.m12; let i = index">
                            <input [value]="res.m12[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('m12',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Working Capital Optimization
                        </td>
                        <td *ngFor="let capitaldata of res.m13; let i = index">
                            <input [value]="res.m13[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('m13',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Equipment Lease Financing
                        </td>
                        <td *ngFor="let capitaldata of res.m14; let i = index">
                            <input [value]="res.m14[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('m14',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Exploring Export Opportunities
                        </td>
                        <td *ngFor="let capitaldata of res.m15; let i = index">
                            <input [value]="res.m15[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('m15',i,inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class=" table-responsive mb-3 mt-3">
            <table class="table case-management-table ">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Approval</th>
                    </tr>
                    <tr>
                        <td>Investment in Research and Development</td>
                        <td *ngFor="let capitaldata of res.n7; let i = index">
                            <input [value]="res.n7[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('n7',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Expansion of Manufacturing Facilities
                        </td>
                        <td *ngFor="let capitaldata of res.n8; let i = index">
                            <input style="width: 7rem !important;" [value]="res.n8[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('n8',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Debt Restructuring
                        </td>
                        <td *ngFor="let capitaldata of res.n9; let i = index">
                            <input [value]="res.n9[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('n9',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Cost Reduction Initiatives
                        </td>
                        <td *ngFor="let capitaldata of res.n10; let i = index">
                            <input [value]="res.n10[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('n10',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Introduction of Premium Product Line
                        </td>
                        <td *ngFor="let capitaldata of res.n11; let i = index">
                            <input style="width: 7rem !important;" [value]="res.n11[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('n11',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Employee Training and Development
                        </td>
                        <td *ngFor="let capitaldata of res.n12; let i = index">
                            <input [value]="res.n12[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('n12',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Working Capital Optimization
                        </td>
                        <td *ngFor="let capitaldata of res.n13; let i = index">
                            <input [value]="res.n13[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('n13',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Equipment Lease Financing
                        </td>
                        <td *ngFor="let capitaldata of res.n14; let i = index">
                            <input style="width: 7rem !important;" [value]="res.n14[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('n14',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Exploring Export Opportunities
                        </td>
                        <td *ngFor="let capitaldata of res.n15; let i = index">
                            <input [value]="res.n15[i]" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('n15',i,inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class=" table-responsive mb-3 mt-3">
            <table class="table case-management-table ">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Risk Probability Year 1</th>
                    </tr>
                    <tr>
                        <td>Investment in Research and Development %</td>
                        <td *ngFor="let capitaldata of res.p7; let i = index">
                            <input [value]="res.p7[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('p7',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Expansion of Manufacturing Facilities %
                        </td>
                        <td *ngFor="let capitaldata of res.p8; let i = index">
                            <input [value]="res.p8[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('p8',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Debt Restructuring %
                        </td>
                        <td *ngFor="let capitaldata of res.p9; let i = index">
                            <input [value]="res.p9[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('p9',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Cost Reduction Initiatives %
                        </td>
                        <td *ngFor="let capitaldata of res.p10; let i = index">
                            <input [value]="res.p10[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('p10',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Introduction of Premium Product Line %
                        </td>
                        <td *ngFor="let capitaldata of res.p11; let i = index">
                            <input [value]="res.p11[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('p11',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Employee Training and Development %
                        </td>
                        <td *ngFor="let capitaldata of res.p12; let i = index">
                            <input [value]="res.p12[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('p12',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Working Capital Optimization %
                        </td>
                        <td *ngFor="let capitaldata of res.p13; let i = index">
                            <input [value]="res.p13[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('p13',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Equipment Lease Financing %
                        </td>
                        <td *ngFor="let capitaldata of res.p14; let i = index">
                            <input [value]="res.p14[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('p14',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Exploring Export Opportunities %
                        </td>
                        <td *ngFor="let capitaldata of res.p15; let i = index">
                            <input [value]="res.p15[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('p15',i,inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class=" table-responsive mb-3 mt-3">
            <table class="table case-management-table ">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Risk Probability Year 2</th>
                    </tr>
                    <tr>
                        <td>Investment in Research and Development %</td>
                        <td *ngFor="let capitaldata of res.q7; let i = index">
                            <input [value]="res.q7[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('q7',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Expansion of Manufacturing Facilities %
                        </td>
                        <td *ngFor="let capitaldata of res.q8; let i = index">
                            <input [value]="res.q8[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('q8',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr> 
                        <td>Debt Restructuring %
                        </td>
                        <td *ngFor="let capitaldata of res.q9; let i = index">
                            <input [value]="res.q9[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('q9',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Cost Reduction Initiatives %
                        </td>
                        <td *ngFor="let capitaldata of res.q10; let i = index">
                            <input [value]="res.q10[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('q10',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Introduction of Premium Product Line %
                        </td>
                        <td *ngFor="let capitaldata of res.q11; let i = index">
                            <input [value]="res.q11[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('q11',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Employee Training and Development %
                        </td>
                        <td *ngFor="let capitaldata of res.q12; let i = index">
                            <input [value]="res.q12[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('q12',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Working Capital Optimization %
                        </td>
                        <td *ngFor="let capitaldata of res.q13; let i = index">
                            <input [value]="res.q13[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('q13',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Equipment Lease Financing %
                        </td>
                        <td *ngFor="let capitaldata of res.q14; let i = index">
                            <input [value]="res.q14[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('q14',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Exploring Export Opportunities %
                        </td>
                        <td *ngFor="let capitaldata of res.q15; let i = index">
                            <input [value]="res.q15[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('q15',i,inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class=" table-responsive mb-3 mt-3">
            <table class="table case-management-table ">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="second-head" colspan="13">Risk Probability Year 3</th>
                    </tr>
                    <tr>
                        <td>Investment in Research and Development %</td>
                        <td *ngFor="let capitaldata of res.r7; let i = index">
                            <input [value]="res.r7[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('r7',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Expansion of Manufacturing Facilities %
                        </td>
                        <td *ngFor="let capitaldata of res.r8; let i = index">
                            <input [value]="res.r8[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('r8',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Debt Restructuring %
                        </td>
                        <td *ngFor="let capitaldata of res.r9; let i = index">
                            <input [value]="res.r9[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('r9',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Cost Reduction Initiatives %
                        </td>
                        <td *ngFor="let capitaldata of res.r10; let i = index">
                            <input [value]="res.r10[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('r10',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Introduction of Premium Product Line %
                        </td>
                        <td *ngFor="let capitaldata of res.r11; let i = index">
                            <input [value]="res.r11[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('r11',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Employee Training and Development %
                        </td>
                        <td *ngFor="let capitaldata of res.r12; let i = index">
                            <input [value]="res.r12[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('r12',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Working Capital Optimization %
                        </td>
                        <td *ngFor="let capitaldata of res.r13; let i = index">
                            <input [value]="res.r13[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('r13',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Equipment Lease Financing %
                        </td>
                        <td *ngFor="let capitaldata of res.r14; let i = index">
                            <input [value]="res.r14[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('r14',i,inputElement.value)">
                        </td>
                    </tr>
                    <tr>
                        <td>Exploring Export Opportunities %
                        </td>
                        <td *ngFor="let capitaldata of res.r15; let i = index">
                            <input [value]="res.r15[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('r15',i,inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>