<div class="elearingnewui">
    <div class="case-management-body case-management-module">
        <table class=" table  case-management-table">
            <thead>
                <tr>
                    <td></td>
                    <td *ngFor="let round of rounds">{{round}}</td>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Food for Thought
                    </td>
                    <td *ngFor="let data of res.projectmanagementcmActiveStatus; let i = index">
                        <input class="input-check-bx" type="checkbox"
                            [checked]="res.projectmanagementcmActiveStatus[i].foodforthoughtstatus === 'active'"
                            [disabled]="defaultcase=='yes'"
                            (change)="writeModuleValue(i,'normal','yes','foodforthoughtstatus','',$event)">
                    </td>
                </tr>
                <tr class=" page-name">
                    <th colspan="11">
                        <h2>Market</h2>
                    </th>
                </tr>
                <tr>
                    <td>Budget, INR</td>
                    <td *ngFor="let data of res.d5; let i = index">
                        <textarea name="" id="" cols="40" rows="2" [value]="res.d5[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','d5',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Duration, days</td>
                    <td *ngFor="let data of res.d6; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.d6[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','d6',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Resources</td>
                    <td *ngFor="let data of res.d7; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.d7[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','d7',inputElement.value,'')"></textarea>
                    </td>
                </tr>

                <tr class=" page-name">
                    <th colspan="11">
                        <h2>Project Map</h2>
                    </th>
                </tr>
                <tr>
                    <td>Task 1</td>
                    <td *ngFor="let data of res.g7; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.g7[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','g7',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Task 2</td>
                    <td *ngFor="let data of res.g8; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.g8[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','g8',inputElement.value,'')"></textarea>
                    </td>

                </tr>
                <tr>
                    <td>Task 3</td>
                    <td *ngFor="let data of res.g9; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.g9[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','g9',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Task 4</td>
                    <td *ngFor="let data of res.g10; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.g10[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','g10',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Task 5</td>
                    <td *ngFor="let data of res.g11; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.g11[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','g11',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Task 6</td>
                    <td *ngFor="let data of res.g12; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.g12[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','g12',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Task 7</td>
                    <td *ngFor="let data of res.g13; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.g13[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','g13',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Task 8</td>
                    <td *ngFor="let data of res.g14; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.g14[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','g14',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Task 9</td>
                    <td *ngFor="let data of res.g15; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.g15[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','g15',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Task 10</td>
                    <td *ngFor="let data of res.g16; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.g16[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','g16',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Task 11</td>
                    <td *ngFor="let data of res.g17; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.g17[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','g17',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Task 12</td>
                    <td *ngFor="let data of res.g18; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.g18[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','g18',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Task 13</td>
                    <td *ngFor="let data of res.g19; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.g19[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','g19',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Task 14</td>
                    <td *ngFor="let data of res.g20; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.g20[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','g20',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Task 15</td>
                    <td *ngFor="let data of res.g21; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.g21[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','g21',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Task 16</td>
                    <td *ngFor="let data of res.g22; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.g22[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','g22',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Task 17</td>
                    <td *ngFor="let data of res.g23; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.g23[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','g23',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Task 18</td>
                    <td *ngFor="let data of res.g24; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.g24[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','g24',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Task 19</td>
                    <td *ngFor="let data of res.g25; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.g25[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','g25',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Task 20</td>
                    <td *ngFor="let data of res.g26; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.g26[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','g26',inputElement.value,'')"></textarea>
                    </td>
                </tr>

                <tr class=" page-name">
                    <th colspan="11">
                        <h2>Planning</h2>
                    </th>
                </tr>
                <tr>
                    <td>Cost per workday, INR</td>
                    <td *ngFor="let data of res.m38; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.m38[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','m38',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Normal Workdays</td>
                    <td *ngFor="let data of res.m39; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.m39[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','m39',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Overtime cost</td>
                    <td *ngFor="let data of res.m40; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.m40[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','m40',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Unutilized time cost</td>
                    <td *ngFor="let data of res.m41; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.m41[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','m41',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Max overtime</td>
                    <td *ngFor="let data of res.m42; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.m42[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','m42',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr class="page-name-sub-heading">
                    <th colspan="11">
                        Efficiency Booster Activity
                    </th>
                </tr>
                <tr>
                    <td>Training Workshop</td>
                    <td *ngFor="let data of res.m45; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.m45[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','m45',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Mentorship Program</td>
                    <td *ngFor="let data of res.m46; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.m46[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','m46',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Task Delegation</td>
                    <td *ngFor="let data of res.m47; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.m47[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','m47',inputElement.value,'')"></textarea>
                    </td>
                </tr>

                <tr class=" page-name">
                    <th colspan="11">
                        <h2>Criteria</h2>
                    </th>
                </tr>
                <tr>
                    <td>Value of Completing Task, INR</td>
                    <td *ngFor="let data of res.s6; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.s6[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','s6',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Penalty of delaying Task per day, INR</td>
                    <td *ngFor="let data of res.s7; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.s7[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','s7',inputElement.value,'')"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Penalty of remaining Task per day, INR</td>
                    <td *ngFor="let data of res.s8; let i = index">
                        <textarea class name="" id="" cols="40" rows="2" [value]="res.s8[i]" #inputElement
                            [disabled]="defaultcase=='yes'"
                            (focusout)="writeModuleValue(i,'normal','no','s8',inputElement.value,'')"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>