<div class="elearingnewui casemanagement">
    <div class="case-management-body case-management-body-marketing">

        <div class=" table-responsive mb-3 mt-3">
            <table class="case-management-table case-management-table-marketing">
                <thead>
                    <tr>
                        <td colspan="2" *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody class="first-tbody">
                    <tr>
                        <ng-container *ngFor="let item of data; let i = index">
                            <td *ngIf="i % 2 === 0">Year</td>
                            <td *ngIf="i % 2 !== 0">Interest Rate %</td>
                        </ng-container>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.an7[index]" #an7Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('an7', index, an7Input.value)"></td>
                            <td><input [value]="res.ao7[index]*100" #ao7Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('ao7', index, ao7Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.an8[index]" #an8Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('an8', index, an8Input.value)"></td>
                            <td><input [value]="res.ao8[index]*100" #ao8Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('ao8', index, ao8Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.an9[index]" #an9Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('an9', index, an9Input.value)"></td>
                            <td><input [value]="res.ao9[index]*100" #ao9Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('ao9', index, ao9Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.an10[index]" #an10Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('an10', index, an10Input.value)"></td>
                            <td><input [value]="res.ao10[index]*100" #ao10Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('ao10', index, ao10Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.an11[index]" #an11Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('an11', index, an11Input.value)"></td>
                            <td><input [value]="res.ao11[index]*100" #ao11Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('ao11', index, ao11Input.value)"></td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class=" table-responsive mb-3 mt-3">
            <table class="case-management-table case-management-table-marketing">
                <thead>
                    <tr>
                        <td colspan="2" *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody class="first-tbody">
                    <tr>
                        <ng-container *ngFor="let item of data; let i = index">
                            <td *ngIf="i % 2 === 0">Debt-Interest Rate Curve</td>
                            <td *ngIf="i % 2 !== 0">%</td>
                        </ng-container>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.an14[index]" #an14Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('an14', index, an14Input.value)"></td>
                            <td><input [value]="res.ao14[index]*100" #ao14Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('ao14', index, ao14Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.an15[index]" #an15Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('an15', index, an15Input.value)"></td>
                            <td><input [value]="res.ao15[index]*100" #ao15Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('ao15', index, ao15Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.an16[index]" #an16Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('an16', index, an16Input.value)"></td>
                            <td><input [value]="res.ao16[index]*100" #ao16Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('ao16', index, ao16Input.value)"></td>
                        </ng-container>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                            <td><input [value]="res.an17[index]" #an17Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('an17', index, an17Input.value)"></td>
                            <td><input [value]="res.ao17[index]*100" #ao17Input [disabled]="defaultcase=='yes'"
                                    (focusout)="writeMarketingValue('ao17', index, ao17Input.value)"></td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class=" table-responsive mb-3 mt-3">
            <table class="table case-management-table ">
                <thead>
                    <tr>
                        <td></td>
                        <td *ngFor="let round of rounds">{{round}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>MAI Min Stake required %</td>
                        <td *ngFor="let capitaldata of res.ao19; let i = index">
                            <input [value]="res.ao19[i]*100" #inputElement [disabled]="defaultcase=='yes'"
                                (focusout)="writeMarketingValue('ao19',i,inputElement.value)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>