::ng-deep .microsimdashboardtable td.mat-cell:last-of-type{
    text-align: left !important;
    padding: 0 !important;
    font-weight: 400 !important;
}
::ng-deep .bus_iness .mat-paginator-container {
    justify-content:center !important;
  
}

// check for width in table td
::ng-deep .microsimdashboardtable th.mat-header-cell {
    width: 20rem;
    font-size: 0.9rem !important;
    color: white !important;
}

::ng-deep .mat-elevation-z8 {
    overflow-x: auto;
}

::ng-deep .microsimdashboardtable .mat-header-row{
    background-color: #266cc38a !important;
    border-bottom: 2px solid black;
}

.hidetext {
    -webkit-text-security: disc;
    /* Default */
  }